[2020-02-24 08:12] vitojeng commented on #3706
有時候會出現下列情形(目前尚無法重現):
在 Develop Tools, 從  LOGS tab 切換至 TOPICS tab 後即跳至 500 page:

refresh page 後似乎沒遇到什麼問題~

[2020-02-24 08:15] jackyoh commented on #4112
使用 JDBC Source Connector 到 HDFS Sink Connector 測試約 10 MB 的資料, input data 的結果如下：

Duration | messageNumber | messages
-- | -- | --
183 | 34000 | 10880000

messageSize 比上面 comment 較大的原因，是因為另外有寫入 timestamp 的資料，然後使用 oracle database 查詢資料筆數一樣是 34000 筆資料

JDBD Source Connector 和 HDFS Sink Connector 的 metrics 結果如下：

JDBC Source Connector

duration | ignored.message.number(inPerSec) | ignored.message.size(

[2020-02-24 08:16] #4112 closed

[2020-02-24 08:18] jackyoh opened #4119 "Ohara Performance 測試 connector 執行速度慢"
根據 issue #4112 的測試，列出幾個有可能發生效能較慢的原因以及發現的問題：

1. connector 在讀取某一個資料夾的檔案時，又執行 input data 的動作，有可能會影響到 connector 的執行速度

2. Topic 的 partition 數量，目前的測試設定為 1，如果設大一點有可能會改善

3. Worker 在 QA 的設定，少設定到一台

[2020-02-24 08:21] chia7712 commented on #4119
不太懂這句話的意思，是指我們沒有部屬足夠的workers嗎

[2020-02-24 08:22] jackyoh commented on #4119
是我少設定到一台，原本要三台，我只設定到二台

[2020-02-24 08:25] chia7712 commented on #4119
@jackyoh task數量是多少?

[2020-02-24 08:28] chia7712 commented on #4119
我剛剛注意到在紀錄metrics的時候沒有處理來自於不同task的metrics，這可能在多個tasks的情境下會造成metrics被覆蓋
[code]

[2020-02-24 08:29] jackyoh commented on #4119
目前的測試 tasks 設定成 1

[2020-02-24 08:29] vitojeng opened #4121 "Display 500 error page switch from LOGS tab to TOPICS tab"
**Describe the bug**
Display 500 error page switch from LOGS tab to TOPICS tab

**To Reproduce**
1. create a pipeline, put a ftp source connector( **ftpsource2** ) and a internal topic:
![screenshot 29](https://user-images.githubusercontent.com/475186/75137040-7c598400-5721-11ea-84ee-aa0e0c78b03b.jpg)
2. Open Developer tools, click "LOGS" tab and click "ftpsource2" to display worker logs
![screens

[2020-02-24 08:32] jackyoh commented on #4119
是因為
[code]
key 被覆蓋掉嗎？

[2020-02-24 08:35] chia7712 commented on #4119
u are right

[2020-02-24 08:35] #4113 closed

[2020-02-24 08:43] saivirtue commented on #4101
/cc @chuntsekevin
Please help me to verify this, thanks :)

[2020-02-24 08:50] wu87988622 commented on #4087
I will fix this bug~

[2020-02-24 08:55] saivirtue commented on #3706
This may be related to #4091, could you pull the PR and test the same scenario again?

[2020-02-24 09:59] chuntsekevin opened #4122 "[Manager] Metrics data update resets Toolbox's scroll position"
When metrics is on, toolbox will rest its scroll position every 5 seconds. If user doesn't choose  connector within the time, the scroll position will be reset.

![image](https://user-images.githubusercontent.com/60953697/75143076-563ae080-572f-11ea-8f62-82c955fb7e4b.png)

- [x] 0.9 #4163
- [x] 0.10 #4160

[2020-02-24 10:10] konekoya opened #4123 "[Manager] Tweak Paper's zoom levels"
We currently allow users to zoom with the zoom in/out button ranging from 1, 3, 6, 12, 25, 50, 100, 200. And from the dropdown: 50, 100 and 200.

We will tweak this range to 25, 50, 67, 75, 80, 90, 100, 110, 125, 150. And from the dropdown: 50, 75, 100, 150.

/cc @eechih

- [x] 0.9 (#4189)
- [x] 0.10 (#4188)

[2020-02-24 10:19] konekoya commented on #4122
Thanks for reporting, I will look into this

[2020-02-24 10:24] eechih opened #4124 "[Manager] Failed to add new key for Autofill"
![註解 2020-02-24 130628](https://user-images.githubusercontent.com/6234750/75130139-b322a080-5707-11ea-9a30-a8593836a05d.jpg)

錯誤訊息不正確

_Originally posted by @chia7712 in https://github.com/oharastream/ohara/issues/3706#issuecomment-590170454_

- [x] v0.10.0 (#4127 )
- [x] backport to v0.9.0 (#4134 )

[2020-02-24 10:26] #4015 closed

[2020-02-24 10:31] jackyoh opened #4125 "Performance test 在 connector 設定多個 tasks，metrics data 會被覆寫"
根據 issue #4119 的討論，connector 在執行多個 tasks 的情況下 metrics 的取得會被覆寫，造成 metrics 的資料錯誤 。

- [x] 0.9.x #4239
- [x] 0.10.0 #4212

[2020-02-25 02:09] vitojeng commented on #4121
According https://github.com/oharastream/ohara/issues/3706#issuecomment-590221266 by @saivirtue, will test after  #4091 resolved.

[2020-02-25 02:22] saivirtue opened #4131 "[Manager] Refactor APIs infrastructure"
Redesign the APIs structure of frontend
  - Don’t handle any errors except Axios request
     - the custom-defined error of api should be handled in each component
     - re-design the structure of retry (`waitApi`): using `408` statusCode
  - Refactoring the structure of api return
  - Move EventLog to contextApi level
  - Use TypeScript to rewrite the api
     - study the typeScript

We have the

[2020-02-25 02:24] saivirtue commented on #4099
Root cause is the exception was happened but not raise to the UI...We will fix this issue for the current version in #4131, but use a workaround for 0.9 because of resource concern.

[2020-02-25 03:01] saivirtue commented on #3706
![image](https://user-images.githubusercontent.com/8088616/75211145-0e16cf00-57be-11ea-975c-52ef79993a81.png)

The `error.folder` setting in FtpSource is defined with Optional, but the backend require it...

[2020-02-25 05:27] saivirtue commented on #4091
It's done.
Please help me to verify if the exception still existed :)

[2020-02-25 05:38] wu87988622 commented on #4105
原本ui 是指使用key來判斷 現在改為用valueType來判斷

[2020-02-25 05:45] chuntsekevin commented on #4101
@saivirtue everything works perfectly ! thanks

[2020-02-25 05:45] #4101 closed

[2020-02-25 05:47] chia7712 opened #4135 "csv connector tries to take optional error.folder"
![image](https://user-images.githubusercontent.com/8088616/75211145-0e16cf00-57be-11ea-975c-52ef79993a81.png)

The `error.folder` setting in FtpSource is defined with Optional, but the backend require it...

_Originally posted by @saivirtue in https://github.com/oharastream/ohara/issues/3706#issuecomment-590658094_

1. - [x] for 0.10.0 (#4142)
1. - [x] for 0.9.0 (#4166)

[2020-02-25 05:50] chuntsekevin commented on #4091
@saivirtue  Sorry, I pull the new image , it still happened
![image](https://user-images.githubusercontent.com/60953697/75218676-cc921e00-57d5-11ea-9011-35ce5eac420e.png)

[2020-02-25 05:54] konekoya commented on #4097
As per our discssion, we will only tweak the warning message (via snackbar) so it better tells users why they cannot add a same name connector/stream/topic into the pipeline. And I will update the description.

/cc @oharastream/frontend

[2020-02-25 05:56] saivirtue commented on #4091
The latest commit was nearly 2 hours ago, maybe try to test this issue tomorrow?

[2020-02-25 05:57] chuntsekevin commented on #4091
@saivirtue Ok! Thanks

[2020-02-25 06:34] vitojeng opened #4138 "Ftp source connector create incorrect completed directory after start"
Ftp source connector folder settings:
* **input folder**: /vito/source1
* **complete folder**: /vito/source1/completed
* **error folder**: /vito/source1/error

After start ftp source connector, the result is all files in the **/vito/source1/completed** folder moved to **/vito/source1/error/completed**

1. - [x] for 0.10.0 (#4174)
1. - [x] for 0.9.0 (#4186)

[2020-02-25 06:35] #4107 closed

[2020-02-25 06:35] #4087 closed

[2020-02-25 06:35] #4105 closed

[2020-02-25 06:52] vitojeng opened #4139 "Failed to inspect topic info after delete topic"
**Describe the bug**
Failed to inspect topic info after delete "pipeline-only" topic.

**To Reproduce**

1. Drag "Pipeline Only" to pipeline from Toolbox, topic T1 created.
2. Open Developer Tools and select "T1"
3. Close Developer Tools panel
4. Delete topic T1 in the pipeline
5. Open Developer Tools again, and message display following message: Failed to inspect topic T1 info

**Expected behavio

[2020-02-25 06:55] vitojeng commented on #3706
Failed to inspect topic XX info after delete topic(#4138)

[2020-02-25 06:59] chia7712 commented on #4138
seems ftp connector fails to read the folder "/vito/source1/completed" and it just move the whole folder to error folder "/vito/source1/error"

[2020-02-25 07:02] konekoya opened #4140 "點選"delete this pipeline"後並沒有幫忙刪除該pipeline上原有的元件"
點選"delete this pipeline"後並沒有幫忙刪除該pipeline上原有的元件

重現方式:

1. 建立PerfSource
1. 建立pipeline-only topic
1. 啟動PerfSource
1. 點選"delete this pipeline"

_Originally posted by @chia7712 in https://github.com/oharastream/ohara/issues/3706#issuecomment-590172301_

- [ ] 0.9
- [ ] 0.10

[2020-02-25 07:09] jackyoh commented on #4138
是否因為目前的 ftp source connector, 設定 input 的資料夾下面只能有檔案，不能有其他資料夾。然後就把 complete 移到 error 的資料夾裡了

[2020-02-25 07:18] vitojeng commented on #4138
補充一下, 以下設定一樣會類似情形, 但又不完全一樣:
* input folder: /vito/source1/files
* complete folder: /vito/source1/completed
* error folder: /vito/source1/error

執行成功, 結果畫面:
![screenshot 32](https://user-images.githubusercontent.com/475186/75223580-c013c280-57e1-11ea-9d1b-8506f66aae53.jpg)

檔案自 /vito/source1/files 移動到 /vito/source1/error

[2020-02-25 07:19] eechih commented on #3706
FTP Sink 的 File Need Header 無法打勾

![Screen Shot 2020-02-25 at 3 16 12 PM](https://user-images.githubusercontent.com/703126/75223771-213b9600-57e2-11ea-9b3a-eb755ad87ec4.png)

[2020-02-25 07:39] eechih opened #4143 "[Manager] Clear the highlight of Event Log when restart the Configurator service"
![註解 2020-02-24 130628](https://user-images.githubusercontent.com/6234750/75129915-8326cd80-5706-11ea-9388-e76c93b8169c.jpg)

重開所有服務後，event logs裡面依舊有前世的記憶

_Originally posted by @chia7712 in https://github.com/oharastream/ohara/issues/3706#issuecomment-590169045_

Update: 需要後端 API 的配合，每次啟動 Configurator 都賦予一個獨立可識別的 Configurator Id。

[2020-02-25 07:41] eechih commented on #3706
@chia7712  我會在下個版本處理 #4143

[2020-02-25 07:42] chia7712 opened #4144 "enable to change the default version of services used by Configurator image"
The default version of services used by Configurator image is same to "code version". We need a way to change the default version so our Manager can get IT on specific "default version".

1. - [x] for 0.10.0 (#4145)
1. - [x] for 0.9.0

[2020-02-25 07:42] chia7712 commented on #4144
FYI @jackyoh @saivirtue

[2020-02-25 07:53] saivirtue commented on #4144
Thanks for helping!

[2020-02-25 07:53] vitojeng commented on #3706
Minor: a vertical line in the TOPICS tab.
![screenshot 33](https://user-images.githubusercontent.com/475186/75226114-bfc9f600-57e6-11ea-8aa6-b1e00d766197.jpg)

[2020-02-25 08:01] chia7712 commented on #4138
complete目錄下的檔案有跟著過去嗎

[2020-02-25 08:09] jackyoh commented on #4144
目前我的想法是修改 build.yml 多一個 OHARA_VERSION 的 args, OHARA_VERSION: ${TAG:-0.10.0-SNAPSHOT}, 然後在修改每一個 dockerfile 有 gradlew build 的部份，都加上 -Pohara.version=$OHARA_VERSION, 這樣 build 出來的 version 應該就可以從外部指定。

[2020-02-25 08:16] chia7712 commented on #4144
yep

[2020-02-25 08:19] jackyoh commented on #4138
complete folder 會一起到 error folder 下面

[2020-02-25 08:20] vitojeng commented on #4138
completed 目錄內原本就沒有放檔案, 所以不太確定

[2020-02-25 09:20] vitojeng opened #4146 "Use different icon for nodes and topics"
Currently, we use same icon for nodes and topics.
It would be better to use different icon.

### Node list
![screenshot 34](https://user-images.githubusercontent.com/475186/75232683-9ca54380-57f2-11ea-8ec6-c9653deb7776.jpg)

### Topic
![screenshot 35](https://user-images.githubusercontent.com/475186/75232714-acbd2300-57f2-11ea-8b4c-f081bfb5e3ea.jpg)
![screenshot 36](https://user-images.githubuserc

[2020-02-25 09:51] vitojeng opened #4147 "Ftp connector provide better error message if ftp.port is wrong"
Example 1: provide a wrong **ftp.port** 22 and start ftp source connector.
Ohara backend will throw following exception:

[code]

Example 2: Provide **ftp.port** 90 and error message will be:

[code]

[2020-02-25 09:58] vitojeng commented on #4121
@saivirtue It seems this issue resolved, thanks !

[2020-02-25 10:04] #4121 closed

[2020-02-25 10:16] chuntsekevin opened #4148 "[Manager] Multiple pipeline running problem"
If i got two pipeline (p1and p2), p1 pipeline is running with a Perf-connector and a Topic. Select p2 pipeline will keep showing failed to stop topic error. p1 pipeline will disappear.

![image](https://user-images.githubusercontent.com/60953697/75237782-eeea6280-57fa-11ea-845b-ec6350f01c38.png)

![image](https://user-images.githubusercontent.com/60953697/75237759-e1cd7380-57fa-11ea-9218-609a71d32

[2020-02-25 10:21] wu87988622 commented on #4148
@chuntsekevin  Thanks  i will follow this issue

[2020-02-25 10:22] konekoya opened #4149 "[Manager] Rewrite delete this pipeline action without using PipelineApiHelper"
Using PipelineApiHelper in the action is troublesome. As it also triggers some Paper's events and causes  unexpected behavior that can be completely avoided if we don't use it.

[2020-02-25 14:50] #4144 closed

[2020-02-26 01:43] konekoya commented on #4100
@wu87988622 could you please check if we need to backport this or not?

[2020-02-26 01:50] konekoya commented on #3706
@chia7712 Are you still experiencing this? I'm unable to repro this on my machine...

[2020-02-26 01:51] konekoya opened #4151 "The from labels in property dialog are not capitalized"
Display name is not capitalized

*first

![Display name is not capitalized image](https://www.dropbox.com/s/iyza40olqp9ihkz/Screen%20Shot%202020-02-24%20at%209.35.24%20AM.png?raw=1)

_Originally posted by @konekoya in https://github.com/oharastream/ohara/issues/3706#issuecomment-590143080_

[2020-02-26 01:53] konekoya opened #4152 "Delete a Paper element should be confirmed"
We should confirm before deleting

<img width="1212" alt="Screen Shot 2020-02-24 at 9 52 43 AM" src="https://user-images.githubusercontent.com/703126/75124723-04249b80-56ec-11ea-8133-542454cb1c99.png">

_Originally posted by @eechih in https://github.com/oharastream/ohara/issues/3706#issuecomment-590145012_

- [ ] 0.9 (#4201)
- [x] 0.10 (#4171)

[2020-02-26 01:56] konekoya opened #4153 "pipelinename應該換成拼法正確的字，或者加上編號的單字 (如pipeline0)"
![註解 2020-02-24 130628](https://user-images.githubusercontent.com/6234750/75130251-4065f500-5708-11ea-8a1a-b05fbc9b9e27.jpg)

pipelinename應該換成拼法正確的字，或者加上編號的單字 (如pipeline0)

_Originally posted by @chia7712 in https://github.com/oharastream/ohara/issues/3706#issuecomment-590171209_

[2020-02-26 01:58] konekoya commented on #4153
@chia7712 I'm not sure if this should be backported to 0.9? What's idea about this?

[2020-02-26 02:01] konekoya opened #4155 "[Manager] Pipeline cannot be completely removed with "Delete this pipeline" menu from Toolbar"
~~A temp fix for now. I will purpose a more comprehensive  solution in 0.10 #4149~~

- [x] 0.9 (#4158)
- [x] 0.10 (#4157)

[2020-02-26 02:55] saivirtue opened #4159 "[Manager] Select component enhancement"
Inspired by #4139, as discussed with @eechih
Will extend the input list from `string` to `object` to avoid the **display name** is different from **label**

[2020-02-26 03:02] eechih commented on #4159
Thanks @saivirtue

[2020-02-26 03:03] konekoya opened #4162 "Delete several topics at once with UI's "Delete this pipeline" menu causes backend to throw"
### Steps to repro this this (with UI):

1. Create a workspace and then a pipeline
2. Add a couple of topics via Toolbox (at least five or more topics are more likely to repro the issue). Note that only pipeline-only topic can repro this as shared-topics are not "actually" removing during the process.
3. From the Toolbar, use "Delete this pipeline" menu to remove the pipeline including the topics

[2020-02-26 03:17] konekoya opened #4164 "[Manager] Stop a Paper element action doesn't update element's state to pending"
This can be repro with Toolbar "Stop all components" menu. It's however that "Start all components" is updating elements correct from state: stop -> pending -> running.

- [x] 0.9 #4170
- [x] 0.10 #4169

[2020-02-26 03:17] konekoya commented on #4164
/cc @wu87988622

[2020-02-26 03:19] jackyoh commented on #4119
目前調整了產生 input data 的檔案大小從 660 KB 增大到約 15 MB 左右，FTP Source Connector 的效能明顯有改善，平均每秒能處裡資料的筆數從 1000 筆增加到 8000 筆左右。

[2020-02-26 03:23] konekoya opened #4165 "[Manager] Property view's metrics and node name info are not showing up after a Paper element is running"
- [x] 0.9 #4196
- [x] 0.10 #4195

[2020-02-26 03:23] konekoya commented on #4165
/cc @wu87988622

[2020-02-26 03:55] #3949 closed

[2020-02-26 03:57] chia7712 commented on #4153
It does not burn out ohara so 0.10 only is fine

[2020-02-26 03:58] chia7712 commented on #3706
I fail to produce this error :(

[2020-02-26 04:22] chia7712 commented on #4139
Great job!

[2020-02-26 04:22] #4139 closed

[2020-02-26 05:37] chia7712 commented on #4110
Nice contribution!

[2020-02-26 05:37] #4110 closed

[2020-02-26 05:54] eechih commented on #3706
**Failed to create shared topic**

**Describe the bug**
建立 Shared Topic 遇到啟動失敗後，沒有出現在 Toolbox 或 Topics，也無法再次建立（使用相同名稱）。

**To Reproduce**
1. 新增 Shared Topic (Name: sharedtopic11, Partitions: 3, Replication factor: 3)
2. 錯誤訊息 "Failed to start topic sharedtopic11"
3. 再次新增 Shared Topic (Name: sharedtopic11, Partitions: 1, Replication factor: 1)
4. 錯誤訊息 "Failed to create topic sharedtopic11"

<img wid

[2020-02-26 06:10] #4135 closed

[2020-02-26 06:30] saivirtue commented on #4162
Some broker logs may help:
When I create about 10 topics in one pipeline, and click **delete this pipeline**:
![image](https://user-images.githubusercontent.com/8088616/75317733-a63ab400-58a3-11ea-9ac6-13477ddf2e53.png)
The selection request `http://localhost:3000/api/topics/lvmaxh18t8/stop?group=3e1117d3c` was successfully but the following get requests `http://localhost:3000/api/topics/lvmaxh18t

[2020-02-26 06:43] chia7712 commented on #4099
Great!

[2020-02-26 06:43] #4099 closed

[2020-02-26 07:10] eechih commented on #3706
**沒有加入到 Pipeline 的 Topic，不應該出現在選單中**

<img width="958" alt="Screen Shot 2020-02-26 at 3 06 50 PM" src="https://user-images.githubusercontent.com/703126/75320669-27954500-58aa-11ea-8918-5fb7cbd966a8.png">

[2020-02-26 07:31] eechih commented on #3706
調整 number of task 後，存檔會失敗

<img width="956" alt="Screen Shot 2020-02-26 at 3 26 16 PM" src="https://user-images.githubusercontent.com/703126/75322056-0aae4100-58ad-11ea-810f-746cafd06c2a.png">
<img width="950" alt="Screen Shot 2020-02-26 at 3 26 33 PM" src="https://user-images.githubusercontent.com/703126/75322080-16016c80-58ad-11ea-9b45-4d75df60f0e6.png">

[2020-02-26 07:59] konekoya commented on #4149
The temp solution cannot completely get rid of the issue that we mention here in the description. And so I have rewrote the logic of deleting pipeline for both 0.9 and 0.10 in #4155

[2020-02-26 07:59] #4149 closed

[2020-02-26 08:24] konekoya opened #4173 "[Manager] Disable certain action buttons for different Paper element state"
#### Some background
The action that are available: Link, start, stop, config and remove. For "Sink" connector, the Link action is removed since it doesn't have this ability by default. And for "Topic", only Link and remove action are available. So while in different state, the allowed action and unhallowed actions are both list here for clarity:

#### Connector and stream:

Stop: all actions are

[2020-02-26 08:27] konekoya commented on #3706
Not problem. I will mark the issue as solve then :)

[2020-02-26 08:33] eechih commented on #4123
Thanks @konekoya

[2020-02-26 08:43] eechih commented on #3706
啟動中的 Stream，如果 Save Change 會造成 Stream 的狀態變成 Failed

<img width="1373" alt="Screen Shot 2020-02-26 at 4 41 23 PM" src="https://user-images.githubusercontent.com/703126/75327206-ef483380-58b6-11ea-8acf-b54b6b729546.png">

[2020-02-26 09:03] konekoya commented on #4153
I will keep it as is. Thanks :)

[2020-02-26 09:37] eechih opened #4175 "[Manager] Failed to start topic when there are not enough brokers"
**Failed to create shared topic**

**Describe the bug**
建立 Shared Topic 遇到啟動失敗後，沒有出現在 Toolbox 或 Topics，也無法再次建立（使用相同名稱）。

**To Reproduce**
1. 新增 Shared Topic (Name: sharedtopic11, Partitions: 3, Replication factor: 3)
2. 錯誤訊息 "Failed to start topic sharedtopic11"

<img width="962" alt="Screen Shot 2020-02-26 at 1 46 24 PM" src="https://user-images.githubusercontent.com/703126/75315945-0c710800-589f

[2020-02-26 09:41] eechih opened #4176 "[Manager] Topics not added to the Pipeline should not appear in the edit properties"
**沒有加入到 Pipeline 的 Topic，不應該出現在選單中**

<img width="958" alt="Screen Shot 2020-02-26 at 3 06 50 PM" src="https://user-images.githubusercontent.com/703126/75320669-27954500-58aa-11ea-8918-5fb7cbd966a8.png">

_Originally posted by @eechih in https://github.com/oharastream/ohara/issues/3706#issuecomment-591274507_

- [x] 0.9 (#4215)
- [x] 0.10 (#4214)

[2020-02-26 09:44] eechih opened #4177 "[Manager] Failed to save properties after adjusting number of tasks"
調整 number of task 後，存檔會失敗

<img width="956" alt="Screen Shot 2020-02-26 at 3 26 16 PM" src="https://user-images.githubusercontent.com/703126/75322056-0aae4100-58ad-11ea-810f-746cafd06c2a.png">
<img width="950" alt="Screen Shot 2020-02-26 at 3 26 33 PM" src="https://user-images.githubusercontent.com/703126/75322080-16016c80-58ad-11ea-9b45-4d75df60f0e6.png">

_Originally posted by @eechih in https:/

[2020-02-26 09:48] eechih opened #4178 "Modifying a Stream that has already started will cause its status to fail"
啟動中的 Stream，如果 Save Change 會造成 Stream 的狀態變成 Failed

<img width="1373" alt="Screen Shot 2020-02-26 at 4 41 23 PM" src="https://user-images.githubusercontent.com/703126/75327206-ef483380-58b6-11ea-8acf-b54b6b729546.png">

_Originally posted by @eechih in https://github.com/oharastream/ohara/issues/3706#issuecomment-591306771_

[2020-02-26 09:54] vitojeng commented on #3706
Minor: Event log 訊息太長時, row 高度會暴增, 建議將訊息截斷
![screenshot 40](https://user-images.githubusercontent.com/475186/75333365-fecc7a00-58c0-11ea-8e6f-e93ce92a640f.jpg)

[2020-02-26 09:59] eechih commented on #4173
很完整的規則，感謝 @konekoya

[2020-02-27 01:39] eechih commented on #4178
ping @saivirtue
Feel free to take over this issue :)

[2020-02-27 01:39] eechih commented on #4176
ping @wu87988622
Feel free to take over this issue :)

[2020-02-27 01:39] eechih commented on #4175
ping @wu87988622
Feel free to take over this issue :)

[2020-02-27 01:40] eechih commented on #4177
ping @wu87988622
Feel free to take over this issue :)

[2020-02-27 01:41] chuntsekevin opened #4179 "Manager, Create Workspace issue"
When i create workspace name, press enter will start create workspace(haven't select node).

![image](https://user-images.githubusercontent.com/60953697/75404395-5f9d9600-5945-11ea-9c83-b15500e22355.png)

[2020-02-27 01:52] saivirtue opened #4180 "[Manager] Failed to inspect stream log"
When clicking the log tab and select the stream, the UI will break to show the data.

Thanks @chuntsekevin

- [x] for 0.10 (#4182)
- [x] backport to 0.9 (#4183)

[2020-02-27 01:53] eechih commented on #4179
Thanks for reporting. It's a bug.

[2020-02-27 01:59] eechih opened #4181 "[Manager] Prevent workspace creation when no nodes are selected"
Manager, Create Workspace issue

When i create workspace name, press enter will start create workspace(haven't select node).

![image](https://user-images.githubusercontent.com/60953697/75404395-5f9d9600-5945-11ea-9c83-b15500e22355.png)

Originally posted by @chuntsekevin in #4179

- [x] v0.10.0 (#4184 )
- [x] backport to v0.9.0 (#4185 )

[2020-02-27 02:00] eechih commented on #4179
Closed by #4181

[2020-02-27 02:00] #4179 closed

[2020-02-27 02:07] saivirtue commented on #4091
This issue had been resolved, close now.

[2020-02-27 02:07] #4091 closed

[2020-02-27 02:11] #4124 closed

[2020-02-27 02:11] #4098 closed

[2020-02-27 02:12] #4097 closed

[2020-02-27 02:12] #4155 closed

[2020-02-27 02:30] saivirtue commented on #4178
The "running" component should not able to change settings after #4173.
I think we can assign this issue to be duplicated?

[2020-02-27 02:30] saivirtue opened #4187 "[Manager] Convert to correct type of settings in pipeline component"
- [x] for 0.10 (#4200)
- [x] backport to 0.9 (#4202)

[2020-02-27 02:34] eechih commented on #4178
@saivirtue 是的，UI 可以用 #4173 的方式避開，不過 API 的使用者是否會遇到相同的問題？

[2020-02-27 02:41] konekoya opened #4190 "[Manager] Hide the group info from Property view"
Group info are basically hidden from users in UI. So in the Property view, we should only display the name for `valueType` like `ObjectKeys` and `TopicKeys`. Also, since only name will be displayed, we won't need to display them in a tree view component

other task:
- stream BINDING_PORT => REMOTE_PORT
- TAGS internal :false => internal:true
- ZOOKEEPER_CLUSTER_KEY internal :false => internal:true

[2020-02-27 02:42] konekoya commented on #4190
Thanks @eechih for raising this issue :)

[2020-02-27 02:45] chia7712 commented on #4180
thanks for this issue !

[2020-02-27 02:45] #4180 closed

[2020-02-27 02:46] saivirtue commented on #4180
/cc @chuntsekevin
Please help me to verify if the issue still existed after the image updated, thanks.

[2020-02-27 02:47] konekoya commented on #4100
@wu87988622 has fixed this in 0.9 so there's no need for backporting

[2020-02-27 03:02] jackyoh opened #4191 "Added sinceSeconds setting to get docker container log for the test"
目前在執行 performance 測試程式時在 after 的結尾會把 container 刪除掉之前會取得 container 的 log，如果 log 太大會發生 OutOfMemory 的問題，所以需要修改 ServiceKeyHolder.scala 呼叫 client.log 這一段，設定 sinceSeconds 的參數。

- [x] 0.9  #4198
- [x] 0.10.0 #4192

[2020-02-27 03:06] chuntsekevin commented on #4180
@saivirtue ok!

[2020-02-27 03:28] chuntsekevin commented on #4109
Hi,
I just found out broker and worker log can't open in a new window .

![image](https://user-images.githubusercontent.com/60953697/75409619-3afcea80-5954-11ea-9f49-763d6cda291c.png)

![image](https://user-images.githubusercontent.com/60953697/75409534-ee191400-5953-11ea-8c91-d8f0e3b1d796.png)
![image](https://user-images.githubusercontent.com/60953697/75409560-06892e80-5954-11ea-8a1c-1861cff73ba

[2020-02-27 03:58] eechih commented on #4178
因為我在 0.9.0 版本的 demo 環境上，使用 master 版本的 ohara-ut-stream.jar，造成 Stream 啟動後的狀態由 Running 變成 Failed，因此UI 呈現 Failed 是合理的

感謝 @saivirtue 大力幫忙，釐清原因

[2020-02-27 03:59] #4178 closed

[2020-02-27 05:36] saivirtue commented on #4109
Thanks for reporting, I will look into these two problems.

[2020-02-27 06:19] #4138 closed

[2020-02-27 08:41] wu87988622 commented on #4177
Thanks @saivirtue fix #4187

[2020-02-27 08:41] #4177 closed

[2020-02-27 13:58] chia7712 commented on #4109
thanks for this fixing !

[2020-02-27 13:58] #4109 closed

[2020-02-28 01:10] chia7712 commented on #4191
Please add links to PRs

[2020-02-28 05:13] jackyoh commented on #4191
OK， 我來加上去，順便開 0.9 的 branch

[2020-03-02 01:41] konekoya opened #4199 "[Manager] Hide the upload button in source and sink panels from Toolbox"
As this feature is not finished yet. Leaving it there doesn't make much sense.

Thanks for the suggestion from @saivirtue

- [x] 0.9 (#4208)
- [x] 0.10 (#4207)

[2020-03-02 02:57] #4191 closed

[2020-03-02 05:41] chuntsekevin opened #4203 "Manager failed to get zookeeper log"
Manager can't get zookeeper log
![image](https://user-images.githubusercontent.com/60953697/75648596-82081a00-5c8b-11ea-93d9-44d7886606d7.png)

![image](https://user-images.githubusercontent.com/60953697/75648725-e75c0b00-5c8b-11ea-913f-d7297dd17a4d.png)

[2020-03-02 05:47] saivirtue commented on #4203
Could you provide reproducible steps of this bug?

[2020-03-02 05:59] #4122 closed

[2020-03-02 06:00] chia7712 commented on #4164
thanks for contribution!

[2020-03-02 06:00] #4164 closed

[2020-03-02 06:00] chia7712 commented on #4181
thanks for contribution!

[2020-03-02 06:00] #4181 closed

[2020-03-02 06:01] chia7712 commented on #4123
all PRs are merged. thanks!

[2020-03-02 06:01] #4123 closed

[2020-03-02 06:04] saivirtue opened #4204 "Minor: a vertical line in the TOPICS tab."
Minor: a vertical line in the TOPICS tab.

![screenshot 33](https://user-images.githubusercontent.com/475186/75226114-bfc9f600-57e6-11ea-8aa6-b1e00d766197.jpg)

_Originally posted by @vitojeng in https://github.com/oharastream/ohara/issues/3706#issuecomment-590731706_

- [x] for 0.10 (#4205)
- [x] backport 0.9 (#4206)

[2020-03-02 07:14] chuntsekevin commented on #4203
I found how to reproduce this bug, Add a PerfSource connector with a topic. Start both in a while(10-15 min) will show the bug.
Also i recorded my  machine memory
![image](https://user-images.githubusercontent.com/60953697/75653274-3f990a00-5c98-11ea-8584-0f79704d41ed.png)

[2020-03-02 08:00] konekoya opened #4209 "[Manager] Prevent Paper's dragging event interfering with Toolbox"
Reported by @eechih 👍

Normally, we capture the `pointermove` event and use `event.offsetX` and `event.offsetY` to calculate the correct paper translate values. But we moving onto Toolbox, the eventData is different and so the wrong offsetX and offsetY.

- [x] 0.9 (#4211)
- [x] 0.10 (#4210)

[2020-03-02 08:13] konekoya commented on #4176
@wu87988622 I will give this a shot as most of my bugs are fixed by now

[2020-03-02 08:25] chia7712 commented on #4204
thanks!

[2020-03-02 08:25] #4204 closed

[2020-03-02 08:37] vitojeng commented on #4139
@saivirtue It look works fine. Thanks!

[2020-03-02 09:11] vitojeng opened #4213 "Roadmap of Ohara v1.0"
Ohara v1.0 was born if we complete all of the following tasks.

### Backend
* v0.10
  - [ ] Enable Persistence: Zookeeper & Broker
  - [ ] Connector support exactly once: all Ohara connectors
  - [ ] Enable Shabondi
* v0.11
  - [ ] Introduce universal runnable service
  - [ ] Introduce Websocket in Configurator
* v0.12
  - [ ] Leverage serialization tool
  - [ ] Enable Java 11 runtime support
  -

[2020-03-02 09:40] jackyoh opened #4216 "測試 input data 檔案大小是否影響效能"
目前執行 Ohara Connector 的 performance 測試發現 input data 的檔案大小會影響 connector 的效能，因此此議題主要測試總共 150 GB 的資料，每個檔案分別是 10 MB 和 100 MB 的二種情境，來測試檔案數量是否會影響 connector 執行的效能。

[2020-03-02 09:41] konekoya commented on #4175
@wu87988622 I'll be working on this :)

[2020-03-02 09:43] konekoya commented on #4151
As per discussion, the data correctness should not be handled on our end. And instead, should be handled by users(connector authors)

[2020-03-02 09:43] #4151 closed

[2020-03-02 09:45] konekoya commented on #2042
@saivirtue Are you seeing in our E2E tests?

[2020-03-02 09:46] konekoya commented on #2042
@chia7712 removing you from assignee list as this issue has nothing to do with backend :)

[2020-03-02 09:50] konekoya commented on #3814
@eechih @wu87988622 I've implemented a temporary solution for now where I check whether a connector/stream is connected or not.

But as @wu87988622 mentioned, that a more complete solution should be purposed as checking the connection is far from enough. We should perhaps also check (validate) all settings before allowing users to start a connector?

@oharastream/frontend thoughts?

[2020-03-02 09:51] konekoya commented on #259
@wu87988622 I'm not sure if this issue still relevant? Could you confirm this?

[2020-03-02 09:52] konekoya commented on #648
@saivirtue Is this covered in our tests?

[2020-03-02 11:06] chia7712 commented on #4173
thanks!!!

[2020-03-02 11:06] #4173 closed

[2020-03-03 01:05] saivirtue commented on #648
Nope. Should be covered in #4049

[2020-03-03 01:20] konekoya commented on #648
No problem. I'm closing this then

[2020-03-03 01:20] #648 closed

[2020-03-03 01:29] konekoya commented on #802
In favor of #4049

[2020-03-03 01:29] #802 closed

[2020-03-03 01:31] konekoya commented on #2714
Since the UI has been completely written. The behavior is a bit different now. I've added a few new tasks in #4049 which will guard against the topic are working as it should in the new UI

[2020-03-03 01:31] #2714 closed

[2020-03-03 02:11] konekoya commented on #4146
Have noticed this but not sure which one should be changed yet.

[2020-03-03 02:12] chia7712 commented on #4199
Thanks for contributions!

[2020-03-03 02:12] #4199 closed

[2020-03-03 02:12] konekoya commented on #3953
Addressed in #3949

[2020-03-03 02:12] #3953 closed

[2020-03-03 03:03] chia7712 commented on #4209
thanks for this fixing!

[2020-03-03 03:03] #4209 closed

[2020-03-03 03:16] chia7712 commented on #3706
![註解 2020-03-03 111536](https://user-images.githubusercontent.com/6234750/75739624-5a26be00-5d40-11ea-9c8a-6d57ed5518df.jpg)

port的顯示不用逗號，那個不是薪水

[2020-03-03 03:18] chia7712 commented on #3706
![註解 2020-03-03 111536](https://user-images.githubusercontent.com/6234750/75739712-9fe38680-5d40-11ea-82db-b8564ec3e565.jpg)

已經啟動的connector依然可以再次啟動?

[2020-03-03 03:19] chia7712 commented on #3706
![註解 2020-03-03 111536](https://user-images.githubusercontent.com/6234750/75739773-c1dd0900-5d40-11ea-91d4-27cf92547988.jpg)

sink connector的nodes和metrics沒有顯示出來

[2020-03-03 03:36] vitojeng commented on #4146
I am fine with no matter which one to be changed. :)

[2020-03-03 03:43] chia7712 commented on #4216
@jackyoh 先開個議題紀錄"避免重複list files"喔 以免忘記

[2020-03-03 03:45] konekoya opened #4217 "[Manager] The thousand comma shouldn't apply on definitions like Port"
![註解 2020-03-03 111536](https://user-images.githubusercontent.com/6234750/75739624-5a26be00-5d40-11ea-9c8a-6d57ed5518df.jpg)

port的顯示不用逗號，那個不是薪水

_Originally posted by @chia7712 in https://github.com/oharastream/ohara/issues/3706#issuecomment-593745718_

[2020-03-03 03:47] konekoya commented on #3706
A fix is on the way... #4196

[2020-03-03 03:48] konekoya opened #4218 "[Manager] Event log 訊息太長時, row 高度會暴增, 建議將訊息截斷"
Minor: Event log 訊息太長時, row 高度會暴增, 建議將訊息截斷
![screenshot 40](https://user-images.githubusercontent.com/475186/75333365-fecc7a00-58c0-11ea-8e6f-e93ce92a640f.jpg)

_Originally posted by @vitojeng in https://github.com/oharastream/ohara/issues/3706#issuecomment-591338785_

[2020-03-03 03:50] konekoya commented on #4218
@eechih do you think this is an issue? Should we fix this in both branches? Or just 0.10 :)

[2020-03-03 03:55] jackyoh commented on #4216
ok, 等等我來開

[2020-03-03 03:57] eechih commented on #4218
@konekoya We are going to fix it in 0.10.0

[2020-03-03 04:04] jackyoh opened #4219 "Cache the file paths to reduce the count of expensive LIST operations"
在一個檔案數量非常大的資料夾下面，去 list file 會影響到 connector 的 performance

[2020-03-03 06:38] konekoya commented on #4217
in favor of #4190

[2020-03-03 06:38] #4217 closed

[2020-03-03 06:45] eechih opened #4221 "[Manager] Avoid redundant redirecting"
as title

[2020-03-03 06:48] konekoya opened #4223 "[Manager] Correct the validation message"
It shouldn't be `less than` and `greater than`, instead:
`less than or equal to` and `greater than or equal to`

- [ ] 0.9
- [ ] 0.10

[2020-03-03 07:58] vitojeng opened #4224 "Node information 'CPU' and 'Memory' always 0"
![screenshot 41](https://user-images.githubusercontent.com/475186/75754369-97eb0d00-5d67-11ea-9629-b2da518e2d3c.jpg)

![screenshot 43](https://user-images.githubusercontent.com/475186/75754433-b3eeae80-5d67-11ea-94b8-846dfded7ba8.jpg)

[2020-03-03 08:00] saivirtue commented on #4224
Does this in k8s mode?

[2020-03-03 08:02] vitojeng commented on #4224
yep

[2020-03-03 08:07] eechih commented on #4224
@vitojeng 有安裝 K8S metrics server 嗎？
https://ohara.readthedocs.io/en/master/user_guide.html#how-to-install-k8s-metrics-server

[2020-03-03 08:19] vitojeng opened #4225 "Connector stauts always stopped if backend failed"
**Describe the bug**
Connector stauts(gray icon) always stopped if backend failed.

**To Reproduce**
Steps to reproduce the behavior:
1. Drap a connector(ex: FtpSource or HDFSSink) and a topic
2. Link connector to topic
3. Start connector with default settings
4. We can see the status move: Stopped --> Pending --> Stopped

**Expected behavior**
Status should be red if backend failed

[2020-03-03 08:21] jackyoh opened #4226 "Change the log level of TopicPartitionWriter#rotateOnTime from INFO to DEBUG"
在 csv connector 程式的 TopicPartitionWriter class 的 rotateOnTime function 裡有，Should apply scheduled rotation 的 log, 它有點 noisy 我想把它修改成 debug 等級，因為用 INFO 感覺效用不大，會擋到很多其它更重要的 log 資訊。
- [x] 0.9 (#4233)
- [x] 0.10.0 (#4231)

[2020-03-03 08:37] vitojeng commented on #4224
Oh...my bad.
It works fine after install metrics server. 👍

[2020-03-03 08:38] #4224 closed

[2020-03-03 08:48] konekoya opened #4227 "[Manager] Remove the cleanup mechanism from Paper's init function"
- [x] 0.9 (#4241)
- [x] 0.10 (#4238)

[2020-03-03 09:19] eechih opened #4228 "[Manager] Fix create workspace button title"
`QUICK START` => `QUICK CREATE`

1. - [x] for 0.10.0 (#4229)
1. - [x] for 0.9.0 (#4230)

[2020-03-03 10:05] vitojeng commented on #4187
@eechih message from https://github.com/oharastream/ohara/issues/3706#issuecomment-590720769 😄

[2020-03-03 10:33] vitojeng opened #4232 "[Manager] Property view's scrollbar doesn't work when developer tools are open"
![screenshot 45](https://user-images.githubusercontent.com/475186/75767180-54030280-5d7d-11ea-99da-57f8bf7182c9.jpg)

[2020-03-03 10:44] chia7712 commented on #4226
@jackyoh could you backport this to 0.9.x ?

[2020-03-03 10:50] jackyoh commented on #4226
OK, No problem

[2020-03-03 11:49] #4226 closed

[2020-03-04 01:32] konekoya commented on #3706
@eechih I think we have missed this... So I will file another issue to fix this 😅

[2020-03-04 01:34] konekoya commented on #4228
Thanks for helping out @eechih 🙇

[2020-03-04 02:15] vitojeng opened #4235 "User clearer error message when Configurator not available"
在 configurator 因故關閉(kill or crash)下, 在 refresh page 的結果:
![screenshot 46](https://user-images.githubusercontent.com/475186/75837381-a7b63000-5dff-11ea-9f18-3ae528e993d8.jpg)

目前以 API 為單位列出所有的 fail, ex:
* Fetch workspace list failed.
* Failed to get worker list.

由於此時是 Configurator 不可用, 並非 API 不可用, 建議以單一錯誤訊息取代(ex: Configurator not available), 比較明確.

[2020-03-04 02:35] konekoya commented on #4153
Since I'm fixing some bugs that are related to this. I've therefore fixed it in #4175 :)

[2020-03-04 02:35] #4153 closed

[2020-03-04 02:36] konekoya commented on #4223
Fixed in #4175

[2020-03-04 02:36] #4223 closed

[2020-03-04 03:24] eechih commented on #3706
Ok~ Thanks @konekoya

[2020-03-04 03:29] eechih commented on #4235
@vitojeng Thanks for reporting, I will think about it.

[2020-03-04 03:29] #4228 closed

[2020-03-04 03:34] eechih commented on #3706
![Screen Shot 2020-03-04 at 11 30 29 AM](https://user-images.githubusercontent.com/703126/75842681-f5d13080-5e0b-11ea-822e-e4b89458dae0.png)

[2020-03-04 04:02] jackyoh commented on #4216
總共 150 GB 的資料量，每個檔案 10.5 MB, 在 ftp source connector 剛開始執行時平均每秒可以處裡 8246 筆資料。到了快 8 小時平均每秒可以處裡的資料筆數剩下 5983 筆資料

總共 150 GB 的資料量，每個檔案 105 MB, 在 ftp source connector 剛開始執行時平均每秒可以處裡 7843 筆資料。到了快 8 小時平均每秒可以處裡的資料筆數為 7859 筆資料

因此檔案的數量有可能會影響到 ftp source connector 的執行，會在 issue #4219 來處裡

[2020-03-04 04:25] chia7712 commented on #4148
thanks for contribution.

[2020-03-04 04:25] #4148 closed

[2020-03-04 04:25] chia7712 commented on #4152
great!!!

[2020-03-04 04:25] #4152 closed

[2020-03-04 04:26] chia7712 commented on #4165
thanks!

[2020-03-04 04:26] #4165 closed

[2020-03-04 04:35] chia7712 commented on #4125
@jackyoh this is a bug so could you backport to 0.9.x ?

[2020-03-04 05:36] konekoya opened #4236 "[Manager] Paper elements' start button should be disabled if it's already running"
![註解 2020-03-03 111536](https://user-images.githubusercontent.com/6234750/75739712-9fe38680-5d40-11ea-82db-b8564ec3e565.jpg)

已經啟動的connector依然可以再次啟動?

_Originally posted by @chia7712 in https://github.com/oharastream/ohara/issues/3706#issuecomment-593746169_

- [x] 0.9 (#4244)
- [x] 0.10 (#4242)

[2020-03-04 05:36] jackyoh commented on #4125
OK, I am going to backport to 0.9.x

[2020-03-04 05:47] konekoya opened #4237 "[Manager] Disable the delete button in topic's detail view if it's already used in a pipeline"
~~Users are able to remove topics not only inside the pipeline but also in the workspace settings. And while doing so in the workspace settings, we didn't implement the logic for unlinking its connections as topics are often connected to other components like connectors or streams.~~

Update: We should disable the button as this logic is already implemented in the backend (the action is not allowe

[2020-03-04 05:48] konekoya commented on #4227
@eechih @wu87988622 We have come into an agreement: we won't do the cleanup during initializing the Paper (loading paper data from backend)

And new issue is filed for fully remove a topic thru UI #4237

[2020-03-04 07:00] vitojeng commented on #3706
Pipelines 清單自動只剩一個. refresh page 一開始有三個 pipeline:
![screenshot 48](https://user-images.githubusercontent.com/475186/75853305-c54bbf80-5e28-11ea-963b-51e85cd8e775.jpg)

靜置約 10 秒剩一個:
![screenshot 49](https://user-images.githubusercontent.com/475186/75853338-d5fc3580-5e28-11ea-8775-48b3fe8f5ab2.jpg)

[2020-03-04 07:07] konekoya opened #4240 "Empty tasksStatus from v0/connectors/$connectorName"
After establishing a connection of __Ftp source -> topic__, the `tasksStatus` field from the `v0/connectors/$connectorName` response is an empty list

### Steps to repro this:
1. Create a workspace and a pipeline afterward
2. Add a new FTP source connector
3. Add a new topic and connect it with the FTP source connector
4. Fill out FTP source connector's property form (I'm using demo-env's FTP cont

[2020-03-04 07:08] konekoya commented on #4240
/cc @chia7712 and I will attach the logs from configurator and worker later :).

[2020-03-04 07:19] konekoya commented on #4240
UDPATD: the FTP source connector dies after a page refresh.

[2020-03-04 07:28] chia7712 commented on #4240
is there error message?

[2020-03-04 07:39] chia7712 commented on #4175
thanks for this fixing!

[2020-03-04 07:39] #4175 closed

[2020-03-04 07:41] konekoya commented on #4240
Seems worker is throwing something

[code]

[2020-03-04 07:46] chia7712 commented on #4240
I meant the response from Configurator

[2020-03-04 07:47] konekoya commented on #4240
Nope, nothing from the configurator 😅

[2020-03-04 07:49] chia7712 commented on #4240
so the status and error of Connector is empty?

[2020-03-04 07:54] konekoya commented on #4240
The status is "RUNNING" and "tasksStatus" remains an empty array: `[]`

[2020-03-04 07:57] konekoya commented on #3706
@wu87988622 it's happing again... 🙇

[2020-03-04 08:00] konekoya commented on #4232
@vitojeng Did you mean that the property view is not shrinking (adjust the height according to the height taking up by the devTool pane?) properly 🤔

[2020-03-04 08:09] konekoya commented on #4232
@vitojeng I can confirm this is a bug. We will address this in 0.10. Thanks for raising this 🙏

[2020-03-04 08:16] chia7712 commented on #4176
nice!

[2020-03-04 08:16] #4176 closed

[2020-03-04 08:18] vitojeng commented on #3706
FtpSourceConnector 相關....重現:
1. 填入相關 setting, 但是 input.folder 的資料夾填錯(不存在), 並連結 topic
2. Start connector

情形:
1. Response Error:
[code]
==> 資料夾不存在但這裡拋 NoSuchElementException 似乎有點奇怪?

2.
![screenshot 50](https://user-images.githubusercontent.com/475186/75858527-60499700-5e33-11ea-865e-59a87d69e30a.jpg)
==> 錯誤時無法再 Edit, 導致無法做修改

[2020-03-05 02:06] vitojeng commented on #3706
metrics 的數字與單位, 距離似乎太遙遠?
![screenshot 52](https://user-images.githubusercontent.com/475186/75940655-a43aab80-5ec8-11ea-9f07-19069ee020d0.jpg)

[2020-03-05 02:16] vitojeng commented on #3706
在 Property view -> Metrics 打開情形下, 若關閉 Property view 後再度打開, metrics 會處於關閉狀態.
希望能記住之前是否打開, 下次 Property view 打開時可以恢復之前的狀態

[2020-03-05 02:22] eechih commented on #4187
在 master 上，已經沒有這個問題了，謝謝 @saivirtue

/cc @vitojeng

[2020-03-05 02:26] vitojeng commented on #3706
metrics 目前是反應後端 runtime 下的數字, 因此 pipeline component 在 stop 的狀態下, metrics 是否要歸 0 比較合理?

[2020-03-05 02:33] vitojeng commented on #3706
Internal Topic 的錯誤, 除了 name 之外, 可能還是附上 pipeline 上的名稱, 會比較清楚~
Ex: `Failed to stop topic 59sn5fcc4y(T1)`

![screenshot 53](https://user-images.githubusercontent.com/475186/75941995-2ed0da00-5ecc-11ea-85ce-a4386ae22810.jpg)

[2020-03-05 02:35] konekoya commented on #4237
@eechih @wu87988622 as per our discussion. Our Plan was to disable the delete button if the topic is already used in one of the pipeline, NOT to force delete the topic. And so i will update the issue title and description and backport this to 0.9

[2020-03-05 03:35] eechih commented on #4237
感謝 @konekoya。 原始設計是 disable，前幾天在討論時我卻忘記了，真的很抱歉～ 🙇‍♂️

[2020-03-05 03:38] konekoya commented on #4237
No worries! We all forgot about this 🤣

[2020-03-05 03:50] wu87988622 commented on #3706
目前會做清除，但是要等到下一次更新，大約是等待五秒後，就會清掉了

[2020-03-05 03:54] konekoya commented on #3706
Ex: Failed to stop topic 59sn5fcc4y(T1)

@vitojeng Do you mean it should display __T1__ instead of __59sn5fcc4y__? The latter one actually doesn't mean anything to our users, so we always hide it from the UI :)

[2020-03-05 03:56] konekoya commented on #3706
I think it's okay if we put them together anyway. Like `5,998 messages` instead of breaking them apart

Ping @eechih for idea :)

[2020-03-05 03:56] konekoya commented on #3706
希望能記住之前是否打開, 下次 Property view 打開時可以恢復之前的狀態

[2020-03-05 05:12] chia7712 commented on #4240
@konekoya Could you reproduce this bug again? I fail to get this bug on my local

[2020-03-05 05:14] chia7712 commented on #3706
Or IllegalArgumentException?

[2020-03-05 05:15] chia7712 commented on #4187
@saivirtue thanks for this contirbution!

[2020-03-05 05:15] #4187 closed

[2020-03-05 06:37] eechih commented on #3706
Ex: Failed to stop topic 59sn5fcc4y(T1)

@vitojeng @konekoya 這兩個問題不影響使用者操作，等到下個版本再來討論，OK?

[2020-03-05 06:39] vitojeng commented on #3706
OK~ 有需要 backport 的我會再額外提醒

[2020-03-05 06:41] vitojeng commented on #3706
比 NoSuchElementException 好 10 倍

[2020-03-05 06:52] wu87988622 opened #4247 "A number input will always have left pad 0 value in onChange"

[2020-03-05 07:00] chia7712 commented on #3706
![註解 2020-03-05 141900](https://user-images.githubusercontent.com/6234750/75956061-14115c00-5ef2-11ea-8217-d9ea367359a9.jpg)

死掉的節點不應該讓使用者能選擇

[2020-03-05 07:02] chia7712 opened #4248 "Throwing IllegalArgumentException instead of NoSuchElementException when the configured folders do not exist"
比 NoSuchElementException 好 10 倍

_Originally posted by @vitojeng in https://github.com/oharastream/ohara/issues/3706#issuecomment-595055250_

1. - [x] for 0.10.0 (#4250)
1. - [ ] for 0.9.0 (#4258)

[2020-03-05 07:23] konekoya commented on #3706
No problem :)

[2020-03-05 07:44] chia7712 commented on #4125
nice improvement!

[2020-03-05 07:45] chia7712 commented on #4125
reopen since the QA for 0.10 is not completed

[2020-03-05 07:46] chia7712 commented on #4236
great!

[2020-03-05 07:46] #4236 closed

[2020-03-05 07:55] vitojeng commented on #3706
#### 用 FtpSourceConnector 測試大型 csv file
環境: 3 nodes; CPU 2 core, RAM 8 GB each node

0. 建立一個 workspace, 3 nodes.
0. 建立一個 pipeline, 並拉入: ftp source connector --> internal topic --> ftp sink connector
0. Start source and sink connector
0. 放一個 csv 小檔案到 input folder, 確認處理正常:
    * input folder 移到 completed folder
    * sink connector 有寫入 file.
    * source/sink component 的 Metrics 顯示正確
0. 再放一個 csv 小檔案

[2020-03-05 08:08] wu87988622 opened #4251 "[Manager] Nodes page need display node state"
- [x] 0.9 #4279
- [x] 0.10 #4759

[2020-03-05 08:13] chuntsekevin opened #4252 "[Manager]View node detail refresh question"
Hi,
Have a question about manager !
After finished pipeline and want to see the node detail, new services won't show on the node detail view. Have to refresh the whole page to see the new service.
Is this problem only happened in my environment?

![image](https://user-images.githubusercontent.com/60953697/75960753-9e11f280-5efb-11ea-8aec-46c5a03295e1.png)

Thanks for reply

[2020-03-05 08:20] wu87988622 commented on #4252
@chuntsekevin  Auto update will be added at 0.10.

[2020-03-05 08:21] chuntsekevin commented on #4252
@wu87988622 Ok, got it! Thanks

[2020-03-05 08:21] #4252 closed

[2020-03-05 08:21] vitojeng commented on #3706
#### 切換 pipeline 時出現 error: Failed to stop topic XXXXX

* pipeline 1: 有一個 internal topic
* pipeline 2: 完全空的

在 pipeline1 切換到 pipeline 2 時, 出現 error: `Failed to stop topic XXXXX`
而pipeline2 切到 pipeline 1 時, 沒有出現 error.
不知為何在切換 pipeline 時會需要做這個動作?

![screenshot 55](https://user-images.githubusercontent.com/475186/75961440-fe556400-5efc-11ea-9fec-b00364d039e8.jpg)

Detail
![screenshot 56](https://use

[2020-03-05 09:33] chia7712 opened #4253 "add "maximum.number.of.lines" to Csv Connector so it can slice large file in each loop"
#### 用 FtpSourceConnector 測試大型 csv file
Env:
* k8s mode
* 3 nodes, CPU 2 core, RAM 8 GB each node

Step:

0. 建立一個 workspace, 3 nodes.
0. 建立一個 pipeline, 並拉入: ftp source connector --> internal topic --> ftp sink connector
0. Start source and sink connector
0. 放一個 csv 小檔案(< 1 MB)到 input folder, 確認處理正常:
    * input folder 移到 completed folder
    * sink connector 有寫入 file.
    * source/sink component 的

[2020-03-05 09:39] vitojeng commented on #4253
Thanks @chia7712!

[2020-03-05 09:52] jackyoh commented on #4125
0.10 的測試都跑過了

[2020-03-05 09:54] chia7712 commented on #4125
@jackyoh thanks for this contributions

[2020-03-05 09:54] #4125 closed

[2020-03-06 01:38] konekoya opened #4254 "[Manager] Snackbar should display the displayName of the pipeline-only topic"
Internal Topic 的錯誤, 除了 name 之外, 可能還是附上 pipeline 上的名稱, 會比較清楚~
Ex: `Failed to stop topic 59sn5fcc4y(T1)`

![screenshot 53](https://user-images.githubusercontent.com/475186/75941995-2ed0da00-5ecc-11ea-85ce-a4386ae22810.jpg)

_Originally posted by @vitojeng in https://github.com/oharastream/ohara/issues/3706#issuecomment-594996926_

[2020-03-06 01:39] konekoya opened #4255 "[Manager] Metrics 的數字與單位, 距離似乎太遙遠?"
metrics 的數字與單位, 距離似乎太遙遠?
![screenshot 52](https://user-images.githubusercontent.com/475186/75940655-a43aab80-5ec8-11ea-9f07-19069ee020d0.jpg)

_Originally posted by @vitojeng in https://github.com/oharastream/ohara/issues/3706#issuecomment-594989321_

[2020-03-06 01:41] konekoya opened #4256 "在 Property view -> Metrics 打開情形下, 若關閉 Property view 後再度打開, metrics 會處於關閉狀態."
在 Property view -> Metrics 打開情形下, 若關閉 Property view 後再度打開, metrics 會處於關閉狀態.
希望能記住之前是否打開, 下次 Property view 打開時可以恢復之前的狀態

_Originally posted by @vitojeng in https://github.com/oharastream/ohara/issues/3706#issuecomment-594992399_

[2020-03-06 01:49] konekoya commented on #3706
Vito, there's already a PR addresses this issue. I'll try to get it in today and ping you again for testing. (Sorry, it seems like GitHub's mention feature is broken so I somehow couldn't tag you in this comment)

[2020-03-06 02:04] vitojeng commented on #4256
Thanks @konekoya raising this issue!

[2020-03-06 02:21] vitojeng commented on #3706
related with https://github.com/oharastream/ohara/issues/3706#issuecomment-595061071
dead node 的資訊顯示怪怪的~

![screenshot 58](https://user-images.githubusercontent.com/475186/76043979-f5fc3800-5f93-11ea-88f6-006033309b5e.jpg)
![screenshot 60](https://user-images.githubusercontent.com/475186/76044063-2ba12100-5f94-11ea-82a7-559559149a7c.jpg)

[2020-03-06 02:40] jackyoh opened #4257 "Enable to configure the hdfs replica in performance test"
目前 hdfs sink connector 的 performance 測試程式 flush size 為 hard code 在測試上不太方便，因此需要增加參數，減少使用上的不方便。

[2020-03-06 02:44] vitojeng commented on #3706
觀察 Snackbar 目前容易被忽略的因素: 一個是顯示在左下角, 另一個是顯示時間不長.
目前 layout 大部份操作都集中在畫面上半部, 使用者目光停留在上半部機會很高. 在高解晰度的大螢幕下, 左下角的 Snackbar 相信被忽略的機會大增. 因此建議 Snackbar 顯示在畫面中上方, 應該可以增加被使用者注意到的機會~ (希望可以 backport 到 0.9.x)

[2020-03-06 03:12] vitojeng commented on #3706
#### Property view 會自動關閉

在 Property view 開啟的情形下, 從 Developer Tools/LOGS 切換到 Developer Tools/Topic 時, Property view 會自動被關閉.

[2020-03-06 04:32] chia7712 commented on #4227
thanks for PRs!

[2020-03-06 04:32] #4227 closed

[2020-03-06 06:18] chuntsekevin commented on #4203
@vitojeng Quickstart VM testing already done. About 5 min will happened the same issue. It seems that only happened on docker mode.

[2020-03-06 06:42] vitojeng commented on #4203
@chuntsekevin Just import QuickstartVM and download the latest docker image in my machine, it seems work fine. Can you try again with the latest docker image?

[2020-03-06 07:51] konekoya commented on #4240
Hmm, nope. I've used the same test config to test again but it seems everything is working just fine. Should I close this issue then 😅

[2020-03-06 07:59] konekoya commented on #3706
@vitojeng The PR has been merged. But It still needs some time to build the image :)

[2020-03-06 08:00] konekoya commented on #3706
目前 layout 大部份操作都集中在畫面上半部, 使用者目光停留在上半部機會很高. 在高解晰度的大螢幕下, 左下角的 Snackbar 相信被忽略的機會大增. 因此建議 Snackbar 顯示在畫面中上方, 應該可以增加被使用者注意到的機會~ (希望可以 backport 到 0.9.x)

Pinging @oharastream/frontend for thoughts

[2020-03-06 08:13] jackyoh opened #4261 "HDFS Sink Connector 需要設定副本的參數"
目前的 hdfs sink connector 沒有設定 replication 的參數，因此 Hadoop API 預設是使用 3。但是 data node 有可能只有 1 個 node 的情況，雖然目前測試在一個 node 三個副本的前況下沒有發現問題，但是我覺得有需要在 hdfs sink connector 做設定副本的參數。

[2020-03-06 08:20] chia7712 commented on #4240
sure

[2020-03-06 08:26] konekoya opened #4262 "[Manager] Fix scroll bar position is being reset when scrolling upward in Developer tools' log panel"
- [x] 0.9 (#4299)
- [x] 0.10 (#4295)

[2020-03-06 08:35] wu87988622 commented on #3706
@vitojeng can you get me unavailable node response, i can't reproduce that, thanks

[2020-03-06 08:45] vitojeng commented on #3706
Just shutdown the one of kubernetes slave node and you should be able to reproduce it.

[2020-03-06 09:10] chia7712 commented on #4203
@chuntsekevin It seems to me this bug is related to resource limit. Could you share the env to us?

[2020-03-06 09:17] #4240 closed

[2020-03-06 09:24] vitojeng opened #4263 "Node list columns display incorrect when node is dead"
@vitojeng can you get me unavailable node response, i can't reproduce that, thanks

_Originally posted by @wu87988622 in https://github.com/oharastream/ohara/issues/3706#issuecomment-595660788_

Response json:
[code]

- [x] 0.9 #4280
- [x] 0.10 #4271

[2020-03-06 09:27] vitojeng commented on #4263
Thanks @wu87988622 contribution!

[2020-03-06 09:36] chuntsekevin commented on #4203
@chia7712  My QuickStartVM env
![image](https://user-images.githubusercontent.com/60953697/76071133-bb64c080-5fd0-11ea-8a31-8ac1ec419517.png)
![image](https://user-images.githubusercontent.com/60953697/76071277-f535c700-5fd0-11ea-9699-3b54d1049016.png)

[2020-03-06 09:42] chia7712 commented on #4203
@chuntsekevin Does VM run on SSD? BTW, could you increase the number of cores and then try again?

[2020-03-06 10:11] chuntsekevin commented on #4203
@chia7712 @vitojeng  After increase cores and memory, still have this issue for me. But this time it happened until 15 min.
![image](https://user-images.githubusercontent.com/60953697/76073895-565f9980-5fd5-11ea-82a0-8e000ff7d6d7.png)

[2020-03-06 10:31] chia7712 commented on #4203
@chuntsekevin ssd or hds?

[2020-03-06 10:32] chia7712 commented on #4203
Please share your env to us. Vm host

[2020-03-07 07:42] #4248 closed

[2020-03-09 02:13] #4219 closed

[2020-03-09 06:20] chia7712 commented on #4219
@jackyoh could you backport this to 0.9.x?

[2020-03-09 06:31] chia7712 commented on #3706
![註解 2020-03-09 143009](https://user-images.githubusercontent.com/6234750/76188233-91024580-6212-11ea-9b93-92b30ecd40a5.jpg)

toolbox被log畫面擋住，沒有卷軸可以使用

[2020-03-09 06:31] chia7712 commented on #3706
log畫面開著的時候，pipeline上的"變更"都會觸發重拉log...這是預期的行為嗎?

[2020-03-09 06:41] konekoya opened #4266 "[Manager] Add a confirm dialog before allowing users to delete a pipeline"
Thanks @vitojeng for reporting :)

[2020-03-09 06:42] chia7712 commented on #3706
![註解 2020-03-09 143009](https://user-images.githubusercontent.com/6234750/76188812-0f131c00-6214-11ea-9459-d113ee1f529d.jpg)

同一個workspace，不同pipeline裡面新增一個重複名稱的物件，會顯示錯誤但該物件依然留在畫布上

[2020-03-09 06:43] saivirtue commented on #3706
DevTool工具打開的時候，Pipeline上選中的component會觸發搜尋對應的log / topicData:
**DevTool - topic tab :**
- 選中topic => query topic data
- 選中stream => switch to log tab, query stream log
- 選中connector => switch to log tab, query worker log
**DevTool - log tab :**
- 選中topic => query broker log
- 選中stream => query stream log
- 選中connector => query worker log

[2020-03-09 06:44] chia7712 commented on #3706
@saivirtue 了解，就是之前討論的選種哪個物件就找尋可能的logs

[2020-03-09 06:45] saivirtue commented on #3706
You are right :)

[2020-03-09 06:47] chia7712 commented on #3706
![註解 2020-03-09 143009](https://user-images.githubusercontent.com/6234750/76189118-d6277700-6214-11ea-892f-c2a32a60ac82.jpg)

如果現在UI嚴格限制只能1-to-1的話，那在連線後就應該把"連線"的按鈕遮掉...

[2020-03-09 06:50] konekoya commented on #3706
@chia7712 Hmm, I'm not able to repro this. Not sure if I understand this right:

1. pipeline1 -> create FTP source named "aaa"
2. pipeline2 => create FTP source named "aaa"

This works okay for me

[2020-03-09 06:51] chia7712 commented on #3706
@konekoya it seems a temporary connection error so I remove this comment :)

[2020-03-09 06:55] konekoya opened #4267 "[Manager] Toolbox被log畫面擋住，沒有卷軸可以使用"
![註解 2020-03-09 143009](https://user-images.githubusercontent.com/6234750/76188233-91024580-6212-11ea-9b93-92b30ecd40a5.jpg)

toolbox被log畫面擋住，沒有卷軸可以使用

_Originally posted by @chia7712 in https://github.com/oharastream/ohara/issues/3706#issuecomment-596352891_

- [x] 0.9 (#4273)
- [x] 0.10 (#4272)

[2020-03-09 07:08] konekoya opened #4268 "[Manager] Move snackbar displaying position to screen's top right-hand corner"
觀察 Snackbar 目前容易被忽略的因素: 一個是顯示在左下角, 另一個是顯示時間不長.
目前 layout 大部份操作都集中在畫面上半部, 使用者目光停留在上半部機會很高. 在高解晰度的大螢幕下, 左下角的 Snackbar 相信被忽略的機會大增. 因此建議 Snackbar 顯示在畫面中上方, 應該可以增加被使用者注意到的機會~ (希望可以 backport 到 0.9.x)

_Originally posted by @vitojeng in https://github.com/oharastream/ohara/issues/3706#issuecomment-595570704_

- [x] 0.9 (#4276)
- [x] 0.10 (#4275)

[2020-03-09 07:15] chia7712 opened #4269 "the helper scripts used to create containers on remote node always take "ohara" as login name"
for example, the following code is in ftp-container.sh
[code]

the hard-code name is inconvenient to me :(

1. - [x] for 0.10.x (#4270)
1. - [x] for 0.9.x (#4285)

[2020-03-09 08:03] wu87988622 opened #4274 "[Manager] Create two topics at the same time in Paper will break the UI"
only backport 0.9.
In the 0.10, we change api design

[2020-03-09 08:11] konekoya opened #4278 "[Manager] 如果現在UI嚴格限制只能1-to-1的話，那在連線後就應該把"連線"的按鈕遮掉"
![註解 2020-03-09 143009](https://user-images.githubusercontent.com/6234750/76189118-d6277700-6214-11ea-892f-c2a32a60ac82.jpg)

如果現在UI嚴格限制只能1-to-1的話，那在連線後就應該把"連線"的按鈕遮掉...

_Originally posted by @chia7712 in https://github.com/oharastream/ohara/issues/3706#issuecomment-596356946_

- [x] 0.9 (#4288)
- [x] 0.10 (#4287)

[2020-03-09 08:20] vitojeng commented on #3706
在 Create Pipeline 時, 若使用重覆的 name, 會在左下角顯示 "Failed to create pipeline XXX".
比較好的做法應該是 Create Pipeline Dialog 時通知使用者修正. (0.10 only)

[2020-03-09 08:31] vitojeng commented on #3706
在 Edit Property Dialog, 我們使用 `*` 顯示 password; 但在 Property View 裡並沒有使用 `*`:
![screenshot](https://user-images.githubusercontent.com/475186/76195372-1a217880-6223-11ea-95d1-4fc5c80519c5.jpg)

Please backport to 0.9.x

[2020-03-09 08:59] #4190 closed

[2020-03-09 09:36] chia7712 commented on #4237
thank all!

[2020-03-09 09:36] #4237 closed

[2020-03-09 09:39] jackyoh opened #4281 "Fix file doesn't exist for the ftp source connector"
目前在執行 performance 測試時當 task 設定成 3，ftp source connector 把資料寫入 topic 時有可能會出現以下的錯誤，會導致 ftp source connector 無法執行。錯誤訊息如下：

[code]

[2020-03-09 13:30] chia7712 opened #4283 "TopicPartition should implement toString()"
TopicPartition#toString is useful to debug :)

1. - [x] for 0.10.x (#4284)
1. - [x] for 0.9.x (#4291)

[2020-03-09 21:20] #4267 closed

[2020-03-09 21:52] konekoya opened #4286 "[Manager] 在 Create Pipeline 時, 若使用重覆的 name, 會在左下角顯示 "Failed to create pipeline XXX"."
在 Create Pipeline 時, 若使用重覆的 name, 會在左下角顯示 "Failed to create pipeline XXX".
比較好的做法應該是 Create Pipeline Dialog 時通知使用者修正. (0.10 only)

_Originally posted by @vitojeng in https://github.com/oharastream/ohara/issues/3706#issuecomment-596390469_

[2020-03-10 02:47] jackyoh opened #4289 "Remove hdfs package object for the HDFS sink connector"
目前 hdfs sink connector 的 hdfs package object 看起來是沒有用到了，因此需要移除掉。

[2020-03-10 02:47] vitojeng commented on #3706
目前 Metrics 開關, 似乎是所有 Pipeline 都共用同一組.
每個 Pipeline , 應該自己的 Metrics 開關, 預設是關.

[2020-03-10 03:24] vitojeng commented on #3706
討論: Pipeline componet name 目前只能小寫與數字.
使用者在想要以多個單字組合來命名時, 全部小寫會難以辦認, 可能需要討論如何修正.(0.10 only)

[2020-03-10 04:35] #4269 closed

[2020-03-10 05:01] chia7712 opened #4292 "fix flaky TestProducerToConsumer#testOffset"
[code]

the size of input data is 100 but we don't wait for the expected data from poll.

1. - [x] for 0.1.0.x (#4293)
1. - [ ] for 0.9.x (#4302)

[2020-03-10 05:20] chia7712 commented on #4281
考慮到我們並沒有lock file，因此檔案可能在loop過程中消失(各種原因)，我們應該要把此錯誤捕捉下來並且持續loop

[2020-03-10 05:21] chia7712 commented on #4281
[code]

應該在這邊加上catch

不過捕捉IllegalArgumentException實在太粗了，或許要加上一個我們自己的exception (例如NoSuchFileException)

[2020-03-10 05:25] chia7712 commented on #4274
thanks for this contribution!

[2020-03-10 05:25] #4274 closed

[2020-03-10 05:35] jackyoh commented on #4281
所以當發生了 NoSuchFileException 的 exception 之後，應該要把發生錯誤的檔案放回 queue 裡重新處裡。另外 FtpClient#fileType throw 的 exception 要改成 NoSuchFileException

[2020-03-10 05:43] chia7712 commented on #4281
應該是把錯誤捕捉下來log一下，然後繼續處理下一個檔案。

如果該檔案之後復活，會在下一次list裡面被找到並處理

[2020-03-10 05:47] jackyoh commented on #4281
了解，沒有被處裡的檔案之後會被處裡到，不用特別放在 queue 裡。那我嘗試來做此議題

[2020-03-10 05:55] #4289 closed

[2020-03-10 06:01] konekoya commented on #4232
Fixed in #4267

[2020-03-10 06:01] #4232 closed

[2020-03-10 06:05] konekoya commented on #4140
Fixed in #4227

[2020-03-10 06:05] #4140 closed

[2020-03-10 06:06] konekoya commented on #259
Everything is now rendered by definition. So UI is no longer hardcoding this

[2020-03-10 06:06] #259 closed

[2020-03-10 06:08] konekoya commented on #1632
Closed in #3157

[2020-03-10 06:08] #1632 closed

[2020-03-10 06:09] konekoya commented on #2317
No longer relevant

[2020-03-10 06:09] #2317 closed

[2020-03-10 06:11] konekoya commented on #2373
Fix in #3408

[2020-03-10 06:11] #2373 closed

[2020-03-10 06:12] konekoya commented on #3571
Fixed in #3466

[2020-03-10 06:12] #3571 closed

[2020-03-10 06:19] #1532 closed

[2020-03-10 06:23] konekoya commented on #3872
This will be fixed in the new API structure

[2020-03-10 06:23] #3872 closed

[2020-03-10 06:30] chia7712 commented on #4251
nice!

[2020-03-10 06:30] #4251 closed

[2020-03-10 06:44] #4261 closed

[2020-03-10 06:49] chia7712 commented on #3706
![註解 2020-03-10 125154](https://user-images.githubusercontent.com/6234750/76286936-451cd280-62de-11ea-8ba6-21378a685804.jpg)

(我好像之前回報過) unavailable nodes should NOT be selectable!

[2020-03-10 06:49] chia7712 commented on #3706
因為k8s對名稱有強烈要求，為了一致性所以讓所有物件都套用相同限制

[2020-03-10 06:53] chia7712 commented on #3706
![註解 2020-03-10 125154](https://user-images.githubusercontent.com/6234750/76287188-cecca000-62de-11ea-8a83-059cd2e16257.jpg)

確認一下，錯誤訊息跑到右上角是預期的行為嗎?

[2020-03-10 07:01] konekoya commented on #3706
Yep. This was recently changed in  #4268 :)

[2020-03-10 07:04] chia7712 opened #4294 "the data from inspecting topic should be in descending order"
we all love to see the latest data :)

1. - [x] for 0.10.x (#4300)
1. - [x] for 0.9.x (#4307)

[2020-03-10 07:21] konekoya opened #4296 "[Manager] Ensure that scrollbar position is correct when using React virtualize's scrollToIndex prop"

[2020-03-10 07:21] chia7712 commented on #3706
![註解 2020-03-10 125154](https://user-images.githubusercontent.com/6234750/76288883-d8580700-62e2-11ea-847b-8a7a23874e09.jpg)

欄位"c"跑版了

[2020-03-10 07:24] chia7712 commented on #4147
I guess the node hosting ftp server also run the ssh server and the error message is caused by unknown protocol. Hence, the error message is different from other port.

[2020-03-10 07:28] eechih opened #4297 "[Manager] Introduce redux to manage the state of application"
as title

[2020-03-10 07:29] eechih opened #4298 "[Manager] Introduce rxjs that makes it easier to compose asynchronous or callback-based code"
as title

[2020-03-10 07:30] saivirtue commented on #3706
IIRC, the "latest column" will align field to right.
/cc @konekoya Am I right?

[2020-03-10 07:34] #4283 closed

[2020-03-10 07:43] chia7712 commented on #3706
![註解 2020-03-10 125154](https://user-images.githubusercontent.com/6234750/76290286-ec513800-62e5-11ea-9ad1-2cba15313fda.jpg)

應該要禁止加入重複的節點

[2020-03-10 07:56] vitojeng commented on #3706
#### FtpSource Connector 沒有顯示 Nodes 資訊

* 1 個 workspace, 只有一個 pipeline.
* FtpSource Connector(A) --> Internal topic(B) --> ConsoleSink(C)
* 填入參數, 啟動成功. 等待一會兒, 出現 Metrics Panel
* 上傳 csv file, 確認 A,C 的 metrics 有正確顯示
* 發現 C 有 Nodes 資訊, 但 A 沒有.
* 觀察 Response, API(/connectors) 裡 A 的 taskStatus 是空的, C 的 taskStatus 有值

[2020-03-10 07:59] chia7712 commented on #3706
connector.state有值嗎? 這可能是開connector成功，但開task的時候失敗。可以看一下worker logs

[2020-03-10 08:06] vitojeng opened #4303 "FtpSource Connector 沒有顯示 Nodes 資訊"
#### FtpSource Connector 沒有顯示 Nodes 資訊

* 1 個 workspace, 只有一個 pipeline.
* FtpSource Connector(A) --> Internal topic(B) --> ConsoleSink(C)
* 填入參數, 啟動成功. 等待一會兒, 出現 Metrics Panel
* 上傳 csv file, 確認 A,C 的 metrics 有正確顯示
* 發現 C 有 Nodes 資訊, 但 A 沒有.
* 觀察 Response, API(/connectors) 裡 A 的 taskStatus 是空的, C 的 taskStatus 有值

_Originally posted by @vitojeng in https://github.com/oharastream/ohara/issues/3706#is

[2020-03-10 08:26] vitojeng commented on #4303
Log files:
[worker-node1.log](https://github.com/oharastream/ohara/files/4311093/worker-node1.log)
[worker-node2.log](https://github.com/oharastream/ohara/files/4311097/worker-node2.log)
[worker-node3.log](https://github.com/oharastream/ohara/files/4311098/worker-node3.log)

[2020-03-10 08:56] chia7712 commented on #4263
great!

[2020-03-10 08:56] #4263 closed

[2020-03-10 09:52] chia7712 commented on #4303
@@

[2020-03-10 11:53] #4292 closed

[2020-03-10 13:14] chia7712 commented on #4303
測試了一下，kafka的機制的確允許"connector"有狀態，但是task沒狀態，也就是connector啟動成功，但是task沒啟動

ping @oharastream/frontend

這可能跟UI流程有關係，因為connector的程式碼是使用者可以自訂，當出現connector有狀態但task沒狀態、或者是兩者狀態不一致(例如connector = running task=failed)的話，UI該如何顯示?

[2020-03-10 13:27] chia7712 opened #4304 "Return error message if fetch request is failed"
error message is better than nothing.

1. - [x] for 0.10.x (#4305)
1. - [x] for 0.9.x (#4317)

[2020-03-10 13:34] chia7712 commented on #4268
thanks for this one!

[2020-03-10 13:34] #4268 closed

[2020-03-11 00:50] saivirtue commented on #4303
需要考慮這種狀況此connector還算是正常啟動(Running)嗎?  還是屬於Pending?  抑或是Failed?
這兩個的排列組合都需要考慮，而UI應該要以一個欄位(例如`state`)來判斷此component顯示在Pipeline上的狀態。
比較建議能夠在後端就先將狀態機的邏輯考慮進去，這樣UI比較不會有不一致的顯示方式

[2020-03-11 01:31] vitojeng commented on #4303
ftp source connector "task 沒啟動" 這件事有點奇怪...因為在我測試的 case 裡 , 上傳一個 csv file, 是有被處理的: metrics 有資料, 而 file 也被移動到 completed folder.

[2020-03-11 02:58] konekoya commented on #3706
/cc @konekoya Am I right?

Right, but the cell data should also align to the right. I can submit a PR to fix this if you're busy with the API refactoring :)

[2020-03-11 03:01] chia7712 commented on #4303
這兩個的排列組合都需要考慮，而UI應該要以一個欄位(例如state)來判斷此component顯示在Pipeline上的狀態。
比較建議能夠在後端就先將狀態機的邏輯考慮進去，這樣UI比較不會有不一致的顯示方式

問題就在於我們要說一部分失敗是成功還是失敗？與其去武斷地亂猜，不如把正確的狀態顯示出來

[2020-03-11 03:02] konekoya commented on #4296
/cc @vitojeng and @saivirtue

[2020-03-11 03:02] chia7712 commented on #4303
你後面再丟檔案還會被移動嗎？

[2020-03-11 03:07] vitojeng commented on #3706
Node unavailable 時:
* NaN 應該顯示 `-`
* Status 按照其他的模式, 顯示 `Alive`(綠色) or `Dead`(紅色)

![screenshot 4](https://user-images.githubusercontent.com/475186/76378349-30951480-6388-11ea-84b6-ea7251a20fa9.jpg)

[2020-03-11 03:22] konekoya opened #4306 "[Manager] Ensure the alignment is correct in DevTools' topic panel"
![註解 2020-03-10 125154](https://user-images.githubusercontent.com/6234750/76288883-d8580700-62e2-11ea-847b-8a7a23874e09.jpg)

欄位"c"跑版了

_Originally posted by @chia7712 in https://github.com/oharastream/ohara/issues/3706#issuecomment-596940655_

- [x] 0.9 (#4309)
- [x] 0.10 (#4308)

[2020-03-11 03:23] konekoya commented on #3706
@chia7712 Thanks for reporting, I will look into it today :)

[2020-03-11 03:26] chia7712 commented on #4303
connector的案例特殊在於，它分成兩種角色 connector and task，所以從"旁觀者"的角度來看不能100%說下斷言task failed或是狀態不一致等等能否推論出狀態=xxx。這跟其他基於containers橫向擴充的元件不一樣，例如zk, bk, wk and stream這些因為橫向擴充的設計，我們從"物理"來看可以知道有一台活著就代表服務可以持續服務。

[2020-03-11 04:01] vitojeng commented on #4303
當時沒再測這部份. 剛才再重現了一次, 一樣的情況, 再丟第二個檔案.
 Connector 會處理: metrics 會更新並移動檔案.

[2020-03-11 04:06] saivirtue commented on #4303
因為UI上無法區分component之間的差異 (stream是屬於橫向擴充、connector是兩種角色)，狀態的顯示要一致才不會讓使用者誤會。
如果connector有這樣的狀況，是否我們把可以加入到Pipeline內的component都能有這樣的兩種角色?
我們可以在UI上針對這兩種不同的角色狀態來顯示，這樣未來在加入其他的component，也可以直接有一樣的邏輯

[2020-03-11 04:18] chia7712 commented on #4303
我們可以在UI上針對這兩種不同的角色狀態來顯示，這樣未來在加入其他的component，也可以直接有一樣的邏輯

你是希望API要一致吧? 如果是的話那這可以討論。反過來如果是希望架構一致的話...這就是很大的工程了 ㄎㄎ

[2020-03-11 04:18] chia7712 commented on #4303
Connector 會處理: metrics 會更新並移動檔案.

然後task依然沒有狀態?

[2020-03-11 04:24] saivirtue commented on #4303
是的XD

[2020-03-11 04:33] chia7712 commented on #4303
@saivirtue 就目前的設計來說，ConnectorInfo的狀態會有以下排列組合:

1. connector = running (第一層狀態) task = running (第二層的狀態)
2. connector = failed (第一層狀態) task == empty (第二層的狀態)

上述兩種目前的UI都已經可以處理了

3. connector = running (第一層狀態) task != running (第二層的狀態)

這一種則是我們要討論的，依照提到的API統一，或許我們就該把ConnectorInfo從
[code]

改成

[code]

也就是第一層顯示的是"總"狀態:

- state = running 當有任何一個connectorc或task是正在跑
- nodeNames = connector + task的節點總和

另外一個

[2020-03-11 05:08] saivirtue commented on #4303
看起來應該可行，但後端跟前端需要搭配修正。
可能需要另開一個issue來看其他人有沒有什麼想法

[2020-03-11 05:25] #4294 closed

[2020-03-11 05:48] vitojeng commented on #4303
是的. 剛才我再放了第三個檔案, 一樣會被處理. 但 `tasksStatus: []`

[2020-03-11 05:57] chia7712 commented on #4303
Could you call kafka APIs to see the status of tasks? https://docs.confluent.io/current/connect/references/restapi.html#get--connectors-(string-name)-status

[2020-03-11 05:58] chia7712 opened #4310 "Add the "aliveNodes" to ConnectorInfo to show the nodes hosting either connector or task"
@saivirtue 就目前的設計來說，ConnectorInfo的狀態會有以下排列組合:

1. connector = running (第一層狀態) task = running (第二層的狀態)
2. connector = failed (第一層狀態) task == empty (第二層的狀態)

上述兩種目前的UI都已經可以處理了

3. connector = running (第一層狀態) task != running (第二層的狀態)

這一種則是我們要討論的，依照提到的API統一，或許我們就該把ConnectorInfo從
[code]

改成

[code]

也就是第一層顯示的是"總"狀態:

- state = running 當有任何一個connectorc或task是正在跑
- nodeNames = connector + task的節點總和

另外一個

[2020-03-11 05:59] chia7712 commented on #4303
#4310

[2020-03-11 06:22] vitojeng commented on #4303
Kafka connect REST API can see the status of both connector tasks.

[2020-03-11 06:27] chia7712 commented on #4303
Could you share the response with me? thanks!

[2020-03-11 06:40] vitojeng commented on #4303
Sure
[code]

[2020-03-11 06:43] chia7712 commented on #4303
@vitojeng could you test configurator API also? ```GET v0/connectors```

[2020-03-11 06:59] chia7712 commented on #4303
@vitojeng 可能的原因是前端會把一些舊的runtime資訊貼到"settings"，導致後端在產生response的時候會讓舊的值覆蓋到新的runtime。因此這邊我會開一個議題來將邏輯改成"settings"會被"runtime"覆蓋

FYI @wu87988622

[2020-03-11 07:00] chia7712 opened #4312 "the fields in settings should NOT override runtime information"
as title. related to #4303

1. - [x] for 0.10.x (#4315)
1. - [x] for 0.9.x (#4324)

[2020-03-11 07:01] vitojeng commented on #4303
FYI
[connectors_api_response.txt](https://github.com/oharastream/ohara/files/4316509/connectors_api_response.txt)

[2020-03-11 07:02] konekoya opened #4313 "[Manager] Unavailable nodes should NOT be selectable"
![註解 2020-03-10 125154](https://user-images.githubusercontent.com/6234750/76286936-451cd280-62de-11ea-8ba6-21378a685804.jpg)

(我好像之前回報過) unavailable nodes should NOT be selectable!

_Originally posted by @chia7712 in https://github.com/oharastream/ohara/issues/3706#issuecomment-596930816_

- [x] 0.9 (#4316)
- [x] 0.10 (#4314)

[2020-03-11 07:22] konekoya commented on #3706
@vitojeng This will be fixed in #4313 :)

[2020-03-11 07:24] vitojeng commented on #3706
前幾天有遇到, 現在又遇到...但重現不出來 QQ
![screenshot 6](https://user-images.githubusercontent.com/475186/76392318-43b9db80-63ac-11ea-902f-df58736c9dd0.jpg)

[2020-03-11 07:24] konekoya commented on #3706
補充，嘗試刪除"多出來的節點":

刪除本尊 -> 成功
刪除複製人 -> 失敗，因為刪除的按鈕不能按

@chia7712 I'm unable to repro this. Adding two same name nodes is blocked by the APIs

[2020-03-11 07:25] chia7712 commented on #3706
I will report this issue if I find a way to reproduce this bug :)

[2020-03-11 07:37] chia7712 commented on #4225
@vitojeng Is this duplicate to #4303?

[2020-03-11 07:45] chia7712 commented on #4306
thanks!

[2020-03-11 07:45] #4306 closed

[2020-03-11 07:54] vitojeng commented on #4225
No.
This issue means if the connector starts, an error occurs from backend, we cannot find any hint in the Pipeline.

[2020-03-11 09:10] jackyoh opened #4318 "Remove prefix name for the OharaException implement"
ohara 的 package name 已經有 oharastream.ohara 了, 因此 exception implement 的 class name 可以把 Ohara prefix 的字串移除掉。

[2020-03-11 09:16] vitojeng commented on #4225
@eechih Can this issue assigned to you?

[2020-03-11 09:41] eechih commented on #4225
No problem

[2020-03-11 09:43] #4297 closed

[2020-03-11 09:51] #4304 closed

[2020-03-11 10:15] chia7712 commented on #4032
this is duplicate to #4310

[2020-03-11 10:15] #4032 closed

[2020-03-11 12:18] #4262 closed

[2020-03-11 14:54] chia7712 opened #4320 "remove nodeName from ConnectorInfo"
follow-up of #4340

- [x] [Manager] fix failed connector tests (#4360)

[2020-03-12 03:17] wu87988622 opened #4322 "[Manager] Refactor nodes API with Redux"

[2020-03-12 03:23] konekoya opened #4323 "[Docs] Add the missing instruction for installing python dependencies"
Prior to this [step](https://ohara.readthedocs.io/en/latest/contrib-docs/build_docs.html#build-docs), we should include a step to install dependencies from the `requirements.text`

[code]

- [x] 0.9 (#4328)
- [x] 0.10 (#4327)

/cc @vitojeng

[2020-03-12 03:35] konekoya commented on #4323
@vitojeng I can submit a PR for this as well as adding a link in the docs' home https://ohara.readthedocs.io/en/latest/ which links to the quickstart docs as we discussed yesterday :)

[2020-03-12 03:46] vitojeng commented on #4323
That's great, thanks @konekoya !

It should be better to add `--user` option.

[2020-03-12 06:18] chia7712 commented on #4257
@jackyoh Are you testing performance based on 0.10.0? If not, please backport this to 0.9.0

[2020-03-12 06:23] jackyoh commented on #4257
目前的 performance 測試是 base 在 0.10.0 上。因為這是 improve 設定參數的部份，不像是改 bug 所以我就先不 backport 回 0.9.0

[2020-03-12 06:25] chia7712 commented on #4278
@konekoya thanks for this improvement!

[2020-03-12 06:25] #4278 closed

[2020-03-12 06:25] chia7712 commented on #4257
got it. close this issue now :)

[2020-03-12 06:25] #4257 closed

[2020-03-12 06:28] jackyoh commented on #4257
Thank you.

[2020-03-12 06:37] vitojeng opened #4326 "Bintray has not been updated in a while."
https://bintray.com/beta/#/oharastream/ohara?tab=packages

It seems bintray has not been updated in a while.
Anyone knows the reason?

[2020-03-12 06:40] vitojeng commented on #4326
I try to develop my own stream and got the dependency broken path in the build.gradle

[2020-03-12 06:50] saivirtue commented on #4326
We have a task shoul be done in the release candidate steps:
[code]

[2020-03-12 06:58] vitojeng commented on #4326
For testing purpose, how can I append `SNAPSHOT` dependencies? (e.g. 0.10.0-SNAPSHOT, 0.9.0-SHOTSNAP)

[2020-03-12 09:53] chia7712 commented on #4323
nice improvement!

[2020-03-12 09:53] #4323 closed

[2020-03-13 02:23] jackyoh opened #4329 "Added K8S mode for the performance test"
目前 performance 的測試程式只有 docker mode, 因此需要新增 K8S mode 來確認 k8s 和 docker mode 的 performance 是否有差異。

[2020-03-13 05:59] #4281 closed

[2020-03-15 13:37] #4312 closed

[2020-03-15 13:38] #4310 closed

[2020-03-15 13:40] chia7712 commented on #4326
the binary uploaded should be immutable so the "SNAPSHOT" is NOT a good idea. Personally, the guys who are trying the latest code ought to download, build and install ohara manually.

[2020-03-15 13:41] chia7712 commented on #4303
@vitojeng #4312 is merged so please confirm this issue on the latest 0.9.x :)

[2020-03-15 14:18] chia7712 commented on #3019
@oharastream/developer

I will start the release of 0.9.0 if #4313 is merged. Feel free to raise objection :)

[2020-03-15 22:10] konekoya commented on #3019
#4313 is ready for 0.9. But 0.10's PR breaks some e2e tests due to the recent Manager's refactoring and structure changes. Should I just remove 0.10 from its task and so we can close the issue and ready for release?

[2020-03-16 01:08] saivirtue commented on #4034
Since we are working on #4131 and #4298, the structure of codebase will be changed after commit. I will close this issue and observe the flaky test in #4049

[2020-03-16 01:08] #4034 closed

[2020-03-16 01:22] vitojeng commented on #4326
got it, will build ohara manually.

[2020-03-16 01:22] #4326 closed

[2020-03-16 01:54] vitojeng commented on #4303
@chia7712 The REST API looks works fine.
But UI have an issue:
![screenshot 9](https://user-images.githubusercontent.com/475186/76716582-bdb2e180-676b-11ea-91ed-2c491209abb8.jpg)

Will create another issue.

[2020-03-16 01:54] #4303 closed

[2020-03-16 01:58] vitojeng opened #4332 "[Manager]Incorrect node items"
It seems there have too much node items.

![screenshot 9](https://user-images.githubusercontent.com/475186/76716582-bdb2e180-676b-11ea-91ed-2c491209abb8.jpg)

- [x]  0.9 #4337
- [ ]  0.10

[2020-03-16 02:00] vitojeng commented on #3019
@chia7712 Just raise #4332 , it would be better backport to 0.9.x

[2020-03-16 02:11] vitojeng commented on #4332
ping @wu87988622

[2020-03-16 02:37] wu87988622 commented on #4332
Thanks i will follow this issue

[2020-03-16 03:47] #4131 closed

[2020-03-16 03:56] vitojeng opened #4335 "Introduce maven plugin to build.gradle"
Use [maven plugin](https://docs.gradle.org/current/userguide/maven_plugin.html) to install jar to the local repository.

##### for example: install ohara-common-XXX.jar
[code]

##### install all jars
[code]

[2020-03-16 05:15] chia7712 commented on #3019
The fix ought to be in both 0.9.0 and 0.10.0 if it is a "bug" fix :)

[2020-03-16 07:25] jackyoh opened #4339 "[Question] Ohara 的 Row 物件有可能需要支援 length 方法"
目前 ohara 有支援 size 方法它可以讓我們知道 cell 總共有幾個，我覺得也需要支援 length 方法這樣我們就可以知道每一個 row 大約是幾 byte，這樣使用 Row 物件就可以不用另外去計算，每一個 row 使用多少的空間，增加使用上的方便性。

另外 performance 測試程式產生資料的部份目前也是用 Row 物件，如果有支援 length 方法。就可以不用在測試程式裡計算每一個 row 使用多少的空間

[2020-03-16 07:56] chia7712 commented on #4339
row is NOT immutable so the *size* of row CAN'T be cached. In other words, the method to get size of row is calculated each time. It seems to me adding such helper method is ok. However, the size of custom serialized object is hard to calculate. We can use sometime tool to traverse the object to sum all primitive fields but it is too expensive...

[2020-03-16 07:57] chia7712 commented on #4335
Does the plugin work well? If so, please close this issue :)

[2020-03-16 07:58] chia7712 commented on #4216
Could we close this issue as we have confirmed the performance issue?

[2020-03-16 08:10] vitojeng commented on #4335
Yes, the plugin work well. Close issue.

[2020-03-16 08:10] #4335 closed

[2020-03-16 08:12] jackyoh commented on #4339
我想得太簡單了以為只有 String 的長度計算，沒有考慮到 row 其實還可以接受一些自定義的序列化物件，這樣在計算 length 的難度就會增加而且不太確定是否會很佔資源。

有沒有推薦的工具或是 ohara 已經有使用的 library。 我來研究看看，如果太難我就先放棄這個議題。

[2020-03-16 08:21] jackyoh commented on #4216
小檔案會影響到 ftp source connector 的 performance，目前已經在 issue #4219 修改程式碼了，我先把此 issue 關閉。

[2020-03-16 08:21] #4216 closed

[2020-03-16 08:23] #3938 closed

[2020-03-16 08:48] saivirtue opened #4340 "[Manager] Adjust taskStatus structure of connector from API"
Related to #4310

[2020-03-16 09:10] jackyoh commented on #4339
之後會做有關於序列化的部份，在來做這個議題。我先把此議題關閉

[2020-03-16 09:10] #4339 closed

[2020-03-17 01:51] konekoya opened #4341 "[Manager] Address several security issues"
- [x] 0.9 (#4359)
- [x] 0.10 (#4361)

[2020-03-17 02:08] saivirtue opened #4342 "[Manager] Adjust typescript project structure"
Base on [TypeScript Deep Dive](https://basarat.gitbook.io/typescript/), we have following things to do:
- [x] re-compile in runtime both .js and .ts source code file (#4344)
- [x] remove duplicated Typescript library in client (#4376)
- [x] Use enum with static functions to refine the project
  - Type of SettingDef in RenderDefinition

[2020-03-17 02:20] #4318 closed

[2020-03-17 02:25] saivirtue opened #4343 "[Question] Should we disable "settings" of property before initialization component?"
See the following snapshot:
![image](https://user-images.githubusercontent.com/8088616/76815730-63805200-6839-11ea-8d51-fb4b3a21db63.png)

To reproduce:
1. create workspace => pipeline
2. drag any source, stream or sink component
3. click "settings" in the component after added (within 2 seconds, I guess)
4. show the above weird view

[2020-03-17 02:26] saivirtue commented on #4343
ping @oharastream/frontend

[2020-03-17 03:11] konekoya commented on #4343
Not sure if it's a 0.10's specific one. Will need to look into it :)

[2020-03-17 04:26] chia7712 commented on #4332
@wu87988622 for 0.9.0 only?

[2020-03-17 05:33] wu87988622 commented on #4332
- [ ]0.9  #4337
- [ ] 0.10

[2020-03-17 05:35] wu87988622 commented on #4332
還有 0.10 要等另一隻，等pr上去會再標記，感謝

[2020-03-17 05:40] chia7712 commented on #4343
@@

[2020-03-17 05:45] chia7712 opened #4346 "add "nodeMetrics" instead of "metrics" to display metrics of each node"
Currently, the metrics in different task/partition are merged into single field. It is wrong since not all number is able to be sum up.

before
[code]

after
[code]

[2020-03-17 05:56] #4313 closed

[2020-03-17 06:11] eechih opened #4347 "[Manager] Use redux to refact the worker, broker and zookeeper context"
as title

[2020-03-17 06:21] saivirtue commented on #4340
/cc @chia7712
Front-end is ready to accept new structure :)

[2020-03-17 06:21] #4340 closed

[2020-03-17 06:24] jackyoh opened #4349 "[Question] 確認 UI 在 upload file 之後建立 worker 時是使用 sharedJarKeys 還是 pluginKeys"
目前使用 UI 的方式測試 jdbc source connector，在啟動 connector 時會收到以下的 exception:
[code]

這個 exception 看起來是載入不到 mysql 的 jdbc driver，後來我這邊測試使用以下的 worker API 來建立 worker:
[code]
JDBC Source Connector 有成功的載入到 mysql 的 jdbc driver, 因此想確認前端在建立 worker 時，如果有用到第三方 jar 的部份時是使用 sharedJarKeys 還是 pluginKeys？

sharedJarKeys 會把 jar 檔 download 到 worker container 的 /home/ohara/default/libs/ 資料夾路徑
pluginKeys 會把 jar 檔 download 到

[2020-03-17 06:35] saivirtue commented on #4349
我們要如何區分Jar要上傳到sharedJarKeys還是pluginKeys?

[2020-03-17 06:47] chia7712 commented on #4349
讓使用者自己去選 我們給足夠的說明就好

[2020-03-17 07:01] jackyoh commented on #4349
這個問題會牽涉到 UI 流程的修改，因此在 0.9 版使用簡單的方式來解決，就是直接寫個說明，如果要使用官方的 jdbc source connector 需要重新打包把 jdbc source connector 和 database driver 的 jar 檔包在一起才可以使用，希望在 0.10 的版本能做 UI 的調整，不然使用 jdbc source connector 會很不方便。

另外我在想，使用 stream 如果有使用第三方的 jar 檔，如果沒有打包在一起也應該會遇到相同的問題，因此我覺得這個問題的優先權可以放前面一點

[2020-03-17 07:09] chia7712 commented on #4340
@saivirtue thanks for this migration!

the follow-up is #4320

[2020-03-17 07:19] saivirtue opened #4350 "[Manager] Cannot fetch manager info from API in container"
Thanks @konekoya for finding this!

[2020-03-17 07:22] konekoya opened #4351 "[Manager] Use the correct definition from stream to render Property dialog"
We're now using the default definition from stream jar to render the form, so say if a user customize the stream jar and add new definitions. We will still render the default definition

- [x] 0.9 (#4358)
- [x] 0.10 (#4357)

[2020-03-17 07:23] konekoya commented on #4351
@chia7712 This is a critical issue, so I will backport this :)

[2020-03-17 07:23] chia7712 commented on #4349
這個我之前在會議上提出來討論過，當時我提說要讓stream能接受"多個"jars，不過大家的結論是要保持現在的樣子就是只支援"單一"的jar

如果我們現在有一個強力的例子，或許可以再討論一次是否要讓stream支援多個jars

FYI @vitojeng

[2020-03-17 07:48] chia7712 opened #4353 "update scala from 2.12.10 to 2.12.11"
the release notes of 2.12.11 is https://github.com/scala/scala/milestone/84?closed=1

[2020-03-17 08:54] chia7712 opened #4355 "remove duplicate code of uploading binary"
the code of uploading binary is in root/build.gradle.

1. - [x] for 0.10.0 (#4356)
1. - [x] for 0.9.0 (#4362)

[2020-03-17 12:10] #4341 closed

[2020-03-17 15:42] #4353 closed

[2020-03-17 15:47] chia7712 opened #4363 "update kafka from 2.4.0 to 2.4.1"
as title :)

[2020-03-17 18:23] chia7712 opened #4364 "add label to intermediate image used by multi-stage build to enable jenkins to remove the unused images precisely"
inspired by https://github.com/moby/moby/issues/34513#issuecomment-389250632

all images in ohara are built by multi-stage and the intermediate images damages our space. However, jenkins can't just remove intermediate images since those images may be used by other jobs. Deleting them will break other build from other jobs. The solution from https://github.com/moby/moby/issues/34513#issuecomment-38

[2020-03-17 19:38] #4364 closed

[2020-03-18 02:46] #4355 closed

[2020-03-18 04:14] #4351 closed

[2020-03-18 04:23] chia7712 commented on #3706
@oharastream/frontend Is there a issue ?

[2020-03-18 04:25] chia7712 commented on #3019
I'm going to update the version to 0.9.0 if all tests pass again :)

[2020-03-18 04:54] konekoya opened #4368 "[Manager] The node state display in the node list should have the same style in node detail view"
See https://github.com/oharastream/ohara/issues/3706#issuecomment-597421141

[2020-03-18 04:55] konekoya commented on #3706
Fixed in #4313 :)

Tracked in #4368

[2020-03-18 06:07] chia7712 commented on #3706
all issues are resolved so close this issue now.

feel free to raise issue on #3019

FYI @oharastream/developer

[2020-03-18 06:07] #3706 closed

[2020-03-18 06:26] #4350 closed

[2020-03-18 06:52] #4363 closed

[2020-03-18 07:17] chia7712 opened #4372 "replace gradle-5.6.4-bin.zip by gradle-5.6.4-all.zip to include gradle sources and documentation"
The source code and document helps us to trace our code of exercising gradle :)

1. - [x] for 0.10.0 (#4373)
1. - [x] for 0.9.0 (#4374)

[2020-03-18 07:20] saivirtue commented on #4372
Seems identical gradle version?

[2020-03-18 07:21] chia7712 commented on #4372
my bad :(

the title is updated

[2020-03-18 07:40] #4372 closed

[2020-03-18 07:44] konekoya opened #4375 "[Manager] Fix the security alert coming from minimist"
Detail can be found here: https://app.snyk.io/vuln/SNYK-JS-MINIMIST-559764

[2020-03-18 07:45] konekoya commented on #4375
/cc @chia7712 :)

[2020-03-18 09:45] vitojeng commented on #4349
目前安排的考慮因素還是在 priority, 在可以用 uber jar 這個暫解的情形下, 這個工作的 priority 相對會比較低. 不過我想可以找時間討論, 看何時安排 wireframe 設計, 再另外視 priority 來安排實作.

[2020-03-18 12:49] chia7712 opened #4377 "Substitute com.jfrog.bintray for com.novoda:bintray-release"
```com.novoda:bintray-release``` does not work on the gradle 5.6 so I'm going to replace it by com.jfrog.bintray. com.jfrog.bintray is official plugin and works well with gradle now.

1. - [x] for 0.10.0 (#4385)
1. - [x] for 0.9.0 (#4379)

[2020-03-18 13:15] chia7712 opened #4378 "TestWithDefinitions does not extend OharaTest"
as title

1. - [x] for 0.10.0 (#4381)
1. - [x] for 0.9.0 (#4380)

[2020-03-19 00:58] vitojeng commented on #4343
這個在 0.9.x 我有遇到過...不過當時無法重現

[2020-03-19 02:19] eechih opened #4382 "Ohara 0.10.0 Release"
## 1. Schedule
🚴‍♂️  Start 2020/03/16 (Mon.)
❄️  Frozen: 2020/04/30 (Thu.)
🐞  Testing & Fix bug: 2020/05/04 (Mon.) ~ 2020/05/27 (Wed.)
🎉  Release: 2020/05/28 (Thu.)

## 2. Need To Be Done
### Backend

1. - [x] Enable Ohara Volumn: Zookeeper & Broker (#4460)(70%)
1. - [x] Connector support exactly once: all Ohara connectors (#4457)(80%)
1. - [x] Enable Shabondi(#3022)(100%)
1. - [x] Upgrade kafka f

[2020-03-19 03:15] jackyoh opened #4383 "[Question] 是否要增加 ohara connector 的整合測試程式"
目前的 connector 整合測試程式有 JDBC Source Connector, Json in/Json out 和 Samba source/sink Connector(使用 With3Brokers3Workers)。還少了 ftp source/sink connector, hdfs sink
connector 的整合測試, 在之後 ohara 會做 connector 的 exactly once 因此是否要把漏掉的 connector 整合測試補齊？

[2020-03-19 03:35] eechih opened #4384 "[Manager] Introduce Redux-Form instead of Final-Form"
as title

[2020-03-19 04:17] #4378 closed

[2020-03-19 06:01] #4347 closed

[2020-03-19 06:21] chia7712 opened #4386 "change 0.9.0 to 0.9.1-SNAPSHOT for 0.9.x branch"
follow-up of #3019

[2020-03-19 06:36] #4377 closed

[2020-03-19 06:42] vitojeng opened #4388 "Display version and branch in the footer of document"
![screenshot 10](https://user-images.githubusercontent.com/475186/77040182-65414580-69f2-11ea-950e-1261b433aba5.jpg)

- [x] 0.9.x(#4389)
- [x] 0.10.x(#4390)

[2020-03-19 07:47] #4388 closed

[2020-03-19 08:04] konekoya opened #4391 "[Manager] Fix cypress is not able to be downloaded issue"
- [x] 0.9 (#4394)
- [x] 0.10 (#4392)

/cc @chia7712

[2020-03-19 08:09] chia7712 commented on #4391
@konekoya please share root cause to us :)

[2020-03-19 08:16] chia7712 opened #4393 "the JAVA_HOME in dockerfile should reference to jdk rather than jre"
The JAVA_HOME is used by gradle only that the JRE is enough. However, the JRE home may confuse other process which demand JDK env.

[2020-03-19 08:18] chia7712 commented on #4393
My bad :)

the deps.dockerfile has corrected this issue.

[2020-03-19 08:18] #4393 closed

[2020-03-19 08:19] konekoya commented on #4391
I'm not entirely sure yet... It seems like some people does suffer from this issue but got away with different solutions.

https://github.com/cypress-io/cypress/issues/6315
https://github.com/cypress-io/cypress/issues/4883

For us, I'm upgrading cypress and it seems fixed the issue 🤷‍♂

[2020-03-19 08:21] vitojeng commented on #4391
@chia7712 看起來 0.9.0 tag 己經建立了? 請問這個有影響到 release 0.9.0 嗎?

[2020-03-19 08:33] chia7712 commented on #4391
整個卡住喔 因為下載cypress會噴掉導致無法建立images

[2020-03-19 10:24] #4391 closed

[2020-03-19 13:04] chia7712 commented on #4383
totally agree!

[2020-03-19 13:55] jackyoh commented on #4383
OK, 我來實作。

[2020-03-19 14:36] eechih opened #4395 "[Manager] Migrate useRedirect() to Redux"
as title

[2020-03-20 01:02] saivirtue opened #4397 "[Manager] Migrate UI to redux with rxjs"
This is a root issue to trace the following tasks must be done:
- [ ] [Manager] Migrate DevToolDialog to redux with rxjs
- [x] [Manager] Migrate EventDialog to redux with rxjs (#4430)
- [ ] [Manager] Migrate topic to redux with rxjs

[2020-03-20 01:42] eechih opened #4398 "[Manager] Refactor CreateWorkspace component to use Redux-Form"
as title

[2020-03-20 01:45] eechih commented on #4221
Resolved by #4395

[2020-03-20 01:45] #4221 closed

[2020-03-20 02:21] #4395 closed

[2020-03-20 02:23] #4384 closed

[2020-03-20 03:32] eechih opened #4400 "[Manager] Remove NewWorkspaceContext"
as title

[2020-03-20 05:45] wu87988622 opened #4403 "HTTP response should have a more friendly status code"
In manager, we need a clearer status code to judge the problem.

- [ ] frontend
- [ ] backend

[2020-03-20 05:47] chia7712 commented on #3019
@oharastream/frontend Do you resolve the version issue? IIRC, you encountered that Ohara Manager fails to get the version file from the distribution files?

[2020-03-20 05:52] vitojeng commented on #4403
Any usability improvement is very welcome. :)

[2020-03-20 06:00] konekoya commented on #3019
It was resolved by @saivirtue but we didn't plan backporting to 0.9.

[2020-03-20 06:05] chia7712 commented on #4350
It seems to me this should be backport to 0.9.0. Also, it would be better to make sure the version file is existent in the distribution file rather than docker image.

[2020-03-20 06:06] chia7712 commented on #3019
blocked by #4350

[2020-03-20 06:15] chia7712 opened #4404 "The version file is not existent from ohara-manager.tar"
as title.

related to #4350

blocks #3019

FYI @oharastream/frontend

1. - [x] for 0.10.0 (#4413)
1. - [x] for 0.9.0 (#4408)

[2020-03-20 06:15] saivirtue commented on #4350
It's your call, boss :)

More explanation?

[2020-03-20 06:16] chia7712 commented on #4350
Currently, the version file exists only in the docker image. Users CAN'T see it from the distribution of ohara-manager. Hence, users can't get version info if they enter ```ohara.sh -v```.

[2020-03-20 06:17] chia7712 commented on #4350
I have filed a ticket #4404

[2020-03-20 07:15] jackyoh opened #4406 "Added fileNameCacheSize parameter for the performance test"
目前已經在 CsvSourceTask 實做 fileNameCacheSize，避免每次執行到 connector 的方法就呼叫 file system 的 list 方法。在 performance 的 source connector 測試程式要加入此參數，才能在執行 performance 測試程式前做設定。

[2020-03-20 07:41] chia7712 opened #4407 "Rename ohara-stream"s" to ohara-stream"
#3280 removed the postfix "app" to get better naming. However, the name conflict is still exist since both "streams" and "stream" are across whole project. For example:

1. oharastream/stream:xxx
1. stream.dockerfile
1. ohara-streams
1. oharastream.ohara.streams

@oharastream/developer Could we unify the naming? stream or stream"s"?

Votes pass: stream**s** -> stream

I tries to minimize the chang

[2020-03-20 07:44] konekoya commented on #4407
+1 for stream

[2020-03-20 07:49] saivirtue commented on #4407
For 1 and 2, the stream means the **stream component**; It is identical to other components in pipeline.
For 3 and 4, the streams means **package name**

I think the problem is if we change 3 and 4 to stream, it will look a little weird:
`oharastream.ohara.stream`

[2020-03-20 07:56] chia7712 commented on #4407
oharastream.ohara.stream

the weird thing is that "stream" is just a part of "ohara" but we put it on our "org" ...

```oharastream.ohara.streams``` is weird also. Hence, I want to focus on the "stream" and streams" in this issue.

[2020-03-20 07:57] eechih opened #4409 "[Manager] Refactor WorkspaceQuick and rename to CreateWorkspace"
as title

[2020-03-20 07:59] saivirtue commented on #4407
Until we find a better naming of "our stream component", I vote to **stream**

[2020-03-20 08:00] vitojeng commented on #4407
It's really hard to choice for me... 😄

I would pick `stream` if we need to choice one.

[2020-03-20 08:01] chia7712 commented on #4407
the reason I want to unify the naming is that I tried to build/push a incorrect image ```oharastream/streams:0.9.0``` ...

[2020-03-20 08:03] #4400 closed

[2020-03-20 08:04] vitojeng commented on #4407
Does we should backport to 0.9.x ?

[2020-03-20 08:06] saivirtue commented on #4407
In #3280 😆

[2020-03-20 08:07] chia7712 commented on #4407
As the name "stream" means the code paths are changed, the backport is necessary for bug fixes in the future.

[2020-03-20 08:13] vitojeng commented on #4407
This is a break change for the user who write their own **stream** .
/cc @chuntsekevin

[2020-03-20 08:26] konekoya opened #4412 "[Manager] Refactor files API to use the new architecture"

[2020-03-20 08:56] #4409 closed

[2020-03-20 09:17] jackyoh commented on #4407
+1 for stream

[2020-03-20 09:21] eechih commented on #4407
stream +1

[2020-03-20 10:15] #4406 closed

[2020-03-20 16:34] #4404 closed

[2020-03-20 16:35] chia7712 commented on #4407
thank all, let me complete this issue asap

[2020-03-21 17:55] #4407 closed

[2020-03-21 18:20] chia7712 opened #4416 "the scala version used to build connectors should be equal to kafka"
![註解 2020-03-22 021544](https://user-images.githubusercontent.com/6234750/77233537-11498300-6be3-11ea-8680-f37a68f67059.jpg)

the default scala version in ohara is updated to scala 2.12.11 (see #4353) but the kafka code used to run official connectors is 2.12.10 (see https://github.com/apache/kafka/blob/2.4.1/gradle/dependencies.gradle#L33). To put it another way, they are compiled with 2.12.11 fr

[2020-03-21 23:35] jackyoh commented on #4416
這個議題看起來是 ohara 的 scala 版本升級到 2.12.11 之後，但是 kafka 的 scala 的版本沒有 2.12.11，而造成 scala compiler 和 runtime 版本不一致的問題。

那如果把 ohara 的版本升級到 2.13.1 還會有 compiler 和 runtime scala 版本不一致的問題嗎？

[2020-03-22 04:51] chia7712 opened #4417 "Shabondi image ought to show the ohara version by entering command "-v""
Other ohara images support to show the version details by command "-v".

this issue is NOT backport to 0.9.0 since shabondi is in progress.

[2020-03-22 11:02] #3019 closed

[2020-03-22 14:01] eechih opened #4419 "[Manager] Introduce react-redux instead of redux-react-hook"
為了讓 redux-form 能順利 connect to store，因此改用 react-redux。

[2020-03-22 15:22] chia7712 commented on #4416
Currently, we follow the scala minor version of kafka :)

I have test a lot of function for our images and they work well. I'm going to close this issue as the is jdk 8 issue (see https://bugs.openjdk.java.net/browse/JDK-8161588).

[2020-03-22 15:22] #4416 closed

[2020-03-22 17:27] #4386 closed

[2020-03-23 01:41] #4419 closed

[2020-03-23 01:42] eechih opened #4421 "[Manager] fix flaky api test of stream"
as title

/cc @saivirtue

[2020-03-23 02:44] vitojeng commented on #4417
Thanks @chia7712 !

[2020-03-23 05:29] saivirtue commented on #4421
It looks like the API tests failed in #4420 was using a stale version of configurator image.
We can track this issue in another PR and see if the flaky tests still existed.

[2020-03-23 06:03] chia7712 commented on #4320
the flaky is fixed so close this issue :)

[2020-03-23 06:03] #4320 closed

[2020-03-23 06:04] chia7712 commented on #4116
this is included by #4346

[2020-03-23 06:04] #4116 closed

[2020-03-23 06:06] chia7712 commented on #4403
@wu87988622 Could you share the cases to us?

[2020-03-23 06:24] chia7712 opened #4422 "the main class of shabondi does not exist"
[code]

#4046 had removed oharastream.ohara.shabondi.Boot and the replacements are oharastream.ohara.shabondi.source.Boot and oharastream.ohara.shabondi.sink.Boot

[2020-03-23 06:44] vitojeng commented on #4422
Thanks for reporting.
This is known issue... QQ

[2020-03-23 07:30] #4417 closed

[2020-03-23 10:09] chia7712 opened #4425 "add IT to confirm that all ohara images support "-v""
Testing "-v" one by one is too verbose to me and so I plan to add IT to simplify RM life...

1. - [x] TestVersionFile should check the format instead of revision (#4446)

[2020-03-24 02:29] wu87988622 commented on #4403
ok

[2020-03-24 03:00] wu87988622 commented on #4403
已更新，感謝。

[2020-03-24 03:16] chia7712 commented on #4403
@wu87988622 thanks for the updates. Could you share the case of requesting Configurator? For example, the APIs inspires you to file this ticket?

[2020-03-24 03:38] chia7712 commented on #4346
@oharastream/developer I'm going to change *metrics* from single element to array. For example,

[code]
[code]

I try to keep the compatibility but I have no idea about better naming. WDYT? metrics -> ???

[2020-03-24 04:29] saivirtue commented on #4346
`nodeMetrics` seems understandable to me, so I vote up.

[2020-03-24 07:21] konekoya opened #4427 "[Manager] Pipeline should able to use a jar that contains multiple classes"
And for stream we should use the correct class key in order to successfully create the stream

The key should be renamed from `connector.class` to `className`

[2020-03-24 07:44] vitojeng commented on #4346
`nodeMetrics` is great

[2020-03-24 07:58] konekoya opened #4428 "[Manager] Refactor streams API to use the new architecture"

[2020-03-24 08:11] chia7712 opened #4429 "[STREAM] Rename "className" to "stream.class""
Kafka connector uses "connector.class" as key so let us follow the naming rule.

[2020-03-24 08:12] chia7712 commented on #4429
@oharastream/frontend FYI

[2020-03-24 11:20] chia7712 opened #4431 "[GRADLE] test task should NOT depend on source jar and doc jar"
source jar and doc jar are useless in testing so we should skip to build them.

1. - [x] for 0.10.0 (#4432)
1. - [x] for 0.9.1 (#4433)

[2020-03-24 12:50] chia7712 commented on #4431
I noted this issue when tracing the lock issue caused by ```gradle docJar```. By removing useless dependencies, the lock issue is resolved also. Not sure the root cause but I have no time to trace it :(

[2020-03-24 16:45] #4431 closed

[2020-03-24 17:06] chia7712 opened #4434 "remove "metrics" from Stream, Connector, Pipeline and Topic endpoints"
follow-up of #4346

[2020-03-24 17:10] chia7712 opened #4435 "remove unused tools in backend image"
[code]

the dependencies works for mysql but it is not included by backend image.

[2020-03-25 02:16] #4342 closed

[2020-03-25 02:18] wu87988622 opened #4438 "Encapsulate Axios as observers that rxjs can use"

[2020-03-25 03:31] jackyoh opened #4439 "Added junit parameter to run K8S and docker integration test"
目前整合測試的 WithRemoteConfigurator 只有 docker mode 的測試，因此需要使用 junit 的 parameter 增加 K8S 的測試。

[2020-03-25 03:38] chuntsekevin opened #4440 "[Question] Upload Streams problem"
I use the latest ohara stream 0.9.0 docker mode . Face the same issue in #4083.
I can't use the streams in pipeline after uploaded.

[2020-03-25 03:54] saivirtue commented on #4440
Do you rebuild your jar by the latest version?
Since #4407 is a breaking change for the package name

[2020-03-25 04:00] chuntsekevin commented on #4440
Got it ! Thanks
It seems that's the reason.

[2020-03-25 04:00] #4440 closed

[2020-03-25 05:22] chia7712 opened #4441 "the acceptable characters for group and name should be number, lowercase alphanumeric characters, or ‘.’"
Group and Name are the index of object in ohara but Kafka does not support "group". Hence, we generate "kafka name" by concatenating group and name.
[code]
The above object has kafka name called "g-n".

The way we generate kafka name has a issue is we can't extract "group" from the kafka name correctly if the group includes character "-".

I remove the 0.9.1 since this change break the compatibili

[2020-03-25 05:24] chia7712 commented on #4441
@oharastream/developer any suggestions?

"-" is still supported by the "name" field so it seems to me removing it from "group" field should be fine.

[2020-03-25 05:39] jackyoh commented on #4441
這個議題看起來像是 group 沒辦法接受 - 符號，因為在 parser 的時候沒辦法辨認出 name 的開頭在哪。

+1

[2020-03-25 05:46] saivirtue commented on #4441
I am surprised we still support "dash" in name field, since we only support [a-z0-9] in UI...

Do we have a use case needs to extract group?

[2020-03-25 08:30] chia7712 opened #4443 "[GRADLE] the command "build" should invoke compile task for test code"
#4431 remove the duplicate tasks from building. Unfortunately, the build of test code was removed as well. The downside is that the compiler error caused by test code is ignored when running ```gradle clean build``` ...

1. - [x] for 0.10.0 (#4444)
1. - [x] for 0.9.0 (#4445)

[2020-03-25 08:32] wu87988622 commented on #4332
0.10 is fix in #4322

[2020-03-25 08:32] #4332 closed

[2020-03-25 08:33] #4322 closed

[2020-03-25 10:35] chia7712 commented on #4425
reopen to stabilize this test

[2020-03-25 11:58] #4443 closed

[2020-03-25 16:40] #4425 closed

[2020-03-26 02:03] #4053 closed

[2020-03-26 06:18] #4329 closed

[2020-03-26 07:33] #4412 closed

[2020-03-26 09:22] #4435 closed

[2020-03-26 09:23] #4346 closed

[2020-03-26 09:24] chia7712 commented on #4346
@oharastream/frontend Please link the issue of applying "nodeMetrics" to this one :)

[2020-03-26 11:59] #4429 closed

[2020-03-26 12:01] chia7712 commented on #4441
Converting the kafka data to ohara data need to extract group. for example, metrics, topic information and connector information.

[2020-03-26 13:37] jackyoh commented on #4441
昨天我忘記說到 K8S 的 pod name 不支援底線。

https://kubernetes.io/zh/docs/concepts/overview/working-with-objects/names/

[2020-03-26 14:04] chia7712 commented on #4441
Could you file a ticket for this case?

[2020-03-26 15:53] jackyoh commented on #4441
底線拿來內部使用我覺得可以，那之後的版本還會做修改嗎？因為感覺上會遇到版本相容性的問題。

[2020-03-26 16:29] chia7712 commented on #4441
當然就不能改了XDDD

[2020-03-27 00:36] vitojeng commented on #4441
是否可以將 name & group naming rule 寫入 api docs 裡?

[2020-03-27 02:07] chia7712 commented on #4441
Sure

[2020-03-27 06:22] wu87988622 opened #4452 "[Manager] Refactor connector API to use the new architecture"

[2020-03-27 06:50] chia7712 commented on #4441
測試了一下，

1. k8s不支援底線"_"
1. 但我們需要"-"來組合字串(原因同上)

綜合上述，等同於"-"和"_"都應該要禁止...

另外k8s支援dot "."，或許我們應該開放這個，一來"."也是常用字符、二來在使用hostname的時候"."很常出現...

[2020-03-27 06:50] chia7712 commented on #4441
ping @oharastream/developer for more suggestions :)

[2020-03-27 07:05] jackyoh commented on #4441
點有可能會跟 hostname 有衝突

[2020-03-27 07:13] chia7712 commented on #4441
hoatname不是常常會使用"."嗎?

[2020-03-27 07:25] jackyoh commented on #4441
hostname 常常用點來命名。其他內部的地方應該就不能用到點了，因為 parser 會找不到正確的位置。

[2020-03-27 07:42] jackyoh opened #4453 "[Question] K8SClient 是否要支援啟動 Ohara Configurator"
目前 Ohara 的 Configurator service 是使用 Docker Client 在啟動 container。因為 K8SClient 和 DockerClient 是使用同一個 ContainerClient 的 interface, 所以理論上 configurator 的 container
應該也可以使用 K8SClient 來建立。

目前我有測試使用 K8SClient 來建立 configurator 的 container, 在建立的過程中會收到 no such file or directory: unknown。因為目前 configurator 都是用 docker client 來執行，所以不太確定是否要來解這個問題

[2020-03-27 08:20] chia7712 commented on #4441
你說的沒錯，我的意思是把"."開放給使用者，然後把"-"和"_"收回來做為內部使用

[2020-03-27 08:27] jackyoh commented on #4441
OK, 了解。

[2020-03-27 08:45] saivirtue opened #4455 "[Manager] Apply "nodeMetrics""
This is the follow-up of #4346

[2020-03-27 08:49] saivirtue commented on #4441
+1

[2020-03-27 08:56] wu87988622 commented on #4441
+1

[2020-03-27 08:59] eechih commented on #4441
+1

[2020-03-27 09:19] konekoya commented on #4441
+1

[2020-03-27 09:20] konekoya opened #4456 "[Manager] Migrate context API to Redux + RxJS architecture"
- [x] [Manager] Refactor files API to use the new architecture (#4412)
- [x] [Manager] Refactor streams API to use the new architecture (#4428)
- [x] [Manager] Refactor connector API to use the new architecture (#4452)
- [x] Encapsulate Axios as observers that rxjs can use (#4438)
- [x] [Manager] Migrate DevToolDialog to redux with rxjs (#4499)
- [x] [Manager] Migrate EventDialog to redux with rxj

[2020-03-27 09:22] konekoya commented on #4456
👋 Frontenders, could you add your migration tasks in the description? Even if it's finished. Many thanks!

[2020-03-27 09:25] konekoya commented on #4456
/cc @chia7712

[2020-03-27 09:29] jackyoh commented on #4441
+1

[2020-03-27 09:30] chia7712 commented on #4456
@konekoya thanks for this ticker :)

[2020-03-27 13:28] vitojeng commented on #4441
+1

[2020-03-28 06:38] #4441 closed

[2020-03-28 13:24] chia7712 opened #4457 "Exactly once on official connectors"
This issue is a umbrella ticket that we are going to go through all official connectors for the "exactly once" function.

The official connectors are shown below.

1. ftp connector
1. smb connector
1. hdfs connector
1. jdbc connector
1. json connector
1. perf connector
1. console connector

Except for json, perf and console connector, others connectors fetch/push data to external storage so we hav

[2020-03-28 13:24] chia7712 commented on #4457
FYI @vitojeng

[2020-03-30 01:13] vitojeng commented on #4457
Cool~ Thanks @chia7712 !

[2020-03-30 02:36] jackyoh commented on #4457
我做完 issue #4439 之後，就會來做 description  第二項 jdbc 的部份

[2020-03-30 03:24] eechih opened #4459 "[Manager] When creating a new workspace, upload the required files"
as title

inspired by #4398

[2020-03-30 05:45] chia7712 opened #4460 "Introduce Ohara Volume (chapter 0)"
We all love stateless services but there is no rule without an exception. Both of Zookeeper and Broker service plays as storage to Ohara and we can't, unfortunately, keep the data consistently. This issue is about to include the container volume to ohara object that users are able to configure the volume and then mount it on specify services. Those volumes are alive until users kill them manually.

[2020-03-30 07:07] saivirtue commented on #4397
Close this issue since it's duplicated to #4456

[2020-03-30 07:07] #4397 closed

[2020-03-30 08:14] #4438 closed

[2020-03-30 12:16] jackyoh opened #4462 "NodesField.js 找不到 useNodeState context"
目前 jenkins 在 build code 時會收到以下的錯誤訊息：
[code]

FYI @oharastream/frontend

[2020-03-30 12:39] eechih opened #4463 "[Manager] Fix flaky NodesField 'useNodeState' is not exported from 'context'"
as title

[2020-03-30 12:49] eechih commented on #4462
@jackyoh Thanks for the reporting, I will fix it  :)

related to #4463

[2020-03-30 12:49] #4462 closed

[2020-03-30 13:07] jackyoh commented on #4463
Thank you.

[2020-03-30 13:08] eechih opened #4465 "[Manager] Fix the React warnings for createWorkspace"
as title

[2020-03-30 16:23] chia7712 commented on #4463
I build manager image on my local. works well :)

@eechih thanks for this pathc!

[2020-03-30 16:35] chia7712 commented on #4453
@jackyoh any update?

[2020-03-30 16:58] chia7712 commented on #4349
補充一下一個重點:

因為我們官方的jdbc connector預期上是讓使用者"不用"改任何程式碼就能使用，因此現在UI限制導致使用者必須去壓uber jar是不太合理的事情，就這一點或許我們可以把priority稍微往上調一點

[2020-03-30 23:31] vitojeng commented on #4349
+1
補充一下, 我先前說 priority 較低的想法是針對 "是否要讓stream支援多個jars"的部份. 而我們先前也尚未規劃要進行這部份.

對於 connector, 贊成 @chia7712 的想法. 這是我們原本就應該要做到的部份. 是我對這個 issue 誤解了.

[2020-03-30 23:40] vitojeng commented on #4453
Question: 如果 configurator 能以 k8s 啟動, 是否意謂著未來 manager 可以做到透過 k8s api 啟動 configurator?

[2020-03-31 01:18] #4465 closed

[2020-03-31 01:19] #4463 closed

[2020-03-31 01:19] #4398 closed

[2020-03-31 01:21] jackyoh commented on #4453
目前還沒做進一步的研究此問題，我會再找時間來研究無法使用 K8SClient 來啟動 configurator 的原因。

[2020-03-31 01:40] jackyoh commented on #4453
如果 ohara manager 可以直接連到 k8s 的 restful API，我覺得應該可以啟動 configurator container。但是我覺得這樣做有可能會破壞相容性，而導致有一些我們無法預期的問題，例如少塞到一些環境變數的設定, 或是改版時 manager 漏掉一些啟動 configurator 的設定。

因此任何操作都還需要透過 configurator api 統一的界面, 所以我認為 configurator 服務是 ohara 第一個要啟動的服務。

[2020-03-31 01:53] jackyoh commented on #4349
+1
Support third party jar upload for the JDBC source connector

[2020-03-31 02:18] vitojeng commented on #4453
我的理解是, 不論是對於 manager 或是 API user, "由 k8s 啟動 configurator" 這是新的功能, 所以應該沒有破壞相容性的疑慮. @jackyoh 覺得呢?

是的, configurator 是第一個需要啟動的服務.
目前只能用 docker 啟動, 未來若可能用 k8s 啟動的話, 就多了一個選項. 若是這樣的話, 我覺得 manager 用 k8s api 啟動 configurator 就變成可能.
=> 這樣的話, 就可以從 Ohara Manager 把 Ohara Backend 從無到有建立起來. 這樣的話, 對於"簡化 Ohara 後端建立的複雜度" 算是又往前進了一步.

以上純粹討論~ XDD

[2020-03-31 02:37] jackyoh commented on #4453
因為目前後端的 K8SClient 程式碼把所有 create container 的 json 設定都包裝起來了，如果 ohara manager 要直接透過 k8s api 啟動 configurator 的 container,  應該會再新建立一份 k8s 的 json 設定，這樣我們就會有二份 k8s api 的 json 設定，未來  K8SClient 有新增或修改一些 k8s json 的設定，前端的 k8s json 設定也要一起修改，才不會發生一些無法預期的錯誤。

+1

[2020-03-31 06:07] jackyoh commented on #4457
目前 jdbc source connector 在 exactly once 的測試程式，主要會增加以下幾個部份：

1. 在測試程式的 setup 開一個執行緒把資料一直寫入到資料庫, 寫入資料到一個時間點停止執行緒，例如 60 秒，在這個過程中測試程式會 start, pause 和 delete jdbc source connector。等最後要執行完測試之前確認 topic 的資料筆數是否和 rdb table 相等。

2. jdbc source connector 啟動時，在 rdb table 使用 SQL 指令去 insert, update 和 delete 資料表，確認 topic 的資料筆數是跟預期的一樣。

[2020-03-31 06:12] chia7712 commented on #4457
@jackyoh 還要對資料做加加減減看是否會有重複的資料進topic

例如把一筆舊的資料刪掉然後再寫入一次之類的

[2020-03-31 06:14] jackyoh commented on #4457
ok, 這個部份我也會加入到測試裡面。

[2020-03-31 06:22] vitojeng commented on #4457
只確認資料筆數是否足夠?

[2020-03-31 06:24] chia7712 commented on #4457
比數和內容都要

[2020-03-31 06:25] jackyoh commented on #4457
資料筆數跟資料內容都會確認

[2020-03-31 06:50] eechih opened #4468 "[Manager] Design UI for the shared jars"
as title

[2020-03-31 06:51] eechih opened #4469 "[Manager] Use dispatched actions to switch workspace and pipeline"
as title

[2020-03-31 07:03] wu87988622 opened #4470 "[Manager] Create workspace node list card table icon is broken"
- This issue should also review the failed e2e tests

[2020-03-31 08:04] jackyoh opened #4472 "建立文件說明 ohara 整合測試執行平台 (K8S 和 Docker)"
目前 ohara 的整合測試可以執行 K8S 和 Docker mode, 需要寫一份文件來說明新建立的 interface 和 sub class的關係。

[2020-03-31 08:07] #4439 closed

[2020-03-31 08:19] jackyoh opened #4474 "修改 throw new AssumptionViolatedException 為 skipTest 方法"
目前 IntegrationTest 的 abstract class 裡有 skipTest 方法, 因此有繼承 IntegrationTest 的部份應該都可以把 throw new AssumptionViolatedException 改成呼叫 skipTest 方法。

[2020-04-01 11:40] chia7712 opened #4478 "[Question] check the arguments by definitions in either START or CREATION phase?"
The CREATION request is checked by definition and the incorrect requests are rejected with DerserializationException. However, our UI encourages user to save uncompleted properties so it is easy to encounter the error described above.

There are two approaches.

1. UI stores the uncompleted properties through OBJECT endpoint first. The properties are moved to CONNECTOR (or other services) only if

[2020-04-02 09:34] vitojeng commented on #1008
This issue would be covered by #4422

[2020-04-02 09:34] #1008 closed

[2020-04-02 13:12] chia7712 opened #4479 "Refactor Parameterized tests of IT"
as title

1. fix typo: PaltformModeInfo -> PlatformModeInfo
1. skip the tests in generating parameters rather than in construcor

[2020-04-02 13:17] jackyoh commented on #4479
我打錯字了

[2020-04-02 15:12] chia7712 commented on #4453
@jackyoh 所以有找出為何啟動失敗的原因了嗎

[2020-04-02 15:48] jackyoh commented on #4453
目前還沒有找到真正的原因，但是看起來是找不到檔案，我印象中 @saivirtue 很像有做 K8S 的重構，那時很像有放一些檔案，不太確定是否跟跟這個問題相關，我會在研究程式碼。

[2020-04-03 13:14] #4479 closed

[2020-04-03 19:09] chia7712 opened #4481 "Refactor WithRemoteConfigurator to reduce number of env variables"
the following changes are included.

1. remove "ohara.it.k8s.nodename" as we can get nodes from k8s master
1. remove "ohara.it.configurator.node". We choose a random node to set up Configurator
1. enable k8s client to set up Configurator
1. PlatformModeInfo -> ContainerPlatform
1. apply ContainerPlatform to all IT tests

Related to #4453

[2020-04-03 19:42] chia7712 commented on #4453
#4481會處理掉k8s啟動configurator的議題

[2020-04-03 23:54] jackyoh commented on #4453
Thank you.

我有實際的把 #4481 的 PR 拉下來,，然後寫一段簡單的測試，使用 ContainerClient 的方式建立 Ohara Configurator 在 k8s 的環境執行，已經可以執行了。

我分享程式碼如下：
[code]
另外我有二個問題：
1. 因為 PR #4481 我研究很久，只看到修改 K8SJson.scala 就解了，K8SClient 不能啟動 configurator pod 的問題，真正的問題我還沒捕捉到

2. 既然我們都可以使用 K8SClient 執行 configurator 的 pod, 那要不要把 WithRemoteConfigurator k8s 的部份也改成 ， 使用 K8SClient 來啟動 configurator 的 pod （因為目前是使用 Docker Client 來啟動 configurator）

[2020-04-04 00:09] jackyoh commented on #4453
我剛剛沒注意到， 目前 PR 啟動 configurator 的部份，k8s 的部份已經從 docker client 改成了 k8sclient 了

[2020-04-05 04:45] #4481 closed

[2020-04-05 04:47] chia7712 opened #4483 "the generic type in DataCollie is useless"
The type appended to DataCollie is only Node.

[2020-04-05 04:48] chia7712 commented on #4483
my bad :(

the dataCollie is used by collis also so the generic is useful :)

[2020-04-05 04:48] #4483 closed

[2020-04-05 04:57] chia7712 opened #4484 "Refactor TestLogOnDocker to run on both docker and k8s"
as title

[2020-04-05 14:10] #4484 closed

[2020-04-05 14:15] chia7712 opened #4487 "ContainerPlatform should support custom mode which accepts an existent Configurator service"
ContainerPlatform is in charge of manage remote configurator service. In developing ohara, we, sometimes, are want to set up a long-run custom configurator to run all changes with IT. In order to resolve above issue, ContainerPlatform should be able to accept a "custom" Configurator env (hostname and port).

[2020-04-05 14:15] chia7712 commented on #4487
FYI @vitojeng @jackyoh

[2020-04-05 15:01] chia7712 commented on #4487
概念上，我想增加一個參數ohara.it.configurator，值的形式為```hostname:port```

當此參數存在時，ContainerPlatform依照該參數值建立，並且"不會"去嘗試建立任何configurator，換言之也不會去嘗試初始化任何節點。也就是說，該既存的configurator必須已經儲存好可用的nodes

[2020-04-05 15:31] jackyoh commented on #4487
看起來像是 configuration 是一個可以事先建立好的服務，然後只要指定 configuration 的 hostname 和 port ，就可以跑 IT 測試，增加了啟動 configuration 的選擇性。

[2020-04-05 15:55] chia7712 commented on #4487
沒錯，由於現在我們介面陸續到位(ContainerClient and ContainerPlatform)，許多細節都可以封裝起來給後續IT使用，新增一個custom模式也不會太麻煩

[2020-04-05 23:07] vitojeng commented on #4487
那 `ohara.it.hostname` & `ohara.it.port` 是否就沒有需要了?

[2020-04-06 01:24] jackyoh commented on #4487
那要去限制 0.10.0 版本的整合測試程式碼，使用 0.9.0 版本的程式啟動 configurator container 嗎？

[2020-04-06 01:26] #4422 closed

[2020-04-06 02:11] jackyoh commented on #4487
我是覺得已經沒有需要了，另外在 IntegrationTest 的 publicHostname 和 publicPort 都可以移除掉了，很像沒有用到了。

[2020-04-06 06:11] vitojeng commented on #4469
@eechih Could you leave a comment to describe the reason of revert PR #4471 ?

[2020-04-06 06:33] eechih commented on #4469
Reverted by #4489 since the PR #4471 have a critical bug to cannot  create a new workspace.

[2020-04-06 07:55] jackyoh commented on #4453
這個議題已經在 PR #4481 解了，我先關閉此議題。

[2020-04-06 07:55] #4453 closed

[2020-04-06 08:14] chia7712 opened #4491 "Update gradle from 5.6.4 to 6.3.0"
Kafka is going to update gradle to 6.3.0. Let us follow in kafka's footsteps.

[2020-04-06 09:55] eechih commented on #4478
為了 UX 我們應該要設計一個草稿機制，而不是調整 API 來符合 UI。

我個人選擇第一個方案。

當使用者將元件拖進 pipeline，我們應該只要求使用者提供 name（必填），或是增加其他（必填）欄位讓使用者（選）填，盡量讓新增元件的流程不受到任何阻礙。這些元件的資訊都可以暫存於 pipeline 的 endpoints 中。

不過，有一個問題，我們要如何判斷何時應該要呼叫（真正）Api 去建立元件？
1. 是只要 definitions 的必填欄位都有填寫就好
2. 還是必須通過後端的 validation

[2020-04-06 10:21] chia7712 commented on #4478
實務上要通過驗證會比較好，必填都有填並不代表值是正確的，依然有可能產生"不合法"的物件。

[2020-04-06 11:03] vitojeng commented on #4478
我想可以讓使用者自己決定.
一個按鈕的功能是 Save as draft, 另一個按鈕的功能是 Create.

[2020-04-06 11:44] vitojeng commented on #4491
@oharastream/developer
Gradle 版本準備大躍進啦

[2020-04-06 12:16] chia7712 commented on #4491
結果噴出一堆OOM，真詭異...還需要測試一下

[2020-04-07 01:24] saivirtue commented on #4478
如果是在Form內，Save的按鈕旁邊新增Validate的按鈕呢?
至於兩個按鈕要如何對應後端API可以再討論看看，我目前想到會有兩種情況：
預設下，Save按鈕為Disable
1. Validate -> `POST creation` -> 後端回傳`200` -> UI允許使用者點選Save (這時候Save其實只是關閉Form的效果)
2. Validate -> `POST creation` -> 後端回傳非`200`(DerserializationException) -> UI不允許使用者點選Save (這時候因為後端建立失敗，所以物件也不存在；使用者要關閉Form不會造成任何影響) -> UI可以根據後端回傳資訊顯示紅字提示使用者那些欄位有問題

[2020-04-07 01:40] eechih commented on #4478
你是說 calidate 成功就自動 create 嗎？ 如果是這樣的話，我想到兩個問題
1.  validate 後使用者卻要放棄呢
2. 必填欄位都要填完，才能新增到 pipeline，這樣會阻礙動線

[2020-04-07 01:42] vitojeng commented on #4491
看了 https://github.com/apache/kafka/pull/7677, 看起來 kafka 也還沒有搞定?
不論是 kafka 還是 gradle...
或許未來我們要避免升級到最後一碼是 0 的版本?  XD

[2020-04-07 01:43] saivirtue commented on #4478
這是好問題。或許creation使用random的`ObjectKey`，然後取消時將此random object移除；若點選Save則真正透過使用者給的name去建立物件

所以才叫必填欄位XD，不然definition就要改為optional

[2020-04-07 01:51] vitojeng commented on #4478
Validate 的功能有需要, 但我認為這不能等同於 Create.
即使當下的參數合法, 也未必代表是使用者最後要 create 的參數.
有點像寫一段程式, 就算語法完全合法, 但也不代表我要執行它.
因此我想這個階段一定要使用者自己來做決定.

[2020-04-07 02:00] konekoya commented on #4478
Adding a create button? Just as @vitojeng's suggestion? Sounds like a good approach to me :) And so:

Users can decide when to do so as the actions are controlled by them

Dunno yet...

另一個按鈕的功能是 Create.

So we can have three buttons in the modal?

Cancel -> close the modal without saving
Save (as draft) -> no validation, anything can be saved (save in the objects API or endpoints?)
Create -> hit

[2020-04-07 02:00] vitojeng commented on #4478
我自己從 Highlevel 來思考這件事:
1. 相對後端來說, 前端 Pipeline paper 本身其實是可看成是一種草稿了. 送到後端時, 等於前端向後端 publish 這組物件, 此時後端一定會檢查, 成功即為一組 publish 成功的物件, 失敗則退回給前端.
2. 因為當下 paper 的內容都保留在前端, 因此可以任意修改. 所以前端只要能保留住草稿的內容, 並提供使用者在草稿階段的 validation 的能力, 就非常完美了.

[2020-04-07 02:03] eechih commented on #4478
我們希望使用者在畫圖的時候，是以 Overview 的方式去思考 pipeline 要怎麼串，而不會被「細節」所阻礙。因此儘可能地減少把元件拉進 pipeline 的必要資訊，只要使用者在啟動前把必要資訊延遲。而 API 設計在 CREATION 要求資料完整性，因此我們才會需要去思考這個問題，但是希望不要拿掉讓使用者可以很容易串 pipeline 的想法。

[2020-04-07 02:12] vitojeng commented on #4478
分享我的想法: 這個 **必填欄位** 的概念是跟 "時間" 有關係的.
1. 在 call api 的那個時間點, 這個欄位是必填的.
1. 但在使用者填的那個時間區間 , 這個欄位其實就不一定是必填的了,他可能根本還沒填到那裡, 就需要先存下來.

REST API 的設計一定是以後端接收到參數當下的那個時間點去思考參數的屬性. 很少會去考慮到前端參數產生過程的需要.

再舉剛才寫程式的例子, 我可能想寫一個小程式, 但我只寫了五分鐘, 我知道它還沒寫完, 程式執行一定會噴錯...但不管內容有沒有錯, 我現在就想要先存起來, 明天再繼續.

[2020-04-07 02:15] eechih commented on #4478
👍

[2020-04-07 02:25] eechih commented on #4478
@konekoya name 是 CREATE_ONLY，UI 無法區隔修改與否的分水嶺。為了讓使用者瞭解何時可以一直修改 name，何時開始 name 是 readonly，這件事情可能需要花很多心力去處理。因此，name 給了就不能修改，事情會比較簡單。

[2020-04-07 02:56] vitojeng commented on #4478
再以剛才寫程式為例, 我簡單用下列三種情況為例:

A. 若是一個很古早的編輯器, 可能有這五個階段:
1. new empty file(至少要個檔名)
2. write code
3. save file
4. compile file
5. run file

B. 現在大部份編輯器可能是這樣

1. new empty file(至少要個檔名)
2. write code + auto save
3. ~save file~
4. compile file
5. run file

C. Java 體系的 IDE 可能是這樣

1. new empty file(至少要個檔名)
2. write code + auto save + compile file
3. ~save file~
4. ~compile file~
5. run file

以 Ohara Manager

[2020-04-07 03:28] konekoya commented on #4478
I was thinking if we removed the required name, then users can just drag and drop new elements just like topic which is more efficient. But I think you're also right as conveying whether a name is editable or not is very difficult 😞

[2020-04-07 04:21] chia7712 commented on #4491
kafka那邊應該是快合併了，等他們測試完所有指令。

現在我覺得比較詭異的是記憶體問題，不知道是不是新版的zinc吃掉的記憶體超多，scala compilations的記憶體配置不往上拉的話一定會噴出OOM

[2020-04-07 06:39] saivirtue opened #4495 "[Manager] Display metrics by each hostname"
Follow up of #4455

[2020-04-07 08:13] eechih opened #4498 "[Design] Ohara 0.10.0 mockup"
Related to #4468

- Workspace Settings
  - [x] New Layout
  - [x] Topics
  - [x] Worker Nodes
  - [x] Worker Plugins
  - [x] Broker Nodes
  - [x] Zookeeper Nodes
  - [x] Stream Jars
- Restart Workspace
  - [x] Confirm Dialog
  - [x] Progress Dialog
- Rollback Workspace
  - [x] Confirm Dialog
  - [x] Progress Dialog
- Delete Workspace
  - [x] Confirm Dialog

[2020-04-07 08:50] chia7712 commented on #4478
this is great discussion. Could we have a conclusion now?

[2020-04-07 09:23] #4469 closed

[2020-04-07 10:08] eechih commented on #4498
![Services](https://user-images.githubusercontent.com/703126/78656993-b8742d00-78fa-11ea-81f9-f7760c42e144.png)

[2020-04-07 16:37] chia7712 opened #4502 "fix nonexistent dependencies in building ohara-manager"
#4441 incorrectly introduced changes to ```yarn.lock```...

[2020-04-07 18:07] #4491 closed

[2020-04-08 00:31] saivirtue commented on #4478
整理一下目前我理解的：
1. 後端API驗證的作法目前這個milestone先不動
  - object with definition will be verified at runtime; others will be at creation
2. UI會朝向"save draft in paper" and "validate with creation"這兩個功能進行討論，可以在未來的milestone再另開issue討論畫面與流程

[2020-04-08 00:32] #4455 closed

[2020-04-08 01:01] chia7712 commented on #4478
@saivirtue 感謝整理

我會將相關議題連結到此，麻煩前端也把相關議題開好並連結，謝謝

[2020-04-08 01:18] konekoya commented on #4502
@chia7712 could your share a bit more info about this... I wonder why the lock file is not updated 🤔

[2020-04-08 01:40] chia7712 commented on #4502
只是手殘不小心改到而已==

[2020-04-08 02:04] konekoya commented on #4502
Oh okay @@~ Thanks for fixing it ❤️

[2020-04-08 02:35] eechih commented on #4498
![Services](https://user-images.githubusercontent.com/703126/78738515-a4750d80-7984-11ea-9b64-beea11424fd4.png)
![Nodes](https://user-images.githubusercontent.com/703126/78738526-a939c180-7984-11ea-85c5-ce7317e32f53.png)
![Plugins](https://user-images.githubusercontent.com/703126/78738531-ab9c1b80-7984-11ea-8da8-f58f487e62b6.png)

[2020-04-08 02:59] konekoya opened #4504 "[Manager] Refactor files API and to include the error handling logic"

[2020-04-08 03:25] #4428 closed

[2020-04-08 04:23] wu87988622 opened #4505 "[Manager] Replace 'gradle' with './gradlew' in npm's prepush script"

[2020-04-08 06:35] eechih commented on #4498
![Services](https://user-images.githubusercontent.com/703126/78752139-20338200-79a6-11ea-8d49-f6271cb2833a.png)

[2020-04-08 08:00] #4502 closed

[2020-04-08 08:01] #4487 closed

[2020-04-08 08:16] chia7712 opened #4506 "Validate all configs in Creation phase rather than Start phase"
Currently static definitions are taken by Creation phase and the custom definitions (dynamical definitions) are used by Start phase. The downside is that the objects stored by Configurator is possible to be illegal!!!

We should verify configs by both static and custom definitions. This changes will break UI flow that it demand on storing uncompleted objects to offer friendly UI.

inspired by #447

[2020-04-08 08:42] saivirtue opened #4507 "[Manager] Break creation and validation of element in pipeline"
Origin posted in [comment](https://github.com/oharastream/ohara/issues/4478#issuecomment-610686235)

Inspired by #4478

[2020-04-08 09:25] #4452 closed

[2020-04-08 09:37] eechih commented on #4498
![Services](https://user-images.githubusercontent.com/703126/78769158-87a9fb80-79bf-11ea-9c35-778a39be51e3.png)

[2020-04-08 15:33] eechih commented on #4498
![Topic in this workspace](https://user-images.githubusercontent.com/703126/78803195-46324400-79f1-11ea-85db-094df5b02930.png)
![Delete this workspace](https://user-images.githubusercontent.com/703126/78803202-48949e00-79f1-11ea-95d8-f9ea972ec77c.png)
![Restart this workspace](https://user-images.githubusercontent.com/703126/78803207-49c5cb00-79f1-11ea-97e2-88c3eada79d7.png)

[2020-04-09 01:04] saivirtue opened #4508 "[Manager] Writing tests for redux epic"
It's important to make sure our epics logic could be run as expected:
- [x] writing tests for appEpics (#4517)
- [x] writing tests for brokerEpics (#4537)
- [x] writing tests for devToolEpics (#4551)
- [x] writing tests for connectorEpics (#4649)
- [x] writing tests for eventLogEpics (#4542)
- [x] writing tests for fileEpics (#4601)
- [x] writing tests for nodeEpics (#4595)
- [x] writing tests for

[2020-04-09 05:05] vitojeng opened #4509 "thrown IllegalArgumentException when Configurator startup"
#4487 provide a great way to set up custom configurator for IT.
However, the configurator will be failed if the arg `ohara.it.configurator` passed.

[code]

ping @chia7712 , @jackyoh

[2020-04-09 05:08] vitojeng commented on #4509
Oh...it's my bad.
I should put this argument in another command...

[2020-04-09 05:08] #4509 closed

[2020-04-09 07:33] eechih commented on #4498
![Open](https://user-images.githubusercontent.com/703126/78869597-673d7800-7a77-11ea-9f26-73e4e4b9157d.png)

[2020-04-09 07:35] #4253 closed

[2020-04-09 07:46] konekoya opened #4513 "[Manager] Add an epic which handles the delete of pipeline itself and the services running on it"

[2020-04-09 08:07] chia7712 opened #4515 "Remove JsonIn and JsonOut"
The replacement *shabondi* is on production almost so it is time to remove stale connectors :)

[2020-04-09 08:07] chia7712 commented on #4515
FYI @vitojeng

[2020-04-09 08:14] vitojeng commented on #4515
Maybe we can wait until all taks of shaondi are completed before removing JsonIn/JsonOut ?

[2020-04-09 09:17] chia7712 commented on #4515
the main reason I want to remove them ASAP is that the IT is flaky. It seems to me that tracing the stale connectors is a bit meaningless :_

[2020-04-09 09:31] vitojeng commented on #4515
Got it.

[2020-04-09 11:38] vitojeng commented on #4515
ping @chuntsekevin

[2020-04-09 14:33] eechih commented on #4498
![Start](https://user-images.githubusercontent.com/703126/78906572-1a2ac780-7ab2-11ea-9c32-214b84efe7b9.png)
![Stop](https://user-images.githubusercontent.com/703126/78906589-1dbe4e80-7ab2-11ea-9170-0708d10b0b6c.png)
![Failed](https://user-images.githubusercontent.com/703126/78906597-20b93f00-7ab2-11ea-9f29-d2cbc5e383a1.png)

[2020-04-09 16:00] #4515 closed

[2020-04-10 02:42] eechih commented on #4498
![Start + Detail](https://user-images.githubusercontent.com/703126/78957414-d8346c80-7b17-11ea-8afc-e845391b9c2f.png)
![Suspend + Detail](https://user-images.githubusercontent.com/703126/78957421-dc608a00-7b17-11ea-81bd-43ede1566a60.png)
![Failed + Detail](https://user-images.githubusercontent.com/703126/78957424-dec2e400-7b17-11ea-8aba-8576d2cd99f1.png)
![Rollback Confirm](https://user-images.git

[2020-04-10 03:06] saivirtue commented on #4498
使用者期望的"Suspend"是按下去的當下就暫停吧?
如果是，以我們目前的架構應該做不到 (因為API都是async，已經發出去的request無法暫停)
這樣的話是否將進度條改為只有深色條(已完成)就好而不要有淺色條 (目前正在執行中的狀態)?
也就是說**正在進行停止的service無法被暫停**

[2020-04-10 03:08] saivirtue commented on #4505
Could I take over this issue? since my `yarn prepush` command will always be failed in current branch...

[2020-04-10 03:26] eechih commented on #4498
@saivirtue 感謝你思考這麼周全，這是我沒考慮到的細節。 我會針對這部份進一步思考。

[2020-04-10 03:30] wu87988622 commented on #4505
of course

[2020-04-10 04:22] #4505 closed

[2020-04-10 05:40] konekoya opened #4519 "[Manager] Quick create workspace's node section doesn't block users from moving to next section"
Okay, the title is already too long...

The "Next" button should be disabled if users do not pick a node name. The current behavior allows users to create a new workspace but fail immediately upon start.

- [x] 0.10.0 #4733
- [x] 0.11.0 #4734

[2020-04-10 05:41] konekoya commented on #4519
@wu87988622 will help address this while he's currently working on fixing the node section

[2020-04-10 06:47] saivirtue opened #4520 "[Manager] Implement shabondi APIs and Epics"
This is the follow-up of #4046

- [x] writing shabondi APIs #4558
- [x] writing shabondi epics #4589

[2020-04-10 06:48] saivirtue commented on #4520
/cc @konekoya @wu87988622
could you help me to accomplish the sub-task3?

[2020-04-10 07:06] eechih opened #4521 "[Manager] Ohara 0.10.0 UI"
Related to #4498

- Workspace settings
  - [x] Layout @konekoya (#4525)
  - [x] Topic Page @eechih #4584
  - [x] Autofill Page @eechih #4590
  - [x] Zookeeper Nodes Page @eechih #4599
  - [x] Broker Nodes Page @eechih #4586
  - [x] Worker Nodes Page @eechih #4581
  - [x] Worker Plugins Page @eechih
  - [x] Stream Jars Page  @eechih
  - [x] Workspace Nodes Page @eechih #4527
  - [x] Workspace Files

[2020-04-10 07:20] saivirtue commented on #4520
It is duplicated to #4521

[2020-04-10 07:37] #4468 closed

[2020-04-10 15:26] #4434 closed

[2020-04-10 16:26] chia7712 commented on #4460
第一版的volume support目標是先能有基本的volume操作，因此有以下幾個限制:

1. 只支援local file system (其他如nfs, tmpFs等等都不支援)
1. 一個ohara volume可以對應多個節點，例如使用者可以宣告這個volume應該被"佈署"在n0, n1節點上，此設計是由於方便讓service和volume為一對一的關係
1. 如果volume的佈署範圍無法涵蓋service的佈署範圍的話，則會拋出錯誤
1. 不支援space limit的資源控管
1. 不支援顯示可用空間
1. volume的刪除"不會"跟著刪除對應目錄 (這部分仰賴使用者自行的linux操作)
1. 一個正在被使用的volume無法被更新或刪除

*Create a Volumn*

```POST /v0/volumns```
[code]

*Update a Vol

[2020-04-10 17:03] eechih opened #4522 "[Manager] Remove the upload plugin step from the workspace creation"
as title

related by #4521

[2020-04-10 17:15] eechih commented on #4460
@chia7712 沒有 Get all Volumns Api，漏掉了嗎？ 同一個 group 下的 path 是否要限制為 unique？

[2020-04-10 17:37] chia7712 commented on #4460
漏掉了XD

你是指同一個group + name吧? 如果是的話，那的確要做檢查

這是UI流程需要嗎? 現在我還沒列任何"runtime"的資訊，看UI流程需要哪些可以提出來討論

[2020-04-10 17:48] eechih commented on #4460
喔喔～ group + name 為 unique 應該是基本規則。不過，我問的是 path，因為在同一個 group 下有兩組 （path 相同, nodeNames 不同）的 Volumn ，使用者應該很容易混淆吧。

是的，UI 可以先阻擋使用者修改或刪除正在使用中的 Volumn

[2020-04-10 18:16] chia7712 commented on #4460
我覺得讓path不能重複使用故事比較單純，使用者在指定volume的時候應該還是會認名字，畢竟path可能會很難閱讀

那就加上一個runtime資訊顯示被誰使用? 例如
[code]

[2020-04-11 00:12] jackyoh commented on #4460
@chia7712

1.那要限制在 node 建立資料夾的使用者權限為 root 嗎？ 因為 container 執行的 user 為 ohara, node 建立的 user 為 root，我不太確定是否會發生 permission denied 的問題
2. 當 volume 使用的資料夾路徑不存在我們要幫使用者建立還是要丟 exception?

[2020-04-11 06:15] chia7712 commented on #4460
Docker mode的話就是設定的使用者要有權限、k8s也是。現階段沒有權限就是拋錯

嘗試建立，否則拋錯

[2020-04-12 01:16] vitojeng commented on #4460
這是否意味著: 一個 service 擴充節點, 除了 service 本身的 definition 要修改外, 其對應的 volumn 也須要修改, 而且是必須的?(我們需要檢查?)

[2020-04-12 01:18] vitojeng commented on #4460
是否指不同的 volumn 之間, path 不可重覆的意思?

[2020-04-12 02:02] vitojeng commented on #4460
另外一個可能容易會有的情境:
由於不同的 node 配置的資源不一致, 例如 mount 的硬碟數量不同, 或是硬碟的容量不一樣.
這種情形下, 很有可能出現 volumn 裡在不同的 node 裡的 path "被迫" 無法一致.

不同時期買的硬體不盡相同, 這種不一致的情形很可能發生...

[2020-04-12 06:43] chia7712 commented on #4460
擴充的部分會獨立成一組API，因為背後要做的動作比較適合由後端來處理而非前端

yep

由於不同的 node 配置的資源不一致, 例如 mount 的硬碟數量不同, 或是硬碟的容量不一樣.
這種情形下, 很有可能出現一個 volumn 裡在不同的 node 裡的 path "被迫" 無法一致.
不同時期買的硬體不盡相同, 我想這種不一致的情形很可能發生

以後才支援異質環境，否則無論是API或是UI都會有很大幅度的改動

[2020-04-12 06:59] vitojeng commented on #4460
酷!

了解~

[2020-04-13 01:17] konekoya opened #4525 "[Manager] Create workspace setting layout"
From #4521

[2020-04-13 07:20] eechih opened #4526 "[Manager] Refactor the Files page to use the Material-Table"
as title

Related to #4521

[2020-04-13 07:21] eechih opened #4527 "[Manager] Create nodes page for workspace settings"
as title

Related to #4521

[2020-04-13 07:21] eechih opened #4528 "[Manager] Refactor the Topics page to use the Material-Table"
as title

Related to #4521

[2020-04-13 08:57] jackyoh opened #4530 "Upgrade kubernetes version to 1.18.1 for the ohara shell script"
目前已經把 QA 環境的 Kubernetes 升級成 1.18.1 了，因此需要將 script 的部份也要做修改的動作。

[2020-04-14 02:17] jackyoh opened #4534 "Modify typo for the ContainerPlatform object"
1. 在 ContainerPlatform 的第 69 行，應該要把 _ks8Mode 改成 _k8sMode

2. 第 101 行的程式碼如下：

[code]
不太確定是否要把 _dockerMode 改成 _k8sMode

[2020-04-14 05:44] #4534 closed

[2020-04-14 06:35] jackyoh opened #4538 "研究 K8S 的 volume 功能"
目前 ohara 的 zookeeper, broker 和 worker 都是使用 container 在建立服務，因此如果要長時間的保留資料就需要整合 volume 的功能，細節在 issue #4460。

在 K8S Client 的部份使用 hostPath 來做 container 做資料保留, 因為知道服務（zooker, broker 和 worker) 在哪台的 node 上執行, 所以使用 hostPath 是最簡單和方便的方式。

以下是一個簡單的 example, 有做 volume 功能的 pod:

[code]

在這個 sample 裡，hostPath 下面 path 是指執行 pod (container) 的 Node 的資料夾路徑, 當 node 不存在 /home/ohara/testVolume 的資料夾會做自動建立的動作。另外在執行 pod 時

[2020-04-14 06:45] vitojeng commented on #4538
想確認 worker container 有需要用到 volume 嗎?

[2020-04-14 06:46] jackyoh commented on #4538
worker 應該不會用到 volume

[2020-04-14 07:55] #4498 closed

[2020-04-14 08:16] #4470 closed

[2020-04-14 09:14] eechih opened #4539 "Ohara 0.10.0 product testing report"
## 測試項目

<details>
<summary><b>1. 基本測試</b></summary>

- [ ] 確認畫面（UI）與設計稿（Design）是否一致
  - 顏色、字型、符號、圖片、...
- [ ] 檢查所有畫面的 Title 名稱是否正確
- [ ] 所有連結是否有前往正確頁面
- [ ] 切換視窗大小時，有無跑版情形
- [ ] 切換視窗大小後，文字與圖形是否竄行
- 表單
  - [ ] 任何一個必填欄位未填寫，不能送出
  - [ ] 表單送出中，應該明確表達正在處理中的訊號
  - [ ] 表單送出中，應該要凍結表單（除非有提供取消功能）
  - [ ] 任何表單至少要有 CTA 及 Cancel 兩類按紐 (CTA: Call-To-Action)
- 訊息
  - [ ] 成功訊息，應該要明確指出完成對象
  - [ ] 錯誤訊息，應該要明確指出錯誤對象

[2020-04-14 10:07] chia7712 commented on #4460
@jackyoh 歹勢 我剛剛注意到一些APIs的定義有些不恰當，我會很快發隻PR調整一下 :(

[2020-04-14 10:09] #4528 closed

[2020-04-14 10:09] #4526 closed

[2020-04-14 14:20] chia7712 commented on #4474
@jackyoh If you want to kick this issue out of 0.10.0, please remove the label and describe the reason.

[2020-04-14 14:35] jackyoh commented on #4474
ok, 我來移除 label

主要的原因是 ContainerPlatform 的參數經過重構之後發現變少很多了。另外我覺得要做更多的討論和思考做出來的 skip test 才會比較完整，因此我先把 label 移除掉。

[2020-04-15 01:25] jackyoh commented on #4460
有，看到 PR 了。

volumes 回傳的值改成 Seq[ContainerVolume] 了。

[2020-04-15 04:07] jackyoh commented on #4538
@chia7712 我有去測試 k8s 的 volume name，它是透過 k8s 的 pod API 來查詢。volume name 是固定的名稱不會被 hash。

查詢的 JSON 如下：
[code]

[2020-04-15 09:02] saivirtue opened #4545 "[Manager] Writing tests for reducer"

[2020-04-15 09:23] #4530 closed

[2020-04-15 09:29] jackyoh opened #4546 "Modify path for the install k8s metrics-server document"
k8s metrics server 安裝的資料夾路徑有做修改，因此文件的部份也要做修改

[2020-04-15 11:37] chia7712 commented on #4460
@jackyoh 麻煩你有空先把k8s的實作補上，我會接著把它套用到route上面 感恩恩

[2020-04-15 11:39] chia7712 commented on #4538
再麻煩妳看看能否接上ohara volume的介面，如果有任何不符合實際面的地方我們在討論如何修訂介面

[2020-04-15 12:25] jackyoh commented on #4460
OK, 我大概明天就可以開始實作了。

[2020-04-15 12:57] jackyoh commented on #4538
好，我今天已經有先看介面和 Docker Client 實做的部份了。

K8S 的部份主要會去實做 volumeCreator, volumes 和 removeVolume 這三個方法。原本我以為是在建立 container 的時候 (zk, bk)，才會建立 volume 像是 docker run -v nodePath:containerPath 在這個議題的 description 才會寫使用 K8S 的 hostPath。但是仔細看程式碼之後發現 ohara 有做完整的 volume 管理，像是 docker volume create 和 docker volume delete 的界面，因此 K8S 的部份我會改成使用 Persistent Volume 的方式來實做, 今天有去做簡單的測試在 k8s 建立 persistent volume 看起來應該是可以跟我們的介面

[2020-04-15 13:52] chia7712 commented on #4538
ohara volume會是一個獨立的元件可以被管理，0.11+之後應該會有支援相關的介面...

我們現在先支援local volume就好，換言之你講的狀況會直接扔出錯誤，就是使用者指定了volume (on n2)然後希望container開在n1的話

[2020-04-15 14:17] jackyoh commented on #4538
了解，我明天就開始嘗試 K8S 實作的部份。

[2020-04-16 04:01] jackyoh commented on #4538
目前已經大概找到實作 ohara volume 介面要對應 K8S 的 API，分別介紹如下:

### ContainerClient#volumeCreator:

使用 k8s 的 /api/v1/persistentvolumes 和 /api/v1/namespaces/default/persistentvolumeclaims 二個 API來建立 ohara 服務的 volume。

persistentvolume 和 persistentvolumeclaims 主要是 K8S 的架構設計，希望系統管理者和系統開發者能夠切開，系統開發者在建立 pod (container) 時只要針對 persistentvolumeclaims 做 volume 的 mount。系統管理者在維護 volume 時是針對 persistentvolume 來做檔案系統的管理。persis

[2020-04-16 07:09] eechih opened #4549 "[Manager] Refactor node components"
as title

[2020-04-16 08:19] vitojeng opened #4552 "Remove topic checking in Shabondi creation phase temporary"
Before the issue #4506 start, we should remove the checking in the Shabondi creation phase temporary to make the UI work.

[2020-04-16 08:28] vitojeng commented on #4552
/cc @saivirtue

[2020-04-16 09:53] eechih opened #4555 "Add a new RESTful API to list reference data"
UI 根據 Definition 動態呈現表單內容，對於 reference 的支援不夠強健
當 Definition 定義新的 reference 時，UI 都必須要調整程式碼
有鑑於此，我們需要一隻專門取得各種類型 reference 資料的 API

1. - [x] Rename Reference.ZOOKEEPER_CLUSTER to Reference.ZOOKEEPER, Reference.BROKER_CLUSTER to Reference.BROKER and Reference.WORKER_CLUSTER to Reference.WORKER (#5166)
1. - [x] Support to GET/DELETE object according to Reference (#5178)
1. - [x] UI @eechih  -> Tracked

[2020-04-16 10:54] #4546 closed

[2020-04-16 12:22] #4552 closed

[2020-04-17 04:06] jackyoh commented on #4460
@chia7712
目前我把 K8S Volume 的部份 implement 完了 (volumeCreator, removeVolumes 和 volumes) 已經先開草稿的 PR 了 #4556  (我下午還會在看是否要補一些測試程式)。

目前我有遇到以下二個問題：
1. ContainerCreator#doCreate 是否要先接上 volume 的 mapping (像是 Docker Mode 的 docker run -v ${VOLUME_NAME}:${CONTAINER_PATH}), 還是要等到做 apply Volume on zookeeper service 再來實作 volume 的 mapping?

2. 關於 volume name 的部份，因為 k8s 的 persistent volume 是從整體性來看，因此如果 volume1 建立在 n

[2020-04-17 04:41] chia7712 commented on #4460
這會在別隻pr

這個名稱管理由collie來處理

[2020-04-17 05:09] jackyoh commented on #4460
了解， Thank you.

[2020-04-17 07:23] vitojeng opened #4559 "Shabondi testing improvement"
required by #3022

[2020-04-17 07:26] #4046 closed

[2020-04-17 07:52] #4549 closed

[2020-04-17 08:02] eechih opened #4560 "[Manager] fix flaky Autofill"
as title

[2020-04-19 07:35] chia7712 opened #4563 "Retry the connection to remote node when it fails due to temporary issue"
[code]

[2020-04-20 05:39] konekoya opened #4567 "Revert #4252 [Manager] Create workspace setting layout (#4531)"
Wrong issue number...

[2020-04-20 06:07] #4560 closed

[2020-04-20 06:12] chia7712 commented on #4567
so sad :(

[2020-04-20 06:13] konekoya commented on #4567
QQ...

[2020-04-20 06:13] chia7712 opened #4569 "Upgrade kafka from 2.4.1 to 2.5.0"
as title.

see https://downloads.apache.org/kafka/2.5.0/RELEASE_NOTES.html for release note of kafka 2.5.0

[2020-04-20 06:14] #4567 closed

[2020-04-20 06:32] chia7712 commented on #4555
@eechih Will this new APIs be used by Manager in 0.10.0?

[2020-04-20 06:48] chia7712 opened #4572 "Upgrade sshd from 2.2.0 to 2.4.0"
the latest version may be more stable :)

[2020-04-20 06:57] #4525 closed

[2020-04-20 06:57] #4504 closed

[2020-04-20 07:09] eechih commented on #4555
@chia7712 It will be used in the next milestone.

/cc @vitojeng

[2020-04-20 07:42] jackyoh opened #4574 "Fix flay TestContainerClient#testVolume"
在 TestContainerClient#testVolume 的測試程式跑完之後會把 volume 刪除掉，然後確認 volumes 的清單是空的，如以下程式碼：
[code]

有一種情況是，之後 TestCollie 也會建立 volume 的測試，然後 QA IT 環境同時跑二個 job, 一個 job 跑到 TestCollie 另一個 job 跑到 TestContainerClient#testVolume，在執行到 result(containerClient.volumes()).isEmpty) 時有可能回傳值不是 empty, 使測試跑失敗。

因次是否要改成以下的程式碼：
[code]

[2020-04-20 07:58] chia7712 commented on #4555
it seems we should remove the 0.10.0 from label?

[2020-04-20 08:03] eechih commented on #4555
Yep

[2020-04-21 01:44] #4527 closed

[2020-04-21 01:55] konekoya commented on #3642
Fixed by @eechih's refactoring :)

[2020-04-21 01:55] #3642 closed

[2020-04-21 03:22] saivirtue opened #4578 "[Manager] Refactor epics of elements (connector, stream and shabondi)"
This is the follow-up of #4520

There are a lot of duplicated code...we could reduce it by introduce interface of typescript

[2020-04-21 03:28] vitojeng commented on #4569
關於 Kafka upgrade, 曾想過我們是否避免尾數是 0 的版本就足夠了 ?
例如只升 2.2.2 / 2.4.1 / 2.5.1 ,  不升 2.2.0, 2.3.0, 2.4.0, 2.5.0 之類的

有時看到 kafka 那種 rc 階段突然冒出的 blocking issue 實在是有些令人冒汗... XD

[2020-04-21 03:36] chia7712 commented on #4569
這個主意不錯，可以等到正式釋出後就放慢腳步，現階段先跟緊一點可以讓我們快速的反應kafka變更

[2020-04-21 05:20] konekoya commented on #4266
Fixed in #4513

[2020-04-21 05:20] #4266 closed

[2020-04-21 05:21] konekoya commented on #4266
cc @vitojeng as the issue was originally reported from you :)

[2020-04-21 07:07] #4203 closed

[2020-04-21 07:23] konekoya opened #4580 "[Manager] Address several issues in workspace settings's main page"
- The scroll to section function is broken
- The input field is laggy when users inputting content
- The confirm dialog should close immediately after the progress dialog appears

[2020-04-21 08:45] eechih opened #4581 "[Manager] Create worker nodes page for settings"
as title

[2020-04-21 15:33] wu87988622 opened #4583 "[Manager] Fix e2e error"
Thanks for @saivirtue help.

This issue will be addressed with the following problems:
- cannot add node with hostname in docker mode
- wrong assertion of node dialog
- give it a time to load the connectors list

The rest problems will be fixed in #4049

[2020-04-22 00:17] #4522 closed

[2020-04-22 01:11] #4513 closed

[2020-04-22 01:42] eechih opened #4584 "[Manager] Create topic page for settings"
as title

[2020-04-22 02:18] #4581 closed

[2020-04-22 02:29] eechih opened #4586 "[Manager] Create broker nodes for settings"
as title

[2020-04-22 02:31] wu87988622 opened #4587 "[Manager] Fix E2E error on pipeline page"
Thanks for @saivirtue help

[2020-04-22 02:51] #4584 closed

[2020-04-22 03:16] eechih opened #4590 "[Manager] Create autofill page for settings"
as title

[2020-04-22 03:23] jackyoh commented on #4460
目前在寫 ContainerClient mount volume 的測試程式時遇到 Node 資料夾權限的問題，有遇到以下二個狀況描述如下：

1.當 Node 的資料夾不存在時，在 ohara 預設的情況下會先建立一個資料夾，然後在 mount 到 container (zk, bk) 裡執行。 K8S 有提供當資料夾不存在時會建立資料夾的參數（DirectoryOrCreate），但建立出來的資料夾 own 和 group 通常都會是 root 因為相依於 kubelet service (k8s 執行的 service)
[code]
因為目前 ohara 執行服務的 container (zk和 bk) 使用者都為 ohara（UID=1000） mount 到 node 的資料夾 root (UID=0) 會發生 permission denied 的問題。

2.觀察到在 n

[2020-04-22 03:23] saivirtue commented on #4587
Duplicated to #4583 😃

[2020-04-22 03:23] #4587 closed

[2020-04-22 03:56] chia7712 commented on #4460
@jackyoh 感謝提供的資訊

權限的部分考量我們目前還沒有要整合，因此目前比較適合的邏輯應該是使用者要事先準備好目錄給我們來mount(例如權限設定)，以及我們在建立ohara volume的時候要先確認權限是否可行 (例如目錄的使用者名稱一定要等於ohara，以及目錄是否存在)，簡單來說，在沒有整合權限的狀態下，我們不應該去做太多"猜測"的自動化

[2020-04-22 05:40] jackyoh commented on #4460
所以在 ContainerClient 測試程式的部份，應該要先在 IT 的 node 裡先建立資料夾，然後測試程式用 hard code 的方式指定 path 去檢查資料夾有沒有存在以及 own 是否為 ohara。

等做了權限管理之後再來整自動化的部份

[2020-04-22 06:23] chia7712 commented on #4460
檢查的部分，k8s的APis能做到嗎？

[2020-04-22 06:35] jackyoh commented on #4460
K8S Api 做不到檢查 remote node 的資料夾有沒有存在以及資料夾的 own，我常常忘掉資料夾是 remote 的操作。

[2020-04-22 07:30] #4586 closed

[2020-04-22 07:31] eechih opened #4596 "[Manager] Create file page for settings"
as title

[2020-04-22 07:39] konekoya opened #4598 "[Manager] Fix Pipeline related issues"
- [x] Fix stop all component and start all component menu
- [x] Ensure Paper can be fully loaded
- [x] Handle errors emit in epics so the errors can be displayed in both snackbar and event log
- [x] Fix Navigator's active state not syncing with Papers issue
- [x] Connector API is being called multiple times
- [x] Update metrics on pipeline
- [x] Change connector's topic doesn't remove its previous

[2020-04-22 07:39] #4520 closed

[2020-04-22 08:16] eechih opened #4599 "[Manager] Create zookeeper nodes page for settings"
as title

[2020-04-22 08:43] chia7712 commented on #4460
或許利用ssh來做操作?

[2020-04-22 08:44] #951 closed

[2020-04-22 09:13] jackyoh commented on #4460
我這邊會先去研究看 K8S 的 plugin 看能不能做到建立資料夾的部份，如果最後沒辦法只能透過 ssh 的方式來建立資料夾。

[2020-04-22 09:29] #4596 closed

[2020-04-22 09:46] #4580 closed

[2020-04-22 13:47] eechih opened #4602 "[Manager] Refactor confirm dialog for delete workspace"
as title

[2020-04-22 14:00] jackyoh commented on #4460
我很像有找到在 k8s 的 node 建立資料夾的方法了，如下連結：
https://serverfault.com/questions/906083/how-to-mount-volume-with-specific-uid-in-kubernetes-pod

它的概念是在啟動 pod (container）之前會有一個 init container 的動作，mount 資料夾到 container 裡，之後調整資料夾的 own 權限，這樣 node 資料夾的 own 也會跟著修改。

目前有使用 ohara 的 zookeeper container 做個簡單的實驗，看起來 zookeeper container 可以順利存取 node 的資料夾，啟動 zookeeper pod 的 k8s 設定如下：
[code]

我明天還會繼續做進一步的測試，如果沒問題的話就會把以上的設定整入

[2020-04-22 16:02] jackyoh commented on #4460
@chia7712
我後來想一想我上面寫的 sample 設定，只能用在 mount volume 並修改權限，讓 container 可以 mount volume 執行服務。而無法做到我們討論的直接在 node 上檢查資料夾存不存在和 own 的使用者。看來還是需要用 ssh 來做了。

[2020-04-22 16:08] chia7712 commented on #4460
@jackyoh 感謝測試，如果明天中午之前沒有特別的解法的話，我們就敲前端一起討論一下

[2020-04-22 23:50] #4602 closed

[2020-04-23 01:43] eechih opened #4604 "[Manager] Create worker plugins page for settings"
as title

[2020-04-23 02:12] eechih opened #4606 "[Manager] Refactor the NodeTable component"
as title

[2020-04-23 02:27] vitojeng opened #4608 "Remove redundant graph creation in the route handler of Shabondi source"

[2020-04-23 02:53] saivirtue opened #4610 "[Manager] Add Shabondi in toolbox"

[2020-04-23 03:23] #4569 closed

[2020-04-23 03:25] #4604 closed

[2020-04-23 03:37] eechih opened #4611 "[Manager] Create stream jars page for settings"
as title

[2020-04-23 03:51] #4606 closed

[2020-04-23 03:58] jackyoh commented on #4460
@chia7712

我嘗試很多方法想要透過 K8S API 去檢查 remote node 資料夾是否存在以及資料夾的 own，但
都沒有辦法成功，有些問題是沒辦法拿到正確的 exception 訊息，有些是超出我的能力範圍太多。但我感覺到最後應該都會用到 ssh 來處裡 remote node 操作資料夾的需求。

因此需要前端的幫忙，看是否能把之前建立 k8s node 的帳號和密碼重新拿回來使用，這樣才有辦法透過 ssh 來檢查 remote node 的資料夾和 own

[2020-04-23 04:03] chia7712 commented on #4574
有道理，這算是bug，再麻煩你開PR修正一下

[2020-04-23 04:05] chia7712 commented on #4460
@oharastream/developer ping 前端 :)

如上面jack所提，目前在管理volume上不管是docker mode或是k8s mode都需要透過ssh來進行一些底層的操作和檢查，換言之，這邊需要前端調整讓使用者"需要"輸入可操作的帳密，這邊不知道你們有什麼想法?

[2020-04-23 04:17] saivirtue commented on #4460
以我目前的理解，這組帳密是為了"管理host volumes"所用的?
由於我們目前所有服務應該都是基於"ohara"這個使用者來啟動服務與操作，在我們的UI上需要使用者輸入一組可以"跳過ohara使用者來遠端操作host dir"是否怪怪的?

[2020-04-23 04:20] chia7712 commented on #4460
我不太清楚"跳過ohara使用者"的意思

該登入是方便後端針對volume的部分先進行一些基本的檢查(或是一些基本的自動化)，由於docker模式具有帳密可以完成相關檢查，但k8s這邊缺乏相關支援。如果後端沒有能力去進行相關操作，會演變成使用者依然要自行登入到所有節點去幫我們完成事先檢查和操作，這樣就偏離我們的整合了

[2020-04-23 04:26] saivirtue commented on #4460
我想我該解釋清楚點XD

這裡其實不是完全正確。因為docker模式下的host帳密目的應該為"允許使用者可以登入到該台主機並且操作docker服務"，而不是"操作資料夾"。我想我們應該會需要有控制資料夾的權限才有辦法達到此目的，對吧?

而K8S模式如果需要此支援，那這組帳密的權限要與K8S安裝的權限相同嗎?  抑或是足夠更改"想要操作的資料夾"的權限就夠了?

[2020-04-23 04:33] chia7712 commented on #4460
權限的部分我們目前主要是做檢查，例如目錄權限或者存在與否，以linux的規則來說一般使用者"通常"都具備此等權限，至於更複雜的例子或許可以等我們要整security的時候再討論。

如上所述，k8s這邊要的只是一個能登入的帳密即可

[2020-04-23 04:38] saivirtue commented on #4460
了解，那我的想像是：

Docker: 以目前的UI流程可能可以不用改? (對使用者來說需要針對每台host都要兩組帳密好像有點麻煩)
K8S: 感覺需要額外的步驟來設定 "可以登入有安裝K8S slave機器的帳密"

[2020-04-23 04:40] chia7712 commented on #4460
你說的沒錯

沒錯，我一開始的想像是設定nodes的步驟可以兩個模式都走一樣的流程? 當然看前端你們的想法

另外如果這個變更會增加一定的時辰的話，或許我們要討論一下release時間往後延一下，否則volume的功能會有點難進行

[2020-04-23 04:45] saivirtue commented on #4460
K8S如果要走新增node的流程，我覺得可能會需要在畫面上多點提示使用者為何需要這組帳密...並且這個新增的步驟我們似乎需要另外用API來處理 (避免與現有的node objects衝突)，或許可以用`/objects`這支API來儲存?

[2020-04-23 04:47] chia7712 commented on #4460
或許讓使用者針對已經存在的node設定帳密就好? 因為k8s模式會自動去撈取nodes，可以提示使用者去為那些node設定帳密以利後續volume的使用?

[2020-04-23 04:51] saivirtue commented on #4460
聽起來可行，只是在建立workspace過程中這個步驟我們無法限制使用者"一定"要輸入 (因為列表會出現已撈取的nodes)

對於要如何"限制使用者不能勾選還未輸入帳密的node"，畫面要如何呈現我沒什麼想法...XD

[2020-04-23 04:55] chia7712 commented on #4460
細節可能還需要討論XD

沒錯

另外我剛剛想到一件事情，或許前端可以晚一點再實作，因為後端可以延後此錯誤直到使用者開始操作volume的時候才拋出需要帳密的錯誤? @jackyoh 你覺得呢? 這樣前端可以等到0.11再來實作，而後端我們可以封裝檢查的邏輯給docker 和 k8s使用，另外在IT的部分就是要求在測試volume的時候要輸入帳密 (或許可以沿用docker的參數)

[2020-04-23 04:57] chia7712 commented on #4457
@jackyoh 我剛剛測試jdbc的時候出現此錯誤

[code]

能否確認一下是否遇到data遺失?

[2020-04-23 05:34] jackyoh commented on #4457
因為目前我在我的 local 連續測試二次都沒噴錯誤，所以我想確認一下這是在 local 測的還是 QA 測到的錯誤
[code]

[2020-04-23 05:42] chia7712 commented on #4457
我先在QA看到，然後在local掛著一直跑也能噴出此錯誤

[2020-04-23 05:49] jackyoh commented on #4457
那可以給我 branch 名稱嗎？我想拉下來測看看，因為在我的環境跑還沒噴錯誤

[2020-04-23 05:55] chia7712 commented on #4457
跑master就可以了

[2020-04-23 05:55] jackyoh commented on #4457
OK, 我在測幾次看看。

[2020-04-23 06:03] jackyoh commented on #4460
是指在 ContainerClient 的 ContainerVolume case class 新增 username 和 password 嗎？

我覺的帳號密碼的部份前端可已到 0.11 版再做，目前後端要先把 createVolume 做到能遠端檢查 node 的資料夾，讓 api 和整合測試能夠使用 volume。

[2020-04-23 06:04] chia7712 commented on #4460
或許依然操作Node就好，當發現node沒有設定帳密的時候拋出錯誤就好

[2020-04-23 06:09] #4611 closed

[2020-04-23 06:11] eechih opened #4615 "[Manager] Refactor the TopicTable component"
as title

[2020-04-23 06:16] vitojeng commented on #4460
+1
前端目前的工作滿載...可能再加入 Volume 這個部份應該很困難

[2020-04-23 06:46] #4610 closed

[2020-04-23 07:01] eechih opened #4617 "[Manager] Prevent deleting the topic that is being used by pipeline"
as title

[2020-04-23 07:02] eechih opened #4618 "[Manager] Prevent deleting the file that is being used worker or stream"
as title

[2020-04-23 07:03] jackyoh commented on #4574
ok, 我來修改。

[2020-04-23 07:14] vitojeng opened #4619 "Rename shabondi source and sink service's classname"
Follow the connector's class naming style for the proper component name in the UI

[2020-04-23 07:16] eechih commented on #4298
Duplicate with #4456

[2020-04-23 07:16] #4298 closed

[2020-04-23 07:17] eechih commented on #3393
未來的 UI 不再顯示 Workspace Overview

[2020-04-23 07:17] #3393 closed

[2020-04-23 07:21] eechih commented on #4459
依照新版 UI 設計，選擇 Worker Plugin 的步驟將被移除

[2020-04-23 07:21] #4459 closed

[2020-04-23 07:35] #4590 closed

[2020-04-23 07:45] jackyoh commented on #4460
因為目前的 ContainerClient 設定 node 的方式是透過 string 傳入 node name, 那是否要改成傳入 Node case class, 不然 ContainerClient 在建立 volume 時沒有帳號和密碼資訊無法做 ssh 的登入，做檢查的動作。

[2020-04-23 07:46] chia7712 opened #4621 "Introduce Ohara Volume (chapter 1)"
1. - [x] add Volume route - Get, List, Delete And Update (#5323)
1. - [x] add Volume route - Start and Stop (#5329)
1. - [x] Added mount volume to create pod for the K8SClient and DockerClient (#4575 )
1. - [ ] create/delete volume on/from specify path

[2020-04-23 07:48] eechih opened #4622 "[Manager] Reset form data after successful topic creation"
as title

[2020-04-23 07:50] chia7712 commented on #4460
在agent裡面有一個介面稱之為```DataCollie```可以用來幫忙轉換hostname -> node，DockerClient底層仰賴它，或許k8s也可以有一樣的行為

不過考量到驗證的邏輯理論上是相同的，或許使用DataCollie建立一個新的專門用來做驗證的類別，然後讓DockerClient和K8sClient去呼叫它就好

[2020-04-23 07:51] eechih opened #4623 "[Manager] Reset form data after successful node creation"
as title

[2020-04-23 07:53] eechih opened #4624 "[Manager] Create workspace restart indicator"
as title

[2020-04-23 08:23] eechih opened #4627 "[Manager] Enhance the progress dialog for workspace creation"
Suport rollback & retry

[2020-04-23 08:37] eechih opened #4628 "[Manager] Prevent removing the node from workspace when the node is being used by some services"
as title

[2020-04-23 09:18] chia7712 opened #4630 "Upgrade Scala 2.12.11 to 2.13.2"
we are using kafka 2+ and it supports scala 2.13+ so it is time to bump up our scala support :)

[2020-04-23 09:18] chia7712 commented on #4630
ping @vitojeng

[2020-04-23 09:18] chia7712 commented on #4630
ping @jackyoh

[2020-04-23 10:54] #4572 closed

[2020-04-23 11:37] vitojeng commented on #4630
走在時代的前端

[2020-04-23 12:22] eechih opened #4631 "[Manager] Refactor the Dialog and DeleteDialog components"
as title

[2020-04-23 12:37] vitojeng commented on #4630
剛剛發現 2.13.2 出來了⋯⋯ 🤣

[2020-04-23 12:38] chia7712 commented on #4630
立刻更新...

[2020-04-23 12:47] #4615 closed

[2020-04-23 15:24] chia7712 commented on #4457
@jackyoh error again

https://builds.is-land.com.tw/job/PreCommit-OHARA/9588/testReport/junit/oharastream.ohara.connector.jdbc.source/TestJDBCSourceConnectorExactlyOnce/testTableUpdate_1_test_input_data_time_is_30_000_MILLISECONDS_/

[2020-04-23 23:24] #4608 closed

[2020-04-23 23:24] #4061 closed

[2020-04-24 00:10] #4583 closed

[2020-04-24 00:54] chia7712 opened #4635 "Upgrade all dependencies excluding hdfs"
1. **akka** 2.5.26 -> 2.6.4
1. **scalatest** 3.0.8 -> 3.1.1
1. **javassist** 3.24.1-GA -> 3.27.0-GA
1. **slf4j** 1.7.28 -> 1.7.30
1. **Scala Java8 Compat** 0.9.0 -> 0.9.1
1. **commons-lang3** 3.7 -> 3.10
1. **wix-embedded-mysql** 4.1.2 -> 4.6.1
1. **mysql-connector-java** 8.0.12 -> 8.0.19
1. **commons-io** 2.4 -> 2.6
1. **com.google.guava** 27.1-jre 29.0-jre
1. **rocksdb** 5.18.3 -> 5.18.4
1. **ja

[2020-04-24 00:57] saivirtue opened #4636 "[Manager] Add Shabondi to pipeline"

[2020-04-24 01:06] jackyoh commented on #4630
+1

[2020-04-24 01:23] jackyoh commented on #4457
以上的錯誤訊息跟之前發生的錯誤原因有點不一樣，這次發生錯誤是在 update table 的地方，我會再查看看原因。另外我來開一個 issue 來紀錄 JDBC source connector 的 error 訊息, 來統計出錯的頻率和出錯的訊息，有助於之後再補測試程式和 debug 。

[2020-04-24 01:51] jackyoh opened #4637 "JDBC source connector 測試程式執行失敗紀錄表"
目前 jdbc source connector 有寫了一些 Exactly once 的測試程式在 #4457, 但有時候執行測試程式的資料筆數會不正確，因此如果有發現此問題，再把 error 貼到以下 comment 裡，我會在建立漏掉的測試，來修改 jdbc source connector bug 的部份。

[2020-04-24 01:52] jackyoh commented on #4637
錯誤訊息
org.scalatest.exceptions.TestFailedException: 16853 was not equal to 16849
堆疊追蹤
org.scalatest.exceptions.TestFailedException: 16853 was not equal to 16849
	at org.scalatest.MatchersHelper$.indicateFailure(MatchersHelper.scala:343)
	at org.scalatest.Matchers$AnyShouldWrapper.shouldBe(Matchers.scala:6919)
	at oharastream.ohara.connector.jdbc.source.TestJDBCSourceConnectorExactlyOnce.testConnect

[2020-04-24 01:56] jackyoh commented on #4637
測試程式的錯誤訊息：
[code]

[code]

[2020-04-24 01:59] konekoya opened #4638 "[Manager] Sort JSX props order via eslint"
/cc @eechih and @oharastream/frontend

See the discussion here: https://github.com/oharastream/ohara/pull/4632#discussion_r414238205

[2020-04-24 02:03] konekoya commented on #4638
Not sure if this prop can be fixed automatically or not, i will probably enable this in 0.11

[2020-04-24 02:10] chia7712 commented on #4635
ping @jackyoh @vitojeng

[2020-04-24 02:11] chia7712 commented on #4635
akka brings a lot of deprecated methods so this issue will include a huge PR :_

[2020-04-24 02:12] #4631 closed

[2020-04-24 02:16] chia7712 opened #4640 "fix flaky TestApiUrl"
[code]

Maybe we should use another way to get context from the URL.

[2020-04-24 02:16] chia7712 commented on #4640
FYI @vitojeng @jackyoh

[2020-04-24 03:06] chia7712 opened #4641 "fix flaky TestTestCases#testListTestClasses"
[code]

we don't check the existence ....

[2020-04-24 03:10] vitojeng commented on #4640
@chia7712 If you don't have enough time for this issue, I can take it.

[2020-04-24 03:18] vitojeng commented on #4635
Because Akka 2.5 & Akka 2.6 have a lot different.
I suggest pending the akka version bumping until to the next milestone.

[2020-04-24 03:19] chia7712 commented on #4635
In fact, I have completed the migration :)

Let me test the PR later.

[2020-04-24 03:22] vitojeng commented on #4635
OK

[2020-04-24 03:22] chia7712 commented on #4640
sure and thanks!

[2020-04-24 03:47] #4619 closed

[2020-04-24 03:56] vitojeng commented on #4637
有機會在這個 milestone 修好嗎?

[2020-04-24 04:04] jackyoh commented on #4637
因為這些錯誤要測很多次才會出現，我還要在想一些 test case。所以有可能在這個 milestone 會修不好，如果有修好會先上 hot fix。

[2020-04-24 06:19] #4617 closed

[2020-04-24 07:03] vitojeng opened #4645 "Add nodeNames definition to Shabondi API"
`nodeNames` is a required setting when start the shabondi service

We should add `nodeNames` definition into shabondi definitions.

[2020-04-24 07:04] #4640 closed

[2020-04-24 07:11] #4641 closed

[2020-04-24 07:39] #4618 closed

[2020-04-24 08:51] #4628 closed

[2020-04-24 11:22] #4645 closed

[2020-04-24 15:31] #4630 closed

[2020-04-25 08:38] chia7712 opened #4652 "the data order from Inspect is broken if the end offset is not fetched"
[code]
If the fetch is timeout, the end offsets is a empty collection. The consumer which does not seek to correct offsets will return the records from the beginning. For example, there are 10 records and we query the topic for 5 records (it means 5 ~ 9). Without the seeks, the returned records are 0 ~ 4.

It seems to me waiting the fetch is a bit hacky and we should just adjust the returned recor

[2020-04-26 06:07] #4635 closed

[2020-04-26 13:25] eechih opened #4653 "[Manager] Refact the MuiTable component"
1. 將 Selection 邏輯抽象化
2. 支援 All Select

[2020-04-27 04:45] #4574 closed

[2020-04-27 08:00] saivirtue opened #4657 "[Manager] Connector hooks could not re-fetch after switching pipeline"
Will follow the other's logic (stream and topic); Fetching all connectors at initialization

[2020-04-27 08:10] vitojeng opened #4658 "Exception handling in the Shabondi source service"
follow-up #4608

[2020-04-27 08:40] #4653 closed

[2020-04-27 09:52] konekoya opened #4659 "[Manager] Hide the settings menu for the upcoming 0.10.0 release"
As per our discussion, this feature is not that useful for now. cc @eechih

[2020-04-27 09:56] eechih opened #4660 "[Manager] Fix flaky FileTable"
as title

[2020-04-27 09:58] konekoya commented on #4660
The new UI seems pretty neat @eechih :)

[2020-04-27 10:04] eechih commented on #4660
歸功於你的 Settings UI，感謝 🙇‍♂️ @konekoya

[2020-04-27 11:17] konekoya commented on #4660
XXD 太客氣了

[2020-04-27 14:17] #4659 closed

[2020-04-28 01:46] konekoya opened #4664 "[Manager] Ensure Paper's state is cleaned when switching between workspaces"
#4614 Tweaked the logic for changing pipelines. But workspace seems to have problem clean/update paper's state if the workspace is created without a new pipeline (UI's default behavior)

Another thing we need to address in this issue is that deleting a pipeline update request is __sometimes__ called after a complex deletion. E.g., a deletion with lots of topics involved

[2020-04-28 02:05] konekoya opened #4665 "[Manager] Redirect to workspace settings pages from Toolbox's add buttons"

[2020-04-28 03:57] #4598 closed

[2020-04-28 07:49] #4636 closed

[2020-04-28 08:34] #4624 closed

[2020-04-28 08:37] #4660 closed

[2020-04-28 13:12] vitojeng opened #4670 "Update the Shabondi source and sink path segment"
### Currently:
#### add Row to Shabondi source
[code]

#### fetch Rows from Shabondi sink
[code]

### After:

1. Remove *default* group support, user must specify group name explicitly.
2. Remove `v0` segment

#### add a Row to Shabondi source
[code]

#### fetch Rows from Shabondi sink
[code]

[2020-04-28 13:13] vitojeng commented on #4670
ping @oharastream/developer

[2020-04-28 21:34] #4664 closed

[2020-04-29 01:12] konekoya opened #4671 "[Manager] Paper element's metrics should always being displayed when the metrics switch is on"
It's sometimes not showing up

[2020-04-29 03:07] eechih opened #4672 "[Manager] Fix flaky TopicTable - Cannot to delete topic"
Cannot to delete topic

[2020-04-29 06:43] konekoya opened #4677 "[Manager] Display topic's partitionInfos in the UI"
For connectors and streams, they both have taskStatus and are display in the UI (Showing in the property view and named as "Nodes") where we displays the node name and status (running or fail etc). But for topics, they don't have taskStatus field in the API and instead have a field named partitionInfos. We should display the info if it's important for users to debug or troubleshoot :)

/cc @eechih

[2020-04-29 06:48] konekoya opened #4678 "[Manager] Updating metrics epic is resetting Property Dialog's form state"
Pretty annoying bug. I will need to figure out a way to avoid this epic from re-rendering the dialog component or at least not resetting its state (user data/inputs)

[2020-04-29 08:00] #4672 closed

[2020-04-29 08:00] #4622 closed

[2020-04-29 08:07] eechih opened #4681 "[Manager] In K8S mode, add a new node to the node selector in the workspace"
as title

[2020-04-29 08:51] #4652 closed

[2020-04-29 08:54] saivirtue commented on #4421
@eechih
This issue seems not happened again and I will close now.

[2020-04-29 08:54] #4421 closed

[2020-04-29 09:10] chia7712 commented on #4457
@jackyoh 麻煩完成以下事項

1. 下個結論
1. 關閉此議題
1. 將後續的議題開好
1. 將此做為known issue放到0.10.0的release note (FYI @eechih )

[2020-04-29 09:13] chia7712 commented on #4460
@jackyoh 麻煩將未完成的議題移動到#4621，然後關閉此議題

[2020-04-29 09:20] jackyoh commented on #4460
OK, 我來移動。

[2020-04-29 09:29] jackyoh opened #4684 "Ohara 0.11.0 Release"
## 1. Schedule
🚴‍♂️  Start: 2020/05/29 (Fri)
❄️  Frozen: 2020/07/10 (Fri)
🐞  Testing & Fix bug: 2020/07/13 (Mon)
🎉  Release: 2020/07/31 (Mon)

## 2. Need To Be Done
### Planning & Design
  - [x] Design wireframe of Ohara Volume
  - [ ] Design 資料追踪
### Backend
  - [x] Enable Java 11 runtime support
  - [ ] Shabondi error handling
  - [x] JDBC Source connector for the multi task
  - [x] Added mount

[2020-04-29 09:33] konekoya commented on #4427
The logic has been moved to settings and the classname was renamed during our refactoring

[2020-04-29 09:33] #4427 closed

[2020-04-29 09:38] #4460 closed

[2020-04-29 09:47] #4671 closed

[2020-04-29 09:50] konekoya opened #4685 "[Manager] Unable to delete and rename default workspace name in quick create workspace"
While each keystroke is slow, the name also cannot be fully deleted (it resets back to its default name if you try to do so...)

- [x] 0.10 (#4713)
- [x] 0.11 (#4712)

[2020-04-29 11:21] #4665 closed

[2020-04-29 12:37] jackyoh commented on #4457
ok, 我來下個結論。

在 0.10 版的 jdbc source connector 為了要做到讓資料 exactly once 寫了一些測試程式, 但不幸運的是目前測出來的結果還是有可能不是 exactly once，目前猜測主要的問題在 jdbc source connector recovery 這一段程式的 flag 和 offset 沒有控制好而導致資料筆數不正確，之後還會繼續撰寫測是程式來找出問題。

目前在 issue #4637 紀錄 jdbc source connector 的錯誤訊息，用來之後 debug 使用。

[2020-04-29 12:38] #4457 closed

[2020-04-30 00:29] #4657 closed

[2020-04-30 01:22] konekoya opened #4687 "[Manager] Update jQuery to fix security issue"

[2020-04-30 03:10] #4670 closed

[2020-04-30 05:14] #4687 closed

[2020-04-30 05:58] konekoya commented on #4375
For manager's security audit report, all security warning are coming from our third-party lib forever. There's already report in in their issue tracker: https://github.com/foreversd/forever/issues/1072

We will need to wait for their update for this fix

[2020-04-30 06:07] konekoya opened #4690 "[Manager] Regenerate yarn.lock files in both manager and client to get rid of cached audit report"
For some reason. The security warnings coming from yarn audit could be cached or outdated. I will generate new yarn.lock files as well as upgrading cypress to get rid of minimal security warning

[2020-04-30 06:07] konekoya commented on #4690
See also #4375

[2020-04-30 06:30] eechih opened #4692 "[Manager] Add a prompt to add more selectable nodes in the zookeeper nodes page"
as title

[2020-04-30 06:34] eechih opened #4693 "[Manger] Display pagination when the size of data in the table is greater than 5"
as title

[2020-04-30 06:46] eechih opened #4696 "[Manager] Remove redundant code"
as title

[2020-04-30 06:50] #4623 closed

[2020-04-30 07:00] eechih commented on #4681
這個 Issue 目地是希望在調整 Worker Nodes 時，能方便地從 All Nodes 挑選新的 node 增加到 Workspace Nodes。

目前 UI 動線還需要進一步規劃，因此用提示訊息這樣一個簡單的方式先代替。

Issue #4692

[2020-04-30 07:00] #4681 closed

[2020-04-30 07:05] eechih commented on #3510
#4521 instead

[2020-04-30 07:05] #3510 closed

[2020-04-30 07:16] #4693 closed

[2020-04-30 07:38] chia7712 opened #4699 "change the return type of TaskSetting#topicNames from List to Set"
it makes sure the duplicate name disappear :)

1. - [x] for 0.11.0 (#4754)
1. - [x] for 0.10.0 (#4778)

[2020-04-30 08:00] #4692 closed

[2020-04-30 08:30] #4690 closed

[2020-04-30 08:38] #4696 closed

[2020-04-30 09:01] konekoya commented on #4456
@chia7712 @eechih I've removed the tasks from the list as all definitions seem to have its default value now :)

[2020-04-30 09:02] konekoya commented on #4456
@wu87988622 Please move redux-form task to another issue and close this issue when you've done so. Thanks 🙏

[2020-04-30 09:04] wu87988622 opened #4700 "[Manager] Update pipelinePropertyDialog at Final form to Redux form"

[2020-04-30 09:06] wu87988622 commented on #4456
- [ ] [Manager] Update pipelinePropertyDialog at Final form to Redux form move to  #4700

[2020-04-30 09:06] #4456 closed

[2020-04-30 09:23] wu87988622 opened #4701 "[Manager]In the setting page, the action will be sent repeatedly"

[2020-04-30 10:32] #4521 closed

[2020-04-30 11:00] chia7712 opened #4703 "the size of request can't exceed default size (8MB)"
it seems we don't apply the correct route rule via akka. However, I am not sure whether the large jar is suitable to us. all bytes are managed by rocksdb and the large object is NOT good to rocksdb as well. Ohara connectors supports to take multiples jars so it should be fine to demand users to put small jar. By contrast, stream accepts single jar currently but it will support multiples jars in th

[2020-04-30 13:33] #4559 closed

[2020-05-04 03:17] saivirtue opened #4705 "Integrate scala library into stream image"
As a developer, I feel the implementation of stream is really really hard if I choose the scala way...

[POC issue](https://github.com/oharastream/megabank-streaming/issues/20#issue-611575926)

As is, we should integrate scala into stream image by default.

[2020-05-04 03:56] #4508 closed

[2020-05-04 06:17] eechih opened #4706 "Change branch versions from master to 0.10.x"
as title

[2020-05-04 07:11] wu87988622 commented on #4539
In the setting page, the action will be sent repeatedly #4701

[2020-05-04 07:19] eechih opened #4708 "change 0.10.0-SNAPSHOT to 0.11.0-SNAPSHOT for master branch"
as title

[2020-05-04 07:30] konekoya commented on #4539
- [ ] Jumping between settings pages are very slow
- [ ] [Manager] Unable to delete and rename default workspace name in quick create workspace (#4685)
- [ ] [Manager] Updating metrics epic is resetting Property Dialog's form state (#4678)

[2020-05-04 08:29] vitojeng commented on #4706
在這個 PR merge 後,將會建立 0.10.x docs

[2020-05-04 09:30] eechih commented on #4539
- [ ] Create workspace - Quick: When no node is selected, the NEXT button should be disabled

[2020-05-05 03:49] konekoya opened #4711 "[Manager] Support a single stream jar file which contains more than one class can be added into Pipeline"

[2020-05-05 08:18] eechih commented on #4539
### 2020/5/5

### Pipelines

[2020-05-05 09:04] konekoya opened #4714 "[Manager] Fix various bugs in property view"
These including the following issues:

- Metrics section is not displaying in the view
- The panel is not closed even when the connector/stream is removed from Paper
- Select a stream element from the Paper breaks the App
- Select a shabondi element from the Paper breaks the App

### Should goes into:
- [x] 0.10.0 (#4724)
- [x] 0.11.0 (#4723)

[2020-05-05 16:12] chia7712 opened #4715 "Fail to upload stream jar if we have deployed plugin on worker"
how to reproduce this bug ?

1. upload a plugin to worker
1. upload a stream jar in pipeline page (not working)

[2020-05-05 16:13] chia7712 commented on #4715
FYI @oharastream/frontend

[2020-05-05 16:14] chia7712 opened #4716 "Uploading a jar which has no stream to pipeline doesn't give response"
how to reproduce this bug?

1. prepare a jar having no stream
1. upload it to pipeline (no response)

[2020-05-05 16:15] chia7712 opened #4717 "Show the real group and name of pipeline-only topic"
Currently, UI does not support to assign multiples topics so it would be better to show the real group and name of pipeline-only topic so we can define the topics manually.

[2020-05-05 16:15] chia7712 commented on #4717
FYI @oharastream/frontend

[2020-05-05 16:15] chia7712 commented on #4716
FYI @oharastream/frontend

[2020-05-05 16:24] chia7712 opened #4718 "the uploaded streams disappear after refreshing"
how to reproduce this issue:

1. upload stream jar to pipeline
1. refresh page
1. the uploaded streams disappear

[2020-05-05 16:24] chia7712 commented on #4718
FYI @oharastream/frontend

[2020-05-06 00:58] saivirtue commented on #4717
This is definitely needed. Is this enhancement for `0.11` or also backport to `0.10`?

[2020-05-06 01:14] chia7712 commented on #4717
Please backport to 0.10.0

[2020-05-06 01:19] saivirtue commented on #4718
This issue seems not appear in `0.10`, I'll test the same scenario in `0.9`

[2020-05-06 01:22] saivirtue commented on #4716
This issue seems not appear in `0.10`, I'll test the same scenario in `0.9`

[2020-05-06 01:26] eechih commented on #4717
@chia7712 也許我們應該新增一個 core definition for displayName?

[2020-05-06 01:30] chia7712 commented on #4717
哪些元件？還是只有topic要增加這個definition? 另外預設值要填什麼？

[2020-05-06 01:34] saivirtue commented on #4715
Since we disable upload plugins when creating a workspace (#4522), this issue could not reproduce in the current version. I will test the same scenario in 0.9 later

[2020-05-06 01:36] saivirtue commented on #4539
- [ ] [Node Dialog] could not add node in Docker mode when creating workspace

[2020-05-06 01:38] eechih commented on #4717
目前想到的有 topic, connector, stream, shabondi。不要預設值，只要設定為 Optional。

[2020-05-06 01:44] saivirtue opened #4719 "[Node Dialog] could not add node in Docker mode when creating workspace"
As title.

- [ ] for 0.11
- [ ] backport to 0.10

[2020-05-06 01:45] chia7712 commented on #4717
需要backport到0.10.0以解決此議題嗎？

另外這個欄位是只有給UI使用嗎

[2020-05-06 01:48] eechih commented on #4717
Yes

這應該算是一個 common 的需求，因為使用者可以把 displayName 視為 alias。

[2020-05-06 01:58] saivirtue commented on #4718
I could not reproduce the same result as you described, maybe it is a network issue?

[2020-05-06 02:02] saivirtue commented on #4716
Unfortunately, this is a bug :(
Do we need to fix this bug in `0.9.1`?

[2020-05-06 02:10] saivirtue commented on #4715
Unfortunately, this is a bug :(
Do we need to fix this bug in `0.9.1`?

[2020-05-06 02:23] chia7712 commented on #4715
It seems to me we should move on to 0.10.0 ASAP so we don’t need to backport to 0.9.1

[2020-05-06 02:23] chia7712 commented on #4718
I will give more tries later :)

[2020-05-06 02:25] chia7712 commented on #4717
這是指在UI上使用者可以直接使用display name來指定物件嗎？感覺是新功能？另外使用者可以在UI上設定displayname嗎？

[2020-05-06 02:28] #4719 closed

[2020-05-06 03:16] saivirtue opened #4722 "[Develop Tool] 無法查詢 Pipeline only topic 的資料"
![image](https://user-images.githubusercontent.com/8088616/81135499-02e4da00-8f8b-11ea-99fc-f012847734cd.png)

/cc @eechih
Let me take over this issue :)

- [x] for 0.11 (#4726)
- [x] backport to 0.10 (#4814)

[2020-05-06 03:21] eechih commented on #4722
@saivirtue ok, thanks.

[2020-05-06 03:31] vitojeng commented on #4715
Totally agree. We should focus fixing on v0.10.0 and then move to v0.10.0 ASAP.

[2020-05-06 03:56] konekoya commented on #4716
I will do a more comprehensive test on this in 0.10 and report back :)

[2020-05-06 06:19] eechih opened #4725 "[Manager] UI should be manage its own set of definitions"
目前 UI 直接使用 API 的 definitions 去渲染資料欄位

為了避免 UI 的特殊需求而要求 API 配合調整，因此 UI 需要對 API deficitions 進行適度的轉換

例如：UI 需要一組用來描述 displayName 的 definition，但是這對於 API 的使用者並不是必要的，因此可以藉由 UI 在轉換 definitions 的過程中，增加一組 displayName 的 definition

*這個部分必須使用 TypeScript 來實作，因為該語言擁有可以定義結構的特性

[2020-05-06 06:33] wu87988622 commented on #4725
如果後端能提供一個新的API，例如 POST /vo/definitions body:{key:display,valueType:string.... }
可以由API使用者去定義，動態的definitions這樣的彈性，會不會再更好一點？

[2020-05-06 06:34] eechih commented on #4717
跟 @chia7712 討論後，displayName 只是 UI 的特殊需求，UI 可以自行處理，不用新增 definition。

另外，UI 需要擁有一組屬於 UI 的 definitions，不要直接使用 API 的 definitions，應該要進行適度的轉換。 #4725

[2020-05-06 06:37] chia7712 commented on #4725
可以由API使用者去定義，動態的definitions這樣的彈性，會不會再更好一點？

可否解釋一下用法? 現在的definitions通常是由ohara connector/stream開發者透過java/scala去定義於程式碼裡面，讓restful APIs使用者可以定義definitions的用途我就沒想過了

[2020-05-06 06:38] chia7712 commented on #4717
那我們討論的workaround要做嗎? 就是先新增一組專為UI定義的definition，然後等到#4725完成後再刪除

[2020-05-06 06:38] konekoya opened #4727 "[Manager] A snackbar is showing up while encountering a bug and will keep showing up every few seconds"
- [x] 0.10 (#4750)
- [x] 0.11 (#4728)

[2020-05-06 06:40] eechih commented on #4717
不用，workaround 可以做在前端。 謝謝 @chia7712 的討論

[2020-05-06 06:42] wu87988622 commented on #4725
看能不能利用restful APIs 去動態的定義某一個kind的definitions，只能新增與修改動態的，已經透過java/scala就無法條動
例如 POST /vo/definitions body:{key:display, kind:topic,valueType:string.... }
例如 PUT /vo/definitions/topic?internal=true

[2020-05-06 06:45] chia7712 commented on #4725
抱歉，我還是捕捉不到。

能否以topic舉例，這組新restful api可以對topic物件的definition做哪些事情?

[2020-05-06 06:52] eechih commented on #4722
backport to 0.9

need to backport to 0.9 ?

[2020-05-06 07:15] wu87988622 commented on #4725
POST /vo/definitions/topic body:{key:displayName,valueType:string.... }之後
broker中的classInfos會增加新的definition定義
GET /inspect/broker
[code]

PUT /vo/definitions/topic?internal=true 之後
broker中的classInfos會修改已新增的動態definition定義
GET /inspect/broker
[code]
接著在新增一個Topic時
可以透過剛剛新增的displayName增加該屬性
例如
POST /vo/Topic
[code]

如果能這樣處理，也許未來有任何對definitions有新的需求，都可以交給需要的那方處理。
比如說未來Ui會需要可以先暫時建立的物件，也可以利用這個彈性。
例如
POST

[2020-05-06 07:20] chia7712 commented on #4725
definition所定義的參數要交由"程式碼"本身去使用，當我們透過restful APIs去修改完，但對應的程式碼"本身"並沒有更動，我們要如何確保兩者可以繼續安全互動?

另外程式碼提供了definitions，那會是"哪一個角色"會需要在runtime的時候去修改definitions?

[2020-05-06 07:23] konekoya opened #4729 "建立兩個 pipelines，分別加入一些元件後，反覆切換兩個 pipeline，會導致 pipeline 的元件錯亂"
- [x] 0.10 (#4763)
- [x] 0.11 (#4762)

[2020-05-06 07:25] wu87988622 commented on #4725
感謝@chia7712 ，解惑

依照上述這樣的問題，確實不太理想，我們必須保持definitions安全與一致性。
我會在思考更好的方式，感謝

[2020-05-06 08:25] konekoya opened #4731 "[Manager] Prevent errors from swallowing by epics"
Currently we are catching all errors inside the epics. But this design also catches the errors coming from our code not API responses and since the errors coming our code won't have the format we're expecting, an empty snackbar is displayed as well as an empty item was written in event logs. A fix would be just handle the errors coming from API responses (the errors fall into the `catchError` bloc

[2020-05-06 08:26] konekoya commented on #4731
/cc @oharastream/frontend

[2020-05-06 08:41] #4685 closed

[2020-05-06 08:42] #4714 closed

[2020-05-06 10:47] chia7712 opened #4732 "TYPE=OBJECT_KEY + REFERENCE=TOPIC is not working"
測試0.9.0的時候發現

如果type設定成OBJECT_KEY，以及REFERENCE=TOPIC，在PIPELINE上可以使用選單，但選取topic後真正存到後端的資料不是OBJECT_KEY而是純文字，例如:
[code]

[2020-05-06 10:47] chia7712 commented on #4732
@oharastream/frontend 麻煩幫忙確認一下是否有發生在0.10.0

[2020-05-07 01:45] saivirtue commented on #4731
It looks like we could check the error object should be `instance of BasicResponse`, otherwise we throw an exception directly?

[2020-05-07 01:54] saivirtue commented on #4732
OK, 感謝回報

[2020-05-07 01:56] konekoya commented on #4731
Yep, this will do :) But @eechih was thinking moving the catchError operator to where it only handles (catches error) the API response. And leave the business logic (thing like calling paperAPI or transforming the data to fit UI's needs) without any error handling and so the errors could be seen and fix right away during the development

[2020-05-07 02:52] eechih opened #4735 "[Manager] Support querying Shabondi logs"
目前 Logs api 尚未支援 Shabondi，相關 api 完成後會立即進行。

/cc @vitojeng

- [ ] 0.10.0
- [ ] 0.11.0 (#4761)

[2020-05-07 02:55] #4519 closed

[2020-05-07 03:26] eechih opened #4736 "[Manager] Shabondi nodeNames definition use reference setting"
Shabondi 的 Node name list 的輸入方式目前有一個缺點，就是輸入 node name 後，必須要按下 Enter 才有效（目前沒有一個好方法提示使用者要去按 Enter），這樣的輸入方式對使用者而言是很不友善。

目前我們有支援下拉選單（多選）的輸入方式，只要 node name list 的 definition 設定 reference 就可以了。 /cc @vitojeng

我認為選單會比字串輸入更友善。

- [x] 0.10.0 (#4772) (#4854 )

[2020-05-07 05:50] saivirtue commented on #4722
My bad :(
it's 0.10 and 0.11

[2020-05-07 05:57] chia7712 opened #4737 "update gradle from 6.3 to 6.4"
we need the fix (https://docs.gradle.org/6.4/release-notes.html) for scala options.

1. - [x] for 0.11.0 (#4753)
1. - [x] for 0.10.0 (#4755)

[2020-05-07 06:43] vitojeng opened #4738 "Logs API for Shabondi service"
Thanks @eechih the reporting.

- [x] v0.10.0 (#4751)
- [x] v0.11.0 (#4740)

[2020-05-07 06:47] vitojeng opened #4739 "Add endpoint definition for Shabondi service"
目的: 提供在 Ohara Manager 裡, 顯示出該 Shabondi service 提供的 Restful API 的 Method & Endpoint

##### Definition for Shabondi Source

key = "shabondi.source.endpoint"
value = "POST http://$nodeName:$clientPort/"
permission = READ_ONLY

##### Definition for Shabondi Sink

key = "shabondi.sink.endpoint"
value = "GET http://$nodeName:$clientPort/groups/{gropuName}"
permission = READ_ONLY

## Final

##### Definit

[2020-05-07 06:59] wu87988622 opened #4741 "[Manager] Fix related bugs in restart and delete dialogs"
**[Restart this workspace]** Close after successful restart in restart workspace is not working

**[Restart this workspace]** The SUSPEND button should be hidden after a successful restart

**[Restart this workspace]** When the SUSPEND button is clicked, should add a message to the logs, like `2020/5/5 上午9:50:46 [SUSPEND]`. Other buttons should have similar behavior.

**[Restart this workspace]**

[2020-05-07 07:08] vitojeng commented on #4739
@eechih , @chia7712
Please take a look. Any suggestion is welcome.

[2020-05-07 07:11] #3022 closed

[2020-05-07 07:14] konekoya commented on #4678
Fixed in https://github.com/oharastream/ohara/issues/4727

[2020-05-07 07:14] #4678 closed

[2020-05-07 07:16] konekoya opened #4742 "[Manager] Delete a pipeline with complex graph could fail to delete the pipeline (The components are deleted though)"
- [x] 0.10 (#4744)
- [x] 0.11 (#4743)

[2020-05-07 07:27] eechih commented on #4739
@vitojeng 或許可以由 api response 說明可支援的 method。value 欄位只放 url。

[2020-05-07 07:29] vitojeng commented on #4739
@eechih  不太確定你的意思, **api response** 是指?

[2020-05-07 07:34] eechih commented on #4739
舉個例子，假如 shabondi.source.endpoint 的 value = "http://demo:4567"，使用者也許會用 GET http://demo:4567 去打這個 API，此時 Api 應該要回應 405 Method Not Allowed，並說明只支援 POST 和範例。

[2020-05-07 07:35] vitojeng commented on #4739
了解, 謝謝

[2020-05-07 07:43] konekoya opened #4745 "[Manager] Address various bugs in Paper"
### Bugs found in our manually testing

- Auto-generated topics are throwing exception once they're added (@konekoya)
- Remove a link from a topic which connects to a sink connector doesn't update connector - property dialog's topic field (@konekoya)
- A running shabondi's state is shown as "stopped" after a page refresh (@konekoya)

### Should go into:
- [x] 0.10 (#4757)
- [x] 0.11 (#4756)

[2020-05-07 08:32] vitojeng opened #4748 "fix missing shabondi state in the Pipeline API"
Nice catch!
Thanks @konekoya reporting.

- [x] v0.10.0
- [x] v0.11.0(#4752)

[2020-05-08 01:12] #4727 closed

[2020-05-08 01:15] #4738 closed

[2020-05-08 01:20] vitojeng commented on #4748
@konekoya Fix done.

[2020-05-08 01:20] #4748 closed

[2020-05-08 02:33] #4538 closed

[2020-05-08 03:16] konekoya opened #4758 "[Manager] Invalid name is not blocked by our UI and so users can use invalid name to create connectors/streams"
- [x] 0.10 (#4760)
- [x] 0.11 (#4759)

[2020-05-08 05:10] #4742 closed

[2020-05-08 05:52] #4737 closed

[2020-05-08 05:59] konekoya opened #4764 "[Manager] Jumping between settings pages are very slow"
- [x] 0.10 (#4769)
- [x] 0.11 (#4768)

[2020-05-08 06:01] wu87988622 opened #4765 "[Manager]RestartWorkspace errors will not be handled"
- [x] Restart workspace 多了幾個不必要的步驟 (@wu87988622 )

as title

[2020-05-08 06:40] jackyoh opened #4767 "[Manager] 輸入 Connector 的設定，停留 5 秒以上文字方塊的值會被清空"
目前在測試 pipeline 時，輸入 connector 的設定時，停留 5 秒左右文字方塊的值會被清掉，如下圖輸入 password 之後過 5 秒左右 password 的值會變成空字串。

![2020-05-08 14-29-56 的螢幕擷圖](https://user-images.githubusercontent.com/15885064/81378340-b68bcc80-9139-11ea-8106-75025da51b73.png)

[2020-05-08 06:44] eechih commented on #4767
@jackyoh thanks for the reporting

[2020-05-08 06:48] eechih commented on #4539
### Edit Property
- [ ] 輸入 Connector 的設定，停留 5 秒以上文字方塊的值會被清空 (#4767 )

[2020-05-08 06:52] konekoya commented on #4767
@jackyoh This has been fixed in #4727. The PR got merged this morning, could you pull down new images and test again see if it was fixed. Thanks :)

[2020-05-08 06:55] jackyoh commented on #4767
ok, 我重新再 pull 一次 manager 的 docker image，如果沒問題我就此 issue 關閉。

[2020-05-08 07:27] #4735 closed

[2020-05-08 07:57] konekoya opened #4770 "[Manager] Toolbox items are sometimes not properly loaded"
- [x] 0.10 (#4773)
- [x] 0.11 (#4771)

[2020-05-08 08:19] vitojeng commented on #4736
@eechih Issue title 似乎應該需要修改?

[2020-05-08 08:23] jackyoh commented on #4767
更新完 0.10.0-SNAPSHOT docker image 之後，設定 connector 的頁面就不會有清除值的問題了。我把此 issue 關閉

[2020-05-08 08:23] #4767 closed

[2020-05-08 08:34] eechih commented on #4736
done

[2020-05-08 13:50] konekoya opened #4774 "[Manager] Fix unstable end-to-end test suites"

[2020-05-08 23:46] #4758 closed

[2020-05-08 23:46] #4729 closed

[2020-05-08 23:46] #4764 closed

[2020-05-09 01:13] konekoya commented on #4774
Closing this as the fail builds were caused by the jenkins env

[2020-05-09 01:13] #4774 closed

[2020-05-09 21:58] #4770 closed

[2020-05-09 21:59] #4745 closed

[2020-05-10 09:47] chia7712 opened #4775 "add reference check to ObjectChecker"
The object key pointing to nonmatched object should be rejected.

1. - [x] for 0.11.0 (#4776)
1. - [x] for 0.10.0 (#4799)

[2020-05-10 13:41] chia7712 opened #4777 "Fix flaky TestContainerClient.testVolume"
[code]

1. - [x] for 0.11.0 (#4779)
1. - [x] for 0.10.0 (#4784)

[2020-05-11 01:19] konekoya commented on #4539
### Settings

- #### Workspace nodes

  - [ ] View node detail should probably not display a scrollbar

- #### Restart and delete dialogs

### Quick create workspace

### Pipeline

### Paper

### App bar

[2020-05-11 03:42] saivirtue opened #4780 "[Question] Could we support "filter" in topic data querying?"
For debugging reason, users may want to trace the error raw had been processed or not. Have a basic filter (ex: `cell_1.value === XXX` or `cell_1.name === YYY`) may be a good start?

[2020-05-11 03:45] saivirtue opened #4781 "[Manager] Topic selection region problem in Toolbox"
1. Add a bunch of topics in toolbox (In my case, I've added 22 topics)
2. drag & drop the latest topic in toolbox
   - Expected: should work normally
   - Actual: could not drag the desire topic

[2020-05-11 03:46] saivirtue commented on #4781
/cc @konekoya

[2020-05-11 03:50] saivirtue opened #4782 "[Manager] component metrics not showing if Metric switch button had been turn-on"

[2020-05-11 03:50] saivirtue commented on #4782
/cc @wu87988622 @konekoya

[2020-05-11 03:55] vitojeng opened #4783 "[Brainstom] Pipeline export / import"
可能的需求情境:
* Ohara 版本升級: 在舊版的 Ohara 需要將 Pipeline 匯入新版 Ohara
* 不同 Ohara 環境: 在 Ohara 環境A 的 Pipeline 匯入 Ohara 環境B

[2020-05-11 04:14] saivirtue commented on #4783
補充一點想法：
export / import只包含在Paper上的呈現內容(A連到B，component名稱，設定等等)，workspace上傳的plugins與stream jars需要使用者自行在該環境"先"完成部署(上傳)動作

[2020-05-11 05:42] konekoya commented on #4781
Thanks for the report. I love real user :)

[2020-05-11 05:44] konekoya commented on #4782
This was fixed during the 0.10 development. But I will test this again to ensure it's truly fixed. Thanks

[2020-05-11 05:47] konekoya commented on #4782
I can confirm this has been fixed. Feel free to test that out in either 0.10.x or master branches  :)

[2020-05-11 05:47] #4782 closed

[2020-05-11 05:53] chia7712 commented on #4783
+1 to @saivirtue

What we can *export* is content of pipeline. The others, like services and nodes, must be deployed already before **importing**.

[2020-05-11 06:17] vitojeng commented on #4783
+1

Topic 的部份, 是否會替 user 建立?

[2020-05-11 06:32] vitojeng opened #4786 "Apply Reference.NODE to all kind services"
In #4736, we decide add a new reference type `NODE` and apply into Shabondi's _NODE_NAMES_DEFINITION_.

For consistence reason, we should apply the `NODE` reference to _NODE_NAMES_DEFINITION_(key is **nodeNames**) in following services
* zookeeper
* broker
* worker
* stream

[2020-05-11 06:39] konekoya opened #4787 "Fix broken links in the current docs"
https://ohara.readthedocs.io/en/latest/user_guide.html?highlight=ftp#network-configurations

The links to Hadoop's YourNetworkYourProblem are broken...

[2020-05-11 07:09] chia7712 commented on #4539
![註解 2020-05-11 150733](https://user-images.githubusercontent.com/6234750/81533709-3cf21980-9399-11ea-9983-41dfb45d5033.jpg)

UI使用錯誤的topic名稱(T1)來打Inspect APIs

[2020-05-11 07:14] chia7712 commented on #4539
![註解 2020-05-11 151310](https://user-images.githubusercontent.com/6234750/81534076-f5b85880-9399-11ea-88d2-d51499660b25.jpg)

建立workspace過程中如果新增節點(例如k8s的自動同步，或是透過APIs新增)，在建立過程中沒有即時更新導致無法選取新的節點

[2020-05-11 07:16] chia7712 commented on #4539
重啟workerspace的按鈕確認後，會頓個一兩秒才出現進度條

不確定這是不是刻意的行為

[2020-05-11 07:24] chia7712 commented on #4539
如果pipeline裡面有topic的話，重啟workspace就一定會失敗。原因是topic在尚未stop之前，後端會擋掉任何嘗試關閉broker的請求

[2020-05-11 07:27] eechih commented on #4539
這是一個 bug，已經有一個 issue 在處理了 #4722

[2020-05-11 07:28] eechih commented on #4539
這應該是一個 Bug

/cc @wu87988622

[2020-05-11 07:30] wu87988622 commented on #4539
ok
在追追看
我剛剛有嘗試讓它發生
有時會發生
還要在追一下

[2020-05-11 07:31] wu87988622 commented on #4539
切換Pipeline時，有時會錯亂，錯亂後就回不去了資料合併。

[2020-05-11 07:43] wu87988622 commented on #4539
Toolsbox 中Pipeline only topic 消失了

[2020-05-11 07:49] eechih opened #4790 "[Bug] When the topic is running, the workspace restart will fail"
如果pipeline裡面有topic的話，重啟workspace就一定會失敗。原因是topic在尚未stop之前，後端會擋掉任何嘗試關閉broker的請求

_Originally posted by @chia7712 in https://github.com/oharastream/ohara/issues/4539#issuecomment-626520960_

- [x] 0.10 #4862
- [x] 0.11 #4863

[2020-05-11 07:53] eechih opened #4791 "[Bug] Trigger the workspace to restart, the progress bar does not appear immediately"
重啟workerspace的按鈕確認後，會頓個一兩秒才出現進度條

不確定這是不是刻意的行為

_Originally posted by @chia7712 in https://github.com/oharastream/ohara/issues/4539#issuecomment-626517652_

[2020-05-11 07:55] eechih commented on #4790
@wu87988622 這 case 比較複雜，需要進一步討論

/cc @vitojeng

[2020-05-11 08:02] vitojeng commented on #4790
@eechih
記得目前 UI 在建立 topic 時, 會替使用者會自動 start topic. 因此是不是也自動 stop topic?
詢問使用者 start or stop Topic 在前端操作來說似乎有點奇怪.

[2020-05-11 08:05] vitojeng opened #4792 "Shabondi docs"
follow-up #3022

目前 Shabondi 只有 Configurator 部份 REST API 的文件, 尚缺少 Shabondi service 本身 REST API 的描述.

另外, Shabondi service REST API 的 error response, 會提供此 Shabondi docs 連結供使用者參考.

[2020-05-11 08:08] vitojeng commented on #4739
目前想法是回應 405, 並提供 URL 連到 Shabondi docs (#4792)

[2020-05-11 08:09] vitojeng commented on #4739
@chia7712 , @eechih 這樣 OK 嗎?

[2020-05-11 08:10] chia7712 commented on #4739
+1

[2020-05-11 08:14] eechih commented on #4790
同意，自動 Stop 才能與自動 Start 的行為一致。

[2020-05-11 08:15] eechih commented on #4739
👍

[2020-05-11 08:20] jackyoh opened #4793 "Fix flaky TestJDBCSourceConnectorExactlyOnce"
TestJDBCSourceConnectorExactlyOnce#testTableUpdate 測試程式 await 資料筆數錯誤

[2020-05-11 08:21] saivirtue commented on #4780
/cc @oharastream/developer

[2020-05-11 08:22] chia7712 commented on #4780
聽起來不錯，我也喜歡這個功能 :)

[2020-05-11 08:23] eechih commented on #4539
刪除 Workspace，應該把相關的 Files 一併刪除

[2020-05-11 08:26] jackyoh commented on #4780
+1

[2020-05-11 08:30] vitojeng commented on #4780
Any improvement for debugging is awesome.

[2020-05-11 08:30] saivirtue opened #4795 "The BINDING_PORT and REMOTE_PORT should be Integer rather than Short"
1. create workspace via `Quick Create`
2. Upload plugin `ohara-it-source.jar`
3. drag the new added connector `IncludeAllTypesSourceConnector` into pipeline

Error message:
[code]
![image](https://user-images.githubusercontent.com/8088616/81540696-9875d480-93a4-11ea-9b46-b7826c865d6e.png)

1. - [x] for 0.11.0 (#4797)
1. - [x] for 0.10.0 (#4798)

[2020-05-11 08:31] saivirtue commented on #4795
/cc @chia7712

[2020-05-11 08:33] chia7712 commented on #4795
@saivirtue thanks for this finding!

[2020-05-11 08:35] eechih opened #4796 "[Bug] Should delete related files when delete workspace"
刪除 Workspace，應該把相關的 Files 一併刪除

_Originally posted by @eechih in https://github.com/oharastream/ohara/issues/4539#issuecomment-626551699_

- [x] 0.10 #4864

[2020-05-11 08:37] saivirtue commented on #4780
針對這個功能有兩種方向：
1. 篩選功能由前端提供，後端會回傳完整的資料筆數
- pros: API不用修改，前端提供一個篩選Input即可
- cons:  當資料筆數過多，無法看到太早之前的資料(API有卡timeout，篩選只能針對部分資料)
2. 篩選功能由後端提供 (ex: `rowName=YYY&rowValue=XXX`)
- pros: 前端功能一致，不需要改太多；當資料筆數過多也可以只看想要的資料
- cons: API實作需要額外的consumer(?)，可能會有效能問題

[2020-05-11 08:38] eechih commented on #4539
- [ ] When the topic is running, the workspace restart will fail #4790
- [ ] Trigger the workspace to restart, the progress bar does not appear immediately #4791
- [ ] Should delete related files when delete workspace #4796

[2020-05-11 08:39] chia7712 commented on #4780
由後端來做喔，因為後端本來就有提供filter的義務

[2020-05-11 09:09] saivirtue commented on #4732
After checking, the issue had been fixed after `0.10`.
I will close this issue and feel free to reopen it if you encountered the same problem in current version :)

[2020-05-11 09:09] #4732 closed

[2020-05-11 11:53] vitojeng commented on #4739
@eechih

確認一下 endpoint 的 value, 你覺得 OK 嗎?

Example:
#### Source
[code]

#### Sink
[code]

[2020-05-11 14:26] eechih commented on #4739
👍

[2020-05-11 14:29] eechih commented on #4739
另外想問一個可能性，我們能提供一個 API 列出所有可能的 endpoint，例如 `http://vito-node00:58458/groups/`

[code]

[2020-05-11 21:54] #4781 closed

[2020-05-11 22:04] konekoya opened #4801 "[Manager] Use consistent size for confirm dialog"

[2020-05-12 00:28] konekoya opened #4802 "[Manager] Invalid date shown in the workspace list and it should be "Showing 1 workspace""
- [x] 0.10 (#4804)
- [x] 0.11 (#4803)

[2020-05-12 00:56] konekoya opened #4805 "[Manager] Connector classes should not appear in Toolbox's stream section"
- [x] 0.10 (#4807)
- [x] 0.11 (#4806)

[2020-05-12 01:18] vitojeng commented on #4739
${groupName} 是由使用者自訂的, 無法列出所有的可能

[2020-05-12 01:20] #4787 closed

[2020-05-12 01:24] vitojeng commented on #4739
不過若是需要觀察目前所有 alive group, 這做得到.
有需要的話, 未來可以找時間做.

[2020-05-12 01:40] eechih commented on #4739
有需要的話, 未來可以找時間做.

👍

[2020-05-12 05:49] konekoya opened #4808 "[Manager] Event log is displaying wrong message in its status bar"
- [x] 0.10 (#4810)
- [x] 0.11 (#4809)

[2020-05-12 06:01] saivirtue commented on #4783
我覺得需要，因為是pipeline components的一環

shared topics自動建立會有什麼問題嗎?

[2020-05-12 06:10] saivirtue commented on #4780
@chia7712
Please help me close this issue if you opened a new task to do this :)

[2020-05-12 06:15] chia7712 commented on #4783
Topic的建立成本很低，或許這部分我們可以幫忙使用者處理掉？

[2020-05-12 06:31] vitojeng commented on #4539
[ ] Shabondi icon: **DonutSmall**(https://material-ui.com/components/material-icons/)

[2020-05-12 06:37] chia7712 opened #4811 "Support to filter the data from Inspect APIs"
related to #4780

Inspect APIs offers a way to *see* the data in topic. However, it is hard to *see* what we need if there are a lot of data in the topic. Hence, we should support to use filter to find out the data we truly need.

[2020-05-12 06:37] chia7712 commented on #4780
see #4811

[2020-05-12 06:37] #4780 closed

[2020-05-12 07:21] eechih opened #4812 "[Manager] Manually fetch the node list"
![註解 2020-05-11 151310](https://user-images.githubusercontent.com/6234750/81534076-f5b85880-9399-11ea-88d2-d51499660b25.jpg)

建立workspace過程中如果新增節點(例如k8s的自動同步，或是透過APIs新增)，在建立過程中沒有即時更新導致無法選取新的節點

_Originally posted by @chia7712 in https://github.com/oharastream/ohara/issues/4539#issuecomment-626516618_

- [x] 0.11.0 (#4885)
- [x] 0.10.0 (#4886)

[2020-05-12 07:57] vitojeng commented on #4783
嗯. 技術上不是問題. 我想到是有同名 topic 時要怎麼處理. Shared topics 在匯入時, 是不是有可能存在同名 topic 的情形?
若 topic 不存在最簡單, 幫忙建立 topic 沒問題. 但若已存在時, 是要沿用現有這一個, 或是另外建一個, 我想這可能要詢問使用者.

[2020-05-12 07:58] jackyoh opened #4813 "Update memory offset to recovery for the JDBC source connector"
在 jdbc source connector 執行 recovery 時，需要更新記憶體的 offset 避免資料被重複寫入到。

- [x] 0.10.0
- [x] 0.11.0

[2020-05-12 08:37] #4802 closed

[2020-05-12 08:41] #4722 closed

[2020-05-12 08:45] saivirtue commented on #4783
因為我們目前也無法讓使用者建立同名的shared topic (建立的時候會跳出錯誤)，是否我們可以假設使用者就是要沿用同一個?  因為pipeline是使用者定義的，所以應該會知道shared topics的限制吧?

[2020-05-12 08:52] wu87988622 commented on #4783
因為shared topic 是共用的，所以如果使用者在匯入前，已經先建立Pipeline的話有機會遇到相同名稱的可能性

[2020-05-12 09:08] #4795 closed

[2020-05-12 09:47] vitojeng opened #4816 "Change imageName definition's permission to CREATE_ONLY"
- [x] v0.10.0(#4888)
- [x] v0.11.0(#4876)

[2020-05-12 09:49] konekoya commented on #4539
# 2020/5/12

### Settings

- #### Main layout

  - Many requests are going on under the background and causing the page very slow

- #### Topics in this workspace

  - Create a new shared topic shouldn't apply the light red background color as that's an indicator for requirement of restarting the workspace [screenshot](https://www.dropbox.com/s/0al9zh8qv34kk0g/Screen%20Shot%202020-05-11%20at%209.2

[2020-05-13 00:44] #4808 closed

[2020-05-13 00:50] konekoya opened #4817 "[Manager] Batch small bug fixes for Paper"
### The following bugs will be addressed in this issue

- [x] Paper element's vertices are not saved
- [x] Don't display the metrics when metrics switch is off
- [x] Outline is not displaying the correct items when switching between pipelines
- [x] Same name pipeline in different workspaces loads the same components
- [x] 若 Topic 是 Manager 自動建立與連線的，將無法在連線時自動取消連線刪除 Topic
- [ ] ~~若切換 Workspace，Pipel

[2020-05-13 01:07] eechih opened #4818 "[Manager] Create a new shared topic shouldn't apply the light red background color as that's an indicator for requirement of restarting the workspace"
as title

- [x] 0.11.0 #4826
- [x] 0.10.0 #4827

[2020-05-13 01:11] eechih opened #4819 "[Manager] After restart workspace is successful, worker plugin list should not appear undo action"
as title

- [x] 0.11.0 #4832
- [x] 0.10.0 #4833

[2020-05-13 01:14] eechih opened #4820 "[Manager] The create node button (+ icon) in the Select node dialog is not working"
as title

- [x] 0.11.0 #4835
- [x] 0.10.0 #4837

[2020-05-13 01:15] eechih opened #4821 "[Manager] After created workspace, the settings of the each services should be backed up to the workspace"
as title

- [x] 0.11.0 #4857
- [x] 0.10.0 #4860

[2020-05-13 01:27] saivirtue opened #4822 "[DevTool] Don't show an empty dropdown list when there's no topic available"
- [x] for 0.11 #4828
- [x] backport to 0.10 #4829

[2020-05-13 01:28] saivirtue opened #4823 "[DevTool] When no Shabondi is available in the pipeline, switching to shabondi log panel will throw an error"
- [x] for 0.11 #4830
- [x] backport to 0.10 #4831

[2020-05-13 01:29] saivirtue opened #4824 "[DevTool] Shabondi logs do not provide a default item for the dropdown when switching from other items"
- [ ] for 0.11
- [ ] backport to 0.10

[2020-05-13 01:29] saivirtue opened #4825 "[DevTool] View zookeeper/broker/worker log in a new window is broken"
- [ ] for 0.11
- [ ] backport to 0.10

[2020-05-13 02:50] #4741 closed

[2020-05-13 02:56] vitojeng commented on #4783
整理一下使用者可能會有的使用情境

* 在相同 Ohara 環境
  * 相同的 workspace 匯入 pipeline
  * 不同的 workspace 匯入 pipeline
* 在不同的 Ohara 環境
  * ~~相同的 workspace 匯入 pipeline~~ (不存在相同的 worksapce)
  * 不同的 workspace 匯入 pipeline

* 可能有多次匯入相同的 pipeline => 若 shared topic 已存在, 需要詢問使用者是否要建立新的.
* 不版本的 Ohara: 只支援舊版 pipeline 匯入新版 Ohara 環境, 不支援新版 pipeline 匯入舊版 Ohara 環境
* Pipeline component 的屬性: 需要進一步檢視在匯入時是否需要特殊處理. 如 nodeNames.

[2020-05-13 03:13] #4818 closed

[2020-05-13 04:10] saivirtue commented on #4824
Since shabondi is more like stream in log panel of DevTool, there is no default value if no shabondi component was in the pipeline. I will close this issue now and see if there were other suggestions about the UI display of "empty dropdown list"

[2020-05-13 04:10] #4824 closed

[2020-05-13 04:25] #4823 closed

[2020-05-13 04:25] #4822 closed

[2020-05-13 06:00] saivirtue commented on #4715
Since this issue will not backport to 0.9 and should be fixed after 0.10, I will close this issue later.

[2020-05-13 06:00] saivirtue commented on #4716
Since this issue will not backport to 0.9 and should be fixed after 0.10, I will close this issue later.

[2020-05-13 06:34] chia7712 commented on #4539
![2](https://user-images.githubusercontent.com/6234750/81779172-c125d780-9526-11ea-842e-4681ddba8cf7.jpg)
![2](https://user-images.githubusercontent.com/6234750/81779176-c2570480-9526-11ea-80ff-ae8d0ffc99e5.jpg)

確認一下，之前的file preview功能拿掉了嗎? 就是使用者上傳完檔案後可以馬上看到裡面有哪些可用ohara元件

[2020-05-13 06:36] chia7712 commented on #4539
在pipeline上點選"add streams"後，點選"箭頭"是回到settings頁面而不是回到pipeline頁面

![2](https://user-images.githubusercontent.com/6234750/81779370-27aaf580-9527-11ea-857a-b88ecebd1160.jpg)

[2020-05-13 06:37] chia7712 commented on #4539
檔案上傳到workerspace file後在pipeline上就會出現相關的streams，那麼請問一下stream jars這個頁面的用意為何?

[2020-05-13 06:40] chia7712 commented on #4539
![註解 2020-05-13 143321](https://user-images.githubusercontent.com/6234750/81779606-9b4d0280-9527-11ea-8f0f-77b1008aa18d.jpg)

不能刪除的話要提示原因(被加到stream jars後不能刪除，但不用加進streams jar就可以使用，不太了解用意，承上面https://github.com/oharastream/ohara/issues/4539#issuecomment-627778875)

[2020-05-13 06:41] chia7712 commented on #4539
![註解 2020-05-13 143321](https://user-images.githubusercontent.com/6234750/81779694-d18a8200-9527-11ea-85e4-5f19f5a6c115.jpg)

要麻煩把definition裡面定義的document顯示出來

[2020-05-13 06:45] eechih commented on #4539
哭哭～漏掉了，0.10.0 新 UI 忘了加上 file preview

[2020-05-13 06:47] chia7712 commented on #4539
![註解 2020-05-13 143321](https://user-images.githubusercontent.com/6234750/81780137-95a3ec80-9528-11ea-8fa2-a8b43ac40b15.jpg)

我上傳一個新檔案到worker plugin，然後點選restart但什麼反應都沒有，從APIs可以查到該檔案已經上傳

![333](https://user-images.githubusercontent.com/6234750/81780191-b53b1500-9528-11ea-988b-aa694ff28e33.jpg)

[2020-05-13 06:47] eechih commented on #4539
在 0.10.0，上傳的 file 必須加到 stream jars，才能被顯示在 pipeline toolbox 裡。

[2020-05-13 06:48] chia7712 commented on #4539
可是我沒有拉到stream jars也可以使用stream (見我上面貼的圖)

[2020-05-13 06:50] eechih commented on #4539
@chia7712 好喔

[2020-05-13 06:51] eechih commented on #4539
已經開 PR 了，還沒 merge ~

[2020-05-13 06:51] chia7712 commented on #4539
ok  我把相關comment先關掉

[2020-05-13 06:52] wu87988622 opened #4838 "[Manager]The close button is sometimes not disabled when restarting and deleting"
- [x] 0.10 #4839
- [x] 0.11 #4841

[2020-05-13 07:09] #4819 closed

[2020-05-13 07:10] chia7712 commented on #4539
![images](https://user-images.githubusercontent.com/6234750/81782077-dea97000-952b-11ea-947b-85fec1979025.jpg)

啟動workerspace的時候遇到錯誤，但UI依然顯示成功建立workerspace

[2020-05-13 07:17] chia7712 commented on #4539
![images](https://user-images.githubusercontent.com/6234750/81782735-d867c380-952c-11ea-9317-1575541895a2.jpg)

查看node細節的時候沒有任何service顯示出來 (但實際上有跑services)

[2020-05-13 07:45] konekoya commented on #4825
@saivirtue I can confirm this bug was fixed. Thank you :)

[2020-05-13 07:55] #4820 closed

[2020-05-13 08:08] saivirtue commented on #4825
Close this issue since the problem was solved in #4722

[2020-05-13 08:08] #4825 closed

[2020-05-13 08:28] wu87988622 opened #4843 "[Manager]Restart failed and showed an error of "Fetch worker request exceeded max retry count""
- [x] 0.10 #4844
- [x] 0.11 #4843

[2020-05-13 10:31] jackyoh opened #4847 "Support to deploy JDBC source connector on multiple nodes"
目前的 JDBC source connector 只支援 1 個 task, 去拉ㄧ個 table 的資料。 ohara 的其它 connector 都已經支援多個 tasks 了另外考慮到效能的問題，因此 JDBC source connector 也需要實作多個 task 去拉一個 table 的資料。

- [x] Multi task for the jdbc source connector (#5360 )

[2020-05-13 10:35] jackyoh commented on #4847
ping @vitojeng  今天會議結束時有跟 @chia7712 討論 jdbc source connector 實作多個 task 的問題，因為單個 task 有可能會影響到拉資料的效能，因此希望 0.11 能做這個功能。

[2020-05-13 11:12] vitojeng commented on #4847
@jackyoh 了解.
預計下周會安排會議討論 0.11 要優先進行的事, 到時請你提出來~

[2020-05-13 12:37] jackyoh commented on #4847
ok, 收到了。

[2020-05-13 14:31] chia7712 opened #4848 "Refactor IT test task to reuse the code from root project"
ohara-IT has different test task from other modules but it is duplicate and we should refactor them.

The following changes are included by this issue.

1. update retry plugin from 1.1.3 to 1.1.5
1. remove custom test task from ohara-it module
---
1. - [x] for 0.11.0 (#4849)
1. - [x] for 0.10.0 (#4853)

[2020-05-14 00:43] #4817 closed

[2020-05-14 01:48] #4739 closed

[2020-05-14 02:00] konekoya opened #4851 "[Manager] Batch small bug fixes for Property dialog"
### Following bugs will be addressed

- [ ] ~~將有連線的 Auto Create Topic 刪除，Shabondi Property 會無法使用~~ Cannot repro
- [ ] ~~將有連線的 Topic 刪除，接著馬上使用 Source Property 會無法使用~~ Cannot repro
- [x] partitioner class is editable in many connectors
- [x] Disable Property dialog's quick filter as it's not implemented yet
- [x] Allow stream to create loop link

### These are additional bugs that were found during

[2020-05-14 02:46] chia7712 opened #4852 "The reference check should consider Array type"
Node reference requires Array type :(

1. - [x] for 0.11.0 (#4856)
1. - [x] for 0.10.0 (#4887)

[2020-05-14 02:46] chia7712 commented on #4786
this is blocked by #4852