[2019-08-29 07:11] chia7712 commented on #2492
@konekoya would you please give a conclusion?

[2019-08-29 07:21] wu87988622 commented on #1211
i will  #2482 finish it.

[2019-08-29 07:21] #1211 closed

[2019-08-29 07:26] saivirtue commented on #2491
Since this issue is an improvement for checker of SettingDef (which only implemented in 0.8), I will NOT backport this function to 0.7

/cc @oharastream/frontend @chia7712 @HarryChiang143

[2019-08-29 07:28] chia7712 commented on #2491
+1 to not backport :)

[2019-08-29 07:35] saivirtue opened #2499 "Connector definition disappear in worker api"
after #2481, we keep the fields that are defined by users, but the generated data in the running phase (ex: connector definition) are lost in this situation...

[2019-08-29 07:38] konekoya commented on #2465
@wu87988622 @DavidMi-1

There is an issue that causes prettier to fail in our project if you're using vscode

Make sure you turn this off for now as a temp workaround

[code]

More discussion here:
https://github.com/prettier/prettier-vscode/issues/870

[2019-08-29 07:58] saivirtue commented on #2499
/cc @oharastream/frontend
Let me fix this issue ASAP :)

[2019-08-29 08:04] konekoya commented on #2492
Sure, I will write down the frontend part! But the backend part would need @saivirtue's help as I don't know much about the backend change in this particular issue :)

#### Why this is happening
The default value of the __write header__ definition is `null` but since the valid values for this definition is a `Boolean` value which means the value should either be `ture` or `false`. But right now ma

[2019-08-29 08:09] konekoya opened #2501 "Ensure boolean value type is handled properly in manager"
Ref: #2492

#### Why this is happening
The default value of the write header definition is null but since the valid values for this definition is a Boolean value which means the value should either be ture or false. But right now manager is not handling this and simply return the default null value back to the backend, therefore, the error

#### Conclusion
As the metadata has provided needed infor

[2019-08-29 08:17] chia7712 commented on #2191
@saivirtue do you plan to add "settings" to all cluster info in this issue?

[2019-08-29 08:19] saivirtue commented on #2191
Yep. add some description to make more clearly.

[2019-08-29 08:25] HarryChiang143 commented on #2167
@saivirtue

我發現第二個預期的behavior仍然未能運作。

- [ ]沒有pipeline使用該streamapp時應可正常刪除。

[2019-08-29 08:28] #2491 closed

[2019-08-29 08:29] chia7712 opened #2502 "Enable Worker cluster to pre-bind ports for connectors"
Our worker cluster is based on docker so the port route is restricted by default. It means connector is impossible to bind a service on a port which is connectable to other nodes. It is enormous unfriendly to connector developer. Hence, this issue aims to enable our collie to pre-bind some ports for our worker cluster. The connector created later is able to pick up some pre-bound ports to set up t

[2019-08-29 08:36] chia7712 commented on #2167
你是指streamapp "jar"嗎

[2019-08-29 08:49] saivirtue commented on #2167
@HarryChiang143 的意思是streamApp jar 即使在pipeline刪除後依然不能delete

[2019-08-29 08:51] chia7712 commented on #2191
got it. Let me take over it for Worker :)

[2019-08-29 08:53] chia7712 commented on #2167
我記得0.7在刪除pipeline時"不會"清除底下的物件(例如streamapp, connector)，所以該jar無法刪除是合理的，因為"仍然"有streamapp在使用該jar

FYI @konekoya @wu87988622

[2019-08-29 09:05] HarryChiang143 commented on #2167
As discussion before, i will check this scenario on v0.8

[2019-08-29 09:12] #2490 closed

[2019-08-29 09:33] konekoya commented on #2167
Yep. This issue will be addressed in 0.8. Please follow the issue here #2321

[2019-08-29 10:20] #2499 closed

[2019-08-29 14:22] chia7712 commented on #2167
@HarryChiang143 Could we close this issue?

[2019-08-29 16:28] chia7712 commented on #2191
The dynamically envs to container should be moved to another issue. We force our attention on definition and setting for all clusters :)

[2019-08-29 16:35] chia7712 opened #2504 "the configs written to cluster configuration file should be more flexible"
All cluster container is run by a script file. The script file take specific env variables to generate configuration file to set up the process. All env variables are hard-code. For example:
[code]

the hard-code stop us from adding more configs to set up process without updating script files.

[2019-08-30 01:44] HarryChiang143 commented on #2167
@chia7712  Sure, i will track last issue on #2321

[2019-08-30 01:44] #2167 closed

[2019-08-30 01:57] wu87988622 opened #2506 "Ohara 0.7.1 Release"
## Hightlights

**hotfix:**

1.Ensure boolean value type is handled properly in manager #2501
2.Perf connector config form not updating when switching between two Perf connectors #2526
3.Upgrade manager's node.js version to 10.x #1047

**ToDo**
- [x] 設定 jenkins 使 0.7.1 和 0.8.0-SNAPSHOT 都可以 build code 和測試
- [x] Update version of 0.7 branch to 0.7.1 #2578
- [x] Upload Bintray repo
- [x] Add tags to

[2019-08-30 02:59] chia7712 commented on #2506
@wu87988622 would you please highlight the hot fix for 0.7.1? thanks !

[2019-08-30 03:00] wu87988622 commented on #2506
ok thanks you

[2019-08-30 03:04] vitojeng commented on #2486
Done.

[2019-08-30 03:04] #2486 closed

[2019-08-30 04:11] #1737 closed

[2019-08-30 04:11] eechih commented on #1737
Duplicated by #2412

[2019-08-30 05:55] konekoya opened #2511 "[Question] Should we block the users from delete a running pipeline"
A good question raised by @wu87988622

The deleting pipeline feature will be soon added in #2321 (Deleting the objects like running connectors and stream apps) but should we rethink about the UI flow and block users from deleting a running pipeline? This was used to be guard by the backend API

Personally, I'm leaning toward adding a stop button in the pipeline list page so the user can control th

[2019-08-30 06:02] chia7712 commented on #2511
absolutely :)

[2019-08-30 06:02] #2487 closed

[2019-08-30 06:24] vitojeng commented on #2511
Sure.

[2019-08-30 06:35] chia7712 commented on #2511
BTW, all components in pipeline have state (i.e running). Which one can block us from deleting pipeline? Connector? streamapp? Or topic? Stopping topic is equal to discard all data in topic. Does it make sense?

[2019-08-30 09:36] konekoya commented on #2511
@chia7712 Good questions!

We currently treat a connector/streamApp as running when it has __any state__ in it. This basically means if a given connector has the state field. We count it as running. But we only treat a pipeline is running when everything (connectors, streamApps but topics are not counted since they did not have state back in the good old days...) in the pipeline is running. For ex

[2019-08-30 10:09] chia7712 commented on #2511
That is a bit weird to me. Do we disallow user to start a part of pipeline? Could I have a large pipeline and test a part route of it?

The stop to any object is to delete its from kafka/docker, and Reset consists of STOP and START.

As discussed before, the topic is an embarrassed object to pipeline now. We can’t control topic in pipeline level and we can’t see the relationship between pipeline a

[2019-08-30 10:38] konekoya commented on #2511
Nope. It's allowed. You can certainly do this with our UI. Not sure about why it's wired. Could you elaborate 😅

Ah, okay :)

will need some more time to read thru your last paragraph...

[2019-08-30 11:08] chia7712 commented on #2511
A stopped pipeline should be equal to “no data flow in this pipeline”. A stopped connector means no data produced/consumed by it. A stopped topic should be no data in/out. I don’t want to say “hi, your pipeline is stopped but it still produce/consume data from your workspace. I don’t know why we call it is stopped.”

[2019-08-31 18:20] chia7712 opened #2517 "add more helper methods to JsonRefiner"
There are more and more APIs supporting the custom settings. With a view to rejecting incorrect format of json input, JsonRefiner must support more checkers. For example,

1. - [x] JsonRefiner supports to reject input which is lack of specific keys (#2518)
1. - [x] StringRestriction/ArrayRestriction should reject the key mapped to unmatched type (#2519)

[2019-08-31 20:34] #2517 closed

[2019-09-01 15:01] saivirtue opened #2520 "Implement the infrastructure for fetching definition from cluster"
After the conclusion, the "fetch definition" process needs a flexible way to achieve the following tasks:
1. create a temporary container by the required official image
2. run the container with a specific helper (process)
3. fetch the definition from running container
4. delete the temporary container

The implementation is beyond this issue and I will address an infra in this issue.

There are t

[2019-09-01 15:06] saivirtue commented on #2520
ping @oharastream/developer
It may be a little complicated that getting a definition from a cluster needs two requests, but it is the better solution I can figure out for solving some async problems.
Feel free to leave your comments here :)

[2019-09-01 16:27] chia7712 commented on #2520
First, please revise the title to make sure this issue is for all cluster services. We are working hard to improve all cluster services and make them consistent in “APIs” and “code”. A way working for only one cluster service is called “workaround”than solution.

It seems to me that the APIs to fetch definitions for cluster should have the form:

Url: /definitions/$service/$image_tag
Payload (opti

[2019-09-02 01:31] #2501 closed

[2019-09-02 01:32] saivirtue commented on #2520
It is the difference that moves the require parameter to uil, so I'm ok with that.

I am not very sure what's the meaning of the angel process?

[2019-09-02 01:36] chia7712 commented on #2520
sorry for using a weird tern :(

my point is that the official image should be embedded with a "specific" helper (process) to enable us to address something in the future. And, now, it is a good time to have this idea in our ohara - to fetch the definitions from the deployed deps :)

[2019-09-02 01:39] saivirtue commented on #2520
This should be the implementation tasks, so do you think it is OK that we use two APIs as described to fetch the definition?
Since either of which solution, the official image will be used to run a container in docker or k8s env.

[2019-09-02 02:02] chia7712 commented on #2520
Two-phases request may be in our road map. It is good but also introduces a lot of TODOs. Fetching definition via docker is not slow so a simple way (API) is suitable. However, it would be greater we adapt the two-phases request for the temporary stuff which needs time to produce.  At any rate, please re-arch your issue if you long for introducing another great infra for Ohara. By contrast, please

[2019-09-02 02:14] saivirtue commented on #2520
I agree with that. It is just a small problem: the process is not slow but too quick to complete.
1. In docker env: I observe that if we run a container with "-d" and the container is too quick to complete, the later "container log" process will get nothing. (we can introduce an attach mode container to do a workaround)
2. In k8s env: Every pod has a lifecycle status "ContainerCreating", and if we

[2019-09-02 02:21] chia7712 commented on #2520
do you means the container is "gone" than "exited" so you fail to fetch the log?

[2019-09-02 02:28] saivirtue commented on #2520
Sorry for the misleading explanation. The container ran completed and the status was "exited", but the fetch log process needing a little "time wait" to get the docker generated log. It is more stable if we use an "attach mode" to run a container and the fetch log process will get the response.

[2019-09-02 02:33] chia7712 commented on #2520
got it. thanks for the explanation. At any rate, those are implementation details and they are beyond this issue.

@saivirtue please have a conclusion for the this issue. be powerful or be simple :)

[2019-09-02 03:47] konekoya commented on #2492
@HarryChiang143 this was fixed in #2501. I will update this thread once 0.7.1 is released

[2019-09-02 03:47] #2492 closed

[2019-09-02 05:18] #2229 closed

[2019-09-02 07:55] #2321 closed

[2019-09-02 08:00] saivirtue opened #2523 "Organize basic keys in different modules"
copy from [comment](https://github.com/oharastream/ohara/pull/2521#discussion_r319815201)

We have a lot of same "keys" in different modules. For example,
"name" is defined in
1. ohara-client : package
2. ohara-kafka : ConnectorDefUtils
3. ohara-stream : StreamDefinitions

we need a better way to organize these basic keys.

[2019-09-02 08:21] #2412 closed

[2019-09-02 08:24] #2193 closed

[2019-09-02 08:30] wu87988622 opened #2525 "Meters cannot be displayed if use three nodes in workspace"

[2019-09-02 08:55] wu87988622 commented on #2525
Discovery is an environmental issue.

[2019-09-02 08:55] #2525 closed

[2019-09-02 08:56] wu87988622 opened #2526 "Perf connector config form not updating when switching between two Perf connectors"

[2019-09-02 09:02] chia7712 opened #2527 "Cleanup Connector APIs"
for the following issues
1. the key "topics" is used internal. if user tries to assign a value to it, a exception is returned :)
1. the topicKeys is allowed to be empty. And the request without topicKeys is equal to carry "empty" topicKeys.
1. the null columns is equal to empty columns
1. expose the name and group than connectorKey :)

1. -[x] update the definitions for Connector APIs (#2544)

[2019-09-02 09:34] #2482 closed

[2019-09-02 10:08] konekoya commented on #266
fixed in #1969

[2019-09-02 10:08] #266 closed

[2019-09-03 01:37] konekoya commented on #2526
@wu87988622 I'm unable to reproduce this behavior in 0.7... could you please provide more details on how to repro this?

[2019-09-03 01:53] konekoya commented on #2526
Sorry, It's indeed a bug. I will submit a PR to fix this :)

[2019-09-03 02:21] konekoya commented on #2526
Since 0.8 doesn't have this bug. The fix will only go into 0.7.1

[2019-09-03 02:32] #1969 closed

[2019-09-03 02:51] vitojeng commented on #2511
IMO, a stopped pipeline means **all** connectors and **all** streamapps in this pipeline are stopped.

[2019-09-03 02:59] konekoya opened #2530 "[Manager] Add pipeline connector unit tests"
- [ ] Add connector component tests
- [ ] Fix streamApp unit tests (It was disabled in #1047)

[2019-09-03 03:01] konekoya commented on #2530
@DavidMi-1 The connector refactoring is in full swing. After everything is done. We should start to test pipeline and connector components :)

[2019-09-03 05:32] konekoya commented on #1047
Reopen for backport to 0.7

[2019-09-03 06:13] chia7712 opened #2532 "Fix flaky TestConfiguratorBuilder.TestConfiguratorBuilder"
It is stable in QA than my local :(

[2019-09-03 06:24] chia7712 commented on #2489
@eechih Do you have free cycle to fix it? It is too noisy to me so I want to fix it ASAP :)

[2019-09-03 06:50] chia7712 commented on #1954
@jackyoh any update?

[2019-09-03 06:51] chia7712 opened #2536 "Cleanup Topic APIs"
similar to #2527

1. reuse the parser in update
1. narrow the scope of constants

[2019-09-03 07:03] jackyoh commented on #1954
目前沒有更新

[2019-09-03 07:12] chia7712 commented on #1954
@jackyoh could we give a deadline to it, boss?

[2019-09-03 07:20] jackyoh commented on #1954
那這星期五會先給一個草稿, 下星期會完成。

[2019-09-03 07:29] chia7712 commented on #1098
@jackyoh could we close this issue if you have completed the oracle connector and related integrated tests :)

[2019-09-03 07:32] chia7712 commented on #757
FYI @wu87988622 @konekoya

[2019-09-03 07:48] #2532 closed

[2019-09-03 08:00] eechih commented on #2489
@chia7712 I'm Sorry! I don't have time to fix it now :(

[2019-09-03 08:03] chia7712 commented on #2489
not a problem at all. Let me take over it :)

[2019-09-03 08:08] jackyoh commented on #1098
OK, 等我完成 oracle database 的整合測試之後會關閉此議題

[2019-09-03 10:06] #2536 closed

[2019-09-03 10:07] #2489 closed

[2019-09-03 12:08] chia7712 commented on #2191
@saivirtue Could you take over the sub task about broker APIs if you have free cycles? the issues include this one, #2438 and #2243

[2019-09-03 14:21] chia7712 opened #2542 "Manager's E2E test should give the cluster name a prefix"
The prefix to cluster name is installed in backend E2E. It helps jenkins to capture the orphan containers created by E2E and then file warning (or cleanup them automatically).

Backend take the prefix from the env variable "ohara.it.container.prefix", and the variable is generated by jenkins. It consists of "pr" and $PR_ID so it is a unique in our QA (unless you file two QA for IT...)

- [x] Add p

[2019-09-03 14:21] chia7712 commented on #2542
FYI @wu87988622 @konekoya

[2019-09-03 14:32] NYOandQ opened #2543 "Correct the document about the location of assembly file"
from [document](https://ohara.readthedocs.io/en/latest/how_to_build.html)

but actually directory is

which one is wrong?

[2019-09-03 14:45] chia7712 commented on #2543
@NYOandQ nice finding. the later "ohara-assembly/build/distributions" is correct. Would you like to fix it?

[2019-09-03 15:05] NYOandQ commented on #2543
@chia7712
sure, but I am new here, so I need some time to learn how to update the document, I'll update it as soon as possible.

[2019-09-03 15:11] chia7712 commented on #2543
feel free to file question to us. I will assign this issue to you :)

[2019-09-03 16:15] #2527 closed

[2019-09-04 01:06] vitojeng commented on #2543
@NYOandQ
If you want to build Ohara docs in your env, you need to setup `python 2.7+`,  `pip`, `sphinx` , `other modules`. Please reference [here](https://ohara.readthedocs.io/en/latest/contrib-docs/build_docs.html).

Thanks for the contribution.

[2019-09-04 01:11] vitojeng commented on #2506
@wu87988622 When do you expected this version to be released ?

[2019-09-04 01:54] #2212 closed

[2019-09-04 02:06] wu87988622 commented on #2506
Wait until the error is fixed, in this week

[2019-09-04 02:31] vitojeng commented on #2506
Got it.

[2019-09-04 03:07] chia7712 commented on #1532
@konekoya @wu87988622 any suggestion about showing the dead node?

[2019-09-04 03:40] chia7712 opened #2546 "avoid redundant boxing for primitive type"
The related methods are shown below.

1. Integer.valueOf => Integer.parseInt
1. Long.valueOf => Long.parseLong
1. Double.valueOf => Double.parseDouble

[2019-09-04 03:51] #2183 closed

[2019-09-04 03:55] konekoya commented on #1532
I'm thinking about putting the info in the workspace, perhaps in the overview pages. I will open a new issue to discuss this matter :)

[2019-09-04 03:56] chia7712 opened #2547 "introduce JsonIn connector and JsonOut connector"
JsonIn and JsonOut are used to in/out json to/from topic. They offer a simple way to stream the data via http request, and it is helpful to connect different process (programming language).

The data format is based on json representation, and the nested json is NOT supported. For example, the following json is accepted totally.
[code]
and the following json is invalid.
[code]

This issue requires

[2019-09-04 03:56] chia7712 commented on #2547
FYI @vitojeng

[2019-09-04 04:00] konekoya commented on #2542
@chia7712 Hmm, a prefix is certainly doable :) I will let you know when I'm ready to take a stab at this

[2019-09-04 05:32] #1047 closed

[2019-09-04 05:39] konekoya commented on #1843
@DavidMi-1 Are you ready to give this issue a shot?

[2019-09-04 05:41] #2526 closed

[2019-09-04 08:35] saivirtue opened #2549 "fix flaky IT tests TestXXXStreamApp.testDeadNodes"
Reference Jenkins tasks: https://builds.is-land.com.tw/job/PreCommit-OHARA/5156/

TestXXXStreamApp.testDeadNodes
error message
[code]

[2019-09-04 08:35] saivirtue commented on #2549
/cc @jackyoh

[2019-09-04 08:42] konekoya commented on #2411
This should be fixed in #2457

[2019-09-04 08:46] konekoya commented on #214
@vitojeng is this issue already solved by the definition API?

[2019-09-04 08:50] konekoya commented on #2042
Closing this as the error seems to be gone on CI

[2019-09-04 08:52] konekoya commented on #260
Dupe of #1879

[2019-09-04 08:52] #260 closed

[2019-09-04 09:02] konekoya opened #2551 "Remove unnecessary HTTP requests in pipeline update action"
When a pipeline is updated. It should only make an HTTP call to update pipeline and another one to update the connector if that's necessary. But right now, our pipeline make a couple more  HTTP requests to the `/v0/connectors`

This is probably caused by the recent react hooks migration...

[2019-09-04 09:38] chia7712 commented on #2549
this may be duplicate to #2475.

[2019-09-04 09:39] chia7712 commented on #2549
BTW, there is a related issue (#2393)

[2019-09-04 09:51] saivirtue commented on #2549
Got it. Let me edit the description.

[2019-09-04 12:38] NYOandQ commented on #2543
@vitojeng thanks, it is helpful to me.

[2019-09-04 13:03] chia7712 opened #2555 "add nodeName and task details to Connector APIs"
the distribution  mechanism of Connector is different from zk, bk, wk and streamapp. the balance is controlled by kafka so we can't assign the task (unit of process) to specific node names. Instead, we define the number of tasks and then kafka distributes the job to different nodes to execute connector.

As a user, the node running our connectors is a valuable information. For example, we have a c

[2019-09-04 13:04] #2243 closed

[2019-09-04 13:38] chia7712 commented on #2543
@NYOandQ thanks for contributions!

[2019-09-04 13:38] #2543 closed

[2019-09-04 16:03] chia7712 opened #2557 "The nodeNames of temporary cluster generated by collie should honor the nodeNames from creation"
Otherwise, the nodeNames will show the running nodes than user-defined nodes ...

[2019-09-04 20:24] #2555 closed

[2019-09-05 01:13] konekoya opened #2560 "Get services that are genereted during an E2E test run from nodes API"
We're currently creating a file on the fly while running an E2E test in manager. But the nodes API is sufficient for providing a service list that can be used to delete/stop these services once a test is done.

[2019-09-05 01:22] konekoya commented on #2551
Fixed in #2457

[2019-09-05 01:22] #2551 closed

[2019-09-05 01:28] konekoya opened #2561 "[Manager] Move definition keys manipulation to proxy or API level"
Since the form package - final-from, we're using now cannot properly handle a JSON key like `field.a.b.c`. And we monkey patching the key with an underscore like `field_a_b_c`. This logic is all over our connector/pipeline code. Moving this manipulation to node's proxy package or API would be a better option :)

[2019-09-05 02:19] saivirtue commented on #2549
This issue is related to #2257 and should be resolved. Close this issue now.

[2019-09-05 02:19] #2549 closed

[2019-09-05 02:29] konekoya opened #2562 "Don't break the pipeline edit page when API doesn't response with necessary fields"
@wu87988622

[2019-09-05 02:30] vitojeng commented on #214
@konekoya Yes, we have completed this job for a while.
Close it.

[2019-09-05 02:30] #214 closed

[2019-09-05 02:36] vitojeng commented on #2547
Thanks @chia7712 !

[2019-09-05 03:07] konekoya opened #2563 "Group key doesn't work as expected in streamApp"
Assuming that I have a workspace named __dev__ and a pipeline called __manager__
In the frontend, we're using __dev-manager__ as the __group__ name in pipelines.

So inside the pipeline __manager__, Create a stream with a req like below

API: __POST__, http://10.1.13.102:12345/v0/stream
[code]

Then Update the pipeline to include this stream app in its graph
API: __PUT__ http://10.1.13.102:12345/v

[2019-09-05 03:15] konekoya commented on #2563
/cc @saivirtue

[2019-09-05 03:22] saivirtue commented on #2563
Thanks for reporting :)
I will take over this issue and fix it ASAP

[2019-09-05 03:27] konekoya opened #2564 "The group name in connector API won't be updated with the request"
Say that I have a workspace named __dev__ and a pipeline named __p1__.

Adding a new perf connector to the pipeline like the following:
Request API:  __POST__: http://10.1.13.102:12345/v0/connectors
[code]

Even though the __group__ field is updated in the settings, the one in the upper level remains  __default__

Response:
[code]

[2019-09-05 03:27] konekoya commented on #2564
/cc @chia7712 @saivirtue

[2019-09-05 03:39] HarryChiang143 opened #2565 "Can't mount the local data folder of Configurator"
**Describe the bug**
I following the [user guide document ](https://ohara.readthedocs.io/en/0.7.0/user_guide.html)to lunch the ohara-configurator with mount folder on local , but got some Permission denied exception.

**To Reproduce**
Steps to reproduce the behavior:
1. run my command with

_docker run --rm -v /home/ohara/data:/home/ohara/configurator  -p 5000:5000 --add-host ohara-test-node1:10.4

[2019-09-05 05:24] chia7712 commented on #2563
This issue is about "how we support the group for cluster" ?

all zk, bk, wk and stream are not supported group now, and we should have a issue to include this to address it for all clusters than streamapp only.

[2019-09-05 05:25] chia7712 commented on #2564
@konekoya nice finding :)

[2019-09-05 05:26] chia7712 commented on #2502
reopen to address the comment https://github.com/oharastream/ohara/pull/2545#discussion_r321038287

[2019-09-05 05:35] chia7712 commented on #2565
@HarryChiang143 please do the following checks.

1. /home/ohara/data is accessible to you
1. add ":Z" flag if your are using selinux (for example, /home/ohara/data:/home/ohara/configurator:Z)

BTW, please give us the docker version on you local :)

[2019-09-05 05:55] chia7712 commented on #1717
@konekoya could you share the preview of the error message to me ?

[2019-09-05 06:02] konekoya commented on #1717
Definitely :)

![](https://www.dropbox.com/s/l12wh9x711njeto/Screen%20Shot%202019-09-05%20at%201.59.55%20PM.png?raw=true)

[2019-09-05 06:03] konekoya commented on #1717
Please note that this error can only be seemed in production mode :)

[2019-09-05 06:09] chia7712 commented on #1717
@konekoya thanks for the preview. Is this unrelated to the error response from Configurator?

[2019-09-05 06:29] saivirtue opened #2570 "Apply group concept for all cluster"
Currently, we already live in a group world, this rule should apply to clusters.
After this issue, the actual container name format will be:
`{PREFIX_KEY}-{GROUP}-{CLUSTER_NAME}-{SERVICE}-{HASH}`

Both GROUP and CLUSTER_NAME length limit is 20 chars for now.

- [x] Apply group concept for zookeeper (#2583)
- [x] Apply group concept for broker (#2624)
- [x] Apply group concept for worker (#2629)

[2019-09-05 06:30] saivirtue commented on #2563
This issue is blocked by #2570, will back to check if this problem was fixed or not.

[2019-09-05 06:41] #2564 closed

[2019-09-05 06:44] konekoya commented on #1717
It's mostly related to Frontend. When an unexpected error happened in the manager we will throw this error. But it could also cause by the API. e.g. Pipeline API's flows field is updated but the objects remain empty.

[2019-09-05 06:54] konekoya opened #2571 "[Manager] Workspace name should allow less than 20 characters instead of 30 in the UI"
This will cause the whole workspace creation process to fail

/cc @wu87988622

[2019-09-05 06:56] konekoya commented on #2571
Thanks @saivirtue for reporting this

[2019-09-05 07:15] chia7712 commented on #1717
@konekoya thanks for explanation :)

[2019-09-05 07:16] #2502 closed

[2019-09-05 09:08] eechih opened #2572 "Refactor the Storage, FtpStorage and HDFSStorage"
- [x] 調整 com.island.ohara.kafka.connector.storage.Storage 改名為 FileSystem
- [x] 重新設計 com.island.ohara.kafka.connector.storage.FileSystem 介面
- [x] 新增一個 Trait: com.island.ohara.client.filesystem.FileSystem 繼承自 com.island.ohara.kafka.connector.storage.FileSystem，並新增一些好用的方法
- [x] 調整 com.island.ohara.connector.ftp.FileStorage 改名為 FtpFileSystem 並且移動到 Client module
- [x] 調整 com.island.ohara.connector.hdfs

[2019-09-05 09:20] chia7712 opened #2573 "document the permission issue caused by UID"
All official containers are executed by user - ohara - and its UID is 1000. Hence, Ohara users may encounter permission issue when they try to mount a folder, which belongs to a user having UID != 1000, to Ohara Configurator.

The error message is shown below.
[code]

[2019-09-05 09:20] chia7712 commented on #2565
@HarryChiang143 the issue you encountered is the permission blocked by UID. The root cause is that all official images contain the user called *ohara*, and its UID is 1000. Hence, you fail to mount a host folder which belongs to user having UID != 1000.

I have filed a issue (#2573) to document this root cause.

[2019-09-05 09:20] #2565 closed

[2019-09-05 11:45] #2573 closed

[2019-09-05 17:25] chia7712 opened #2576 "Group all ITs by type so as to test them group by group"
We are increasing the number of ITs, and they all are executed at once. It is fraught with risks since running all ITs requires a lot of resources and most test cases are based on timer. The failure happening frequently almost burn out our trust to IT.

With a view to resolving this problem, grouping the ITs and running them group by group is a suitable solution to us as it enables us to "retry" a

[2019-09-05 18:08] #2557 closed

[2019-09-05 21:04] #1717 closed

[2019-09-06 02:27] wu87988622 opened #2578 "Update version of 0.7 branch to 0.7.1"

[2019-09-06 02:40] #2578 closed

[2019-09-06 02:57] wu87988622 opened #2580 "Update version of 0.7 branch to 0.7.2-SNAPSHOT"

[2019-09-06 03:22] konekoya opened #2582 "[Manager] Add a get request to ensure the objects are actually deleted"
Since all the `DELETE` requests are now async. We should make another request to make sure that the object is really deleted from the backend.

[2019-09-06 06:40] #2411 closed

[2019-09-06 08:56] konekoya commented on #2465
@wu87988622 @DavidMi-1

Please add this option in your vscode's `settings.json` and see if it works okay(Open the project from `ohara/manager`)?

[code]

[2019-09-07 14:00] #2560 closed

[2019-09-07 16:49] chia7712 commented on #2393
@jackyoh I tried to fix the connector ITs but i observe there is a chaos in the hierarchy of connector IT. Hence, I will disable them before fixing. And, please, read the following suggestion and then re-arch connector ITs.

1. BasicTestConnectorCollie is a basic test BUT it has nothing about test cases. As a basic test, it should consist of test cases and "abstract" the method depending on specif

[2019-09-08 00:37] jackyoh commented on #2393
謝謝 @chia7712 的建議，我會去修改以下幾點的建議。

我想確認第二點的部份，Configurator 已經有包含了 collie，所以就應該不用建立 collie，直接
使用 configurator 來建立 zk, bk 和 wk 的 cluster。

[2019-09-08 03:47] chia7712 commented on #2393
使用 configurator 來建立 zk, bk 和 wk 的 cluster。

yep

[2019-09-09 02:10] konekoya commented on #2542
@chia7712 Could manager also use the env var that you mentioned in the above? Or you'd prefer we use a different env var name instead of "ohara.it.container.prefix"?

[2019-09-09 02:40] chia7712 commented on #2542
Using the same var is enough to QA :)

[2019-09-09 03:02] #2580 closed

[2019-09-09 03:04] #2506 closed

[2019-09-09 03:18] saivirtue opened #2588 "[Question] Should we use the same rule for "hostname" in both docker and k8s?"
In XXXCollieImpl,

for docker
[code]

for k8s
[code]

1. Since **hostname** is used for communication between containers, we should use a unique name here.

2. The hostname for k8s is mapping to "spec.hostname", which has the following rules:

The hostname length should add a new rule that length < 63

[2019-09-09 03:18] wu87988622 commented on #2465
I setting eslint, everything is fine

[2019-09-09 03:18] saivirtue commented on #2588
ping @oharastream/developer
any comment?

[2019-09-09 03:43] chia7712 commented on #2588
the rule to hostname is ok to me but it is not critical. The hostname in container is private info and it is used by kafka/zk process only. Both Ohara and user DON'T touch the hostname in the later communication. It means the hostname is "create once, use nowhere".

[2019-09-09 03:54] saivirtue commented on #2588
I raise this issue because of the error in some of IT tests:
[code]
Although it is just the label length limit issue, I hope someone won't face the same problem if they had changed the container creation impl later.
Adding the rules before actual creation could help the error fail-fast.

[2019-09-09 04:03] chia7712 commented on #2588
go ahead to file PR to fix this issue if it indeed is a bug to our code.

my point was that we don't need to have a rule to all collie impl since it is not such public stuff.

[2019-09-09 04:06] konekoya opened #2590 "[Manager] Don't start the topic when it's added into the workspace"
It's better we move the start action to pipeline when the topic is actually used as when attempting to update a topic, it's required to stop the topic first than you can do the update. So starting the topic when it's added in the workspace doesn't seem to have much value and would cause problems if we want to update the topic

[2019-09-09 06:42] chia7712 commented on #2590
Should we show the state of topic? Does user start only topic from pipeline?

[2019-09-09 07:09] saivirtue opened #2591 "Stable IT tests XXXStreamApp.testDeadNodes"

[2019-09-09 07:35] jackyoh opened #2593 "重構 JDBC Source connector 的整合測試程式"
目前的 JDBC Source Connector 整合測試程式，有些抽象化界面沒有分好，因此建構物件的順序有點雜亂。所以這個議題主要用來重構  JDBC Source Connector 整合測試程式。

參考 #2393

[2019-09-09 07:55] saivirtue commented on #2591
this is duplicated to #2393, close now.

[2019-09-09 07:55] #2591 closed

[2019-09-09 07:59] saivirtue commented on #2588
Since the failed IT tests (in #2583) only occur in stream collie, I prefer to the point that we should only change the issue part, not all collie stuff. This issue should be closed since the other part is not critical.

[2019-09-09 07:59] #2588 closed

[2019-09-09 08:32] eechih opened #2595 "Create a Base Class for CsvSource Tests"
繼承自 CSV Source Connector 的 Connector 實作，例如：Ftp Source、Hdfs Source 都有一些相同（類似）的測試項目，因此我們打算將這些測試項目，集中放在一個基礎的測試類別下

[2019-09-09 09:06] chia7712 commented on #2576
reopen to fix the miss generated jars

[2019-09-09 09:36] konekoya opened #2598 "Add the ablity to update the tags field without fetching it's data first"
The tags fields are handy and very useful in many scenarios for frontend but one thing I found it's a bit hard to work with since the lack of __updating__ feature (PATCH instead of POST in HTTP verbs).

[2019-09-09 09:36] konekoya commented on #2598
/cc @chia7712

[2019-09-09 09:59] konekoya commented on #2590
@chia7712 Yup, we should. It will be added in another issue #2480

Yep, do you think we should allow users to start topic from other places in the UI :)

[2019-09-09 10:10] chia7712 commented on #2598
@konekoya nice one :)

Patch is useful to complicate object and we should support it. I will write the road map of this feature later :)

[2019-09-09 10:11] #2576 closed

[2019-09-09 10:17] chia7712 commented on #2590
absolutely :)

[2019-09-09 10:59] chia7712 commented on #2570
[code]
@saivirtue should we make above change in this issue?

[2019-09-10 01:49] saivirtue commented on #2570
We should :)

[2019-09-10 03:02] #2469 closed

[2019-09-10 03:14] konekoya opened #2601 "Fix workspace stream apps tab flakey E2E test"

[2019-09-10 03:17] konekoya opened #2603 "Doucment vscode settings related to recent eslint upgrade"
See #2465, we should document the settings or devs would able to use format on save feature from vscode :)

/cc @wu87988622 @DavidMi-1

[2019-09-10 03:18] konekoya commented on #2465
Since this issue has nothing to do with our source code, the docs will be added in #2603

[2019-09-10 03:18] #2465 closed

[2019-09-10 06:14] #2603 closed

[2019-09-10 07:36] eechih opened #2605 "Failed to test com.island.ohara.client.kafka.TestWorkerClient.testAllPluginDefinitions() when depends on ohara-kafka"
If the ohara-client module depends on ohara-kafka test code, the test com.island.ohara.client.kafka.TestWorkerClient.testAllPluginDefinitions() will not pass.

build.gradle:
[code]
Test Results:
[code]

[2019-09-10 07:37] eechih commented on #2605
/cc @chia7712

[2019-09-10 07:42] chia7712 commented on #2605
interesting ...

[2019-09-10 08:08] konekoya opened #2607 "[Manager] Collapse notification message if the message are too long"
Collapse the snackbar component so the full message can still be seen by expanding the snackbar but also has the benefit of constraining its height so it won't break our layout

[2019-09-10 08:08] konekoya commented on #2607
/cc @wu87988622

[2019-09-10 08:16] vitojeng commented on #2440
Document:
https://ohara.readthedocs.io/en/latest/build_quickstart_vm.html

[2019-09-10 08:16] konekoya opened #2608 "Allow table component to accept same name item in the table"
Having two items with the same name causes react to throw a warning in the console. The reason for this is that we're using the name as the table key which is now an intended behavior since the group supported was brought in in #2457

[2019-09-10 09:28] #2572 closed

[2019-09-10 14:20] chia7712 opened #2614 "lazy evaluation to type of Producer/Consumer"
We forced user to enter the type of producer/consumer explicitly in order to  confirm the serializer type for converting bytes data from topics. However, it is a bit ugly and weird since the type should he decided by type of serialzier than the type declaration in construction.
[code]

Luckily, we are using the builder pattern so we can add a bit hacky way to eliminate the ugly code - we add a unc

[2019-09-10 14:54] chia7712 opened #2615 "Replace CommonUtils.uuid() by CommonUtils.randomString()"
We have not used the "uuid" in code base and the helper method should be replaced by randomString()

[2019-09-10 19:23] #2614 closed

[2019-09-11 01:50] #2608 closed

[2019-09-11 02:34] konekoya opened #2618 "Create workspace modal is not properly close when a workspace is created"
The modal will stuck there and won't close even after the services are successfully created

/cc @wu87988622

[2019-09-11 02:53] konekoya opened #2619 "Use the same primary theme color throuthout the UI"
Since we're now using two different theme colors in our UI...

[2019-09-11 02:53] konekoya commented on #2619
/cc @wu87988622

[2019-09-11 05:58] wu87988622 opened #2622 "Add e2e and unit tests with plugins"
- [x] Plugin e2e tests #2631
- [x] Plugin unit tests #2631
- [x] Workspace name should allow less than 20 characters instead of 30 in the UI #2631

[2019-09-11 05:59] #2483 closed

[2019-09-11 06:44] #2276 closed

[2019-09-11 06:46] eechih commented on #2357
duplicated by #2276

[2019-09-11 06:46] #2357 closed

[2019-09-11 06:46] #2275 closed

[2019-09-11 07:04] #2619 closed

[2019-09-11 07:28] #2484 closed

[2019-09-11 07:29] wu87988622 commented on #2618
This is fix in #2484, Thanks

[2019-09-11 07:29] #2618 closed

[2019-09-11 07:31] wu87988622 commented on #2571
i will fix in #2622

[2019-09-11 07:39] DavidMi-1 opened #2623 "on manager UI, after start a connector , pipeline page cannot display the states icon"
**Describe the bug**
On manager UI , after start a pipeline with one ftp source connector and one topic, the graph cannot display states icon.
Response kind value should be 'source', but got 'connector'

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Pipeline page'
2. Click on 'Add a source connector'
3. Add a  'FtpSourceConnector'
4. Click on 'Add a topic'
5. Add a 'Topic'
6. Click o

[2019-09-11 07:40] saivirtue commented on #2563
ping @konekoya
Since #2602 had been merged, could you help to check if this issue was solved or not?

[2019-09-11 08:55] jackyoh opened #2625 "移除 k8s hostname 的 node name"
因為目前 k8s 的啟動 pod 的 label內容，`spec.hostname` 過長容易超出 63 字元，因此需要將 hostname 裡面的 node name 移除掉。

[2019-09-11 08:59] saivirtue commented on #2625
This issue should affect zk, bk and wk only (stream already fixed in #2583)
Let me take over this issue.

[2019-09-11 09:00] chia7712 commented on #2625
@jackyoh If you want to keep the node name, the hash in container name can be replaced by node name

[2019-09-11 09:46] #1736 closed

[2019-09-11 10:02] HarryChiang143 opened #2627 "Topic not running when host reboot."
**Describe the bug**
當實體機器重新啟動後，原本建立的Topic並沒有啟動
(Configurator的資料mount在本地目錄下)
**To Reproduce**
Steps to reproduce the behavior:
1. 透過K8S的方式啟動Configurator及Manager
2. 透過Manager UI建立Workspace及新建Topic
3. 在Pipeline中使用該Topic，此時Topic是正常的
![螢幕快照 2019-09-11 下午5 53 25](https://user-images.githubusercontent.com/46185836/64687460-1f447b80-d4bd-11e9-98d3-c877898fec88.png)
4. 停止Pipeline
5. 停止Configurator, 停止Mana

[2019-09-11 10:03] HarryChiang143 commented on #2627
@chia7712 F.Y.I

[2019-09-11 10:18] chia7712 commented on #2623
seems kafka have inconsistent response of "exist" and "state" ... Let me take over this issue :)

[2019-09-11 11:41] konekoya commented on #2625
Thanks for the help everyone! Much appreciated!

[2019-09-11 11:48] konekoya commented on #2622
@wu87988622 you can split this into smaller tasks which will result in smaller PRs therefore, easier to reason about :)

[2019-09-12 00:30] vitojeng commented on #2627
@HarryChiang143 Thanks report the issue.

[2019-09-12 01:09] jackyoh commented on #2625
我覺的 node name 要移除掉，因為很難預測使用者的 node name 的長度。

[2019-09-12 01:29] konekoya commented on #2571
@wu87988622 if this will be fixed in #2622 then you shouldn't add the fix version label in this issue since there won't be any PRs link to here :)

[2019-09-12 01:32] konekoya commented on #2563
No problem. I will give it a look as soon as I can

[2019-09-12 03:46] vitojeng commented on #2625
我想確認這裡講的 node name, 與 host name 是否為同一件事? 也就與UI 裡的 host name 是一樣的?

[2019-09-12 03:55] jackyoh commented on #2625
這裡說的 node name 是實體機或是 vm 的 host name。

這裡所說的 host name 是指 UI pipeline 連結隔壁的 nodes 嗎？

[2019-09-12 04:02] vitojeng commented on #2625
在 Nodes 頁面裡:
![Screenshot from 2019-09-12 11-57-28](https://user-images.githubusercontent.com/475186/64753227-0687a480-d555-11e9-8621-5e502b636525.png)

[2019-09-12 04:08] jackyoh commented on #2625
這個部份也是只實體機或是 vm 的 host name, 我們不用 host name 的原因是因為 container info 裡面也有 host name 派會搞混。

[2019-09-12 07:24] #2457 closed

[2019-09-13 17:01] chia7712 commented on #2547
@konekoya @wu87988622 We need a room to display the distribution of connectors (see https://ohara.readthedocs.io/en/latest/rest/rest-connectors.html). Any suggestions?

[2019-09-13 17:06] chia7712 opened #2637 "Both creation and update objects in all cluster-related APIs should not be case class"
We don't use the feature of case class in this case so the cost of case class should not be included in our bill :)

BrokerApi.Creation.class
before:  5.7 KB
after: 3.7 KB

[2019-09-14 10:06] #2637 closed

[2019-09-15 06:16] chia7712 opened #2641 "eliminate the warnings from TestSmbFileSystem and FileSystemTestBase"
code style warnings.

[2019-09-15 06:34] chia7712 opened #2642 "[Question] why we have empty trait like HdfsFileSystem, FtpFileSystem and SmbFileSystem?"
Do we plan to add native support APIs for them? If not, we should get rid of them.

[2019-09-15 06:34] chia7712 commented on #2642
ping @eechih

[2019-09-15 10:57] #2641 closed

[2019-09-15 11:04] chia7712 opened #2644 "Make all ITs reuse the env parser"
Most ITs depend on specific env variables to get important information of true experiment environments. However, we don't reuse the such code and there are a bunch of duplicate code of parser across our code base.

[2019-09-15 14:25] eechih commented on #2641
Thanks @chia7712

[2019-09-15 14:50] chia7712 opened #2646 "Remove FtpUtils"
FtpUtils is duplicate to ConnectorTestUtils.

[2019-09-16 01:08] konekoya commented on #2547
@chia7712 Not sure what you mean by __display the distribution of connectors__. So these are not the official connectors? Would they also be loaded in the worker?

[2019-09-16 02:05] #2644 closed

[2019-09-16 02:06] #2646 closed

[2019-09-16 03:07] konekoya opened #2648 "[Manager] Prevent test keyword "only" from getting into the source code"
This will cause our test runner to only run tests and create a somewhat fake report since __only__ these tests have passed. This can be caught by a linter plugin

https://github.com/levibuzolic/eslint-plugin-no-only-tests

/cc @wu87988622

[2019-09-16 03:29] eechih opened #2649 "eliminate the warnings from CsvSourceTestBase and TestFtpSource"
code style warnings.

[2019-09-16 04:24] #2570 closed

[2019-09-16 05:23] konekoya commented on #2542
@chia7712 There will be two services that we're not able to add this PR prefix. It's a limitation in the Frontend and I cannot think of a solution for now. I will keep this issue open as well as adding a new task to address the issue in the future.

[2019-09-16 05:26] chia7712 commented on #2542
@konekoya not problem at all. Thanks for the efforts.

[2019-09-16 05:28] chia7712 commented on #2542
As you have pushed a commit for this issue, please file a follow-up in order to close this one for 0.8.0 release.

[2019-09-16 07:25] #2649 closed

[2019-09-16 07:26] #2595 closed

[2019-09-16 07:39] eechih commented on #2642
@chia7712 Not sure what you mean by **native support APIs**. Can explain it further?

[2019-09-16 07:42] chia7712 commented on #2642
I means are there APIs belonging to the subclass than interface (filesystem)?

[2019-09-16 08:05] eechih commented on #2642
@chia7712
抱歉～我可能還沒掌握到你想表達的意思，哭哭～
等你明天進公司，我再找你討論。

[2019-09-16 08:40] #2625 closed

[2019-09-16 08:43] eechih opened #2651 "Introduce SMB source connector"
Introduce SMB source connector

[2019-09-16 09:01] DavidMi-1 opened #2652 "when run e2e test, sometimes can't add new topic at pipeline edit page"
**Describe the bug**
Sometimes, at pipeline edit page's 'Add a new topic' popup, after select a topic, 'Add' button still disable while run e2e test.

**To Reproduce**
Steps to reproduce the behavior:
1. Run e2e tests
2. Go to 'Edit' pipeline
3. Click on 'Add a new topic''
3. select a topic
4. See 'Add' button still disable

**Expected behavior**
After select topic, 'Add' button should be availabl

[2019-09-17 01:20] konekoya commented on #2562
Some of the issues will be addressed in #2378

[2019-09-17 01:23] konekoya commented on #1465
The upgrade causes a bunch of manager's unit tests to fail, I've tried to google online, react issue tracker and everywhere and couldn't find a solution to this issue yet. So I'm postpone this upgrade to next milestone, in hope that someone would run into the same issue as ours

[2019-09-17 03:27] saivirtue opened #2656 "Enable setting config for docker and k8s"
We are facing more and more settings to define and run a single container, it is time to use a better way to accomplish this.
I want to introduce the function to achieve passing configuration to containers. This issue is preparing to do:
1. use a workaround command `docker volume` command for docker
    1. - [x] introduce docker volume to support add config operations (#2881)
2. introduce `/config

[2019-09-17 03:55] chia7712 opened #2657 "Make all helper abstract class be interface to enable build more flexible testing infra"
There are many helper abstract class used in our testing. For example, SmallTest, MediumTest, WithBroker and so on. They are declared as abstract class so the sub class is impossible to extend another abstract class. It is unfriendly to hybrid the test cases from different bases. Hence, we should make all helpers be pure interface. The other advantage is that the interface stop us from putting use

[2019-09-17 04:09] konekoya commented on #2601
Seems like it's very stable in the recent test runs

[2019-09-17 04:09] #2601 closed

[2019-09-17 04:13] konekoya commented on #2278
@oharastream/developer the frozen date of this release will be postponed. Since @vitojeng needs more time to discuss the ongoing product design in #2470 with us. I will update the description when the date is confirmed.

[2019-09-17 05:15] chia7712 commented on #2656
Could you share more details to us? I failed to get the connection between configs and #2191

And for another, “docker configs” is used by swarm and it would be better to keep ssh mode simple since ssh mode is NOT for production. Precisely, ssh mode offers a way to “touch” docker technique without complicated preparation.

[2019-09-17 05:35] konekoya opened #2659 "[Manager] Save API tests video in another directory"
We're using cypress to run both our E2E and API tests and they both record video. But when running them together. the previous ran videos will be removed as cypress will do a cleanup before recoding new tests.

Seems like we can add a new option when running the API tests
https://docs.cypress.io/guides/references/configuration.html#Folders-Files

@wu87988622 Would you like to submit a PR to addres

[2019-09-17 05:54] saivirtue commented on #2656
In #2191, the rest tasks are "how do we pass the settings to containers without hard-code variables in docker file?"
Two possible solutions: **env variables** or **external config command**

For the former option, it is hard to avoid adding duplicate "keys" in dockerfile since in the file we cannot figure out which variables should write to XXX config file. The only way is adding ALL envs to the c

[2019-09-17 06:48] #2648 closed

[2019-09-17 07:07] konekoya commented on #1954
@jackyoh could you close this issue since the post was already published on Facebook :)

[2019-09-17 07:21] saivirtue commented on #2656
As the discussion, I will edit the description and postpone this issue to the next available version to accomplish.

[2019-09-17 07:42] eechih opened #2661 "eliminate the empty traits like HdfsFileSystem, FtpFileSystem and SmbFileSystem"
code style warnings.

created by #2642

[2019-09-17 07:45] saivirtue opened #2662 "Support assign config file for cluster"
After #2656, we should able to define the settings dynamically and write to config file. The script files don't need any hard-code variables anymore.

- [ ] Using config file to set container settings for zookeeper
- [ ] Using config file to set container settings for broker
- [ ] Using config file to set container settings for worker
- [ ] Using config file to set container settings for stream

T

[2019-09-17 07:45] eechih commented on #2642
This issue will be addressed in #2661

[2019-09-17 07:45] #2642 closed

[2019-09-17 08:10] jackyoh commented on #1954
OK, I am going to close this issue.

[2019-09-17 08:10] #1954 closed

[2019-09-17 08:21] wu87988622 opened #2664 "In the QA environment, the worker cannot obtain the jar file created using ohara-it"
worker download jar message:
`http://59a074eca457:26088/v0/downloadFiles/pr2631wkhi80m-plugin/ohara-it-sink.jar
Resolving 59a074eca457 (59a074eca457)... failed: Name or service not known.`

1. - [x] Resolving jar hostname to woker (#2664) (@saivirtue)
1. - [x] QA should define the hostname of tmp configurator for front-end E2E (@jackyoh)

[2019-09-17 08:22] wu87988622 commented on #2664
Thanks @saivirtue help.

[2019-09-17 09:04] #2191 closed

[2019-09-17 09:05] saivirtue commented on #2504
this is related to #2662 and should be resolved in that issue. Close this issue now.

[2019-09-17 09:05] #2504 closed

[2019-09-17 09:11] chia7712 commented on #2664
@jackyoh please update the QA :)

[2019-09-17 10:04] #2661 closed

[2019-09-17 10:08] jackyoh commented on #2664
OK, QA 的部份我來修改。

[2019-09-17 10:17] konekoya commented on #2652
@wu87988622 could you take a look at this issue?

[2019-09-17 10:27] chia7712 opened #2666 "Refactor CsvSourceTestBase"
1. fix the scala warnings
1. remove useless code

[2019-09-17 10:36] jackyoh opened #2667 "Fix flaky TestK8SSimpleCollie"
目前 TestK8SSimpleCollie 整合測試有以下幾隻 function 是失敗的狀態，需要做修改：
testWorker
testAddBrokerNode
testAddWorkerNode

the root cause is that we do a full string comparison in multiple nodes. And the order of nodes is not fixed so it has chance to produce false result.

log:
[code]

[code]

[2019-09-17 10:36] #1678 closed

[2019-09-17 12:57] #2666 closed

[2019-09-17 13:01] chia7712 opened #2669 "Remove methodName() from OharaTest"
the methodName() is used to generate a "unique" string for test cases. However, we have already a common helper method randomString(). It offsets more flexible usage and all test cases should adopt randomString() than methodName()

[2019-09-17 13:40] chia7712 opened #2670 "add Test annotation to testFailedClusterRemoveGracefully and testDeadNodes"
their annotation was removed by #2602...

[2019-09-17 13:40] chia7712 commented on #2670
@saivirtue was there a good reason to remove the annotation? Or it was just a mistaken?

[2019-09-17 13:50] chia7712 opened #2672 "add test to find out the test cases having no test annotation"
inspired by #2670. Let us avoid the such accident in the future.

[2019-09-17 15:28] #2670 closed

[2019-09-17 17:46] #2672 closed

[2019-09-17 17:54] chia7712 commented on #2667
@jackyoh Let me take over this one to make QA green ASAP.

[2019-09-17 17:59] chia7712 commented on #2393
our IT gets stable now so I'm about closing this issue. the fix to flaky in the future will be resolved in individual issue.

[2019-09-17 17:59] #2393 closed

[2019-09-17 18:35] #2669 closed

[2019-09-17 18:47] #2667 closed

[2019-09-17 20:38] chia7712 opened #2677 "Collie does not need to keep the settings"
The settings of cluster is kept by Configurator now so collie is not responsible for returning the settings anymore. Hence, some refactor to collie can be addressed.

1. Add an new interface - ClusterStatus - to simplify the returned type for collie. The ClusterStatus consists of alive nodes, state, error and metrics. All info in ClusterStatus are fetched at runtime.
1. Collie returns ClusterStatu

[2019-09-18 01:12] jackyoh commented on #2667
@chia7712 Thank you!

[2019-09-18 01:24] jackyoh commented on #2667
整合測試還有一個地方有問題。TestK8sClusterCollie#testWorker 測試，在 cluster00 的 IT 跑會順利通過，但是使用 cluster10 的 IT 跑在  testRemoveNodeToRunningWorkerCluster 的方法會卡在這個方法的 await 裡面。這個問題很像之前發生的跟 k8s 啟動 broker 的順序有關，我再找 @chia7712 討論看看。在決定是否要開 issue

[2019-09-18 01:46] #2651 closed

[2019-09-18 02:21] saivirtue commented on #2670
Sorry, it is a mistake :(
Thanks for point out.

[2019-09-18 03:01] #2378 closed

[2019-09-18 03:02] saivirtue commented on #2672
I am not sure if this is a good idea since we may add more and more ignore class if we "intentionally" to do so...
But it is a good practice that we should be responsible for the missing annotation of test cases :)

[2019-09-18 03:12] saivirtue commented on #2677
Good refactor!
ClusterStatus should be : aliveNodes, deadNodes, state, metrics, and error

[2019-09-18 03:31] jackyoh opened #2678 "Fix flaky TestK8sClusterCollie#testWorker"
TestK8sClusterCollie 的 testWorker 方法在 cluster10 的 IT 環境上執行都會發生 timeout 的問題

[2019-09-18 03:33] eechih opened #2679 "refactor the definitions of csv connectors"
這個 refactor 主要做兩件事情：
- rename: xxx_xxx_CONFIG -> xxx_xxx_KEY
- 將 FTP 及 HTFS 的 definitions 統一放在 package object

[2019-09-18 03:53] saivirtue opened #2682 "Increase the name and group field length limit for more flexibility"
We use (group, name) as our object key in Ohara, and the most strict rule is cluster object:
1. name & group : [0-9], [a-z], [-]
2. name & group length <= 20

This is because we have to assemble a container name in clusters with the following format:
`{occl|k8soccl}_{$group}_{$name}_{zk|bk|wk|stream}_{HASH_VALUE}`

And k8s has a "resource name maximum length of 253 characters" restriction.

To sim

[2019-09-18 03:55] saivirtue commented on #2682
/cc @oharastream/developer

[2019-09-18 04:17] chia7712 commented on #2682
The length limit to name is 60 as well?

[2019-09-18 04:25] chia7712 commented on #2672
In fact, the ignored class should not exist since we all should follow ohara rule to develop to keep our code consistent and reach consensus.

At any rate, We have 100+ classes and there is only one exception. I feel it is good enough :)

[2019-09-18 04:41] chia7712 commented on #2677
Ohara can’t give dead nodes since it will not be aware of “origin nodes”. Hence, the dead nodes will be placed at ClusterInfo than ClusterStatus since the former has settings (include the origin node names).

[2019-09-18 04:54] #2679 closed

[2019-09-18 05:04] saivirtue commented on #2682
Only group part. Name field could be part of "group name" in some cases, so I prefer remain the name length <= 20:
For example,
workspace: group=default, name=abc
pipeline: group=abc-mypipeline, name=mypipeline

[2019-09-18 05:08] saivirtue commented on #2677
You mean, collie handle all the "runtime" fields except deadNodes?

[2019-09-18 05:13] chia7712 commented on #2682
So rule easing is for UI? The group is made of “group” and name from other service?

If so, I prefer to limit the sum of “group length” and “name length”. The story of inconsistent limit(for group and name) is a bit mysterious to backend. BTW, using our json refiner to implement the limit should be ok.

[2019-09-18 05:15] chia7712 commented on #2677
yep, the deadNodes are calculated by “nodeNames” and “aliveNodes”. Also, deadNodes is a part of ClusterInfo :)

[2019-09-18 05:35] #2622 closed

[2019-09-18 05:36] #2571 closed

[2019-09-18 05:47] konekoya commented on #2432
@chia7712 Looks like this was fixed in the backend?

[2019-09-18 05:57] chia7712 commented on #2432
yep. Is frontend ready to show the connector key?

[2019-09-18 05:58] saivirtue commented on #2682
Any rule here is to unify all restrictions to one. For API, we still need to handle duplicated name problems:
For example, we have two workspaces:
{"group": "abc", "name": "wk01"}, {"group": "abc", "name": "wk02"}
and
wk01 has two pipelines: p01, p02
- p01 contains connectors: c01, c02
wk02 has one pipeline: p01
- p01 contains connector: c02

The above samples could be accomplished by API or by UI

[2019-09-18 06:03] chia7712 commented on #2682
the limit is ok to me. My point was the story of "different limit" is too hard to understand. The rule to limit the sum of group and name is more suitable and it works for frontend and APIs user.

[2019-09-18 06:24] saivirtue commented on #2682
Finally, I got the point.
Since our UI uses a group format : `{wk_name} + {current_name}` to define the "group" value of pipeline. It is not actually could be controlled by "sum of group and name length" since the actual formula is
**wk_name + current_name * 2**

I think for the final discussion in the later meeting, we should have the following two rules:
1. name length <= 20
2. sum of group and

[2019-09-18 06:28] saivirtue commented on #2664
ping @jackyoh
Do we finish the editing part of settings in Jenkins?

[2019-09-18 06:29] chia7712 commented on #2682
this one is not necessary. otherwise, both rules equal the different limit to group/name :(

[2019-09-18 07:02] jackyoh commented on #2664
Jenkins 的設定已經修改完成了。

[2019-09-18 07:12] #2664 closed

[2019-09-18 07:30] konekoya opened #2685 "[Manager] Delete a pipeline from pipeline list page could sometimes fail"
Will need to add some wait or retry logic in the async requests

[2019-09-18 07:39] konekoya opened #2686 "[Manager] Prevent connector from making an unneccesary put request when switching between connectors"
After upgrading our components to React Hooks in #2378, this behavior starts to showing up and would sometimes cause problems

Thanks for @wu87988622 for reporting this

[2019-09-18 07:40] konekoya commented on #2432
Yep, we are ready to support connector key :)

[2019-09-18 07:48] jackyoh commented on #2678
目前使用簡單的方法來解，#2677 會有更進一步的解決方法

[2019-09-18 07:48] #2678 closed

[2019-09-18 07:49] chia7712 opened #2687 "ZookeeperRoute, BrokerRoute and WorkerRoute don't take all settings to run the cluster"
[code]

We neglect to assign the settings ...

1. fist commit (#2690)
1. revert (#2698) (due to incorrect commit message)
1. final commit (#2699)

[2019-09-18 07:59] saivirtue commented on #2687
Hmm...cluster does not run with custom settings for now (except stream). Do we encounter any bug?

[2019-09-18 08:05] chia7712 commented on #2687
the free ports are not assigned :(

We don't need to add method to Collie.Creator for each config. the optional stuff should be defined by settings(Map[String, JsValue], and free ports is a good example.

[2019-09-18 08:06] saivirtue commented on #2687
Maybe it is time to remove the "friendly" method in collie and leverage the api ``request.settings`?
It could help us to avoid missing something setting AND avoid duplicate setter.

[2019-09-18 08:55] #2222 closed

[2019-09-18 08:55] saivirtue commented on #2682
As the discussion of meeting, updating the description.

[2019-09-18 09:04] chia7712 opened #2688 "Remove the useless code of Collie"
there are many helper methods in both collie and cluster APIs, and they are used to fill the settings. However, they are identical since collie bypass all ops to cluster APIs directly. It is time to get rid of duplicate codes now :)

The cleanup is too big to complete via single PR. The following tasks are required by this issue.

1. - [x] rename CreationRequest to BasicCreation; Update to Updatin

[2019-09-18 09:05] chia7712 commented on #2687
It could help us to avoid missing something setting AND avoid duplicate setter.

#2688

[2019-09-18 13:51] #2446 closed

[2019-09-18 15:24] chia7712 opened #2691 "Remove LargeTest, MediumTest and SmallTest. Use a global timeout for all non-IT tests"
Our unit tests are vary stable and the category is useless to our QA. Forcing developers to pick up a suitable category is also meaningless.

- [x] fix the incorrect rule of junit (#2704)

[2019-09-18 15:25] chia7712 commented on #2657
Junit 4 can't fetch the timeout from interface so this issue is invalidated currently. I'm going to close this issue :(

[2019-09-18 15:25] #2657 closed

[2019-09-19 01:43] konekoya commented on #2563
@saivirtue I've tested this and implemented in #2378. It works perfectly. Thanks for the help :)

[2019-09-19 01:43] #2563 closed

[2019-09-19 01:44] konekoya commented on #2563
Remove the fix version tag as there's no PR linked to this issue

[2019-09-19 01:57] eechih opened #2693 "The UI cannot display the connector version information"
The UI cannot display the connector version information, because the connector doesn't provide version information.
- SmbSource
- SmbSink

[2019-09-19 02:08] eechih commented on #2267
redesigned by #2572, so close this issue.

[2019-09-19 02:08] #2267 closed

[2019-09-19 02:18] eechih commented on #2693
ping @chia7712 JsonIn, JsonOut, ConsoleSink 缺少版本資訊，介意我發 PR 一並補上嗎？

[2019-09-19 02:53] chia7712 commented on #2693
@eechih go ahead, and thanks!

[2019-09-19 02:53] konekoya opened #2695 "[Manager] Assign broker cluster name to stream application"
When creating a stream app, if the broker cluster name is omitted. Stream app will try it's best to find a default stream app if there's one. But this behavior would cause trouble if there are many brokers. So it's best that we assign a specific broker cluster to the stream app when creating a new one.

/cc @saivirtue @wu87988622

This causes the E2E to fail in #2438

[2019-09-19 03:32] chia7712 commented on #2687
reopen to fix the incorrect commit message

[2019-09-19 03:46] saivirtue commented on #2695
Good issue, I will follow-up the stale logics of stream in #2151

[2019-09-19 04:12] #2687 closed

[2019-09-19 06:10] #2038 closed

[2019-09-19 07:17] konekoya commented on #2432
The group key support will be added in #2683. Closing this now

[2019-09-19 07:17] #2432 closed

[2019-09-19 07:17] konekoya commented on #1843
@wu87988622 Please help @DavidMi-1 to resolve this issue

[2019-09-19 07:35] vitojeng commented on #2440
@eechih Thank you for help to finish this task. ^^

[2019-09-19 07:47] #2685 closed

[2019-09-19 08:17] wu87988622 commented on #2652
ok i will follow this issue

[2019-09-19 08:25] eechih opened #2705 "Fix the SMB_PASSWORD_DEFINITION to correct type"
as title, change to SettingDef.Type.PASSWORD

[2019-09-19 08:33] #2691 closed

[2019-09-19 09:57] eechih opened #2708 "Verify the version of all official connectors"
As title

[2019-09-19 10:00] #2593 closed

[2019-09-19 10:01] #2693 closed

[2019-09-19 10:08] chia7712 opened #2709 "the creation/updating generated by client API should be refined"
We have a great infra to refine the request from http request. However, the request generated by client APIs does not benefit from the refiner. It result in inconsistent requests :(

[2019-09-19 11:53] #2705 closed

[2019-09-19 12:40] majiajue opened #2711 "[Question]Could you give me an example of docker-compose.yml，please?"
Could you give me an example of docker-compose.yml，please? tks

[2019-09-19 12:48] chia7712 commented on #2711
pardon me. I fail to get your point. There are two docker-compose files - build.yml and backend.yml - and they are supposedly used by ohara CI/CD only.

[2019-09-19 13:12] #2695 closed

[2019-09-19 13:27] konekoya commented on #2041
@wu87988622 The first issue was fixed (see the description). Can you verify if the second issue is still there and should be addressed? If not, this issue can be closed then

[2019-09-19 13:29] konekoya opened #2712 "[Manager] Workspace modal is not showing the redirect message when there's no node info present from the API response"
The modal should display a redirect message when there's no node info when users attempt to create a worksapce. I think this is probably a regression from our refactoring...

/cc @wu87988622

[2019-09-19 13:31] konekoya opened #2713 "[Manager] Use tags to differentiate different jars instead of using group"
/cc @wu87988622

[2019-09-19 13:34] wu87988622 commented on #2713
@konekoya
Oh~ thx i will handle this

[2019-09-19 13:34] konekoya opened #2714 "[Manager] Add a test case to make sure that a topic can only be used in a pipeline"
A topic can only be used with a pipeline. This logic was implemented in #2469. We will need to add a test case to guard against this behavior ensuring it's working as it should.

The test could roughly do the following steps:
1. Create a topic and pipeline
2. Use the topic in the pipeline we just created
3. In workspace's topics tab, assert the topic has the pipeline name listed in the __used by p

[2019-09-19 13:37] konekoya opened #2715 "[Manager] Better way to display validation message from API"
#2702 used snackbar to display error messages but one thing it kind of fails to do is to properly display the error message as there could be multiple error messsages with a single request.

[2019-09-20 02:11] konekoya commented on #2530
Moving this out of 0.8 as the release time is approaching

[2019-09-20 03:07] #2708 closed

[2019-09-20 03:35] wu87988622 opened #2719 "Adjust the display mode of JsonIn and JsonOut in graph"
If the node length is too long, it will cause display error.

[2019-09-20 05:40] konekoya opened #2720 "[Manager] Fix pipeline graph's state update logic"

[2019-09-20 05:48] konekoya opened #2723 "[Manager] Remove duplicate Mui package warning"
Not sure why it's complaining about having two @material-ui/styles packages... But by removing a direct dep from manager/client seems to fix the issue

[2019-09-20 05:54] konekoya commented on #2723
/cc @wu87988622 I was meant to fix this issue in another PR, However, that PR has some other issues that need to be addressed and won't be merge soon.

[2019-09-20 05:55] wu87988622 commented on #2723
ok thanks

[2019-09-20 05:56] jackyoh commented on #2249
使用 K8S 建立 zookeeper 的 container 會收到以下的錯誤訊息：
[code]
主要的原因是在 k8s 的環境建立 container 會指定 hostname 的名稱不能有點或是特殊符號，k8s 規定的 host name 的格式如下：
[code]

[2019-09-20 06:09] chia7712 opened #2726 "enable jenkins to cleanup orphan containers"
The orphan containers can burn out our QA server ...

[2019-09-20 15:39] chia7712 commented on #1320
most code of collie have tests now. close this issue.

[2019-09-20 15:39] #1320 closed

[2019-09-20 15:42] chia7712 commented on #1256
duplicate to #2158

[2019-09-20 15:42] #1256 closed

[2019-09-20 15:43] chia7712 commented on #651
@jackyoh Do you have free cycle to complete the refactor for K8sClient?

[2019-09-20 16:21] chia7712 opened #2727 "The creation/updating in Connector/Topic should be normal class rather than case class"
They don't need the attributes of case class so those objects should be normal class in order to reduce the binary size.

[2019-09-20 16:38] chia7712 opened #2728 "Remove the useless node from TestJDBCSourceConnectorRecovery"
[code]
those dumb code should be removed. BTW, we haven't supported to increase the partitions for a running topic (see #2133)

[2019-09-20 16:39] chia7712 commented on #2728
FYI @jackyoh

[2019-09-20 22:16] #2542 closed

[2019-09-21 00:00] #2723 closed

[2019-09-21 00:44] #2728 closed

[2019-09-21 06:17] chia7712 opened #2731 "Cluster APIs should honor cluster key rather than cluster name"
cluster accept group now but our APIs still require user to pass name rather than key...

ObjectKey's json parser is about to accept following json representation.
[code]
[code]
[code]
Hence, the "default group" to all objects should be identical to make a global json parser for key type.

The sub issues are listed below.

1. - [x] unify default group for all objects (#2754)
1. - [x] enable json p

[2019-09-21 07:26] #2727 closed

[2019-09-21 08:01] chia7712 opened #2732 "BrokerCollie.zookeeperClusters incorrectly return all clusters information"
It should return only zk cluster info ...

[2019-09-21 08:09] saivirtue commented on #2731
cluster accept creation without group specified. If we use key instead of group and name, how could we create an object with default group?

[2019-09-21 08:42] chia7712 commented on #2731
The Scala APIs accept the key and the json APIs take both key and name.

The former is for consistent in writing pure scala code. Converting key to name is a weird and ugly style across our project.

The later take “key” but accept the key lacking of “group”. For example: the following requests are identical.

bkKey: {
group:default,
name:”a”
}

bkkey: a

[2019-09-21 14:15] saivirtue commented on #2731
Since scala APIs are part of "client", this conclusion is very important for later developers/users.
Could you add this conclusion to the `key()` comment? :)

[2019-09-21 15:13] chia7712 commented on #2731
sure, boss

[2019-09-21 16:23] chia7712 commented on #2547
all sub-tasks are completed!! @wu87988622 thanks for helps!!!

[2019-09-21 16:23] #2547 closed

[2019-09-22 01:06] jackyoh commented on #651
我下週開始來規劃 refactor K8sClient 的部份，預計下一個 MileStone 來完成

[2019-09-22 01:14] jackyoh commented on #2726
我們目前有 NodeCleaner 可以去清除殘留的 container，要實作其它的功能去清除 container 嗎？

[2019-09-22 01:21] jackyoh commented on #2728
收到了

[2019-09-22 02:24] chia7712 commented on #2726
QA可以在最後走訪所有IT節點清除containers

[2019-09-22 03:27] jackyoh commented on #2726
OK, 了解。目前我們的 IT 跑完成 zk, bk 和 wk 的 container 都是由測試程式去刪除。還是有可能因為某些的原因造成漏刪掉 Container 的問題，所以在跑完測試之後 Jenkins 要呼叫 ssh 去刪除 IT 環境的 container。

我想到一個問題就是目前 IT 測試程式裡面，有一個 cleanup 的變數當設定 false 時 container 是
不會刪除，主要目的是用來執行 container 的 Debug 使用。是否也要修改成透過環境變數的方式
去控制此變數。這樣才不會有 cleanup 設定成 false 時，最後跑完之後 container 被 jenkins
刪除的問題。

[2019-09-22 03:34] chia7712 commented on #2726
其實不必要，因為一般人無法存取QA上的containers。而我們的IT結尾都會把所有containers的log印出來。

那個cleanup比較是用在自己電腦debug用

[2019-09-22 03:36] jackyoh commented on #2726
OK，那這個 issue 交給我來做。

[2019-09-22 04:16] chia7712 commented on #2726
@jackyoh thanks!

[2019-09-22 12:16] #2732 closed

[2019-09-23 01:07] konekoya opened #2735 "[Manager] Avoid using illegal characters in the UI"
The name shouldn't include special char like dash (i.e. *-*)

Ref #2722

[2019-09-23 01:18] konekoya commented on #2735
@wu87988622 Do you have time to work on this? It seems now the group name cannot contain characters like dash. You can remove the part from nodes and workspaces pages I will then fire another PR or just add a commit in the same PR like what we have done in #2684 :)

[2019-09-23 01:18] konekoya commented on #2735
Or we can just resolve this in #2722 instead?

[2019-09-23 01:48] saivirtue commented on #2735
Thanks for your help, @konekoya @wu87988622 !

[2019-09-23 02:49] wu87988622 commented on #2735
ok but i need first finish #2719 .

[2019-09-23 03:03] konekoya commented on #2221
Form validation is a big issue and the logic will be changed according to #2470

[2019-09-23 03:25] konekoya opened #2741 "[Manager] Allow mui button to accept children prop"
The current design does not accept children prop which is against the common button design pattern in react...

[2019-09-23 03:33] konekoya opened #2742 "[Manager] Rename workspace stream apps component name to stream jars"
Stream jars is the correct way to go. @wu87988622 could you help fix this issue :)

[2019-09-23 03:44] konekoya commented on #2714
@DavidMi-1 Do you want to tackle this after #2738 is done?

[2019-09-23 03:49] #2720 closed

[2019-09-23 04:03] DavidMi-1 commented on #2714
I think it's ok.
But.
what this's for ?
I mean the detail description

[2019-09-23 04:10] wu87988622 opened #2744 "Waiting for worker connectors to complete timeout cannot delete all services"
The service that should be deleted is not recorded correctly, which makes it impossible to delete all the services correctly.

[2019-09-23 04:11] wu87988622 commented on #2744
Thanks @eechih

[2019-09-23 05:37] konekoya opened #2745 "[Manager] Refactor stream API"
The API should be renamed and cleanup since we're now using stream instead of stream property as the API endpoint

[2019-09-23 05:40] konekoya opened #2746 "[Manager] Update unit tests packages"
This includes:
@testing-library/react
@testing-library/cypress

[2019-09-23 05:41] konekoya commented on #2712
@wu87988622 @DavidMi-1
This issue is up for grab. Anyone is interested in?

[2019-09-23 05:44] konekoya commented on #2714
Good question. I will update the description

[2019-09-23 06:01] konekoya opened #2747 "[Manager] Add offical logo in the header"
We're using ohara's logo as the favicon but not in UI's header which is a bit strange...

/cc @vitojeng @wu87988622

[2019-09-23 06:20] vitojeng commented on #2747
+1
We need add logo in UI's header, already in v1.0 UI Wireframe

[2019-09-23 06:51] konekoya commented on #2590
Move to next milestone

[2019-09-23 06:52] konekoya commented on #2480
Move to next milestone.

[2019-09-23 06:53] konekoya opened #2749 "[Phase 2] Support all the available settings definitions in manager #2383"
See also #2383

- [ ] Support JDBC table
- [ ] Support ARRAY value type

[2019-09-23 06:54] konekoya commented on #2383
The rest of the tasks are tracked in #2749

[2019-09-23 06:54] #2383 closed

[2019-09-23 06:59] konekoya opened #2750 "[Manager] Handle E2E genereated data properly"
A couple of issues that we need to tackle here:

- [ ] Make sure to cleanup test data during the run
- [ ] Spin up zookeepers, brokers, and workers in each test suite
- [ ] Fix brittle E2E test cases

[2019-09-23 07:12] chia7712 commented on #2714
So our UI does disable user to pick up a topic used by other pipeline?

[2019-09-23 07:34] konekoya commented on #2714
Yep. a topic can only be used by one pipeline

[2019-09-23 08:27] #2151 closed

[2019-09-24 01:29] vitojeng commented on #2511
Totally agree.
M​ore precisely, pipeline should not have state for running or stopped.
Pipeline is just a *Paper* that we put some "components"(​with state) on it.
So we say a stopped pipeline actually means that these components have no data flow.

[2019-09-24 02:42] #2688 closed

[2019-09-24 02:56] wu87988622 opened #2757 "Increase waiting time for workspace creation"
More waiting time is required in SSH mode.

[2019-09-24 03:00] DavidMi-1 opened #2758 "[Manager] E2E test creates a worker with a name includes undefined in it"
**Describe the bug**
e2e test , when run before() add a worker, it created a worker named with undefined

**To Reproduce**
Steps to reproduce the behavior:
1. run  'e2e' test
2. run 'pipelineEditPage.test.js'

**Expected behavior**
A normal worker name without undefined

**Screenshots**
![image](https://user-images.githubusercontent.com/44669519/65477807-01faae80-deba-11e9-93e0-714de900a390.png)

[2019-09-24 03:16] chia7712 commented on #2758
"undefined" seems a cursed word to ohara :(

[2019-09-24 03:23] konekoya commented on #2758
It's like a woooops in the frontend...

[2019-09-24 03:23] konekoya commented on #2758
@DavidMi-1 Thanks for reporting. Could you help fix this issue?

[2019-09-24 03:25] konekoya commented on #2746
@wu87988622 would you like to give this a shot?

[2019-09-24 03:26] konekoya commented on #2741
@wu87988622 Could you tackle this issue?

[2019-09-24 03:52] DavidMi-1 commented on #2758
ok

[2019-09-24 06:06] jackyoh commented on #2726
@chia7712 我已經完成了，執行完整合測試刪除 container 的部份。Please review shell script in PreCommit job setting.

[2019-09-24 06:14] #2719 closed

[2019-09-24 06:17] wu87988622 commented on #2746
ok I will finish this issue

[2019-09-24 06:43] DavidMi-1 commented on #2758
Confirmed that worker name includ 'undefined' bc of prefix's value is 'undefined'.
Just add "servicePrefix" parameter setup in the config file 'cypress.env.json', and it's solved.
Case close.

[2019-09-24 06:43] #2758 closed

[2019-09-24 06:52] chia7712 commented on #2726
@jackyoh I'm good with the script. thanks for that!

[2019-09-24 07:21] jackyoh commented on #2726
我已經在 shell script 的最下面加上 exit 0 了。避免在執行刪除 container 發生無法預期的錯誤，造成  QA failed.

測試沒問題之後，我再將此 issue 關閉掉

[2019-09-24 07:38] wu87988622 opened #2762 "Updating plugins sometimes results in abnormal display and errors"

[2019-09-24 07:41] #2757 closed

[2019-09-24 07:42] #1343 closed

[2019-09-24 08:40] #2726 closed

[2019-09-24 10:06] eechih opened #2766 "Add default value to the keys 'task.total', 'task.hash' of CsvSourceConfig"
as title.
- task.total 's default value is 1
- task.hash 's default value is 0

[2019-09-24 12:38] chia7712 opened #2768 "Remove the deprecated "xxxClusterName" from Validation APIs"
Validation still support the deprecated APIs ...

this is a part of #2769 :)

[2019-09-24 12:47] chia7712 opened #2769 "Apply cluster key to Topic, Connector, Query, Container, Log and Validation APIs"
the cluster name is deprecated now. And those APIs use the key first and then apply default group + cluster name to seek the running cluster.

a example of validating hdfs
before:
[code]
after_0:
[code]
after_1:
[code]

1. - [x] Validation APIs should honor the key rather than name (#2790)
1. - [x] remove clusterName from Validation APIs (#2794)
1. - [x] Connector APIs should honor the key rather

[2019-09-24 12:49] chia7712 commented on #2769
@wu87988622 @konekoya This issue is going to break the APIs and please help me to migrate the APIs :)

[2019-09-24 17:17] #2766 closed

[2019-09-24 17:24] chia7712 opened #2770 "(Worker APIs) Updating.jarKeys fails to accept string array"
[code]

It takes the json parser of java version, and java code too poor to accept multiples format of requests :(

[2019-09-24 17:57] chia7712 opened #2772 "remove stale group, name, state and error from Connector APIs"
The following fields are going to be removed .
1. group (it is in settings)
1. name (it is in settings)
1. state (it is replaced by status)
1. error (it is replaced by status)

[2019-09-24 17:58] chia7712 commented on #2772
ping @wu87988622 @konekoya

[2019-09-24 19:53] #2770 closed

[2019-09-24 20:57] chia7712 commented on #2766
Personally, it is a bit dangerous to have default value for them since both of them must be defined correctly to avoid race condition.

[2019-09-25 01:42] eechih commented on #2766
+1, I will revert this PR #2767

[2019-09-25 01:51] eechih opened #2775 "Cannot to start smb source connector because some keys cannot to set during the startup phase."
Cannot to start smb source connector because some keys "task.total", "task.hash" cannot to set during the startup phase.

[2019-09-25 02:05] konekoya commented on #2278
@oharastream/developer updated the 0.8 codebase frozen and release date.

[2019-09-25 02:17] konekoya commented on #2735
In favor of #2682, closing this

[2019-09-25 02:17] #2735 closed

[2019-09-25 02:27] jackyoh opened #2778 "執行 Configurator 的 container 使用 -v 發生 Permission denied 的問題"
今天在寫文章的時候，使用 Ohara 0.7.1 的 Quick Start VM 測試關於 Rocks DB 的資料夾 mapping 到 container 的資料夾時發現有 Permission denied 的問題，指令如下:

[code]

2019-09-25 02:15:05,702 ERROR [main] configurator.ConfiguratorBuilder(405): failed to pre-create resource
org.rocksdb.RocksDBException: while open a file for lock: /home/ohara/configurator/store/LOCK: Permission denied
	at org.rocksdb.RocksDB.open(Native Method)
	at org.ro

[2019-09-25 02:41] saivirtue commented on #2778
這個議題看起來跟 #2573 有關

[2019-09-25 02:50] vitojeng opened #2779 "Enabling Google Analytics on docs site"

[2019-09-25 02:51] jackyoh commented on #2778
了解，看起來是 UID 的問題。我先把這個 issue 關閉

[2019-09-25 02:52] chia7712 commented on #2778
yep, uid is the root cause.

[2019-09-25 03:38] jackyoh opened #2780 "修改 How to use Kubernetes in Ohara 文件"
在 K8S 的文件裡有使用 ohara configurator restful api 來測試建立 zookeeper cluster, broker cluster。因為 configurator restful api 有做修改, 像是建立 zookeeper cluster 之前只要呼叫 post /v0/zookeepers 就可以建立，現在還要增加  put /v0/zookeepers/zk/start 才能啟動 zookeeper cluster, 因此文件的部份有些地方要做修改。

[2019-09-25 03:55] wu87988622 opened #2781 "Failure to establish workspace correctly"

[2019-09-25 03:56] wu87988622 commented on #2781
Thanks @vitojeng

[2019-09-25 05:34] #2762 closed

[2019-09-25 06:56] saivirtue opened #2785 "fix flaky TestFileRoute.testUploadOutOfLimitFile"
- [x] com.island.ohara.configurator.route.TestFileRoute.testUploadOutOfLimitFile (#2827)

[code]

- [x] com.island.ohara.configurator.validation.TestValidationOfRdb.classMethod (move to #2842)

[code]

[2019-09-25 07:31] #2438 closed

[2019-09-25 07:36] chia7712 commented on #2769
@wu87988622 @konekoya Does UI take fields from Connector/Topic settings now? I plan to remove the stale fields in this issue :)

[2019-09-25 07:51] chia7712 opened #2787 "fix flaky TestMetrics.testTopic"
[code]

[2019-09-25 08:34] #2781 closed

[2019-09-25 14:14] #2768 closed

[2019-09-25 14:46] chia7712 opened #2791 "fix flaky TestConfiguratorBuilder.testFakeCluster"
[code]

the tests case creates too many objects at once :(

[2019-09-25 15:44] chia7712 commented on #2769
@konekoya @wu87988622 I have added the new field to all APIs and then I'm about to remove the stale stuff. Please help me to deal with the incompatible changes :)

[2019-09-25 16:07] #2791 closed

[2019-09-25 16:08] #2772 closed

[2019-09-25 16:58] chia7712 opened #2795 "add global flag "ohara.it.keep.containers" to ClusterNameHolder so as to control the cleanup of containers for all IT"
the flag - cleanup - is useful in debugging. However, it is controlled by each test class so there are many duplicate codes across our IT. We should move the flag to ClusterNameHolder to reduce the duplicate stuff :)

[2019-09-26 00:58] konekoya commented on #2769
Not yet. But we will do our best to update our API calls, hopefully, finish this today :)

[2019-09-26 01:44] konekoya opened #2799 "[Manager] Fix unstable E2E tests"
Lots of E2E tests are failing right now.

See #2722

[2019-09-26 03:42] chia7712 commented on #2769
I didn't encounter any compatibility error when removing the stale fields. Please check the coverage of APIs compatibility test :)

[2019-09-26 04:04] chia7712 opened #2802 "remove stale group, name, numberOfPartitions, numberOfReplications and tags from Topic APIs"
before:
[code]
after:
[code]

the "brokerClusterName" is removed by #2769 (remove brokerClusterName from Topic APIs)

[2019-09-26 04:04] chia7712 commented on #2802
FYI @wu87988622 @konekoya

[2019-09-26 05:18] chia7712 commented on #2682
reopen to fix IT error

[2019-09-26 05:40] #2799 closed

[2019-09-26 05:41] konekoya commented on #2769
@chia7712 That's the same pitfall we ran into last time with stream app in API tests. Since our test only tests a set of services. So everything works okay as the default cluster is taken. But in production code, this will have a problem if we have multiple services running. What do you think if we remove this __default__ behavior from our API? This will make our API behave in the same way no matt

[2019-09-26 05:50] chia7712 commented on #2769
So the cluster field is required?

[2019-09-26 07:24] #2682 closed

[2019-09-26 07:27] chia7712 opened #2806 "fix flaky TestListCluster"
TestListCluster is used to test the "dead" containers should disappear from cluster info. However, it always remove all containers and the assertion is based on the cache so this IT almost count on "luck" ...

[2019-09-26 08:32] konekoya opened #2810 "[Manager] Fix skipped unit tests"

[2019-09-26 09:04] #2806 closed

[2019-09-26 09:15] konekoya opened #2811 "Weird API response when ommiting the name value from workerClusterKey"
With the following request, a weird error is returned from the API.

API: __PUT__ `api/connectors/asdfds?group=xxxadf`

[code]

The error from the API endpoint
[code]

[2019-09-26 09:15] konekoya commented on #2811
/cc @chia7712

[2019-09-26 09:26] konekoya commented on #2769
Exactly

[2019-09-26 09:34] chia7712 opened #2812 "Don't pick up a cluster automatically and the cluster field should be required"
see https://github.com/oharastream/ohara/issues/2769#issuecomment-535345924

1. - [x] remove the auto-completed cluster field from Validation APIs (#2928)
1. - [x] remove the auto-completed cluster field from Topic APIs (#2963)
1. - [x] remove the auto-completed cluster field from Connector APIs (#3027)
1. - [x] remove the auto-completed cluster field from Broker APIs (#3032)
1. - [x] remove the a

[2019-09-26 09:34] chia7712 commented on #2769
see 2812

[2019-09-26 09:38] chia7712 opened #2813 "the error message in parsing ObjectKey is unclear"
related to #2811

the json serialization is based on jackson so our akka json fails to catch the correct exception :(

[2019-09-26 09:38] chia7712 commented on #2811
seems the request has incorrect content:
[code]

However, the error message should be revised :(

Let me file a issue for it (see #2813)

[2019-09-26 11:36] #2813 closed

[2019-09-26 12:09] DavidMi-1 opened #2816 "At pipeline edit page, open 'Add a new topic' popup and there is no topic to add"
**Describe the bug**
At pipeline edit page, open 'Add a new topic' popup and  there is no topic to add.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Workspace --> Topics' page, add new topic
2. Make sure there is at least one topic or more.
3. Go to 'Pipelines' page
4. Click 'NEW PIPELINE' , and add a new pipeline
5. Click 'Edit xxx Pipeline' , go to pipeline edit page
6. Click 'Ad

[2019-09-26 12:12] DavidMi-1 commented on #2816
I want post with Screenshots. But I couldn't. GIthub suddenly not allow me post image.

[2019-09-26 19:50] chia7712 opened #2818 "fix TestSshOracleJDBCSourceConnector"
[code]

the connection props is made up of "alive" nodes rather than node names. Hence, the "non-running" cluster returns empty string and it causes a lot of exception.

Given that the connection error should be handled by client code, the connection props, now, consists of all node names.

[2019-09-26 22:18] konekoya opened #2820 "[Manager] Fix flakey End to End tests"
- [x] Stream app
- [x] Pipeline edit page

[2019-09-26 22:20] #2686 closed

[2019-09-27 00:56] jackyoh commented on #2818
@chia7712 Thank you.

[2019-09-27 02:26] saivirtue opened #2821 "fix flaky tests in TestK8SSimpleCollie"
In this test class, some results fetched immediately after creating clusters, we should "wait and fetch" the result.

[2019-09-27 03:45] chia7712 commented on #2821
duplicated to #2818?

[2019-09-27 04:05] saivirtue commented on #2821
Not really.

In this test class, some result fetched immediately after creating clusters, we should "wait and fetch" the result.

[2019-09-27 04:05] #2820 closed

[2019-09-27 04:21] chia7712 opened #2824 "[Question] How to save our IT?"
QA does not include IT by default so as to speedup our PR flow. However, it delay us to detect the bugs happening in IT and the chaos ensues.

There are two solutions to us now.

1. QA always run QA for backend changes. the side effect is that we don't have enough resources to hold a bunch of IT. A lot of timeout exception may ensue.

1. add an new Post job to jenkins to run the IT periodically. I

[2019-09-27 04:35] saivirtue commented on #2824
I prefer the former with **A queue for IT tests**

It is a good habit to ensure the changes don't break our IT. If the timeout exception was too hard to avoid, maybe we could pending the tests when QA is busy ?

[2019-09-27 05:03] chia7712 commented on #2821
@saivirtue thanks for explanation. please update the description for this issue.

[2019-09-27 05:11] chia7712 commented on #2824
seems to be available to our jenkins :)

[2019-09-27 05:44] konekoya opened #2826 "[Manager] Adapt the brokerClusterKey change in stream API"

[2019-09-27 05:44] konekoya commented on #2826
/cc @saivirtue

[2019-09-27 05:46] #2795 closed

[2019-09-27 07:22] wu87988622 opened #2828 "Failed to parse container name in ssh mode when there are non-hosted containers"
1. -[x] for master (#2877)
1. -[x] for 0.8 (#2878)

[2019-09-27 07:22] wu87988622 commented on #2828
Thanks @chia7712

[2019-09-27 08:39] #2818 closed

[2019-09-27 08:40] #2821 closed

[2019-09-27 09:11] konekoya commented on #2816
Fixed in #2820

[2019-09-27 09:11] #2816 closed

[2019-09-27 09:14] chia7712 opened #2833 "Remove JAR_KEY, CONNECTOR_KEY and TOPIC_KEYS from definitions since they should be replaced by Reference"
there are two attributes to guide user to "fill" the fields. the "type" indicates the "form" of request, and the "reference" indicates the relationship between this field and another existent resources.

for example, we attributes "type:ObjectKey" and "reference:BROKER_CLUSTER" to a field, and then we assume the request to this field should be
[code]

and there is a existent broker cluster having

[2019-09-27 09:49] #2447 closed

[2019-09-27 09:49] #2274 closed

[2019-09-27 10:09] konekoya opened #2836 "[Manager] Filter out pipeline object kinds other than connector and stream app"
Since __group + name__ can still be dangerous and not enough to prevent scenarios like there are two same name objects (e.g. a pipeline and a connector with the exact same name)

[2019-09-27 10:12] konekoya commented on #2836
Kudo to @chia7712 for the Suggested fix :)

[2019-09-27 10:17] konekoya opened #2837 "[Manager] Remove hard coded key related value types"
These keys are somehow hardcoded in the Manager. To better prepare for the future API updates/changes, Manager should avoid hard coding definition values like this.

/cc @chia7712 @wu87988622

[2019-09-27 22:09] #2221 closed

[2019-09-28 06:24] #965 closed

[2019-09-28 06:25] #1318 closed

[2019-09-28 06:26] chia7712 commented on #651
all sub-tasks are completed :)

[2019-09-28 06:26] #651 closed

[2019-09-30 00:59] konekoya commented on #1880
@wu87988622 could we close this issue? This seems already resolved on your end?

[2019-09-30 01:00] konekoya commented on #2715
@wu87988622 would you like to tackle this issue

[2019-09-30 01:01] konekoya commented on #2750
@wu87988622 could you help work on this issue :)

[2019-09-30 01:02] #256 closed

[2019-09-30 01:19] konekoya commented on #251
@wu87988622 would you like take a stab at this?

[2019-09-30 02:02] saivirtue opened #2842 "Failed to catch the binding error in building embedded worker services"
[code]

[2019-09-30 02:10] saivirtue commented on #2731
/cc @oharastream/frontend

The latest changes of cluster APIs are traced here, I will remove all the stale fields in this release (0.8).
If you had any problem, please let me know :)

[2019-09-30 02:14] chia7712 commented on #2731
If you had any problem, please let me know :)

![tumblr_m5hb570SOP1rq4q6jo1_500](https://user-images.githubusercontent.com/6234750/65845005-05cf7a80-e36b-11e9-8066-e70935be4613.gif)

[2019-09-30 02:16] konekoya opened #2843 "[Manager] Use cluster keys instead of cluster names"
- [x] 0.9 (#2848)
- [x] 0.8 (#2870)

[2019-09-30 02:24] saivirtue commented on #2842
from [comment](https://github.com/oharastream/ohara/pull/2827#discussion_r329388941)

kafka use IOException to replace BindException so we should change the

[code]
to

[code]

However, the IOException is too rough so we should check the error message as well.

[2019-09-30 02:31] vitojeng commented on #1787
@wu87988622 Quickstart related files already moved to [oharastream/ohara-quickstart](https://github.com/oharastream/ohara-quickstart), please move this job to **ohara-quickstart**.

[2019-09-30 03:25] jackyoh opened #2846 "PR 只修改文件時 containers cleanup 是黃點"
開 PR 如果只有改文件時  containers cleanup 是黃點，因此不能 merge 進 master 裡.

連結如下：
https://github.com/oharastream/ohara/pull/2832

ping @chia7712 我想嘗試來修改看看這個問題，有哪些地方需要注意的嗎？

[2019-09-30 03:53] konekoya commented on #2826
dupe of #2843

[2019-09-30 03:53] #2826 closed

[2019-09-30 03:57] konekoya commented on #2731
@saivirtue Embrace for the impact...

[2019-09-30 03:58] chia7712 commented on #2846
溫柔一點（x）

把清理container的script放在final block以確保一定會貼上status

[2019-09-30 03:59] jackyoh commented on #2846
OK, 我再來修改看看

[2019-09-30 07:05] #2836 closed

[2019-09-30 07:12] konekoya commented on #2802
@wu87988622 could you help tackle this issue?

[2019-09-30 07:27] konekoya opened #2849 "[Manager] Prevent stream app from adding into pipeline graph if it doesn't contain any definitions"
We currently allow this kind of jars to be added into pipeline graph. But this will create other issues like users are not able to delete the stream app like this. I think the best way to work around this is probably just preventing users from adding it in the first place

- [x] 0.8 (#2871)
- [x] 0.9 (#2851)

[2019-09-30 07:27] konekoya commented on #2849
/cc @wu87988622

[2019-09-30 07:40] chia7712 commented on #2846
@jackyoh 狀況如何?

[2019-09-30 07:43] jackyoh commented on #2846
目前已經改了， 還在測試。程式碼需要要重新 rebase 在測試嗎？

[2019-09-30 07:46] chia7712 commented on #2846
不用 #2832沒問題的話就可以關閉了

[2019-09-30 07:49] jackyoh commented on #2846
ok, 等這個 issue 完成後, 我就會關閉 #2832

[2019-09-30 08:25] #2785 closed

[2019-09-30 09:32] #2780 closed

[2019-09-30 09:58] chia7712 opened #2852 "[Manager] removing a broker cluster used by a running stream app is disallowed"
[code]

this is a ignored rule and it is enabled by #2850

[2019-09-30 09:58] chia7712 commented on #2852
FYI @jackyoh @wu87988622

[2019-10-01 01:29] jackyoh commented on #2852
OK, 收到了

[2019-10-01 01:50] eechih commented on #2440
想要將自動化建置 QuickStart VM 流程整合到 Jenkins 中的前提，是必須在 docker container 中運行 VirtualBox。

目前經過幾番試驗，仍無法成功。
[code]

因此，建置 QuickStart VM ova 的工作，先交由 RM 安排在**某台**實體機上進行。

[2019-10-01 02:21] wu87988622 commented on #2746
This issue move to 0.9.

[2019-10-01 02:37] #2677 closed

[2019-10-01 04:11] saivirtue commented on #2731
@oharastream/frontend
All done! You can test the APIs of cluster :)

[2019-10-01 05:44] #2778 closed

[2019-10-01 05:45] #2846 closed

[2019-10-01 05:53] #1346 closed

[2019-10-01 05:58] chia7712 commented on #2440
或許我們可以切一個vm出來只負責建立quick vm?

[2019-10-01 06:19] chia7712 opened #2856 "Make Log APIs and Node APIs be aware of Configurator"
Both Manager and Configurator are based on containers, and our APIs should be aware of them if they are deployed on the nodes hosted by ohara :)

1. - [x] Log APIs should be able to show the logs of Configurator (#2879)
1. - [x] Node APIs should show the Configurator (#2913)

[2019-10-01 06:28] vitojeng commented on #2440
@chia7712 目前的困擾在於 VM 裡無法去啟動另一個 VM, 這件事好像​只能在實體機裡上進行.
有更好的方式嗎?

[2019-10-01 06:43] chia7712 commented on #2440
有更好的方式嗎?

我以為只要能跑virtualbox就好了?

[2019-10-01 06:57] vitojeng commented on #2440
不行. 在 VM or container 裡 virtualbox 能裝起來, 執行會有錯誤.

[2019-10-01 06:59] chia7712 commented on #2440
那找一台實體機? 然後掛到jenkins上並設計相關的jobs

[2019-10-01 07:00] vitojeng commented on #2440
嗯, 目前只能朝這個方向進行

[2019-10-01 07:01] eechih commented on #2440
+1

[2019-10-01 07:06] vitojeng commented on #2440
剛查到 VirtualBox 6.0 開始支援 Nested Virtualization, 或許有機會解:
https://docs.oracle.com/cd/E97728_01/F12469/html/nested-virt.html

如果來不及, 我們這次 release 可以先手動 build.

[2019-10-01 07:08] wu87988622 opened #2857 "[Manager] Updating stream in pipeline failed"

[2019-10-01 07:08] #2852 closed

[2019-10-01 07:22] chia7712 commented on #2812
Just discussed with @wu87988622, seems front-end has not migrated to new APIs (?)

I kick this issue out 0.8.

[2019-10-01 07:26] wu87988622 commented on #2812
OK thanks we will in 0.9 finish this issue

[2019-10-01 07:53] jackyoh commented on #696
這個 issue 已經在 #2625 解決了。主要是修改了 zookeeper container 的 hostname 需要使用 node name。broker 的 container 服務才能啟動

@konekoya 我先把這個 issue 關閉，如果有發現問題再 reopen 此 issue

[2019-10-01 07:53] #696 closed

[2019-10-01 08:13] chia7712 opened #2859 "Rename "Cluster"XXX to "Service"XXX"
The "ClusterCollie" hosts not only multi-nodes services but also "single-node" services. The word "cluster" is not a fitting prefix. This issue will substitute "service" for "cluster". The following classes are impacted.
1. ClusterCollie
1. ClusterCache
1. ClusterState

[2019-10-01 08:24] wu87988622 commented on #1787
This issue is move to https://github.com/oharastream/ohara-quickstart/issues

[2019-10-01 08:24] #1787 closed

[2019-10-01 08:31] saivirtue commented on #2859
A "cluster" still could represent "a cluster with single node", I think?

But **Service** is still a good prefix because of cluster implies "zk, bk and wk" in our Ohara, we actually have "stream" and "shanbondi".

[2019-10-01 08:35] chia7712 commented on #2859
“Cluster” is weird to the service which cannot be cluster-able. It obstructs us from introducing the collie for the single-node service since the interface will be totally different to the cluster-able collie.

[2019-10-01 08:41] saivirtue commented on #2859
+1

[2019-10-01 11:37] chia7712 commented on #2802
@wu87988622 @konekoya Has Manager migrated to new Topic APIs???

[2019-10-01 12:49] wu87988622 commented on #2833
This will be done at 0.9.

[2019-10-01 12:49] #2833 closed

[2019-10-01 12:49] wu87988622 opened #2861 "[Manager] Remove JAR_KEY, CONNECTOR_KEY"
ref #2833

[2019-10-01 12:51] wu87988622 commented on #2802
This will be done at 0.9.

[2019-10-01 12:51] wu87988622 opened #2862 "[Manager] remove stale group, name, numberOfPartitions, numberOfReplications and tags from Topic APIs"
ref #2802

[2019-10-01 12:54] wu87988622 opened #2863 "Remove name from Log APIs"
follow-up of #2769

before:
[code]

after:
[code]

[2019-10-01 12:55] wu87988622 opened #2864 "Remove name and clusterNames from Node APIs"
follow-up of #2769

before:
[code]
after
[code]

[2019-10-01 12:58] wu87988622 commented on #2769
This will be done at 0.9.

[2019-10-01 13:25] #2859 closed

[2019-10-01 13:37] chia7712 commented on #2802
@wu87988622 this issue has no commits ...

[2019-10-01 14:05] chia7712 commented on #2862
close this one since #2802 is in progress and it is not in 0.8 :(

[2019-10-01 14:05] #2862 closed

[2019-10-01 14:17] #2769 closed

[2019-10-02 02:07] konekoya opened #2865 "Bump snapshot and docs versions"
See #2278

- [x] Update master branch's SNAPSHOT version to 0.9.0-SNAPSHOT (#2866)
- [x] 0.8 branch should point to its branch name as the version instead of using latest

[2019-10-02 02:15] chia7712 commented on #2024
為什麼會有這個議題? 不同connectors之間的會有依賴性?不然為何會影響彼此拉資料的事情

[2019-10-02 02:46] chia7712 opened #2867 "Enable the latest tag for all images"
The latest tag is the default tag to docker images. It is useful to not only guys who want to pull the "latest" images but also our document which guides people to operate our ohara.

There are some articles saying the latest tag is anti-pattern since many people DON'T keep it latest. Fortunately, our CD works well so it is easy to keep the latest image :)

This issue includes following changes.

[2019-10-02 02:50] jackyoh commented on #2024
會有這個議題主要的原因,  是因為我這邊實作的 JDBC source connector 存放的 offset 只有 tableName 對應到 timestamp。這樣我不太確定啟動多個 connector 時, 使用相同的 table name 以及 topic name是否會有發生衝突的問題。

[2019-10-02 02:55] chia7712 commented on #2024
there is a internal index of "connector name" so the different connectors don't share the same offset.

[2019-10-02 02:57] vitojeng commented on #2024
It would be better to add some test for this case ?

[2019-10-02 02:58] saivirtue commented on #2867
Good issue!
Finally, we can get rid of the redundant tag if we just want the "latest" images...

[2019-10-02 03:01] jackyoh commented on #2024
OK, 我只使用 table 當 index 應該會有共享 offset 的問題，我會修改加上 connector name 當作 index 來避免發生共享 offset 的問題。

[2019-10-02 03:01] konekoya opened #2869 "Ohara 0.8 product testing report"
## 測試項目

<details>
<summary><b>1. 基本測試:</b></summary>

- [ ] 確認畫面（UI）與設計稿（Design）是否一致
  - 顏色、字型、符號、圖片、...
- [ ] 檢查所有畫面的 Title 名稱是否正確
- [ ] 所有連結是否有前往正確頁面
- [ ] 切換視窗大小時，有無跑版情形
- [ ] 切換視窗大小後，文字與圖形是否竄行
- 表單
  - [ ] 任何一個必填欄位未填寫，不能送出
  - [ ] 表單送出中，應該明確表達正在處理中的訊號
  - [ ] 表單送出中，應該要凍結表單（除非有提供取消功能）
  - [ ] 任何表單至少要有 CTA 及 Cancel 兩類按紐 (CTA: Call-To-Action)
- 訊息
  - [ ] 成功訊息，應該要明確指出完成對象
  - [ ] 錯誤訊息，應該要明確指出錯誤對

[2019-10-02 03:03] jackyoh commented on #2024
這種情況不只要加上 test case 還需要修改程式碼。 issue 的標題我再來修改

[2019-10-02 03:38] konekoya commented on #2869
@chia7712 @DavidMi-1 @HarryChiang143 Please leave your test report in this issue.

[2019-10-02 03:43] vitojeng commented on #2440
Jenkins integration task move to oharastream/ohara-quickstart#5
issue close now.

[2019-10-02 03:43] #2440 closed

[2019-10-02 03:45] vitojeng commented on #2867
Finally...

[2019-10-02 05:42] wu87988622 commented on #2857
This bug is fix in #2848

[2019-10-02 05:42] #2857 closed

[2019-10-02 05:50] konekoya commented on #2278
@oharastream/developer Please remove 0.8 label (fix version) from your issues if the issue won't get into 0.8 release/branch. Thanks :)

[2019-10-02 05:53] #2731 closed

[2019-10-02 05:55] konekoya commented on #2802
Not yet. But we will address this in 0.9

[2019-10-02 06:22] chia7712 commented on #2867
the CD pushes both xxx-SNAPSHOT and latest tag for master branch now :)

[2019-10-02 06:22] #2867 closed

[2019-10-02 06:22] chia7712 commented on #1614
bump to 0.9 :)

[2019-10-02 07:13] wu87988622 commented on #1880
This issue is finish with #2682

[2019-10-02 07:13] #1880 closed

[2019-10-02 07:26] wu87988622 commented on #2041
This error is due to the infinite loop caused by React's interaction with useState in the use of useEffect.
Is fix in #2229

[2019-10-02 07:26] #2041 closed

[2019-10-02 07:29] wu87988622 commented on #2713
This issue is finish in #2682

[2019-10-02 07:29] #2713 closed

[2019-10-02 07:49] konekoya opened #2872 "[Manager] Fix stream app delete and start issue"
- [x] 0.8 (#2880)
- [x] 0.9 (#2873)

[2019-10-02 08:03] #2843 closed

[2019-10-02 08:13] konekoya opened #2874 "[Manager] Delete a pipeline from its list could sometimes fail"

[2019-10-02 08:28] konekoya opened #2875 "[Manager] Do not count topic state in pipeline list page"

[2019-10-02 10:24] #2849 closed

[2019-10-02 10:39] chia7712 commented on #2828
the root cause is that ssh collie does not filter out the non-hosted containers
[code]

[2019-10-02 12:35] #2828 closed

[2019-10-02 22:24] #2875 closed

[2019-10-03 01:29] #2872 closed

[2019-10-03 03:21] konekoya commented on #2869
@chia7712 @DavidMi-1 @HarryChiang143

Please start testing the [__ohara installation__](https://github.com/oharastream/ohara/blob/master/docs/testcase/ohara-installation.md)

I'm going thur the normal test cases locally today and found out the docs need some updates/tweaks due to the UI changes from this release. So I will file a PR to update the test case docs today. You guys can start to test th

[2019-10-03 05:52] #2865 closed

[2019-10-03 07:14] DavidMi-1 commented on #2869
## 測試項目
<details>
<summary><b>1. 基本測試:</b></summary>
* [ ]  確認畫面（UI）與設計稿（Design）是否一致

  * 顏色、字型、符號、圖片、...
* [ ]  檢查所有畫面的 Title 名稱是否正確
* [ ]  所有連結是否有前往正確頁面
* [ ]  切換視窗大小時，有無跑版情形
* [ ]  切換視窗大小後，文字與圖形是否竄行
* 表單

  * [ ]  任何一個必填欄位未填寫，不能送出
  * [ ]  表單送出中，應該明確表達正在處理中的訊號
  * [ ]  表單送出中，應該要凍結表單（除非有提供取消功能）
  * [ ]  任何表單至少要有 CTA 及 Cancel 兩類按紐 (CTA: Call-To-Action)
* 訊息

  * [ ]  成功訊息，應該要明確指出完成對象
  * [ ]  錯誤訊

[2019-10-03 07:18] konekoya opened #2882 "Update test case docs"
Due to the UI changes, we should update the test cases :)

- [x] Update UI test case 1 (#2883)
- [x] Update UI test case 2 (#2903)
- [x] Update UI test case and installation docs (#2899)

[2019-10-03 07:20] konekoya commented on #2882
Hmm, I'm not sure if we should backport this to 0.8 since it's just a docs change?

@oharastream/developer

[2019-10-03 07:33] saivirtue commented on #2882
I'm ok with only change the master branch :)

[2019-10-03 07:40] konekoya commented on #2869
## 測試項目
<details>
<summary><b>1. 基本測試:</b></summary>

* [ ]  確認畫面（UI）與設計稿（Design）是否一致

  * 顏色、字型、符號、圖片、...
* [ ]  檢查所有畫面的 Title 名稱是否正確
* [ ]  所有連結是否有前往正確頁面
* [ ]  切換視窗大小時，有無跑版情形
* [ ]  切換視窗大小後，文字與圖形是否竄行
* 表單

  * [ ]  任何一個必填欄位未填寫，不能送出
  * [ ]  表單送出中，應該明確表達正在處理中的訊號
  * [ ]  表單送出中，應該要凍結表單（除非有提供取消功能）
  * [ ]  任何表單至少要有 CTA 及 Cancel 兩類按紐 (CTA: Call-To-Action)
* 訊息

  * [ ]  成功訊息，應該要明確指出完成對象
  * [ ]  錯誤

[2019-10-03 09:37] chia7712 commented on #2869
![2019-10-03 17-35-58 的螢幕擷圖](https://user-images.githubusercontent.com/6234750/66115915-6200fb80-e604-11e9-89f2-64ddd14470df.png)

文字顯示不正確

Jmxport => JMX port
exporterport => exporter port

[2019-10-03 09:42] chia7712 commented on #2869
![2019-10-03 17-41-31 的螢幕擷圖](https://user-images.githubusercontent.com/6234750/66116302-0d11b500-e605-11e9-9315-bad4ffd82134.png)

提示字不該使用"違法"的字"Kafka Topic"（大寫和空白不允許）

[2019-10-03 09:45] chia7712 commented on #2869
![2019-10-03 17-44-50 的螢幕擷圖](https://user-images.githubusercontent.com/6234750/66116567-81e4ef00-e605-11e9-87cd-e204f3ce5763.png)

the "column" is useless to JsonIn ...

[2019-10-03 09:46] chia7712 opened #2886 "Remove column definition from JsonIn and JsonOut"
the column is useless to JsonIn and JsonOut. Also, showing it on UI may confuse user to enter meaningless configs.

1. - [x] for master (#2887)
1. - [x] for 0.8 (#2890)

[2019-10-03 10:08] chia7712 commented on #2869
![2019-10-03 18-07-23 的螢幕擷圖](https://user-images.githubusercontent.com/6234750/66118330-b017fe00-e608-11e9-9871-b17c36e950f7.png)

是否將存取不存在的資源重新導向統一的頁面？

[2019-10-03 13:25] chia7712 commented on #2869
![2019-10-03 21-22-59 的螢幕擷圖](https://user-images.githubusercontent.com/6234750/66130401-43126180-e624-11e9-8086-4406110232a2.png)

不斷跳出錯誤說我在嘗試修改一個正在運行的connector ...

[2019-10-03 13:29] chia7712 commented on #2869
@wu87988622 Is there a page to show the distribution of connectors? IIRC, you had demo the usage of JsonIn and JsonOut but I failed to fine out the distribution via our UI...

[2019-10-03 13:33] chia7712 commented on #2869
![2019-10-03 21-32-47 的螢幕擷圖](https://user-images.githubusercontent.com/6234750/66131091-5d007400-e625-11e9-8186-04bff7de2dba.png)

我們必須有個說明說為什麼topic不能被選擇...或者是乾脆隱藏掉已經被用的topics...

[2019-10-03 13:38] chia7712 commented on #2869
![2019-10-03 21-36-12 的螢幕擷圖](https://user-images.githubusercontent.com/6234750/66131463-0c3d4b00-e626-11e9-844a-ed2f29d83431.png)

we should prevent user from inputting negative number to topic ...

[2019-10-03 13:39] chia7712 opened #2888 "Topic APIs should prevent users from inputting non-positive number to partitions and replications"
The negative number is totally illegal to kafka so we should produce quick-failure for users.

1. - [x] for master (#2889)
1. - [x] for 0.8 (#2898)
1. - [x] The number of partitions/replications can't be zero (for 0.9)(#2948)
1. - [x] The number of partitions/replications can't be zero (for 0.8)(#2949)

[2019-10-04 01:15] konekoya commented on #2869
I think we can add a little message to help user understand this. Completely removed them is a bit confused :)

[2019-10-04 01:35] konekoya opened #2891 "[Manager] Don't update a connector when it's running"
The API has changed. The state is now inside `status` field

[2019-10-04 01:47] konekoya commented on #2869
I also noticed this yesterday. @wu87988622 I think we should fix this in 0.8. Would you mind submiting a PR?

[2019-10-04 01:50] konekoya commented on #2861
Seems the connectors are working just fine without extra work. I will leave this for 0.9

[2019-10-04 02:16] konekoya opened #2894 "[Manager] Don't start a topic if it's failed in the creation phase"
See https://github.com/oharastream/ohara/issues/2869#issuecomment-537949424

When attempting to create a new topic in the UI, there are two requests that need to be made in the process:

1. POST to the server, so the topic is created
2. Start the newly created topic right after the POST is done.

This is __okay__ when the topic is created successfully. But would create weird error (like the topic

[2019-10-04 02:23] konekoya opened #2895 "[Manager] Fix a couple of minor UI bugs"
### 文字顯示不正確 in worksapce's overview page
See: https://github.com/oharastream/ohara/issues/2869#issuecomment-537869426

Jmxport => JMX port
exporterport => exporter port
Cluster type => Service type

### Avoid using invalid placeholder text as the suggestion in new topic modal
See: https://github.com/oharastream/ohara/issues/2869#issuecomment-537870821

提示字不該使用"違法"的字"Kafka Topic"（大寫和空白不允許）

### Add

[2019-10-04 02:26] konekoya commented on #1957
See also: https://github.com/oharastream/ohara/issues/2869#issuecomment-537947733

[2019-10-04 02:27] konekoya commented on #2895
/cc @wu87988622

[2019-10-04 02:41] konekoya commented on #2874
Don't know how to reproduce this behavior yet.

[2019-10-04 04:04] chia7712 commented on #2869
![2019-10-04 12-02-16 的螢幕擷圖](https://user-images.githubusercontent.com/6234750/66180246-d9836900-e69e-11e9-8cc6-33f61db54540.png)

重現步驟：

1. 使用ssh mode
1. 加入三個nodes
1. 啟動workspace
1. 建立一個topic
1. 建立一個pipeline
1. 加入一個topic
1. 加入PerfSource
1. 給PerfSource加入一個column（如下圖)

![2019-10-04 12-03-46 的螢幕擷圖](https://user-images.githubusercontent.com/6234750/66180294-0cc5f800-e69f-11e9-8368-f3b1521c826d.png)

[2019-10-04 04:15] chia7712 opened #2900 "add more descriptions to Definition.Table"
the "value" of each cell in a table should be with following two attributes.

1. type (string or number)
1. available values (it is empty by default)

[2019-10-04 04:16] chia7712 commented on #2869
![2019-10-04 12-13-04 的螢幕擷圖](https://user-images.githubusercontent.com/6234750/66180724-b35ec880-e6a0-11e9-8687-acde22b50ed2.png)

@wu87988622 @konekoya  the enabled "value" is only "string". Is it caused by our weak definition? (related to #2900)

[2019-10-04 04:21] wu87988622 commented on #2869
只要點擊相關得rest 右方 node 將會顯示他所部署的節點

[2019-10-04 04:30] chia7712 commented on #2869
![2019-10-04 12-29-37 的螢幕擷圖](https://user-images.githubusercontent.com/6234750/66181251-aa6ef680-e6a2-11e9-9d41-a9bc5cd3a60c.png)

which one?

[2019-10-04 05:17] wu87988622 commented on #2869
Node(ppp)

[2019-10-04 05:54] #2886 closed

[2019-10-04 06:04] chia7712 commented on #2869
The connector is deployed on a node only so it should NOT show all nodes in this page

[2019-10-04 06:07] konekoya commented on #2869
Yes, our definition doesn't have a field which describes supported types. The __string__ is currently hardcoded in the frontend ...

[2019-10-04 06:30] wu87988622 commented on #2869
ok Thanks i will open issue backport 0.8

[2019-10-04 06:31] wu87988622 opened #2901 "[Manager] Connector should display the node it contains instead of the node in workspace"
- [x] 0.8 #2911
- [x] 0.9 #2909

[2019-10-04 06:34] chia7712 commented on #2901
@wu87988622  see https://ohara.readthedocs.io/en/latest/rest/rest-connectors.html for  the "tasksStatus"

[2019-10-04 06:35] wu87988622 commented on #2901
OK thanks

[2019-10-04 06:39] konekoya commented on #2894
Thanks for the fix @wu87988622

[2019-10-04 06:39] #2894 closed

[2019-10-04 06:55] konekoya opened #2902 "[Manager] Prevent UI from breaking when connector's column table has wrong inputs"
- [x] 0.8 (#2907)
- [x] 0.9 (#2906)

[2019-10-04 07:26] chia7712 opened #2904 "fix weird warnings "Check docer version" from k8s-pre-install.sh"
[code]

the script uses illegal comment in script ...

1. - [x] for 0.9 (#2912)
1. - [x] for 0.8 (#2905)

[2019-10-04 09:30] konekoya opened #2910 "Update manager's development docs"
This includes adding:

- [x] An example of __cypress.env.json__ file which lists necessary config

[2019-10-04 09:31] konekoya commented on #2910
/cc @saivirtue @wu87988622

[2019-10-04 14:23] #2904 closed

[2019-10-04 15:07] chia7712 commented on #251
Is this is for UI developers who fall in love with windows ?

[2019-10-05 00:29] vitojeng commented on #2882
IMO, we only need update the master branch.

[2019-10-05 02:16] #2901 closed

[2019-10-05 07:29] chia7712 opened #2914 "Fail to validate Ftp, hdfs and Rdb when the request carries the workerClusterKey"
[code]

1. - [x] for 0.9 (#2915)
1. - [x] for 0.8 (#2916)

[2019-10-05 08:09] #2856 closed

[2019-10-05 17:50] chia7712 opened #2917 "the consumer used to receive validation reports is closed too early"
[code]

scala lazy evaluation confuse me to close the consumer too early ...

1. - [x] for 0.9 (#2918)
1. - [x] for 0.8 (#2919)

[2019-10-06 11:09] vitojeng commented on #2779
done.

[2019-10-06 11:09] #2779 closed

[2019-10-06 12:44] #2914 closed

[2019-10-06 13:27] chia7712 opened #2920 "Validation APIs does not return error report when we define the incorrect rdb settings"
[code]

this is caused that the format serialized by validator is ValidationReport rather than RdbValidationReport, and hence the rdb route can't recognize it correctly.

1. - [x] for 0.9 (#2922)
1. - [x] for 0.8 (#2925)

[2019-10-06 13:29] chia7712 opened #2921 "Remove ValidationReport.lastModified"
I believe it was a mistake  ...

[2019-10-07 01:57] saivirtue commented on #251
We should not shut developers out who love ohara running in their windows environment.

[2019-10-07 02:03] #2882 closed

[2019-10-07 02:06] #2902 closed

[2019-10-07 02:45] konekoya opened #2923 "[Manager] UI should display the real error from the API instead of throwning a custom message"
Under the workspace/topics page, when creating a topic fails, a custom message is shown in snackbar saying __Topic failed to establish__. This is not the actual error from the backend, and so the users won't really know what happened and how to debug or to change their config in order to successfully create a new topic

/cc @wu87988622

[2019-10-07 02:50] konekoya opened #2924 "[Manager] Don't create a graph if the new connector's name is already taken in the pipeline"
This creates a temp graph with `undefined` as its name...

- [x] 0.8 (#2929)
- [x] 0.9 (#2927)

[2019-10-07 03:23] HarryChiang143 opened #2926 "[Question] Document of install K8S env should using superuser : ohara ?"
在這次v0.8的測試時參考[ohara官方提供的安裝文件](https://github.com/oharastream/ohara/blob/master/docs/testcase/ohara-installation.md)
採用root身份進行安裝，但是在啟動Configurator的時候掛載本地目錄資料夾時回饋的信息是要求我必須掛載的是Linux UID = 1000的ohara身份。
![螢幕快照 2019-10-07 上午11 17 53](https://user-images.githubusercontent.com/46185836/66282974-2e6bed00-e8f4-11e9-85d5-34849c6c3f96.png)

且就我的經驗來看，在客戶端使用時通常也不太會直接採用root身份進行安裝，大多會採用具有一定權限的使用者來進行(例如擁有可執行kube

[2019-10-07 03:25] chia7712 commented on #2926
@jackyoh any suggestions?

[2019-10-07 03:36] jackyoh commented on #2926
+1
Kubernetes 安裝的 shell script 確實有必要使用 admin 的 user 安裝，因為 root 有些作業系統不建議使用，而且管理上也是使用 admin user 比較常看到。之前我有試過使用 sudo 安裝是沒問題。

這個議題就交給我修改, 主要做以下幾件事：
1. kubernetes 安裝文件的修改

2. shell script 也有可能要修改並測試

[2019-10-07 03:36] vitojeng commented on #2926
我個人的話, 剛好相反.
若是我看到文件特別建議用不同的帳號去安裝, 我可能會誤認為這個工具支援分別安裝在不同的 account.

因此我的想法是, 若是用戶有特別的考量, 我想用戶應該有足夠的能力去做這件事(用 root 以外的帳號). 因為文件使用 root 已經算足夠的 "明示" 用戶要有管理員權限. XD

若用戶沒什特別的需​求, 直接用 root 安裝即可. 也比較簡單.

[2019-10-07 03:43] HarryChiang143 commented on #2869
## 測試項目

<details>
<summary><b>1. 基本測試</b></summary>
</details>

<details>
<summary><b>2. 功能測試: </summary>
</details>

<details>
<summary><b>3. 安裝測試: (Done)</b></summary>

Note:

- Test this case in your own environment
- The full test procedure can be found in each case's link
- Add your test report in the comment

### Case 1: Ohara installation

- [v] Confirm your use the hardware specification

[2019-10-07 03:43] chia7712 commented on #2926
看起來是有兩個議題，一個是安裝的事後要否用root；一個則是啟動configurator遇到的權限問題。

針對前者，或許我們可以加上適量的註解來解釋為何"建議"使用root安裝

針對後者，我們可以加上一份文件來說明如何處理，並在該例外訊息中顯示該文件的連結

[2019-10-07 03:52] jackyoh commented on #2926
是指 K8S 的指令操作嗎？

[2019-10-07 03:52] chia7712 commented on #2926
不是操作，是安裝的部份。

https://github.com/oharastream/ohara/blob/master/docs/testcase/ohara-installation.md

[2019-10-07 03:59] jackyoh commented on #2926
了解，我支持用 admin user。如果 user 硬要 root 我們可以丟警告訊息，說不建議的安裝方式

[2019-10-07 04:03] chia7712 commented on #2926
我覺得用root安裝是個方便快速的方式，或許補上足夠的註解說明一下為何我們用root安裝

[2019-10-07 04:06] jackyoh commented on #2926
ok, 我再把註解加到 shell script 和文件裡

[2019-10-07 05:49] konekoya opened #2930 "[Manager] The stream jars link is broken in workspace overview's stream jars section"
- [x] 0.8 (#2932)
- [x] 0.9 (#2931)

[2019-10-07 06:38] #2924 closed

[2019-10-07 06:51] konekoya opened #2933 "[Manager] Text content inside Material UI modals cannot be copied"
Ref: #2869

Not sure if it's a bug or something. I will leave more details here once I have more info

[2019-10-07 06:53] konekoya opened #2934 "[Manager] Don't break the page when the browser's view size is smaller than supported width"
Ref: #2869
Not sure how much work needs to be done before we can pull this off

[2019-10-07 06:54] konekoya opened #2935 "[Manager] Success and error message/notification should specify the item name of the action"
Ref: #2869

We're now displaying a generic message like __Successfully created a pipeline__. But as suggested in the test spec, we should display a more specific message which also includes an item name like:
__Successfully created a pipeline: abc__

[2019-10-07 07:35] #2920 closed

[2019-10-07 08:19] HarryChiang143 opened #2937 "JsonIn connector cast Integer to BigDecimal type"
**Describe the bug**
使用REST post API寫入JsonIn connector時，如果帶的欄位是Integer，寫入Topic時會變成BigDecimal，導致後面用Java開發的StreamApp在接收資料時產生java.lang.ClassNotFoundException: scala.math.BigDecimal 的Exception

**To Reproduce**
Steps to reproduce the behavior:
1. 透過K8S的方式啟動Configurator及Manager
2. 透過Manager UI建立Workspace及Pipeline
3. 在Pipeline中使用JsonIn接收資料並寫入Topic，
4.接著使用Java開發的StreamApp嘗試串接該Topic資料，
5.開始透過Rest POST API

[2019-10-07 08:20] HarryChiang143 commented on #2937
@chia7712  c.c

[2019-10-07 08:46] chia7712 commented on #2937
@HarryChiang143 Json的資料型別吃的就是"數字" 我們無法得知使用者是希望用"float", "double"或是哪種整數來存放。對於streaming上的任何一個節點它要事先認知"會傳來什麼型別並且根據該行別做對應的處理"

因此我覺得這個不是個issue反而比較是StreamApp需要去實做處理BigDecimal (例如JsonOut就有特別處理BigDecimal)

[2019-10-07 08:47] #2917 closed

[2019-10-07 08:54] HarryChiang143 commented on #2937
@chia7712 所以你的意思是我們原生的ostream lib就需要去支援處理BigDecimal嗎？
因為對於我的StreamApp邏輯來看，並沒有需要處理數字的需求，是在資料讀進來做篩選要Count的欄位時撞到的。
![螢幕快照 2019-10-07 下午4 51 00](https://user-images.githubusercontent.com/46185836/66297653-a9e49300-e922-11e9-936b-8c14c8a4db7c.png)
對使用者來講特別去處理他並不會實際碰到的資料格式感覺怪怪的。
這個議題是否應該拉Sam近來討論？
ping @saivirtue

[2019-10-07 08:57] saivirtue commented on #2937
這裡的問題不在於StreamApp需要實作什麼資料型態 - 對StreamApp而言，資料都是`row`的型態。
主要原因是因為StreamApp的環境是基於"java"與"必須的Kafka library"來運行，如果使用者的程式或是資料需要其他的library(如這裡的`BigDecimal`)，我想解法分兩塊：
- 使用者自行包裝他會需要用到的libraries
- 我們的stream image需要把scala libs包裝進來 (覺得這點是使用者比較無法察覺的)

[2019-10-07 09:07] chia7712 commented on #2937
我的意思是"pipeline的使用者要自己意識到在資料流裡面的型別有哪些"

今天你前面串的source或任何一個元件會產生哪些"型別的資料"是pipeline使用者必須自己有先了解，並在了解的基礎上去串"合適"的元件，而非預期每個元件都可以吃任何一個元件吐出來的資料。

以這個議題來說，example裡面的count就是無法吃scala.BigDecimal，這是事實不是bug（當然我們可以發個議題來讓它支援，如上面@saivirtue提到的)，而JsonIn輸出就是scala.BigDecimal，而pipeline的使用者要知道這件事情並且實做streamapp或sink時要能吃scala.BigDecimal

[2019-10-07 09:35] #2930 closed

[2019-10-07 10:23] HarryChiang143 commented on #2937
了解，所以我是否可這樣理解為如果使用 JsonIn寫入資料到Pipeline，且資料型態有包含數字，則後面負責處理的StreamApp就必須要可以處理scala.BigDecimal型態的資料。

但如果這樣的話，是否就沒辦法單純使用Java API去開發StreamApp?? 畢竟都要去實作處理scala.BigDecimal了。

[2019-10-07 10:30] vitojeng commented on #2937
整個來說, JsonIn 是資料提供的上游, StreamApp 在下游就須要知道上游提供的格式是什麼.
然後進一步處理. 因此就這個情形, 我想是這樣沒錯.

[2019-10-07 11:01] chia7712 commented on #2937
如@vitojeng所言。不過這次可以開一個特例讓我們把JsonIn的number轉成Java，因為功夫不大。不過對其他connector或streamapp而言，我們不會讓他們背上要吃各個元件資料型態的十字架

[2019-10-07 12:48] chia7712 opened #2938 "JsonIn should use java.BigDecimal rather than scala.BigDecimal"
Although we don't long for consistence of all connectors' output, this little change brings the tremendous benefit for connectors implemented by java.

related to #2937

1. - [x] for 0.9 (#2939)
1. - [x] for 0.8 (#2940)

[2019-10-07 14:13] #2910 closed

[2019-10-07 14:51] #251 closed

[2019-10-08 02:23] DavidMi-1 commented on #2869
* 在新增 topics 時 replication factor 如果設為零, topic 會建立失敗, 可是如果是 partition 設為零, topic 會建立成功 ( 附圖一); 在 pipeline 中有 connector 使用到這個 topic 的話, 就會啟動失敗, 顯示
' Error: topic:{"group":"xxx","name":"yyy"} is not running ' ( 附圖二), 附圖示如下：
圖一
![image](https://user-images.githubusercontent.com/44669519/66362478-89194d80-e9b5-11e9-886a-fba7a5840962.png)
圖二
![image](https://user-images.githubusercontent.com/44669519/6

[2019-10-08 02:46] konekoya opened #2942 "[Manager] Should handle topic starting error"
Ref: https://github.com/oharastream/ohara/issues/2869#issuecomment-539283984

We're not handling errors from starting a topic. An easy way to reproduce this behavior is simply to create a topic with the following config from our UI:

__Topic name__: t1
__Paritions__: 0
__Replication factor__: 0

With the above config, you can create a topic without problems. But it's in fact failed in the start to

[2019-10-08 03:05] konekoya opened #2943 "[Manager] Disable column table when the connector is running"
- [x] 0.8 (#2946)
- [x] 0.9 (#2945)

[2019-10-08 03:14] chia7712 commented on #2942
Our APIs should reject the zero as well... I will file a issue for that.

[2019-10-08 03:57] konekoya commented on #2278
@oharastream/developer Hey guys! We will be releasing 0.8.0 in tomorrow afternoon. Just wanted to remind you if you haven't updated or wanted to add more about what you have done in this release in the __highlights__.

[2019-10-08 04:53] chia7712 opened #2951 "Fix the broken links in pull request template"
Both author link and contributing guideline link are broken ...

1. - [x] for 0.9 (#2952)
1. - [x] for 0.8 (#2953)

[2019-10-08 05:14] #2951 closed

[2019-10-08 05:16] #2933 closed

[2019-10-08 05:29] konekoya opened #2954 "[Manager] Display connector running state without a page refresh"
We're currently using this running state to display
1. Pipeline graph's state, this allows users to know whether or connector is running or not
2. Disable connector config form when a connector is running. This is crucial as the connector cannot be edited when running.

- [x] 0.8 (#2956)
- [x] 0.9 (#2955)

[2019-10-08 05:52] chia7712 commented on #2869
![2019-10-08 13-51-31 的螢幕擷圖](https://user-images.githubusercontent.com/6234750/66370414-c5a77200-e9d2-11e9-9a35-9b1a67fd836a.png)

It does not redirect to the page for nonexistent resource.

[2019-10-08 05:53] #2942 closed

[2019-10-08 05:54] chia7712 commented on #2926
@jackyoh Could you also write the document about how to resolve the UID issue ?

[2019-10-08 06:00] saivirtue opened #2957 "Refactor dockerfile to use dynamic commands instead of immutable string for clusters"
After #2656, we should able to use dynamic configs in container start.
However, the dockerfiles still contains "hard-code" values for command running:
zookeeper.dockerfile
[code]
zk.sh
[code]

We should get rid of this unchangeable values also.

[2019-10-08 06:01] chia7712 commented on #2869
在不同workspaces裡相同名字的topics無法被使用

重現步驟：
1. 建立兩個

[2019-10-08 06:04] jackyoh commented on #2926
OK, No problem. I am trying to write how to resolve the UID issue.

[2019-10-08 06:05] chia7712 commented on #2926
thanks for contributions. BTW, please update the descriptions to include related sub tasks.

[2019-10-08 06:17] jackyoh commented on #2926
descriptions 已經更新了

[2019-10-08 06:36] konekoya commented on #2278
## Highlights

- __Upgrade workspace__: You're now able to upgrade a running workspace with only a few keystrokes with our UI. This means you can upload/delete jars from your running workspace without stopping it and losing your data!

[2019-10-08 06:59] chia7712 commented on #2869
![2019-10-08 14-58-39 的螢幕擷圖](https://user-images.githubusercontent.com/6234750/66373842-2be4c280-e9dc-11e9-86da-856c7741c13d.png)
![2019-10-08 14-58-41 的螢幕擷圖](https://user-images.githubusercontent.com/6234750/66373843-2be4c280-e9dc-11e9-9c9b-9ca7cbc59174.png)

ghost topics!!! (the topic "t0" belongs to another workspace)

[2019-10-08 07:01] konekoya opened #2958 "[Manager] Only display topics that are belong to the current workspace in overview page"
Seems like we don't filter out topics that belong to other workspaces...

See: https://github.com/oharastream/ohara/issues/2869#issuecomment-539348892 and https://github.com/oharastream/ohara/issues/2869#issuecomment-539370678

~~cc @wu87988622~~

- [x] 0.8 (#2961)
- [x] 0.9 (#2960)

[2019-10-08 07:07] #2938 closed

[2019-10-08 07:10] chia7712 commented on #2937
@HarryChiang143 Feel free to open more topics for this issue. Or close this issue if the current solution is fine to you :)

[2019-10-08 07:22] saivirtue opened #2959 "StreamApp should wrap the value from env"
In some conditions, users will want to use an "optional" setting without specifying value. However, the streamApp get value method `.string()` will reject any absent key...

[2019-10-08 07:22] saivirtue commented on #2959
cc @HarryChiang143

[2019-10-08 07:25] #2943 closed

[2019-10-08 08:34] #2888 closed

[2019-10-08 09:36] #2954 closed

[2019-10-08 15:42] chia7712 commented on #757
@wu87988622 @konekoya I have exposed more details of filters. please take a look and feedback is welcome :)

[2019-10-08 17:29] chia7712 opened #2964 "Failed to get/list Connector/Topic if it count on a non-running cluster"
the error is caused that route assume the cluster is running and then tries to access resource of cluster ...

1. - [x] for 0.9 (#2965)
1. - [x] for 0.8 (#2966)

[2019-10-09 03:03] jackyoh opened #2967 "修改整合測試 container prefix 後面的 number"
目前 jenkins 在執行整合測試時，會指定 ohara.it.container.prefix 參數為 PR Number。在執行完測試無論是整合測試或是 UT 都會連到 IT Cluster 清除 container。這樣會有一個問題就是同時跑 UT 和 IT, 當 UT 跑完之後有可能會把 IT 正在執行的 container 刪除。

因此需要把 PR Number 修改成 Build number

[2019-10-09 03:05] jackyoh commented on #2967
因為下午要做 0.8 的 release，目前有很多 task 在執行。怕 jenkins 被改壞，所以等 release 完之後我再修改

[2019-10-09 03:05] chia7712 commented on #2967
@jackyoh thanks for that !

[2019-10-09 03:22] konekoya opened #2968 "[Manager] Do not trigger form validation in dialog if users haven't made any changes to the form"
Right now, The form within a dialog can trigger validation even if users haven't touched on the form yet. This looks more like a bug to me...

[2019-10-09 03:46] konekoya opened #2969 "[Manager] Should not allow a workspace to be added if the zookeeper port is taken"
This seems like we're not handling some API request failures and so the workspace can "still" be added but resulting a workspace which cannot function normally

As a side note: I think there could be scenarios other than __port is already taken__. We should probably comb through the whole process see if there are cases that we need to take care of as well.

cc @wu87988622

[2019-10-09 04:01] saivirtue opened #2970 "the length of container host name is too long"
container.name format : {prefixKey}-{group}-{clusterName}-{service}-{index}
which is guarantee < 255 length

container hostname required the length <= 63, we should random a string for it (since it is used internally) instead of using container.name.

**for docker**

using random string for command: `docker -h {RANDOM_STRING}`

**for k8s**

using random string for json:
[code]

[2019-10-09 04:01] saivirtue commented on #2970
/cc @chia7712 @jackyoh

[2019-10-09 04:03] chia7712 commented on #2970
@saivirtue Let me take over this one :)

[2019-10-09 04:49] vitojeng opened #2971 "[Docs] Integrate ohara-quickstart docs in the build phase"
We can integrate both ohara & ohara-quickstart docs into same docs site.
For example:
![Screenshot from 2019-10-09 13-06-30](https://user-images.githubusercontent.com/475186/66453082-b1787900-ea95-11e9-987e-ff686743b965.png)

[2019-10-09 06:08] #2964 closed

[2019-10-09 07:52] saivirtue commented on #2656
/cc @chia7712 @jackyoh
after the PR #2950 merged (waiting for another PR #2970, which may produce conflict), the left tasks will need your help...
I will push the stream part task in this week.

[2019-10-09 07:56] chia7712 commented on #2656
@saivirtue it is ok to merge #2950 to master first if it passes QA. I am focusing on 0.8 and it is fine with conflict caused by #2950

[2019-10-09 07:57] saivirtue commented on #2656
OK, thanks.

[2019-10-09 08:33] vitojeng commented on #1486
done

[2019-10-09 08:33] #1486 closed

[2019-10-09 08:35] konekoya opened #2976 "Update 0.8.x branch's SNAPSHOT version to 0.8.0"
Ref: #2278

[2019-10-09 16:02] chia7712 commented on #2970
I remove the 0.8 from fixed version since this is not a critical bug. Also, the changes is too big to be a hot fix :(

[2019-10-09 22:33] #2958 closed

[2019-10-10 05:14] chia7712 opened #2979 "Add prefix "kafka" to all data structures related to kafka in order to distinguish it from Ohara connector"
There are a lot of kafka-related data structures in our code, and it is easy to confuse to choose the correct class...

[2019-10-10 09:56] chia7712 commented on #2656
@saivirtue the concept of this design is great to me. A bit suggestion is that could you add a “type” called “-e”. The configs declares as “-e” is written to env variables rather then file.

For example, the command-line arguments is like “-e aaa=bbb”, and our scripts calls “export aaa=bbb” for that. This is useful to export the configs which is accessed by env variables.

[2019-10-10 16:50] chia7712 opened #2981 "the client IT don't apply CluserNameHolder"
If they don't put on ClusterNameHolder, our jenkins can't trace the orphan containers generated by them.

[2019-10-10 23:08] vitojeng commented on #2971
在 local 弄得差不多了, 才猛然發現 readthedocs 不是自己 own 的環境呀.
readthedocs 的 build phase 自己根本動不了...QQ

[2019-10-11 00:25] vitojeng commented on #2971
won't do

[2019-10-11 00:25] #2971 closed

[2019-10-11 05:33] #2970 closed

[2019-10-11 05:33] #2981 closed

[2019-10-12 08:47] chia7712 opened #2985 "Refactor c.i.o.c.c.v.Access"
We have unified  a lot of APIs so it is time to sort our our client codes.

[2019-10-12 09:15] chia7712 opened #2986 "the key is missed in updating topic, zookeeper, broker, worker and streamapp"
We don't reassign the key when creating related object ...

1. - [x] for 0.9 (#2987)
1. - [x] for 0.8 (#2988)

[2019-10-12 13:44] #2986 closed

[2019-10-13 01:32] #2024 closed

[2019-10-13 05:35] #2985 closed

[2019-10-14 01:04] #2811 closed

[2019-10-14 01:06] konekoya commented on #2652
I think this was fixed in one of our previous PR

[2019-10-14 01:06] #2652 closed

[2019-10-14 01:15] konekoya commented on #2869
Thanks for the help everyone! I'm closing this issue as we're about to release 0.8 today :)

[2019-10-14 01:15] #2869 closed

[2019-10-14 01:42] #2976 closed

[2019-10-14 05:41] konekoya opened #2994 "[Manager] Scaffolding new frontend codebase"
- [x] Remove old UI components from manager (#3025)
- [x] Create Mui color theme for the new UI (#3039)
- [x] Update manager's development guideline (#3045)
- [x] Add Ohara brand and main navigation (#3066)
- [x] Add snackbar context into the new UI (#3078)
- [x] Add an E2E test case to guard against 404 page (#3085)
- [x] Display a workspace automatically if there's an existing one (#3096)
- [x]

[2019-10-14 05:43] konekoya commented on #2994
@wu87988622 @saivirtue

[2019-10-14 05:48] konekoya commented on #2994
I'm thinking about completely ditching frontend unit test since:
1. It's hard to write and maintain these tests
2. We often spend MUCH more time in the unit tests rather than the actual feature...
3. E2E tests give us way more confidence than unit tests
4. We tend to write tests that don't bring much value for us

[2019-10-14 05:49] wu87988622 opened #2995 "Adjusting the structure of the Manager API"
Because the current API is too decentralized to be easy to maintain and test.

[2019-10-14 06:59] DavidMi-1 opened #2997 "When start a connector with incorrect connect info on UI , it should be fail. But it keep display nothing wrong with got state "UNASSIGNED""
**Describe the bug**
When start a connector with incorrect connect info on UI , it should be fail. But it keep display nothing wrong with got state "UNASSIGNED"

**To Reproduce**
Steps to reproduce the behavior:
1. Create a New pipeline 'xxx' , go to 'xxx' pipeline edit page
2. Add a ftp source connector , and click on the connector's graph
3. Click on 'CORE' tab at right side, and select topic
4.

[2019-10-14 06:59] jackyoh commented on #2926
ping @HarryChiang143
在這個議題裡，已經有在 K8S 的安裝文件上寫使用 root 安裝的原因以及在啟動 configurator 的 container 說明 permission denied 的原因了。

這個議題還有其他建議嗎？

[2019-10-14 07:48] konekoya opened #2998 "[Manager] Fix connector update issue"
It seems like having too many requests at the same time are faling us...

- [ ] 0.8
- [ ] 0.9

[2019-10-14 08:18] DavidMi-1 commented on #2997
It seems ok now.
![image](https://user-images.githubusercontent.com/44669519/66737305-31d81900-ee9e-11e9-8d14-8222dc830305.png)

Close the issue

[2019-10-14 08:18] #757 closed

[2019-10-14 08:30] HarryChiang143 commented on #2926
none, it's good for me :)

[2019-10-14 08:54] HarryChiang143 opened #2999 "Can't run more than one streamApp in single pipeline"
**Describe the bug**
在單一Pipeline中無法運行兩個StreamApp(第一個可以正常運行，第二個無法啟動)

**To Reproduce**
Steps to reproduce the behavior:
1. 啟動K8S環境下的configurator及manager
2. 新增一個ohara node, 新創建一個workspace:wk1
3. 新增3個topic(為了串接StreamApp)
4. 新建一條Pipeline，並添加JsonIn Connector、3 Topic及兩個StreamApp
5. 分別運行各元件，當運行第二個StreamApp時啟動失敗
<img width="1440" alt="螢幕快照 2019-10-14 下午4 39 35" src="https://user-images.githubusercontent.c

[2019-10-14 09:19] chia7712 commented on #2999
interesting...

[2019-10-14 09:36] jackyoh commented on #2926
OK, 那我把這個 PR 先關閉，如果有遇到問題再 reopen。

[2019-10-14 09:36] #2926 closed

[2019-10-14 09:55] wu87988622 commented on #2746
Next, manager will be re-established so the issue will not exist.

[2019-10-14 09:55] #2746 closed

[2019-10-14 10:26] #203 closed

[2019-10-14 10:26] #202 closed

[2019-10-14 11:49] vitojeng commented on #2999
@HarryChiang143
Does the filename of the second streamapp jar is **columncount2.jar** ?

[2019-10-14 12:00] chia7712 opened #3000 "add more filter-related tests for File, Jdbc, Ftp and Hdfs APIS"
#757 had completed the filter infra for all APIs and added enough tests for most APIs. But, as title, some trivial APIs are ignored.

[2019-10-14 13:18] vitojeng opened #3001 "Update the Quickstart link in the README.md"

[2019-10-14 15:56] chia7712 opened #3003 "the Configurator service show in every nodes"
We didn't filter Configurator service by node name ...
![註解 2019-10-14 235529](https://user-images.githubusercontent.com/6234750/66765315-3f14f800-eede-11e9-92b3-3b89a93ff2eb.png)

[2019-10-15 02:24] HarryChiang143 commented on #2999
@vitojeng yes. the columncount2.jar and columncount3.jar is the same jar, i just rename to separation each other.

[2019-10-15 03:38] saivirtue commented on #2999
就我看來，這兩個StreamApp似乎都沒有正常啟動 (metrics的資料都是空的)。
如果資料還有保留的話，是否方便提供：
1. workspace:wk1的Log
2. StreamApp: app1 & app2的Log

[2019-10-15 03:44] jackyoh commented on #2967
jenkins 的設定已經修改完成了我先把此議題關閉

[2019-10-15 03:44] #2967 closed

[2019-10-15 03:53] saivirtue opened #3006 "[Study] Quick adoption to be a front-end developer"
- [x] [React](https://reactjs.org/docs/getting-started.html)
- [x] [Cypress](https://docs.cypress.io/guides/overview/why-cypress.html#In-a-nutshell)
- [x] [Nodejs](https://www.nodebeginner.org/index-zh-tw.html)
- [x] [Styled-components](https://www.styled-components.com/docs)
  - not recommend topic, see **CSS** instead.
- [x] [React Final form](https://final-form.org/docs/react-final-form/getting

[2019-10-15 04:31] #2802 closed

[2019-10-15 04:35] chia7712 commented on #2937
@HarryChiang143 Could we close this one?

[2019-10-15 04:42] chia7712 commented on #2842
@saivirtue any update?

[2019-10-15 04:43] chia7712 commented on #2824
the IT get stable now since we have
1. reduced the number of parallel
1. fix a lot of flaky ITs
1. separate the IT to different group to make it be retryable

[2019-10-15 04:43] #2824 closed

[2019-10-15 04:45] chia7712 commented on #492
we have a great json refiner now so the deserialization exception caused by "custom" settings is handled well.

[2019-10-15 04:45] #492 closed

[2019-10-15 04:45] chia7712 commented on #582
Could you have more description for this issue?

[2019-10-15 04:54] chia7712 commented on #618
the new UI layout (#2470) has covered this issue :)

[2019-10-15 04:54] #618 closed

[2019-10-15 04:55] chia7712 commented on #587
this is resolved.

[2019-10-15 04:55] #587 closed

[2019-10-15 04:55] chia7712 commented on #617
see new UI layout (#2470)

[2019-10-15 04:55] #617 closed

[2019-10-15 04:56] chia7712 commented on #633
see new UI layout (#2470)

[2019-10-15 04:56] #633 closed

[2019-10-15 04:56] chia7712 commented on #616
see new UI layout (#2470)

[2019-10-15 04:56] #616 closed

[2019-10-15 04:56] chia7712 commented on #726
any update?

[2019-10-15 04:57] chia7712 commented on #729
there is a test "TestK8SClient" so do you plan to add more tests?

[2019-10-15 04:57] chia7712 commented on #429
the refactor is almost completed

[2019-10-15 04:57] #429 closed

[2019-10-15 04:58] chia7712 commented on #883
any update?

[2019-10-15 04:58] chia7712 commented on #802
any update?

[2019-10-15 04:59] chia7712 commented on #1068
@eechih Could you confirm whether this issue is addressed?

[2019-10-15 05:00] chia7712 commented on #164
#2547 have introduced the JsonIn and JsonOut which are able to address this issue.

@vitojeng feel free to open another issue to address something more (or shabondi)

[2019-10-15 05:00] #164 closed

[2019-10-15 05:01] chia7712 commented on #291
any update?

[2019-10-15 05:02] chia7712 commented on #243
@vitojeng what the purpose of this issue?

[2019-10-15 05:02] chia7712 commented on #198
see the new UI layout (#2470)

[2019-10-15 05:02] #198 closed

[2019-10-15 05:02] chia7712 commented on #292
any update?

[2019-10-15 05:03] chia7712 commented on #225
@saivirtue could you add enough description?

[2019-10-15 05:03] chia7712 commented on #289
any update?

[2019-10-15 05:03] chia7712 commented on #201
see the new UI layout (#2470)

[2019-10-15 05:03] #201 closed

[2019-10-15 05:03] chia7712 commented on #259
Is this covered by the new UI (#2470)?

[2019-10-15 05:04] chia7712 commented on #205
@jackyoh Is this still legal?

[2019-10-15 05:04] chia7712 commented on #249
Is this covered by #2470?

[2019-10-15 05:05] chia7712 commented on #481
@vitojeng could we close this one?

[2019-10-15 05:05] chia7712 commented on #349
Is this covered by #2470?

[2019-10-15 05:06] chia7712 commented on #482
any update?

[2019-10-15 05:11] chia7712 commented on #1157
let me tick off this one

[2019-10-15 05:15] chia7712 commented on #1789
is this still available?

[2019-10-15 05:16] chia7712 commented on #412
the related version is inactive.

@HarryChiang143 feel free to open new issue if you encounter same error on the latest release

[2019-10-15 05:16] #412 closed

[2019-10-15 05:18] chia7712 commented on #1786
@alan791205 Is this still available?

[2019-10-15 05:18] jackyoh commented on #1789
目前整合測試環境的  K8S 是正常執行, 我先把此 issue 關閉

[2019-10-15 05:19] #1789 closed

[2019-10-15 05:33] #2959 closed

[2019-10-15 05:34] jackyoh commented on #205
目前文件已經沒有寫在 README.md 裡了, 啟動 configurator 的指令在以下的連結裡：
https://ohara.readthedocs.io/en/latest/user_guide.html#execute-configurator

所以這個議題已經不是 legal 了

[2019-10-15 05:36] chia7712 commented on #205
thanks. let me close this one.

[2019-10-15 05:36] #205 closed

[2019-10-15 05:36] saivirtue commented on #2662
This is sub-task of #2656 and is duplicated in it, will close now.

[2019-10-15 05:36] #2662 closed

[2019-10-15 05:39] saivirtue commented on #2842
You could take this over.
It seems not happened in our QA lately.

[2019-10-15 05:40] konekoya commented on #249
Nope.. @vitojeng @eechih is it possible that we can include a 404 (page not found) design in the new UI :)

[2019-10-15 05:44] chia7712 commented on #249
IIRC, I filed a comment about "the page for nonexistent resources". It would be better to address that as well.

[2019-10-15 05:45] konekoya commented on #3006
@saivirtue I think you can omit

1. Lodash: it's just a helper library, and I'd always recommend using ES6 features instead
2. Styled-components: there's no much you need to know about this. In fact, you should probably study CSS instead of this

Just my two cents :)

[2019-10-15 05:47] DavidMi-1 commented on #2997
建立第一個 workspace 後操作, 大機率會得到正確的結果,
但是如果是建立使用第二個以後的 workspace, 基本上都會得到錯誤的結果, 也就是會得到 state = "UNASSIGNED";
另外使用 ssh mode 時, 第一個 workspace 操作就會得到錯誤的結果

[2019-10-15 05:47] jackyoh commented on #289
目前 ohara 使用的 docker image，像是 oharastream/zookeeper, oharastream/broker, oharastream/connect-worker 和 oharastream/streamapp 都會要求先把 docker image pull 下來執行，所以目前不會有此議題，因此不會 update

[2019-10-15 05:48] konekoya commented on #2278
@vitojeng Please help confirm the last task in the issue description, thanks :)

[2019-10-15 05:49] konekoya opened #3007 "Ohara 0.8.1 Release"
### Bug fixes
- [x] [Manager] Fix connector update issue (#2998)
- [x] the response entity doesn't release correctly (#3035)
- [x] [Manager] Fix test config button disabled state (#3051)

**ToDo:**
- [x] Update 0.8.x branch's SNAPSHOT version to 0.8.1 (#3055)
- [x] Deploy to demo environment
- [x] Create a new release draft in GitHub's release page
- [x] Build and Upload Ohara jars to Bintray repo

[2019-10-15 05:52] HarryChiang143 commented on #2999
@saivirtue 釐清一下，第一個StreamApp是有正常啟動的，只是我前面貼圖僅重現部署並執行StreamApp的畫面，並沒有真正的流資料進去，下面這張圖是我實際運行的畫面，可看到第一個StreamApp:app1是有正常運作的。
<img width="1248" alt="螢幕快照 2019-10-15 下午1 50 16" src="https://user-images.githubusercontent.com/46185836/66803695-03684580-ef53-11e9-9f78-c47fe0c303bf.png">

[2019-10-15 05:53] saivirtue commented on #3006
Thanks for the suggestion:)
I will update the study list by your comment.

[2019-10-15 05:53] chia7712 commented on #3007
Are there critical bugs? If so, please add the issue links.

[2019-10-15 05:54] konekoya commented on #3007
Right on it :)

[2019-10-15 05:57] HarryChiang143 commented on #2999
附上這次運行的log
[logs.zip](https://github.com/oharastream/ohara/files/3727533/logs.zip)

[2019-10-15 05:58] jackyoh commented on #291
因為這個議題有點久了， backend 的服務已經被移除了，UI 也被改過很多次了，所以這個議題沒有要更新了。

我先把此議題關閉掉

[2019-10-15 05:58] #291 closed

[2019-10-15 06:04] konekoya opened #3010 "Bump snapshot version to 0.8.1-SNAPSHOT"
Ref: #2278

[2019-10-15 06:04] chia7712 commented on #2999
@HarryChiang143 Could you share the image version?

[2019-10-15 06:08] jackyoh commented on #726
這個議題沒有要更新了我先關閉掉

[2019-10-15 06:08] #726 closed

[2019-10-15 06:11] jackyoh commented on #292
目前 ohara 的 UI 可以使用 k8s 的環境來建立 workspace，因此我將此議題關閉

[2019-10-15 06:11] #292 closed

[2019-10-15 06:15] chia7712 opened #3012 "nothing is displayed when I tried to add topic to pipeline"
![註解 2019-10-15 141452](https://user-images.githubusercontent.com/6234750/66804882-39f38f80-ef56-11e9-841c-42d7c34ad37e.png)

[2019-10-15 06:15] chia7712 commented on #3012
@konekoya @wu87988622 please take a look

[2019-10-15 06:17] HarryChiang143 commented on #2999
<img width="446" alt="螢幕快照 2019-10-15 下午2 16 17" src="https://user-images.githubusercontent.com/46185836/66805001-7d4dfe00-ef56-11e9-886e-03b525516828.png">

[2019-10-15 06:18] HarryChiang143 commented on #2999
Should i use the 0.8.0 release version to try again?

[2019-10-15 06:22] jackyoh commented on #729
我想把 addConfig, removeConfig 和 inspectConfig 的方法，加入到 TestK8SClient 的測試

[2019-10-15 06:31] chia7712 opened #3013 "k8s collie does not define the correct host name"
[code]

[code]

the above code is related to old solution and we have, now, changed the format of server.x for all zk services.

caused by #2970

[2019-10-15 06:34] #3003 closed

[2019-10-15 06:36] jackyoh commented on #582
已經更新了

[2019-10-15 06:36] chia7712 commented on #2999
yep

[2019-10-15 06:54] HarryChiang143 commented on #2999
@chia7712 , it's seem the same trouble on 0.8.0 version
<img width="536" alt="螢幕快照 2019-10-15 下午2 49 49" src="https://user-images.githubusercontent.com/46185836/66807392-85f50300-ef5b-11e9-9b24-7abcd5409ec2.png">

<img width="448" alt="螢幕快照 2019-10-15 下午2 47 14" src="https://user-images.githubusercontent.com/46185836/66807246-6f4eac00-ef5b-11e9-94e3-ee44ca5e5b95.png">
<img width="1440" alt="螢幕快照 2

[2019-10-15 07:10] jackyoh commented on #883
目前沒有要更新，我先把此議題關閉

[2019-10-15 07:10] #883 closed

[2019-10-15 08:15] konekoya commented on #249
Yep. But that's the client route not managers. It will be handled in #1957 :)

[2019-10-15 08:20] #3010 closed

[2019-10-15 08:27] konekoya commented on #2278
0.8.0-SNAPSHOT images are removed, closing this issue

[2019-10-15 08:27] #2278 closed

[2019-10-15 08:31] #2842 closed

[2019-10-15 08:42] #3001 closed

[2019-10-15 08:52] konekoya commented on #1465
Since we're moving to new UI, this issue is no longer relevant

[2019-10-15 08:52] #1465 closed

[2019-10-15 08:53] konekoya commented on #866
Done :)

[2019-10-15 08:53] #866 closed

[2019-10-15 09:00] chia7712 opened #3015 "make quick failure if Configurator receives an illegal k8s URL"
the k8s URL is access later so we can't get exception when creating Configurator...

[2019-10-15 10:33] konekoya commented on #3012
I can confirm it's indeed a bug and can be reproduced in the current master branch. However, as we discussed today, we will no longer fix bugs in the master branch if a bug only related to UI. We will, however, fix bugs in 0.8.x branch if the bug is severe enough and affected demo scenarios. @chia7712 Thanks for reporting this anyway :)

cc @saivirtue @eechih @wu87988622

[2019-10-15 10:33] #3012 closed

[2019-10-15 12:54] #3013 closed

[2019-10-15 13:29] chia7712 commented on #2999
@HarryChiang143 我用你的jar嘗試啟動了一下(如下圖) 沒遇到錯誤，請問一下你提供的方式是每次都能觸發錯誤嗎?
![註解 2019-10-15 212812](https://user-images.githubusercontent.com/6234750/66835832-cc198900-ef92-11e9-8d6b-0f7dc060c312.png)

[2019-10-15 14:50] #3015 closed

[2019-10-15 15:10] #1157 closed

[2019-10-16 01:34] vitojeng commented on #243
I was studying Configurator at the time, and want to be able to contribute to Configurator.
Anyway, I think we close this issue. :)

[2019-10-16 01:34] #243 closed

[2019-10-16 01:36] vitojeng commented on #481
Sure, thanks for reminder

[2019-10-16 01:36] #481 closed

[2019-10-16 02:13] konekoya commented on #241
We're moving to new UI

[2019-10-16 02:13] #241 closed

[2019-10-16 02:13] konekoya commented on #277
We're moving to new UI

[2019-10-16 02:13] #277 closed

[2019-10-16 02:14] konekoya commented on #2562
Moving to new UI

[2019-10-16 02:14] #2562 closed

[2019-10-16 02:15] konekoya commented on #2530
We're moving to new UI

[2019-10-16 02:15] #2530 closed

[2019-10-16 02:15] konekoya commented on #2747
This is included in the new UI

[2019-10-16 02:15] #2747 closed

[2019-10-16 02:15] konekoya commented on #2810
No longer relevant

[2019-10-16 02:15] #2810 closed

[2019-10-16 02:16] konekoya commented on #2837
This will be redesigned in the new UI

[2019-10-16 02:16] #2837 closed

[2019-10-16 02:16] konekoya commented on #2350
Moving to new UI

[2019-10-16 02:16] #2350 closed

[2019-10-16 02:17] konekoya commented on #2375
Moving to new UI

[2019-10-16 02:17] #2375 closed

[2019-10-16 02:17] konekoya commented on #2376
Moving to new UI

[2019-10-16 02:17] #2376 closed

[2019-10-16 02:17] konekoya commented on #2401
Moving to new UI

[2019-10-16 02:17] #2401 closed

[2019-10-16 02:17] konekoya commented on #2466
This is included in the new UI

[2019-10-16 02:17] #2466 closed

[2019-10-16 02:18] konekoya commented on #2968
No longer relevant

[2019-10-16 02:18] #2968 closed

[2019-10-16 02:19] konekoya commented on #2749
Moving to new UI, these should be supported in the new design

[2019-10-16 02:19] #2749 closed

[2019-10-16 02:28] konekoya commented on #2861
We're moving to new UI

[2019-10-16 02:28] #2861 closed

[2019-10-16 02:29] konekoya commented on #2582
Will be tackled in the new UI

[2019-10-16 02:29] #2582 closed

[2019-10-16 02:33] konekoya commented on #2480
We made the decision that the topic states should not be seen in the pipeline graph

[2019-10-16 02:33] #2480 closed

[2019-10-16 02:37] eechih commented on #1068
@chia7712 @mathsigit  This issue has not been addressed yet. 未來幾個月，V1.0 新的 UI 是較重要的工作項目，因此，這個 Issue 會在新 UI 完成後再進行規劃安排。

補充：The abstract CSV sink connector 寫入檔案路徑的方式，目前只有一種，規則如下：

/${outputFolder}/${topicName}/partition${partition}/${topicName}-${partition}-${startOffset}.csv

Examples:
- /output/mytopic/partition0/mytopic-0-000000000.csv
- /output/mytopic/partition0/mytopic-0-000001000.csv
- /out

[2019-10-16 03:02] chia7712 opened #3018 "Move env conversion code from ohara-common to ohara-agent"
in #2656, we are going to pass settings via command-line arguments rather than env variables since the later has character limitation. Hence, related conversion code is useful to collie only and hence we don't need to expose them.

[2019-10-16 03:24] saivirtue opened #3019 "Ohara 0.9.0 Release"
**Schedule**: ~Forzen: 2020/1/5, Release: 2020/02/17~

Forzen: 2020/02/17 (一), Release: 2020/03/20 (五)

### Need To Be Done
<details>

**[Manager]**
- [x] Disable the following functions (#3689) @konekoya
  - Expert mode link
  - Event Log icon button
  - `add node` and `delete` buttons of node list & node view page in k8s mode
  - `Overview` and `Settings` tabs of workspace
  - More action icon b

[2019-10-16 03:40] chia7712 opened #3021 "Collie should avoid taking envs when creating clusters"
Storing everything in envs is deprecated (see #2656)...

1. - [x] Broker Collie should avoid taking envs when creating clusters (duplicate to #2656)
1. - [x] Worker Collie should avoid taking envs when creating clusters (duplicate to #2656)
1. - [x] Streamapp Collie should avoid taking envs when creating clusters (duplicate to #2656)
1. - [x] Enable collie to access more data from store (#3026)

[2019-10-16 05:23] #2259 closed

[2019-10-16 05:56] HarryChiang143 commented on #2999
@chia7712 我先前分別用0.8.0-SNAPSHOT及0.8.0 release版本都是同樣的行為每次均觸發錯誤，

對了我的Configurator是額外mount到本地端的資料夾，不知道這點跟你的測試操作是否相同?

不過我可以再用0.8.1-SNAPSHOT嘗試看看

[2019-10-16 06:02] vitojeng commented on #1068
maybe typo ?

[2019-10-16 06:20] vitojeng opened #3022 "Introduce Shabondi: a http proxy service let user push data into Ohara"
follow-up #160

Todo items
- [x] Shabondi WebServer(#3141)
- [x] Shabondi SourceRoutes(#3087)
- [x] Shabondi SinkRoutes(#3378)
- [x] Integrate with Configurator(#3591)
- [x] Integrate with Configurator, part 2(#4046)
- [x] Shabondi Restful API docs(#951)
- [x] Improve Shabondi testing(#4559)

[2019-10-16 06:22] vitojeng commented on #160
the rest of the work move to #3022

[2019-10-16 06:22] #160 closed

[2019-10-16 06:57] HarryChiang143 commented on #2999
@chia7712 很遺憾的，在0.8.1-SNAPSHOT也遭遇到了同樣的錯誤。
<img width="1440" alt="螢幕快照 2019-10-16 下午2 52 14" src="https://user-images.githubusercontent.com/46185836/66895345-206d4900-f025-11e9-9c1d-0001cdc8cf30.png">

<img width="451" alt="螢幕快照 2019-10-16 下午2 52 18" src="https://user-images.githubusercontent.com/46185836/66895282-f4ea5e80-f024-11e9-848d-814c402717c0.png">

![螢幕快照 2019-10-16 下午2 52 14（2）](https://u

[2019-10-16 07:22] chia7712 opened #3024 "Disable user to restart Configurator via different mode"
Configurator has three modes - ssh, k8s and fake. Those modes may produce different data and those data are not compatible to each other. Hence, we should disable user to "change" the mode of Configurator.

[2019-10-16 07:31] jackyoh commented on #3024
configurator 除了啟動的時候可以指定 ssh, k8s 和 fake 模式，還有哪個時機可以修改 configurator 的  mode?

[2019-10-16 07:47] konekoya commented on #2895
Moving to new UI

[2019-10-16 07:47] #2895 closed

[2019-10-16 07:48] konekoya commented on #2745
Moving to new UI

[2019-10-16 07:48] #2745 closed

[2019-10-16 07:49] konekoya commented on #199
This is included in the new UI

[2019-10-16 07:49] #199 closed

[2019-10-16 07:50] konekoya commented on #646
Moving up to new UI

[2019-10-16 07:50] #646 closed

[2019-10-16 07:50] konekoya commented on #647
Moving to new UI

[2019-10-16 07:50] #647 closed

[2019-10-16 08:09] konekoya commented on #2467
@chia7712 some notes from our discussion over this issue

Since our UI is centered around the pipeline and objects (connector, topic, stream app) are grouped by pipeline. Say if a delete pipeline action fails and therefore creates some orphan objects. There's no way to remove them other than reaching out for restful API. So there should be a page that allows users to manually delete and manage the

[2019-10-16 08:17] chia7712 commented on #3024
重新啟動

[2019-10-16 08:33] jackyoh commented on #3024
了解， Thank you.

[2019-10-16 08:52] konekoya commented on #1843
Moving to new UI, this issue is no longer relevant

[2019-10-16 08:52] #1843 closed

[2019-10-16 14:02] eechih commented on #1068
@vitojeng  It isn't typo. The ${partition} variable is a number.

[2019-10-16 14:09] vitojeng commented on #1068
Got it

[2019-10-17 03:37] saivirtue opened #3028 "Add integrate automated tests with CI (QA)"
- API test
  - [x] Add node API tests (#3049)
  - [x] Add file API tests (#3061)
  - [x] Add broker, worker, zookeeper API tests (#3133)
  - [x] Add log, topic, validate API tests(#3149)
  - [x] Add connector, pipeline API tests (#3179)
  - [x] Add stream API tests (#3185)
-  e2e test

- Common tasks
  - [x] Save API tests video in another directory (move to issue #2659)
  - [x] Refactor api tests

[2019-10-17 03:41] chia7712 commented on #3028
feel free to ping me if you encounter gradle or jenkins error :)

[2019-10-17 07:14] vitojeng commented on #482
Sorry, not yet. Hope to finish at v0.9.0

[2019-10-17 08:00] chia7712 opened #3030 "Performance benchmark tool for official connectors"
We all love to read the performance reports from a system. It seems to me connectors are worthy of showing the performance since they are totally in streaming core and we have a lot of official connectors for user.

The purposed tasks are shown below.

1. benchmark tool. this tool accepts a config file to turn the data set in streaming. Also, it generates a performance reports.
1. a jenkins job us

[2019-10-17 08:08] HarryChiang143 opened #3031 "Something crash when start to run streamApp on pipeline"
**Describe the bug**
建好的Pipeline分別運行JsonIn及JsonOut Connector一天後，當第二天開始運行第一個StreamApp時系統就無法提供正常的畫面顯示。
![螢幕快照 2019-10-17 下午3 48 39](https://user-images.githubusercontent.com/46185836/66989064-36970a00-f0f6-11e9-9aa9-cc287f11e36c.png)

**原本的Pipeline示意圖**
P.S : 因為沒辦法截到當下的圖，只好拿先前同樣的Pipeline圖來代表。(本次是剛啟動App1的時候就掛了，App2還沒有啟動。)
<img width="1440" alt="1" src="https://user-images.githubusercontent.com/461858

[2019-10-17 08:52] HarryChiang143 commented on #3031
sure.

[2019-10-17 09:12] HarryChiang143 commented on #3031
另外重建一個新的環境，這次建完Pipeline就馬上啟動，StreamApp1 運行是正常的。

**現在已知的兩次測試行為，唯一的變因是系統待機時間。**

![螢幕快照 2019-10-17 下午5 09 42](https://user-images.githubusercontent.com/46185836/66995189-28022000-f101-11e9-83ba-b97d6366f0c1.png)

[2019-10-17 09:42] chia7712 commented on #2921
the lastModified may be useful in checking node inforamtion :)

[2019-10-17 09:42] #2921 closed

[2019-10-17 09:52] chia7712 commented on #3031
@HarryChiang143 所以是說configurator放置一天後就無法使用了嗎

[2019-10-17 10:09] HarryChiang143 commented on #3031
@chia7712 應該說，放一天後我重新打開UI還可以看到正常運行的Pipeline，但是當我開始啟動StreamApp的時候就掛了。

[2019-10-17 10:10] chia7712 commented on #3031
了解

[2019-10-17 11:13] chia7712 opened #3035 "the response entity doesn't release correctly"
[code]

[2019-10-17 15:46] chia7712 commented on #2288
Given that our UI will reborn and #2812 is going to remove deprecated funtions, it is time to close this one.

[2019-10-17 16:24] #2864 closed

[2019-10-17 22:28] konekoya commented on #2969
We're moving to new UI, and this issue is no longer relevant

[2019-10-17 22:28] #2969 closed

[2019-10-17 22:29] konekoya commented on #2923
moving to new UI

[2019-10-17 22:29] #2923 closed

[2019-10-17 22:29] konekoya commented on #2750
Moving to new UI

[2019-10-17 22:29] #2750 closed

[2019-10-17 22:29] konekoya commented on #2742
Moving to new UI

[2019-10-17 22:29] #2742 closed

[2019-10-17 22:29] konekoya commented on #1631
Moving to new UI

[2019-10-17 22:29] #1631 closed

[2019-10-17 22:30] konekoya commented on #1855
Moving to new UI

[2019-10-17 22:30] #1855 closed

[2019-10-17 22:30] konekoya commented on #1899
Moving to new UI

[2019-10-17 22:30] #1899 closed

[2019-10-17 22:30] konekoya commented on #2712
Moving to new UI

[2019-10-17 22:30] #2712 closed

[2019-10-17 22:31] konekoya commented on #2715
Moving to new UI

[2019-10-17 22:31] #2715 closed

[2019-10-17 22:31] konekoya commented on #1879
Moving to new UI

[2019-10-17 22:31] #1879 closed

[2019-10-17 22:33] konekoya commented on #2659
cc @saivirtue Could you also include this while writing new API tests :)

[2019-10-17 22:36] konekoya commented on #1632
@eechih Is this fule still valid and should be implemented in the new UI?

[2019-10-17 22:37] konekoya commented on #2744
@wu87988622 Could we close this issue now? The new UI is coming

[2019-10-17 22:39] konekoya commented on #254
@wu87988622 Not sure if you will go this far, but if we can include this in the new async data fetching layer?

[2019-10-17 22:40] konekoya commented on #1532
@vitojeng @chia7712 @eechih I think we should also include this in the new UI, right?

[2019-10-17 22:42] konekoya commented on #2561
@wu87988622 I think we will also run into this issue in the new UI. Any ideas on how to tackle this with the new data fetching layer :)

[2019-10-17 22:45] konekoya commented on #2874
@chia7712 I'm going to close this since it's not reproducible. And we can also test this in the new UI anyway :)

[2019-10-17 22:45] #2874 closed

[2019-10-17 22:49] konekoya commented on #1794
@vitojeng @eechih Should we close this issue now?

[2019-10-17 22:54] konekoya commented on #802
@chia7712 No farther discussion over this very topic since then. But I think this issue is still valid in the new UI, so will keep this open

[2019-10-18 00:21] eechih commented on #1632
@konekoya Yep, in the new UI, this rule will be used in quick mode (create workspace).

/cc @wu87988622

[2019-10-18 00:30] eechih commented on #1532
@konekoya That's right, it will be done in the new UI.

[2019-10-18 00:32] eechih commented on #1794
@konekoya Yes, I will close it, thanks.

[2019-10-18 00:32] #1794 closed

[2019-10-18 00:50] konekoya commented on #1632
I will keep this issue open then :)

[2019-10-18 01:54] saivirtue commented on #2659
Sure thing. Let me related this issue to #3028.

[2019-10-18 01:55] HarryChiang143 commented on #3031
@vitojeng 我今天在Ohara Demo environment測試執行StreamApp可以正常運行，
![螢幕快照 2019-10-18 上午9 52 44](https://user-images.githubusercontent.com/46185836/67059863-46156200-f18d-11e9-892c-1105ae645433.png)

測試的行為同樣是待機一天後才啟動StreamApp。

目前想到唯一的不同點就只有Configurator是否有額外mount data to local folder。

[2019-10-18 02:12] vitojeng commented on #1532
Great! Thanks for @oharastream/frontend

[2019-10-18 02:16] HarryChiang143 commented on #2999
@chia7712 is there any feedback?

[2019-10-18 02:19] vitojeng commented on #2999
@HarryChiang143 Can you use Ohara Demo to try out again?

[2019-10-18 02:22] HarryChiang143 commented on #2999
@chia7712 It's look likes fine on Ohara Demo env..
![螢幕快照 2019-10-18 上午10 20 37](https://user-images.githubusercontent.com/46185836/67060838-06507980-f191-11e9-952e-e19525365dc6.png)

目前想到主要的行為差異應該只有Configurator是否有額外mount data to local folder.

[2019-10-18 02:36] vitojeng commented on #2999
Ohara Demo 環境確認有用 mount folder, 因此排除此因素.

[2019-10-18 02:38] vitojeng commented on #3031
Ohara Demo 環境確認有用 mount folder, 因此排除此因素.

[2019-10-18 07:01] konekoya commented on #2659
@wu87988622 Please kindly provide some help while @saivirtue is tackling this issue 😉

[2019-10-18 09:22] konekoya commented on #381
Addressed in #2994

[2019-10-18 09:22] #381 closed

[2019-10-18 09:25] #2741 closed

[2019-10-18 09:47] konekoya commented on #2317
@wu87988622 Let's include this functionality in the new async data fetching layer 💯

[2019-10-18 12:10] #1892 closed

[2019-10-18 15:29] chia7712 opened #3041 "Refactor routes base"
We have ~100 APIs now, and the related routes is too complicated to maintain...

I'm going to extract the base for most routes and then make most routes to be constructed by fluent pattern.

[2019-10-19 03:57] #3041 closed

[2019-10-19 03:59] chia7712 opened #3043 "Make sure PUT request to cluster APIs pass the check of resource existence"
all PUT requests (cluster actions) work only if the resources are existent in our Configurator. Hence, those requests MUST pass the check of resources existence.

BTW, the infra of resources dependencies group is added by #2812

[2019-10-20 14:26] chia7712 opened #3047 "Unify the check rules of JsonRefiner"
There are too many "checks" in JsonRefiner - key checker, value check and all values checker. They have similar code and it is time to unify them to simplify the behavior of Json Refiner.

[2019-10-21 06:00] konekoya opened #3051 "[Manager] Fix test config button disabled state"

[2019-10-21 06:16] #3047 closed

[2019-10-21 06:28] jackyoh opened #3053 "修改安裝 K8S 的文件"
目前 user guide 的 How to use Kubernetes in Ohara? 項目裡啟動 configurator container 指令有加上
--add-host 參數, 應該要說明在沒有 DNS 的情況下才需要使用此參數。

[2019-10-21 07:23] #3051 closed

[2019-10-21 07:53] vitojeng commented on #3022
@oharastream/backend
I would like to discuss the high level architecture concept and constrain about Shabondi.
The draft as follows:
* Every Pipeline only allow to add **one** Shabondi source component and **one** Shabondi sink component.
* The Shabondi component(source or sink) in the Pipeline, contains multiple **passages**.
* Every **passage** can be defined a url path, a destination(or source)

[2019-10-21 08:08] chia7712 commented on #3022
why?

Since the URL count on "hostname", it implies each instance of shabondi host different (topic, schema)? It is a bit weird to me since the schema should be related to "topic" or "shabondi source/sink" rather than "instance" of shabondi.

[2019-10-21 09:50] vitojeng commented on #3022
No. Hope the following example can be better explained.
For example, if we have a Shabondi source component in pipeline, only one instance.
The node name is **k8s-node5** and the port is **32832**.
There have three passages defined in the source component, the three passages of url will be:
* http://k8s-node5:32832/{passage_1}/
* http://k8s-node5:32832/{passage_2}/
* http://k8s-node5:32832/{passag

[2019-10-21 09:50] vitojeng commented on #3022
The original idea is that one Shabondi component can handle mutiple passages.

After some discussion in the daily meeting, it seems one component handle one passage is more reasonable.

[2019-10-21 10:16] chia7712 commented on #3022
If so, does one shabondi accept only one topic/schema?

[2019-10-21 12:00] vitojeng commented on #3022
Yep
--

---
Vito

[2019-10-21 12:30] chia7712 commented on #3022
I guess we have to allow user to deploy multiple shabondi so as to take different topics/schemas, right?

[2019-10-22 03:36] konekoya opened #3055 "Update 0.8.x branch's SNAPSHOT version to 0.8.1"
Ref:  #3007

[2019-10-22 06:15] #3055 closed

[2019-10-22 06:44] saivirtue opened #3058 "[Manager] Enable windows support for build.gradle"
There are some gradle DSL `commandLine` which used to execute **yarn** command, but it should support windows environment.
From [gradle doc of exec](https://docs.gradle.org/current/dsl/org.gradle.api.tasks.Exec.html)

[2019-10-22 07:03] chia7712 commented on #3058
Is it able to test Manager on windows?

[2019-10-22 07:09] saivirtue commented on #3058
Yep. After installing the required packages of [Ohara Manager Developer Guilde](https://ohara.readthedocs.io/en/latest/manager_dev_guide.html#initial-machine-setup)
Using the windows format (`commandLine 'cmd', '/c', 'yarn' ...`) could run successfully.

[2019-10-22 07:36] vitojeng commented on #3022
Yep.

Let me update here:

* Shabondi have two types of component for Pipeline, one is **source** and another is **sink**
  * Source component allows the user to push data into a topic through HTTP request.
  * Sink component allows the user to pull data from a topic through HTTP request.
* Both Source component and Sink component contain settings such as **port**, **topic**, **schema**.
* Each pi

[2019-10-22 08:01] konekoya commented on #3007
@vitojeng Could you help remove these 0.8.1-SNAPSHOT images on our doucker hub, thanks!

[2019-10-22 08:04] konekoya opened #3059 "Bump 0.8.x branch's snapshot version to 0.8.2-SNAPSHOT"
Ref: #3007

[2019-10-22 08:46] #2659 closed

[2019-10-22 09:23] #3059 closed

[2019-10-22 09:42] #3007 closed

[2019-10-23 03:56] chia7712 opened #3062 "Integrate FileStore with Store"
File store is used to keep FileInfo only, by contrast, (Configurator) Store keeps all except for FileInfo. Keeping different "Data" in different store complicate our code base, and the file size we accept is not larger than megabyte and megabyte value is acceptable to rocksDB (of course, it is not optimal use of RocksDB but the performance is a trivial issue to Configurator store since there is no

[2019-10-23 07:29] #2863 closed

[2019-10-23 12:18] #3062 closed

[2019-10-24 03:16] #2812 closed

[2019-10-24 06:44] #729 closed

[2019-10-24 07:27] wu87988622 opened #3068 "the incremented node is not stored by fake Configurator"
DELETE Request URL: v0/workers/riz6m/b97a1?group=default
[code]

Thanks @chia7712

[2019-10-24 08:01] konekoya commented on #1957
Moving to the new design, and in favor of #2994

[2019-10-24 08:01] #1957 closed

[2019-10-24 08:07] chia7712 opened #3069 "Remove exporter from broker cluster"
the exporter is a demo-proposed function and we don't use it anymore.

[2019-10-24 08:09] chia7712 commented on #3068
@wu87988622 It is illegal to remove cluster via "remove node".

[2019-10-24 09:36] wu87988622 commented on #3068
This worker contains two nodes
GET worker
[code]
[code]

[2019-10-24 09:45] #3053 closed

[2019-10-24 09:47] #3043 closed

[2019-10-24 09:57] konekoya commented on #2934
For dashboard page:
Fixed width for the AppBar and main navigation. The pipeline paper can
grow as big as users screen resolutions

Rest of the UI:
Maximum width: 1440px
Minimum width: 1024px

[2019-10-24 13:31] chia7712 opened #3072 "fix flaky TestTopicRoute.stopTopicFromNonexistentBrokerCluster"
[code]

[2019-10-24 14:35] #2900 closed

[2019-10-24 14:54] chia7712 opened #3074 "Show the successful containers even if the collie says this cluster is dead"
We hided the alive containers if collie says this cluster is gone. It produces a weird scenario that a "gone" cluster has an "alive" container but we don't expose it to user.

[2019-10-24 15:00] chia7712 opened #3075 "fix flaky TestPipelineRoute.configurator.serviceCollie"
[code]

we didn't wait the thread to be completed.

[2019-10-24 16:40] #3075 closed

[2019-10-24 18:00] #3068 closed

[2019-10-25 03:51] konekoya commented on #254
Ping @wu87988622

[2019-10-25 05:32] eechih opened #3079 "在多人使用情況下，為了確保資料一致性，除了 GET 外 Apis 都需要支援"避免資料衝突"的檢查機制"
每個物件都擁有自己的時間戳記，記錄最近一次的更新時間。UI 呼叫 Api 時，可以攜帶這個時間戳記，後端會進行衝突檢查。（反之，如果沒有帶時間戳記，後端不進行檢查）

當檢查到資料有衝突的情況時，應該回應 **HTTP 403 Forbidden**，並且在 Payload 內描述拒絕的原因。

[2019-10-25 05:34] eechih commented on #3079
/cc @chia7712 @konekoya @wu87988622 @saivirtue

[2019-10-25 06:12] konekoya commented on #2934
Will be addressed in #2994

[2019-10-25 06:16] chia7712 opened #3081 "Upgrade gradle from 5.4.1 to 5.6.3"
Kafka is on gradle 5.6 which is towards 6.0 so we should update our gradle also.

[2019-10-25 06:20] chia7712 opened #3082 "streamapp image should be based on deps image"
copy-and-paste is the easiest way to maintain code :)

[2019-10-25 06:21] chia7712 commented on #3082
@saivirtue IIRC, we discussed this issue before. Any suggestions for this one?

[2019-10-25 07:36] jackyoh opened #3084 "Added autostart service for the Kubernetes API proxy server"
目前在整合測試環境, QA2, Demo 環境的 K8S API proxy service 在重新開機時，需要手動的去啟動 api proxy service, 需要改成在重新啟動 server 時就會自動啟動 K8S API proxy service

[2019-10-25 07:40] jackyoh commented on #3084
這邊不會動到原始碼，但是我會在 kubernetes 的資料夾下面放啟動 k8s api proxy service 的設定檔，這樣其他人也可以拿來用，所以文件也會增加說明如何使用。

[2019-10-25 07:42] chia7712 commented on #3084
got it :)

[2019-10-25 07:49] #3081 closed

[2019-10-25 08:31] saivirtue commented on #3082
Go ahead to use the base image, it is OK now (since the image size is not a problem for current design, I think)

[2019-10-25 09:02] vitojeng opened #3087 "Implement shabondi source routes"
required by #3022

[2019-10-25 09:21] chia7712 commented on #3082
Thanks for the confirmation.

[2019-10-25 18:03] #3069 closed

[2019-10-25 18:04] #3082 closed

[2019-10-26 09:09] vitojeng commented on #3079
@eechih 有什麼情況會需要不帶時間戳記?

[2019-10-26 09:30] chia7712 commented on #3079
forceful update

[2019-10-26 20:40] #2656 closed

[2019-10-26 20:41] #1733 closed

[2019-10-26 21:21] #3021 closed

[2019-10-26 21:56] chia7712 opened #3091 "add Definition APIs"
Definition APIs is used to expose the available settings of services (zk, bk and wk)

the URL is shown below.

1. /info/configurator
1. /info/zookeeper
1. /info/broker
1. /info/worker

[2019-10-26 23:22] #2957 closed

[2019-10-27 14:47] chia7712 opened #3093 "[Manager] Refactor tests of /v0/info API to adapt new structure"
#3091 has added /v0/info/configurator to replace /v0/info, and this issue aims to complete the API migration.

- [x] add tests for zookeeper, broker, worker and configurator (#3110)
- [x] add tests for stream (move to #3028)

[2019-10-27 14:49] chia7712 commented on #3093
@wu87988622 @konekoya @saivirtue I noticed that /v0/info is already in APIs test so #3091 did not break the APIs.

[2019-10-27 14:53] chia7712 opened #3094 "add the default value to custom settings for all cluster services"
the definition infra is on the way and most of them have default value. However, those default values are not shown in response. We should add them into response to remind user that those default values will be applied to their cluster :)

[2019-10-28 01:12] konekoya commented on #3093
@wu87988622 @konekoya @saivirtue I noticed that /v0/info is already in APIs test so #3091 did not break the APIs.

I think we can adapt the new API now as it's not used in the UI yet and the API tests are being rewritten, cc @saivirtue

[2019-10-28 01:21] saivirtue commented on #3093
Please notice me after the #3091 closed.

[2019-10-28 02:55] konekoya opened #3097 "[Manager] Implement pipeline navigator"
Some API related logic should be handled in #2995, I will leave some TODOs in this PR

- [x] Add pipeline navigator UI (#3106)
- [x] Add validation logic for new pipeline form (#3119)
- [x] Add pipeline route logic (#3126)
- [x] Open a dialog to create new workspace when there is no workspace (#3132)

[2019-10-28 03:37] vitojeng commented on #3079
想瞭解的是，在前端操作來看，有什麼情境會發生？

[2019-10-28 04:56] #3091 closed

[2019-10-28 04:57] #3094 closed

[2019-10-28 05:04] chia7712 opened #3099 "Unify the naming for all Definition-related classes"
the following changes are included.

1. Definition -> ConnectorDefinition
1. Definition -> StreamClusterDefinition
1. definitions -> settingDefinitions

[2019-10-28 05:08] chia7712 opened #3100 "Move the definition from StreamClusterInfo to Info APIs"
Info APIs now supports to expose setting definitions of zk, bk and wk service. Stream cluster should be included.

the URL is shown below.

/v0/info/stream/${fileName}?GROUP=${fileGroup}

[2019-10-28 05:36] chia7712 commented on #3079
你是指不帶timestamp的更新嗎? 如果是的話，就我們的討論"前端不會有這種情境" 因為要簡單處理多人同時更新objects，所以前端要帶timestamp讓後端可以幫忙擋掉updating conflict。

至於"不帶timestamp"的操作就是default update (forceful update)

[2019-10-28 05:37] chia7712 commented on #3093
ping @saivirtue  :)

[2019-10-28 06:10] vitojeng commented on #3079
yes. 只是想確認前端這點而已.

[2019-10-28 06:33] #3084 closed

[2019-10-28 07:04] chia7712 opened #3102 "remove Private APIs"
we don't use it anymore :)

[2019-10-28 07:16] chia7712 opened #3103 "enable Query APIs to fetch topic data"
As a friendly streaming platform, Ohara should offer the "view" of running topic. Fetching data is always an async call and we don't want to complicate our APIs. This APIs have a parameter - timeout - to break the waiting in our control (this is similar to k8s APIs). The format is shown below.

/v0/query/topic/$name?GROUP=$group&$k=$v

the parameters are shown below.

1. timeout (long) - the timeo

[2019-10-28 07:16] chia7712 commented on #3103
FYI @konekoya @wu87988622 @saivirtue

[2019-10-28 07:59] saivirtue opened #3105 "The name of keys in json object should avoid using "dot"?"
For example,
/api/v0/workers:
[code]

the "keys-with-dotted" are hard to be parsed in front-end.

[2019-10-28 08:02] saivirtue commented on #3105
/cc @chia7712
In a quick discussion with @konekoya and @wu87988622 , we could have a workaround that converting all the "." to be another symbol (ex, "_") in each API payload.
Do you have any suggestions?

[2019-10-28 08:06] chia7712 commented on #3105
Do you mean the response generated Configurator should replace dot by another symbol ? It is terrible to connector developer if they can’t see what they write.

[2019-10-28 08:10] saivirtue commented on #3105
Let me explain more clearly.
We can replace each "dot" from configurator API payload, and replace back to "dot" to configurator.

[2019-10-28 08:32] chia7712 commented on #3105
The APIs is a part of public stuff. We can’t change user-defined stuff arbitrarily. (Especially, the dot is common char to backend developers)

[2019-10-28 09:27] #3105 closed

[2019-10-28 09:59] wu87988622 commented on #2744
The new UI is coming.

[2019-10-28 09:59] #2744 closed

[2019-10-28 10:14] saivirtue opened #3107 "streamApp should allow empty topics in creation"
In StreamApi:
[code]

In UI, drag a streamApp to pipeline may not have the information of topics.

[2019-10-28 10:16] saivirtue commented on #3107
/cc @chia7712
IIRC, we allow API to input empty array of from/to topics?

[2019-10-28 10:18] chia7712 commented on #3107
Yep. It was ok to create streamapp with empty topic.

It is ok to delay the checks to START phase if UI flow is hard to avoid empty topics.

[2019-10-28 10:40] jackyoh opened #3108 "Delete the WorkerClient after JDBC source connector test complete"
JDBC Source Connector 單元測試程式是使用 Embedded MySQL, 在執行完測試之後會在 after 的方法 shutdown Embedded 的 MySQL 資料庫，如果在這之前沒有 Delete 執行的 JDBC Source Connector 的 WorkerClient，會造成 connector 無法連到 MySQL 資料庫而一直 retry 導致 log 會很長，使 QA 的硬碟很快就塞滿。

[2019-10-28 12:23] #3100 closed

[2019-10-28 12:23] #3102 closed

[2019-10-28 12:28] chia7712 commented on #2520
#3091 offers a simple way to expose the definitions for cluster services. The multiples version support is too far so I'm going to close this large issue.

[2019-10-28 12:28] #2520 closed

[2019-10-29 01:51] saivirtue commented on #3107
So, should we remove the `rejectEmptyArray` part in StreamApi to allow this?

[2019-10-29 01:55] chia7712 commented on #3107
Yep. This rule should be applied to connector also (for consistency)

[2019-10-29 04:47] chia7712 opened #3112 "The cluster key should be required for stream cluster and connector"
the definition is still declared as "optional" :(

[2019-10-29 06:51] konekoya opened #3114 "Preserve double underscore for UI to use"
Due to some limitations of JavaScript and  final-form (a third-party library used in our codebase), we will need to convert __keys__ like the blow:

From this (note the dots between key __a.b.c__):
[code]

To this:
[code]

This conversion can be done solely in the frontend, but since our definition can be customized by users, we cannot stop users from using characters like "__" (double underscore)

[2019-10-29 06:51] konekoya commented on #3114
/cc @chia7712 @saivirtue @wu87988622

[2019-10-29 08:12] #3099 closed

[2019-10-29 14:51] saivirtue opened #3115 "[QA] Jenkins failed to run manager-api tests if PR contained both frontend and backend codes"
See these two different PR logs below (former is front-end code only, and the latter have both):

PR #3038 ([jenkins logs](https://builds.is-land.com.tw/job/PreCommit-OHARA/6638/console))
[code]

PR #3110 ([jenkins logs](https://builds.is-land.com.tw/job/PreCommit-OHARA/6642/consoleFull))
[code]

It seems if we ran QA with both sides, Jenkins will try to use a temp image(maybe deleted later?) to r

[2019-10-29 14:51] saivirtue commented on #3115
/cc @jackyoh @chia7712

[2019-10-29 15:12] chia7712 commented on #3115
@saivirtue 讓我測試一下你的PR

[2019-10-29 15:46] chia7712 commented on #3115
@saivirtue #3110 does not update the code used to test connection. (see configHelpers.js)

[code]

FYI @konekoya @wu87988622

[2019-10-30 01:17] konekoya opened #3117 "[Manager] Downgrade Cypress to 3.4.1"
Seems like Cypress 3.5.0 has issues running in headless mode on Windows...

Ref: https://github.com/cypress-io/cypress/issues/5466

Thanks @saivirtue for the finding

[2019-10-30 03:39] konekoya opened #3120 "[Manager] Add full support of yarn clean command for Windows"
`yarn clean` currently works on Linux based OS but Windows. This will trouble devs who develop Ohara manager on Windows, therefore we should fully support this command

cc @saivirtue

[2019-10-30 03:42] wu87988622 opened #3121 "Manager API adds definition support"

[2019-10-30 03:52] #3117 closed

[2019-10-30 04:19] #3103 closed

[2019-10-30 05:29] chia7712 opened #3123 "enable Configurator to fetch the necessary classes name from specific jar"
We encourage user to leverage Ohara platform via writing custom application. the result of "application" is a jar and our UI is able to deploy them in either worker or streamapp. If there are many files, user may deploy jars in incorrect place. For example, deploy a jar with streamapp on "worker".

This issue introduces an new APIs to expose the available classes of file. It helps user to "see" wh

[2019-10-30 05:43] wu87988622 opened #3124 "Support error handling in Manager"
- [x] Response error handler (@saivirtue) (#3436)
  - the response data will have the following format:
  <details><summary>json examples</summary>
  <p>

  **normal case**
[code]
  **api success but got some warnings**
[code]
  **api failed**
[code]

  </p>
  </details>
- ~[ ] Support custom title in API response (#3462)~

[2019-10-30 05:45] #3112 closed

[2019-10-30 06:19] jackyoh opened #3125 "Added time frequence argument and close PreparedStatement for JDBC source connector"
JDBC Source Connector 查詢資料的 executeQuery 是寫在 _poll 的方法裡，我們無法預期 _poll 方法何時被呼叫，如果一直呼叫 _poll 方法，就會一直執行 executeQuery 造成資料庫的負擔，像是 Oracle database 就會丟出以下的錯誤訊息:
[code]
以上的錯誤主要是太頻繁的執行 executeQuery 產生的 ResultSet 數量大於 oracle database 的 cursors 數量，要解決此問題需要做以下幾個項目：
- [ ] 確實檢查 PreparedStatement 是否有被 close 掉
- [x] 增加一個時間區間的參數，每隔一定的秒數到了才去資料庫拉資料，避免很快速的去執行 executeQuery

[2019-10-30 06:32] #3108 closed

[2019-10-30 06:32] chia7712 commented on #3125
This argument should be none by default. The throttle does impact performance ...

[2019-10-30 06:38] jackyoh commented on #3125
這個 default 的意思是指實做的參數預設值為 None 嗎？

[2019-10-30 08:13] chia7712 commented on #3125
yep

[2019-10-30 08:13] konekoya commented on #2561
Closed in #2995

[2019-10-30 08:13] #2561 closed

[2019-10-30 08:18] #2994 closed

[2019-10-30 08:58] #2995 closed

[2019-10-30 12:33] chia7712 opened #3128 "Introduce strict checks for connector data according to schema"
@vitojeng offered a great idea that we should provide the strict (and friendly) checks for connector data according to the schema passed to connectors. the "check" option includes three modes.

1. enforcing - throw exception if there is unmatched data
1. permissive - skip the unmatched data
1. none - do nothing for checks

Noted: if there is no schema passed to connectors, the check process will b

[2019-10-30 17:16] chia7712 opened #3130 "Enable Configurator to recognize the source of topic data"
Topic is able to receive data from different sources. When we are facing something wrong, recognizing the source of data can help us to trace the root cause.

[2019-10-30 20:22] #3128 closed

[2019-10-31 03:51] #3130 closed

[2019-10-31 03:58] saivirtue opened #3134 "All parameters in settings field should have their own definitions"
In the following objects, we have definitions - settings mapping:
- zookeeper
- broker
- worker
- stream
- topic
- connector

We can use the definitions to decide the following type for each parameter in settings
- datatype
- editable
- optional
- internal
...

But there are still have some "parameters" that have no definition. For example:
In **ZookeeperApi**
[code]
The NODE_NAMES_KEY is a consta

[2019-10-31 03:58] saivirtue commented on #3134
/cc @chia7712 have suggestions?

[2019-10-31 03:59] chia7712 opened #3135 "convert ohara.Row to json representation completely"
Both JsonOut and Query APIs are able to convert Row to Json representation. However, they don't work well since not all types in row are converted to correct json type.

[2019-10-31 04:02] saivirtue commented on #3134
You can take over it, if you have free cycle :)

[2019-10-31 04:56] chia7712 opened #3136 "enable nested ohara.Row and remove Cell"
each element in row is able to be "row" also. It is called "nested" row. And it is more useful than single "row" - cell. We should remove the useless term to simplify our code.

[2019-10-31 05:41] saivirtue opened #3138 "Fake mode should be capable to return Configurator log"
`Get /v0/logs/configurator`
[code]

[2019-10-31 05:42] jackyoh commented on #3125
紀錄調 oracle 的 cursor 的方式
進入 sqlplus 的 command line 輸入以下的指令
[code]

[2019-10-31 06:13] konekoya opened #3139 "[Manager] Create node dialogs"
1. - [x] Implement node list dialog and add node dialog (@konekoya)(#3159)
1. - [x] Ensure that the test connection behaves correctly (@konekoya) (#3175)
1. - ~[ ] Implement add node dialog for k8s mode~
1. - [x] Implement node detail page (@saivirtue )(#3551)
1. - [x] Add the ability to filter node list (@saivirtue )(#3578)
1. - [x] [Backend] provide default resources (CPU, Memory) in node api (@

[2019-10-31 06:36] saivirtue commented on #3138
/cc @chia7712

[2019-10-31 06:39] chia7712 commented on #3138
oh...we should make this work for fake mode :(

[2019-10-31 07:17] konekoya commented on #2934
Will be fixed in #3139

[2019-10-31 07:17] #2934 closed

[2019-10-31 08:53] vitojeng opened #3141 "Implement shabondi webserver"
required by #3022

[2019-10-31 10:48] #3138 closed

[2019-10-31 10:52] vitojeng opened #3144 "Remove sbt build configuration"
Following testing code works well in the Sbt shell:
[code]

But add more trait for test route, just like:
[code]

All test methods will be ignored in the Sbt shell.
All test methods works well from Gradle.

[2019-10-31 13:50] chia7712 commented on #3144
我們壞念它

[2019-10-31 13:50] chia7712 commented on #3136
ok. This is too big to complete in single PR. Let me close this one and we can go back for this one if we get rid of row in the future :(

[2019-10-31 13:50] #3136 closed

[2019-10-31 15:00] chia7712 opened #3145 "Fail to generate nested cell"
our official cell is not serializable ...

[2019-11-01 01:30] konekoya opened #3148 "Add a few new fileds in the nodes API"
Cores, CPU, Memory, and Disks. These are the new column/info for the new UI. /cc @chia7712 :)

_See the design mockup below_

1. - [x] add new field "resources" to Node APIs (@chia7712) (#3210)
1. - [x] enable ssh mode to offer resources to Node APIs (@chia7712) (#3211)
1. - [x] enable k8s mode to offer resources to Node APIs (@jackyoh) (#3266)

[2019-11-01 01:34] konekoya commented on #3148
![Node list](https://www.dropbox.com/s/3dg0oyvy6u34vli/node-list.png?raw=1)

[2019-11-01 02:24] jackyoh opened #3150 "Added K8S namespace argument for K8SClient and configurator service"
目前在 K8SClient 使用 K8S 的 API URL namespace 都是用 hard code 的 default 字串, 未來使用者的 namespace 不一定是 default，因此要在 configurator 增加一個參數傳入 k8s  namespace 設定字串，傳入到 K8SClient，如果沒有設定 namespace 參數，default value 為 default。

[2019-11-01 02:40] konekoya opened #3151 "[Manager] Remove the click state that sometimes appears in pipeline navigator"
Okay, this is not really a bug but looks a lot like one... The click state sometimes shows up when we switch to another application back and forth. Since we've heavily customed this component, the default click state looks rather awful in my eyes

[2019-11-01 03:14] wu87988622 opened #3152 "Definitions have some wrong settings"
In the brokers API zookeeperClusterKey ValueType should be OBJECT_KEY
In the brokers API tags ValueType should be TAGS

In the worker API tags ValueType should be TAGS

In the zookeepers API tags ValueType should be TAGS

Thanks for @saivirtue help.

[2019-11-01 03:33] jackyoh commented on #3152
I can take over it.

[2019-11-01 05:22] chia7712 opened #3155 "Enable json refiner to check input data according to definition"
the definition is already in each cluster service so it is time to move the checks to json refiner

[2019-11-01 06:02] #3145 closed

[2019-11-01 06:25] wu87988622 opened #3156 "The Manager API supports automatic conversion of ValueType"

[2019-11-01 06:52] wu87988622 opened #3157 "New workspace quick mode"

[2019-11-01 06:53] konekoya opened #3158 "[Question] Could backend provide a more complete validation rules"
As the UI is being written, we aim to provide a more comprehensive/complete form validation before users can submit their data to the backend. We've previously discussed this matter and came up with a doc, where all naming validation (pipeline name, worker name, ...etc) across our App is documented. But still, some form inputs are not included in the docs:

I'm just writing down some rules that I

[2019-11-01 06:55] chia7712 commented on #3158
more documents?

[2019-11-01 07:10] konekoya commented on #3158
Sorta like that. Just we need a place to know the validation rules for these user inputs/data.

[2019-11-01 07:59] #3152 closed

[2019-11-01 08:24] #2115 closed

[2019-11-01 08:49] chia7712 commented on #3158
ok. Let me complete the documents for this issue :)

[2019-11-01 09:02] #3135 closed

[2019-11-01 10:09] konekoya opened #3161 "[Manager] Create E2E tests for the new UI"
- [x] Add tests to verify devTool dialog works well (@saivirtue) (#3868)
- [x] Add a test to verify toolbox of pipeline can be worked normally (#3960)
- Add tests to verify pipeline can be worked normally
  - [x] Add a test to verify links of connector and topic can be worked normally (#4033)
  ~~- [ ] Add a test to verify links of stream, connector and topic can be worked normally (#4045)~~
  ~~-

[2019-11-01 10:30] saivirtue opened #3162 "the type of default value should be equal to DataType.value"
Since the `valueType` could define the actual value data type, we can "convert" the defaultValue to be the "actual" valueType; But the settings are dynamic, user can do what ever they want to do.
For example,
[code]
The defaultValue should be 2, not be "2".

/cc @wu87988622 @konekoya @chia7712

[2019-11-01 10:40] saivirtue commented on #3162
/cc @wu87988622 @konekoya @chia7712

[2019-11-01 12:36] chia7712 opened #3164 "Rename Info and Query APIs to Inspect APIs"
There are a lot of new APIs which is able to inspect something “in” the stores object. Those APIs have similar attributes.

1. Probably fail since the object may be not accessible to Configurator
2. High cost
3. Slow

Hence, I am going to group them to same scope to highlight those attributes.

The form is shown below.

PUT /v0/inspect/$kind/$object

*image*

GET /v0/inspects/images/$name

return

[2019-11-01 12:37] chia7712 commented on #3164
Ping @oharastream/frontend

[2019-11-01 20:27] wu87988622 opened #3165 "ZookeeperClusterKey ValueType in brokerAPI should be OBJECT_KEY"

[2019-11-01 20:27] wu87988622 commented on #3165
/cc @oharastream/backend

[2019-11-02 04:37] chia7712 commented on #3155
@oharastream/frontend

I'm going to deprecate the field "required" and use "necessary" to replace it.

necessary offers more information about "value". It includes

1. REQUIRED -> this field has no default and user MUST define something for it.
1. OPTIONAL -> this field has no default and user does NOT need to define something for it.
1. OPTIONAL_WITH_DEFAULT -> this field has a fixed default valu

[2019-11-02 04:37] chia7712 opened #3166 "remove deprecated field "required" from definition"
@oharastream/frontend

I'm going to deprecate the field "required" and use "necessary" to replace it.

necessary offers more information about "value". It includes

1. REQUIRED -> this field has no default and user MUST define something for it.
1. OPTIONAL -> this field has no default and user does NOT need to define something for it.
1. OPTIONAL_WITH_DEFAULT -> this field has a fixed default valu

[2019-11-02 05:24] #3144 closed

[2019-11-02 07:26] chia7712 commented on #3165
This will be fixed by #3155

[2019-11-02 07:26] #3165 closed

[2019-11-02 07:31] chia7712 commented on #3155
This issue will add new fields -
 1. blacklist (array string) - the illegal words to value
1. recommended (array string) - it is similar to whitelist but we still accept custom values

I think those field will need some love from UI :)

[2019-11-02 07:32] chia7712 opened #3167 "Disable user to enter value in blacklist and show the recommended values to user"
This issue will add new fields -
 1. blacklist (array string) - the illegal words to value
1. recommended (array string) - it is similar to whitelist but we still accept custom values

I think those field will need some love from UI :)

_Originally posted by @chia7712 in https://github.com/oharastream/ohara/issues/3155#issuecomment-549019193_

[2019-11-02 07:32] chia7712 commented on #3167
FYI @oharastream/frontend

[2019-11-02 08:49] chia7712 commented on #3162
This is a bit hard to backend since all values of connector definitions are stored in kafka. Unfortunately, kafka is bad at json that it can’t keep the type - all is in json string.

However, as a good APIs provider, the consistency of data type is indeed required.

I will go back after fixing #3155

[2019-11-02 16:44] chia7712 commented on #3107
#3155 is binding definition with json refiner so this feature is included.

[2019-11-02 16:44] #3107 closed

[2019-11-02 17:09] chia7712 commented on #3155
this issue will add positive number type -

1. POS_SHORT
1. POS_INT
1. POS_LONG
1. POS_DOUBLE

those types means that the value must be positive number

[2019-11-02 17:09] chia7712 opened #3168 "apply the positive number to Zookeeper, Broker, Worker, Stream, Connector, Topic APIs"
this issue will add positive number type -

1. POSITIVE_SHORT
1. POSITIVE_INT
1. POSITIVE_LONG
1. POSITIVE_DOUBLE

those types means that the value must be positive number

_Originally posted by @chia7712 in https://github.com/oharastream/ohara/issues/3155#issuecomment-549062797_

[2019-11-03 12:01] wu87988622 opened #3170 "[Manager] Provide better faling test error from API test"
Making it easier to troubleshoot and consume from CI

- [x]  Extend type assertion of API tests to be more informative (#3263)
- ~[ ] using console.log() or console.warn() to print the tests progress~
It is not a good solution for now since cypress has the following issues are not resolved
-- https://github.com/cypress-io/cypress/issues/448
-- https://github.com/cypress-io/cypress/issues/300
-- ht

[2019-11-03 18:49] chia7712 commented on #3164
I removed the LIST request since it cause a big latency ...

[2019-11-04 01:33] konekoya commented on #3139
@eechih I'm adding you as one of the assignees since you'll be helping with some of the tasks here :)

[2019-11-04 01:35] konekoya opened #3172 "[Manager] Tweak exsting new workspace dialog to match the new design"
The final design has been out, a bit more work should be done

[2019-11-04 01:35] konekoya commented on #3172
/cc @oharastream/frontend

[2019-11-04 01:54] saivirtue commented on #3166
Does this mean when we use `necessary: REQUIRED`, the `defaultValue: XXX" has no effect?

[2019-11-04 02:50] chia7712 commented on #3166
Yep

[2019-11-04 03:31] #3141 closed

[2019-11-04 03:38] konekoya opened #3174 "[Manager] Restyle from inputs according to the new design mock"
Since the new design has tweaked the default Material UI styles, we should follow the design and change these input/select styles as well :)

/cc @eechih

[2019-11-04 03:39] konekoya commented on #3174
FYI: @wu87988622 @saivirtue

[2019-11-04 03:42] #3097 closed

[2019-11-04 04:01] chia7712 commented on #3158
I plan to make all json representations to depend on definitions. And build a page to display all components’ definitions.

Keeping all document up-to-date is too expensive when we are still developing. It seems to me the document should be revised with release.

The page to all components’ definitions has two advantages. First is that it is always up-to-date. And second it is the way that backend

[2019-11-04 05:40] konekoya commented on #3158
So all the APIs will be using definitions in the future?

This is going to be part of our docs? I think this is going to be really helpful, so these components will include validation rules as well?

Agreed. It's painful to do so :)

[2019-11-04 05:50] chia7712 commented on #3158
Not really. this part is for UI developers. I don't think the validation is a immutable stuff when we are in programming ...

yep. Not only UI follows the definitions but also backend checks the input values according to definitions.

[2019-11-04 05:53] konekoya commented on #3139
@jackyoh We will need the new API, in order to get the "k8s node list", if you already have an issue opened, I can refer to it in this issue :)

[2019-11-04 05:59] konekoya commented on #3158
I can see that. Was wondering how you would you go about it 😅

So, to clarify, everything will be rendered with definitions in the future, right?

[2019-11-04 06:00] konekoya commented on #3158
pinging @oharastream/frontend thoughts, feedback, and thumbs up?

[2019-11-04 06:03] chia7712 commented on #3158
yep. we all count on definitions rather than hard code.

for UI developer, the page of showing definitions helps you to observer the latest rules of data (json representation) validation.

for backend developer, the page is able to show latest definitions automatically. It lets backend developers catch the breath. Of course, we still have to update the docs before release.

[2019-11-04 06:07] jackyoh commented on #3139
我這週就會開始實作這一部份，可以參考 issue #582

[2019-11-04 06:09] chia7712 commented on #3158
中文化一下

前後端的步調有所差異，而現在APIs牽扯的邏輯繁雜，要在開發過程(每個commit)同時保持相容性和文檔更新的工作量太大也不實際。

definitions有的好處是框出一個"可以變化"的範圍，例如就算commit過程中要變更APIs也只會在definition所定義的範圍裏面，而不會天差地遠。

對於前端來說，所有物件的definitions可以讓前端了解現在該物件的APIs資料定義和檢查邏輯。

對於後端來說，所有物件的定義和檢查邏輯都根據definitions。換言之definitions怎麼說後端就怎麼檢查，連動且不脫鉤。

[2019-11-04 06:09] chia7712 commented on #3139
please describe the APIs format.

[2019-11-04 06:12] jackyoh commented on #3139
OK, 我會再想看看 API 的格式。明天在跟你討論

[2019-11-04 07:16] #3172 closed

[2019-11-04 07:26] chia7712 commented on #3164
seems Query APIs is not used by UI. I'm about filing PR to remove it.

[2019-11-04 07:40] konekoya commented on #3170
@wu87988622 I recall we have talked about this on the other day. We can print out the log (console.error or console.warn emitting from Cypress) while running the test. And after the test is done, collect the log can write to a file which can be used by Jenkins later

[2019-11-04 08:40] #3121 closed

[2019-11-04 09:22] konekoya opened #3180 "[Manager] Create 404, 500 and some other error routes and pages"
- [x] Set up 404 and 500 routes and error pages (#3375)
- [x] Create 501 error page (#3425)

[2019-11-04 10:19] saivirtue opened #3181 "[Manager] Create developer dialog"
- [x] Implement the topic tab of Developer dialog layout and logic (#3260)
~- [ ] tunning topic tab css style~
- [x] Implement the log tab of Developer dialog layout and logic (#3344)
- [x] implement the log "sinceSeconds" logic (#3382)

[2019-11-04 15:27] #3155 closed

[2019-11-04 22:07] #3174 closed

[2019-11-05 01:53] konekoya opened #3184 "[Manager] Implement pipeline toolbox"
- [x] Create basic toolbox UI (#3186)
- [x] Refactor and add the ability to toggle the toolbox (#3195)
- [x] Load list data into the toolbox (#3204)
- [x] Use the correct button component for toolbar (#3218)
- [x] Refactor and wire up basic pipeline graph (#3233)
- [x] Add the ability to drag and drop a component (#3259)
- [x] Reset pipeline states when switching between different pipelines (#3300

[2019-11-05 03:05] jackyoh commented on #582
目前規劃的 API format 如下：
**Request:**
GET /v0/k8snodes

**Response:**
[code]

[2019-11-05 03:07] chia7712 commented on #582
考量之後可能會放更多k8s的查詢功能，要否改成/v0/k8s/$service

[2019-11-05 03:09] chia7712 commented on #582
不過在新增k8s APIs之前，我想先確認一下，為何不放在現有的nodes APIs就好？

例如當Configurator啟動的時候，發現k8s環境就自動把nodes資訊設定好。前端依舊靠nodes apis來索取。

[2019-11-05 03:11] chia7712 commented on #582
另外resources的欄位一樣可以放在node apis裡面（see #3148)

[2019-11-05 03:18] jackyoh commented on #582
我也有考慮直接放在，目前的 GET /v0/nodes 下面。但是有些資訊 K8S 沒有，像是 user、password  所以才會想要在拆一個 API 來查詢。

[2019-11-05 03:20] chia7712 commented on #582
user and password are optional. It is related to k8s now

[2019-11-05 03:32] jackyoh commented on #582
OK, 了解。那我重新寫一下如果是啟動 K8S 的 mode, 如果是使用 GET /v0/nodes 的 API, Resposne 如下：

[code]

[2019-11-05 03:34] chia7712 commented on #582
resources可以在#3148完成 看你要不要拿去做

[2019-11-05 03:36] jackyoh commented on #582
ok, 我拿去做。resources  就直接放在 /v0/nodes 嗎？

[2019-11-05 03:43] chia7712 commented on #582
Yep

[2019-11-05 06:04] chia7712 commented on #3148
The format is shown below.

Node APIs
[code]

the format enables us to increase/decrease the accessible resources from backend.

@oharastream/frontend Could we show the resources dynamically (no hard-code to specific resource) ?

[2019-11-05 06:06] #3166 closed

[2019-11-05 07:19] #3028 closed

[2019-11-05 08:37] #3150 closed

[2019-11-05 09:57] chia7712 opened #3187 "Remove duplicate rules on node names"
All cluster services count on definitions to check the input requests so we can remove the duplicate (stale) rules now.

[2019-11-05 14:10] #3162 closed

[2019-11-06 02:29] jackyoh opened #3189 "Modify K8S install user guide document for Configurator request API format and URL location"
在 user_guide.html 的 How to use Kubernetes in Ohara 項目裡有說明要如何使用 Configurator API 建立 node, 目前在 configurator API 的 node name 已經修改成 hostname 因此文件的部份也要做修改。

[2019-11-06 02:40] konekoya commented on #3184
@wu87988622

[2019-11-06 03:23] saivirtue opened #3191 "[Manager] Add tests of log for stream"
I miss this test in #3028...

[2019-11-06 04:05] #3187 closed

[2019-11-06 05:10] chia7712 opened #3193 "the jmx port of zookeeper is not used and shown"
Zookeeper take jmx port now but there is no open jmx service ...

[2019-11-06 05:57] konekoya opened #3194 "[Manager] Tweak main layout so it matches the new design"

[2019-11-06 06:22] chia7712 commented on #3168
ping @oharastream/frontend

Please notice the new type of definition :)

[2019-11-06 08:23] chia7712 opened #3198 "Enable Inspect APIs to fetch static and dynamic definitions"
Both connector definitions and topic definitions are be fetched dynamically. They are not suitable to be stored in Configurator and fetching them invokes connections to extra system. Hence, we should move them into Inspect APIs. For example:

*fetching connector definitions from a "RUNNING" worker cluster*

GET /v0/inspect/worker/wk00?group=gg

*fetching topic definitions from a broker cluster*

G